[2021-02-23 02:22] esteban-andrade opened #4620 "[compile error] "FLANN issues flann/util/param.h" not found even tho its in the path"
hi all ive tried installing pcl on windows. However the vcpkg is not suitaable due to issues with the vtk external package. when using the all one installer. I found an issues with flann. It cant find the flann dir. Hence why util pararms for kdtree are not usable.

Please refer to below log.

System Windows 10.
Compiler VS 19 for x64
PCL 1.11.1

Cmake
`1>This warning is for project developers.  U

[2021-02-23 02:44] edmondboulet commented on #3099
Sorry, I really can't, it was long ago and I haven't done any CPL since.

[2021-02-23 03:41] esteban-andrade commented on #3099
Thank you anyway. Will have to switch back to ubuntu then.
If anyone founds a solutions, pls post it.

[2021-02-24 06:06] resplendent-star opened #4622 "[tools] mesh_sampling.cpp will convert .obj file of shapenet to incomplete point cloud in many case"
A clear and concise description of what the bug is.

**When I use a to convert shapenet's obj file into a point cloud, there is about 1 / 3 probability that I will get the wrong point cloud. For example, a table has only table legs but no desktop; a chair has a back but no lower chair legs**

What are you trying to accomplish? Providing context helps us come up with a solution that is most useful

[2021-02-24 10:20] mvieth commented on #4616
It is noteworthy that there is a nullpointer in the first four lines of your backtrace. The following lines seem correct.
Since you say that the segfault only occurs when you also link against `Foo`, it seems likely that this library causes the problem. Can you say more about this library? Did you compile it yourself or did you get it some other way?
My best guess is that there is some confusion b

[2021-02-24 11:10] mvieth commented on #4622
`mesh_sampling` uses the `vtkOBJReader`, which seems to be the problem here. I tried [this example](https://lorensen.github.io/VTKExamples/site/Cxx/IO/ReadOBJ/), which also only displays the legs of the chair. It seems like the reader cannot understand some of the face definitions, which are in [this format](https://en.wikipedia.org/wiki/Wavefront_.obj_file#Vertex_normal_indices_without_texture_co

[2021-02-24 13:19] mvieth commented on #4608
Please see issue #4622 for the problem that mesh_sampling cannot read the whole object.
Regarding n_samples: the program first generates the samples (e.g. 16384), and then applies a VoxelGrid filter. You might be able to turn the filter of with something like `-leaf_size 0.0001`, or else you would have to remove it from mesh_sampling.cpp and recompile.

[2021-02-24 13:26] mvieth commented on #4584
@MohamadHalwani Did you run your program with valgrind or gdb (or another debugger)? We cannot offer any help if you don't, and might close this issue.

[2021-02-25 06:49] FabianSchuetze commented on #4616
Thank you for your kind and detailed comment, @mvieth ! I tested this problem more and realized it only occurs under WSL but not under Windows or Ubuntu. I thus think the bug shouldn't be filed here and will close the issue. Thank you for your help!

[2021-02-25 06:49] #4616 closed

[2021-02-25 09:40] mvieth commented on #4616
My pleasure!

[2021-02-25 15:28] miixam opened #4625 "[feature] Bug in the normal calculation of computePointNormal"
**Describe the bug**
The normals, which are calculated in computePointNormal by calling solvePlaneParameters and eigen33, are based on the largest scalar of the eigenvectors instead of the smallest one.

**Context**
By definition the smallest eigenvector will indicate the normal vectors of the planes best fitting to its neighborhood. Each eigenvector shows in the direction of the principal variati

[2021-02-25 20:08] mvieth commented on #4625
Thank you for voicing your suspicion, however it seems to me that there is no such bug.
I assume you are talking about [this eigen33 version](https://github.com/PointCloudLibrary/pcl/blob/master/common/include/pcl/common/eigen.h#L113). The documentation says that it returns the smallest eigenvalue (and corresponding eigenvector). In the implementation, the [first eigenvalue is chosen](https://gith

[2021-02-26 02:13] rabaho commented on #4290
I'll take care of this.

[2021-02-26 08:52] miixam commented on #4625
I see, the problem is that I'm using pcl 1.7, where [the function computeCorrespondingEigenVector](https://github.com/PointCloudLibrary/pcl/blob/793a2074235ae9402e7139e3928ee693031dd419/common/include/pcl/common/impl/eigen.hpp#L226) is used to be named eigen33 and is utilized in the normal calculation.

Thanks for the clarification. I'll close the issue, since it doesn't persist in the current mas

[2021-02-26 08:52] #4625 closed

[2021-02-26 10:11] Bannigo commented on #4607
Okay, Sir. Thank you so much. I will close the issue from here

[2021-02-26 10:11] #4607 closed

[2021-02-26 13:40] mvieth commented on #4290
That's great!
`pcl/filters/boost.h`, `pcl/geometry/eigen.h`, and `pcl/surface/eigen.h` have already been deprecated by the linked pull request.
`pcl/common/boost.h`, `pcl/sample_consensus/boost.h`, `pcl/octree/boost.h`, and `pcl/recognition/boost.h` can be deprecated.
`pcl/features/boost.h` and `pcl/features/eigen.h` are still used internally, but can be deprecated if you replace their uses with t

[2021-02-27 00:59] rabaho commented on #4290
What version should they be deprecated in? 1.15?

[2021-02-27 08:23] mvieth commented on #4290
Yes

[2021-02-27 19:03] mvieth commented on #4615
@themightyoarfish Can you test if the linked pull request fixes the problem for you?

[2021-02-28 21:17] larshg commented on #1113
Closing this as it should be fixed by #4197.

[2021-02-28 21:17] #1113 closed

[2021-02-28 21:24] larshg commented on #1418
Closing as no response since I mentioned this issue. Probably solved by #4197.

[2021-02-28 21:24] #1418 closed

[2021-02-28 21:46] larshg commented on #2029
I cannot find any file named pcl_cuda_sample_consensus.cu.
But using master the cuda_sample_consensus project compiles fine with CUDA 11.1.

[2021-02-28 21:46] #2029 closed

[2021-03-01 08:09] Jaqen-H-ghar commented on #2902
Hi，@Yunworthy

I met the same problem with you,

-- Could NOT find ensenso (missing: ENSENSO_LIBRARY ENSENSO_INCLUDE_DIR)
** WARNING ** io features related to ensenso will be disabled
-- Could NOT find DAVIDSDK (missing: DAVIDSDK_LIBRARY DAVIDSDK_INCLUDE_DIR)
** WARNING ** io features related to davidSDK will be disabled
-- Could NOT find DSSDK (missing: _DSSDK_LIBRARIES)
** WARNING ** io features

[2021-03-01 10:25] Bannigo opened #4630 "[pcl::KLDAdaptiveParticleFilterOMPTracker::computeTransformedPointCloudWithoutNormal] use_normal_ == true is not supported in this Point Type"
Hwllo,
I am trying to track an object using KLD adaptive particle filter method. The object which I am using has very less features at is important to use the normals of the pointcloud.  I have a reference pointcloud and an incoming stream of pointcloud as a ROS message. I am computing point normals both the source and target pointcloud using the moving least square method. So the reference point

[2021-03-01 11:00] silinli-pony commented on #2021
Hi, did you solve the question about `pcl_cuda::VoxelGrid` ?

[2021-03-01 17:21] mvieth commented on #4630
Did you check out this tutorial: https://pcl.readthedocs.io/projects/tutorials/en/latest/tracking.html?

[2021-03-02 15:12] Bannigo commented on #4630
Yes, I check that tutorial before, So in that tutorial, they haven't used the normals of the pointcloud and kept tracker_->setUseNormal(false);
So I have an assumption that the tracker works with normals as well so I have calculated the normals and I am using refPointtype as PointNormal and have changed setUseNormal from false to true. My objects have very few features and ICP point-to-point regis

[2021-03-02 15:12] Bannigo commented on #4630
Is there any way to use tracker with normals of a pointcloud?

[2021-03-02 15:19] Bannigo commented on #4630
https://github.com/PointCloudLibrary/pcl/issues/727 . This is similar to my issue

[2021-03-03 05:05] Vivekk9 commented on #2968
@anujgpatil Any updates so far, after downgrading GCC back to 6.x? I tried to update GCC 9.3 to 10.2 and used additional flag (std=c++14) as the default option which didn't worked.

[2021-03-03 08:34] kunaltyagi commented on #2968
Please note that Ubuntu 16.04 is EOL and is not supported by PCL anymore

[2021-03-03 09:49] mvieth commented on #4630
Did you test the solution from the issue you linked? I.e. adding the two defines before your includes?

[2021-03-03 18:11] guilhermelawless commented on #3329
Even worse than checking the convergence state is the fact that you could be misled to use `setFailureAfterMaximumIterations(true)` for GICP. In fact there is no way to make GICP set "not converged" after it fails to converge for max_iterations, which is very counter-intuitive.

[2021-03-03 20:34] zoombinis commented on #1623
I can confirm I get this issue with PCL 1.11.1 building it like so along with ros perception_pcl:

[code]

Here is how I use cropbox:

[code]
[cloud.pcd.gz](https://github.com/PointCloudLibrary/pcl/files/6079024/cloud.pcd.gz)

Here is how I call it:

ymin, ymax = 1.2728, 2.002
zmin, zmax = 8.203, 8.8283

and it incorrectly returns 354 `nan` values on the attached cloud.

If instead I just use `ros

[2021-03-03 21:59] mvieth commented on #1623
@zoombinis Can you test what happens if you do it like this instead (similar for max):
 `Eigen::Vector4f min_pt(xmin, ymin, zmin, 1); crop.setMin(min_pt);`
Can you also test what `crop.getMin()` returns?
Did you test the suggested solution above (with `-DPCL_ENABLE_SSE:BOOL=FALSE`)?

[2021-03-04 04:58] WorstCodeWay commented on #4087
Hi, @caibf calibf I want to create and show multiple PCLVisualizer directly without any qt widget. Is that possible.

In detail:
1. create a new pcl viewer in a new thread and call spinOnce(10) for example
2. update point cloud from a connection of signal and slot in other thread by calling addPointCloud from pcl viewer
3. another new pcl viewer and repeat 1-3

[2021-03-04 12:04] larshg commented on #4087
@WorstCodeWay you can use multiple viewports within one window of PCLVisualizer?
See https://pcl.readthedocs.io/projects/tutorials/en/latest/pcl_visualizer.html#pcl-visualizer

[2021-03-04 16:24] mvieth commented on #4615
@themightyoarfish I was able to reproduce this issue (with `EIGEN_DONT_VECTORIZE` defined). The merged pull request fixes this in my tests, so I assume this problem is solved in the newest master. If it still persists for you, please say so or reopen this issue.

[2021-03-04 16:24] #4615 closed

[2021-03-04 20:50] BryceVichiOJ opened #4631 "[io] Point Cloud compression logic is inconsistent between octree_pointcloud_compression and {point,color}_coding"
**Describe the bug**

The time it takes to compress a PointCloud of type PointXYZRGB increases rapidly the more times encodePointCloud is called.

**Context**

I am creating an application which ships large PointCloud data across a network. Compression for doing this is a must. Most point clouds that I work with are of size 100,000 points. The OctreePointCloudCompression class solves a large chunk

[2021-03-05 08:14] themightyoarfish commented on #4615
Can confirm, the PR fixes it.

[2021-03-05 12:02] kunaltyagi opened #4633 "[geometry] Update mesh_indices.h to not need a generator file"
**Context**

Currently, multiple copies of similar code is generated via a python file.

**Expected behavior**

It'd be better to instead use templates to get the expected behavior since only the filename is different.

[File in question](https://github.com/PointCloudLibrary/pcl/blob/master/geometry/include/pcl/geometry/mesh_indices.h)

[2021-03-05 13:17] J0ANMM commented on #4465
Some more broken links from the documentation are for instance the ones listed here:

- https://pcl.readthedocs.io/projects/tutorials/en/latest/walkthrough.html#i-o

[2021-03-05 16:49] rabaho commented on #4630
@mvieth Why can't we improve this by replacing the conditional compilation? I find it painful to require consumers of this library to define something for their code to work. Plus, that condition is not even documented, somebody has to look in the code to figure it out.

[2021-03-05 16:58] mvieth commented on #4631
Hm, interesting. Did you test whether the clouds are the same after encoding and the decoding? Especially whether they have the same number of points?

In my tests it does.

Affect how? Decreasing the time?

It seems like the points/indices from each previous iteration are kept in the octree (not cleared on intra frames either, I think). Maybe there is a bug in `switchBuffers()`? Replacing `switch

[2021-03-05 17:49] mvieth commented on #4630
I generally agree with you, but looking at [particle_filter.hpp](https://github.com/PointCloudLibrary/pcl/blob/master/tracking/include/pcl/tracking/impl/particle_filter.hpp#L295-L326) and [kld_adaptive_particle_filter.cpp](https://github.com/PointCloudLibrary/pcl/blob/master/tracking/src/kld_adaptive_particle_filter.cpp), the conditional compilation is used because `computeTransformedPointCloudWit

[2021-03-06 02:03] kunaltyagi commented on #4631
I think I might have found something: at a glace, it seems that `deserialize` might have a bug. It leaves the tree_dirty flag as false, but that should be true. It'd take me time to verify that's the case so if one of you could flip the flag (in all occurrences of deserialize calls in octree2buf_base) and test, that'd be nice :)

I'm anyways trying to reproduce this, so if you can't, no issues :)

[2021-03-06 02:49] rabaho commented on #3987
CV_XADD is host code for sure. First, the code was copied from OpenCV without acknowledgement, there is even comments left behind tying it to OpenCV. Second, I am not sure why we're reinventing the wheel with ref counting, shared_ptr would do the work.

[2021-03-06 11:58] kunaltyagi commented on #4631
So, I did a little investigation:

1. I'll create a PR to reduce 10% of dynamic memory allocated during 500 iterations of encoding.
2. There are no memory leaks, and there needs to be no reclamation of any nodes (if the point cloud stays constant)
3. This implies, the slowdown might not be due to PCL, but the allocator (as in the underlying malloc/calloc/realloc implementation). This is just my hy

[2021-03-06 13:47] kunaltyagi commented on #4631
Found the issue. We're going quadratic in memory allocation in `StaticRangeCoder`. Remains to be seen why.

[2021-03-06 13:55] kunaltyagi commented on #4631
I think this is due to the color and point coders not clearing their internal vectors. I've got to go now. Hopefully someone else can pick up now. Problem is simple enough:
* `reserve` call in `encode{Int,Char}VectorToStream` is making growth linear on gcc
* size of input keeps growing each iteration
* input comes from internal state of point and color coders, which are never cleared/reset, but al

[2021-03-06 17:34] mvieth commented on #4631
Seems like they clear their internal vectors in [`initializeEncoding`](https://github.com/PointCloudLibrary/pcl/blob/master/io/include/pcl/compression/point_coding.h#L106), called [here](https://github.com/PointCloudLibrary/pcl/blob/master/io/include/pcl/compression/impl/octree_pointcloud_compression.hpp#L111). Or do you mean some other vectors?

[2021-03-06 22:22] rabaho commented on #4214
Which loop are we talking about here? It looks like line 480 isn't correct.

[2021-03-07 02:57] iamsavva opened #4637 "[custom] Out of hard memory running a cmake"
Hi, I was compiling PCL from master on a TX2, running Ubuntu 18.04, with CUDA support enabled. My cmake looked like this:
`cmake -DBUILD_GPU=ON -DBUILD_CUDA=ON -DCUDA_ARCH_BIN=6.2 -DCUDA_ARCH_PTX=6.2 -DBUILD_cuda_io=ON ..`, and ran `sudo make install`.

Before starting the cmake (i'm using gcc), I had 10gb of memory available on the TX2. After compiling everything (took about 7 hours), the cmake t

[2021-03-07 09:59] jmaiolini commented on #4633
Hi @kunaltyagi, if possible I would like to take this issue.
You want to get rid of the generator, right?
Since is my first issue, can you give me another file as example for structure/naming convention to follow?

[2021-03-07 10:15] mvieth commented on #4214
Probably this one:
https://github.com/PointCloudLibrary/pcl/blob/master/apps/src/openni_tracking.cpp#L471
But the issue seems to be resolved already?

[2021-03-07 11:10] vseib commented on #1593
Dear all,

in the discussion above, the problem was mentioned to occur with OMP implementations of FPFH, SHOT and COLORSHOT.
I was able to trace down the problem in the OMP implementation of COLORSHOT. However, I do not observe any inconsistencies in the OMP implementation of SHOT.

The problem occurs because the two look up tables
`sRGB_LUT`
and
`sXYZ_LUT`
defined in shot.h are not computed on in

[2021-03-07 12:58] MohamadHalwani opened #4638 "segmentation fault while intiating pcl visualizer in code"
I'm trying to visualize a point cloud and bounding box using pcl library.
The code runs well but when it reaches

    std::cout << "5" << std::endl;
      // final transform
      const Eigen::Quaternionf qfinal(eigDx);
      const Eigen::Vector3f tfinal = eigDx*mean_diag + centroid.head<3>();
      std::cout << "6" << std::endl;
      // draw the cloud and the box
      pcl::visualization::PCLVis

[2021-03-07 13:54] #4606 closed

[2021-03-07 13:55] AndrewAndJenny commented on #4606
The algrithom of RangeImage Class I have understood

[2021-03-07 14:36] mvieth commented on #4638
I can't reproduce this bug (current master/1.11.1-dev).
What PCL version do you use and how did you install it?
What VTK version do you have installed?
How do you compile your own code? Any specific flags/options?

[2021-03-07 15:02] rabaho commented on #4214
Maybe https://github.com/PointCloudLibrary/pcl/blob/master/apps/src/openni_tracking.cpp#L438?

[2021-03-07 16:08] mvieth commented on #4637
1. My build folder is around 18 GB. This might be smaller or bigger for you, just saying that it is very possible that it exceeds 10 GB. Not sure if specifically CUDA makes it so large. You can try to disable the build for modules you do not need.
2. Yes, cmake/make/the compiler/the linker all store intermediary files on your hard drive. It think they do not automatically delete these, you would h

[2021-03-07 16:40] iamsavva commented on #4637
@mvieth, thank you so much for such a detailed reply, you are awesome! One more follow up question. Even though the build folder might be 18GB, most of these are the intermediary files - correct? The executables that are then copied to /use/bin are a small portion of that, right?

[2021-03-07 17:17] mvieth commented on #4637
On my computer, the libraries are around 3 GB, the executables around 1.5 GB.

[2021-03-07 17:50] larshg commented on #4637
If you don't need all point types, you can set ONLY_CORE_POINTTYPE - not sure of the exact flag name. You'll have to look for it.

[2021-03-08 08:57] kunaltyagi commented on #4633
The contents of the python file can be converted into a template class.
[code]
This allows two classes to have exactly the same API, ABI, except they aren't the same for the compiler.

Hope this makes sense

[2021-03-08 08:59] kunaltyagi commented on #4214
Might be. apps took a heavy beating due to the re-formatting, (which usually increases lines), so I think it's L438

[2021-03-08 14:48] BryceVichiOJ commented on #4631
Thanks for the good discussion on this. To answer some questions.

Yes, the decoding part seems to have no issues. One issue I noticed was that encoding RGBA does not encode the Alpha channel, though that is an entirely different issue.

The time it takes decreases. The increasing memory issue still exists.

[2021-03-08 17:57] jmaiolini commented on #4633
Perfectly clear, thank you.
Do you want me to modify the python generator such it will write a single template class or can I work directly on the .h file?
I will use IndexImpl as the class name for the template, is that ok?

[2021-03-08 20:11] jmaiolini commented on #4633
Perfectly clear, thank you.
Do you want me to modify the python generator such it will write a single template class or can I work directly on the .h file?
I will use IndexImpl as the class name for the template, is that ok?

[2021-03-08 20:14] mvieth commented on #4584
Closing this due to lack of feedback.

[2021-03-08 20:14] #4584 closed

[2021-03-08 20:25] iamsavva commented on #2021
++1, any news on that?

[2021-03-08 20:29] mvieth commented on #2021
The CUDA-version of `VoxelGrid` is still not usable, sorry.

[2021-03-08 21:26] #4290 closed

[2021-03-09 01:16] kunaltyagi commented on #4637
This is some good advice. Thoughts on adding this to the wiki FAQ under the header: How do I reduce the memory footprint of PCL compilation?

[2021-03-09 01:41] kunaltyagi commented on #4633
Please work directly on the .h file since the aim is to remove the python file.

`IndexImpl` is a bad name :) Please use something more relevant, like `TaggedIndex` or something else that tells what the class is.

PS: the main class would go in `pcl::detail` namespace

[2021-03-09 06:46] rabaho commented on #4631
The problem I believe, is in [serializeTree](https://github.com/PointCloudLibrary/pcl/blob/master/io/include/pcl/compression/impl/octree_pointcloud_compression.hpp#L125). That method takes a boolean flag where it decides whether to append previous octrees or not. It calls a [serializeTreeCallback](https://github.com/PointCloudLibrary/pcl/blob/master/io/include/pcl/compression/impl/octree_pointclou

[2021-03-09 08:13] jmaiolini commented on #4633
Fair enough, I'll post the file here before opening a PR in any case.

[2021-03-09 22:36] mvieth commented on #4631
If that flag of [serializeTree](https://pointclouds.org/documentation/classpcl_1_1octree_1_1_octree2_buf_base.html#a4ab50312544738fbcb2dcec19be7d1c0) is true, it does not append the previous octree. It basically generated a diff between the previous and the current octree, that should be fine and even helps the compression when the trees did not change much.
I am pretty sure the problem is [here](

[2021-03-09 23:47] rabaho commented on #4631
Yeah, that's what serializeTree with the true flag is supposed to do, but I don't think it's doing that. It's somehow adding previous leaf indices from the previous octree somewhere between when serializeTree is called and encodePoints, most likely in the octree base class.

[2021-03-10 01:51] #4637 closed

[2021-03-10 02:03] kunaltyagi commented on #4633
That's hard to review. Please open a PR and we'll discuss there :)

[2021-03-10 05:44] MohamadHalwani commented on #4638
PCL version 1.8
for VTK version I'm not sure how to check it.
I'm compiling the code through ROS ("rosrun" command)

[2021-03-10 06:29] kunaltyagi commented on #1593
Beautiful writeup @vseib

I think I have a solution that follows from your analysis of the bug. Could you check #4640 ?

[2021-03-10 10:01] mvieth commented on #4638
You can check the VTK version as shown [here](https://vtk.org/Wiki/VTK/Examples/Cxx/Utilities/CheckVTKVersion).
Can you test if the error still appears with a newer PCL version (e.g. 1.11.1, compiled from source)?

[2021-03-10 11:02] kunaltyagi opened #4641 "Add Dockerfile (and image) for clang-tidy CI"
Image can be based off the `pointcloudlibrary/env` and add it and clang-tidy (version dependent on the github workflow)

Ahh, that might be. I'm not that familiar with clang/tidy.

I can see Cmake is run as well, which will fail with missing dependencies.

_Originally posted by @larshg in https://github.com/PointCloudLibrary/pcl/pull/4636#issuecomment-795061118_

[2021-03-10 16:54] vseib commented on #1593
Hi kunaltyagi,
I have checked your pull request #4640 - seems fine to me.
Thank you for fixing the bug.
I am not sure if I am allowed to approve a pull request, therefore I just created a review with a general comment.

[2021-03-11 03:37] kunaltyagi commented on #4630
@rabaho The original authors weren't really into meta-programming, and it was added a bit later than the original design. As always, some sharp edges are still around.

@Bannigo Could you try my PR and see if that resolves the issues? I've removed the dependence on macro, and am instead using the point type itself to figure out the correct function to use.

[2021-03-11 06:10] mohamedsayed18 commented on #2968
Ubuntu: 20.04
`gcc --version`: gcc (Ubuntu 8.4.0-3ubuntu2) 8.4.0
/usr/include/pcl-1.10/pcl/pcl_config.h:7:4: error: #error PCL requires C++14 or above

[2021-03-12 10:18] alexis-shi opened #4649 "[3rd Party VTK] missing file "vtkalglib-8.2.lib""
l have downloaded the latest version of pcl , but in the directory <3rd Party VTK> there is no file named "vtkalglib-8.2.lib" while others have.

my environment:
 - OS: Win10
 - PCL Version :1.11.1

[2021-03-12 18:38] mvieth commented on #4582
Closing this due to lack of feedback/incomplete issue. As general advice I would recommend to check out the visualization tutorials and the `PCLVisualizer` class.

[2021-03-12 18:58] mvieth commented on #4351
@kunaltyagi ping

[2021-03-13 04:46] kunaltyagi commented on #4351
Yeah. Fixed (by me 🤦🏾)

[2021-03-13 04:46] #4351 closed

[2021-03-13 10:55] mvieth commented on #4631
Please have a look at pull request #4642 and (if possible) test whether it fixes the bug.

[2021-03-13 16:31] mvieth commented on #4591
I have found the problem: in [this line](https://github.com/PointCloudLibrary/pcl/blob/c77596d4869aad4208903fe7291bef9c21fc5b51/octree/include/pcl/octree/impl/octree_search.hpp#L555) the check should rather be if `child_node` is a `BRANCH_NODE`. I will try to open a pull request soon.

[2021-03-13 19:54] larshg commented on #4054
Closed by #4589.

[2021-03-13 19:54] #4054 closed

[2021-03-13 21:04] Chris45215 commented on #4108
I hit a very similar issue with the instructions at https://github.com/PointCloudLibrary/pcl/wiki/Windows_installers, which I thought would be the definitive guide for installing on Windows.
In the first step in "Instructions", the link to SuperBuild.zip is broken. The targetted page, http://dev.pointclouds.org/attachments/download/805/SuperBuild.zip, doesn't seem to exist anymore.

[2021-03-14 02:39] kunaltyagi commented on #4108
@UnaNancyOwen Would it be possible for you to look into this?

[2021-03-14 03:01] UnaNancyOwen commented on #4108
@kunaltyagi I have my build notes (however, it is written in Japanese). It will need to be rewritten [this page](https://pcl-tutorials.readthedocs.io/en/latest/compiling_pcl_windows.html) based on this.
https://gist.github.com/UnaNancyOwen/59319050d53c137ca8f3#file-pcl1-11-1-md

[2021-03-14 10:42] #4214 closed

[2021-03-15 14:01] mvieth commented on #4594
@zhaohaowu Can try again with the current PCL master? Pull request #4627 might solve this problem.

[2021-03-16 01:37] #4630 closed

[2021-03-16 01:38] kunaltyagi opened #4655 "Make tracking API more user friendly"
An option would be to call `computeTransformedPointCloudWithoutNormal` inside the `HasNoNormal` variant (in addition to the warning) and/or to only allow setting `use_normal_` to true if the point actually has a normal inside `setUseNormal`

_Originally posted by @mvieth in https://github.com/PointCloudLibrary/pcl/issues/4643_
_Slightly edited by @kunaltyagi_

[2021-03-16 07:12] Yourbee commented on #3810
works for me.
PCL 1.11.1 All-in-one, VTK-8.2.0 5.9.9

[2021-03-16 15:03] mvieth commented on #4655
Hello and welcome! Great that you want to improve PCL!
Sorry, I am not totally sure what you want to modify. Do you mean in particle_filter.h or in particle_filter.hpp?
Some more information about the issue: if a user uses `ParticleFilterTracker` with a point type that does not have a normal (e.g. `PointXYZRGBA`), but tells the tracker to use the normal (with `setUseNormal(true)`), the tracker doe

[2021-03-16 19:34] pawanpillai commented on #4462
Thank you so much!

[2021-03-17 01:34] kunaltyagi opened #4658 "[CI] Windows x64 CI can't find Boost"
[code]

Taken from [this CI run](https://dev.azure.com/PointCloudLibrary/pcl/_build/results?buildId=18412&view=logs&j=b2e91478-826b-5668-35a1-2ffb6cc2ce81&t=7e072d12-9c35-5a96-2043-81e7c05cb12e&l=109)

[2021-03-17 01:34] kunaltyagi commented on #4658
Pinging @larshg

[2021-03-17 05:12] Chris45215 opened #4659 "When compiling with CMake and VS2019, the operation fails with "Error in configuration process", missing files mm_malloc.h and other errors"
**Describe the bug**

I am trying to get PCL installed and running fully for the first time. The only full-featured way seems to be to install via compiling it myself, and manually installing all the dependencies. In the last step, of compiling PCL with CMake, I get multiple errors that prevent compilation.

**Context**

I am trying to install PCL on my computer so I can use it in my own projects.

[2021-03-17 06:55] larshg commented on #4658
https://github.com/actions/virtual-environments/issues/2667

Boost is being removed altogether.

So we have to get it elsewhere, like everyone else:

- VCPKG install (takes time, due to being compiled)
- Download from scourgeforge
- Conan install

[2021-03-17 08:14] kunaltyagi commented on #4658
Any updates on the Windows docker? That'll help a lot for issues like this

[2021-03-17 09:43] perisage opened #4661 "[compile error] "can't found PCL because of wrong PCL_ROOT""
I installed PCL by `sudo apt install libpcl-dev`. and used it like this:
[code]
**some errors occurred when I built the project:**
[code]
**I'm trying to debug the cmake source code in `/lib/x86_64-linux-gnu/cmake/pcl/PCLConfig.cmake:418-454`, The cmake source is shown below:**
[code]
**Through debugging， I found that the environment variable `PCL_ROOT` is set to `/` and `PCL_DIR` is set to `/lib/

[2021-03-17 09:58] vc-30 commented on #681
Can I work on this issue by replacing:

[code]

with:

[code]

[2021-03-17 10:06] nikhilpatil99 opened #4662 "How to find the boundary points of 3D point of cloud using pcl library"
Respected All,
I have a set of 3D data points which look uniform plane. I want to find boundary points of that 3D points. I was researching and found the PCL library. I am very excited to work with this library. Based on this, I tried to do find out boundary points using the range_image_border_extraction.CPP. But, I am unable to do find it using PCL. I need to find out since I want to work on furt

[2021-03-17 10:30] mvieth commented on #4659
The screenshot hints that Eigen is not installed. Are you sure that you installed it correctly?

[2021-03-17 11:02] mvieth commented on #4661
Hm, yes, I think `PCL_ROOT` should be `/usr`. Not sure why cmake uses the wrong path there. You could try to set `PCL_DIR` manually as described in [this tutorial](https://pcl.readthedocs.io/projects/tutorials/en/latest/using_pcl_pcl_config.html?highlight=PCL_DIR)

[2021-03-17 11:07] mvieth commented on #4662
The error message says that the file could not be found. Make sure that the specified name and path of the file is correct.

[2021-03-17 11:51] larshg commented on #4662
Please don't open it as an issue, since you already wrote on discord.

[2021-03-17 11:51] #4662 closed

[2021-03-17 12:46] nikhilpatil99 opened #4663 "How to find the boundary points of 3D point of cloud using pcl library"
Respected All,
I have a set of 3D data points which look uniform plane. I want to find boundary points of that 3D points. I was researching and found the PCL library. I am very excited to work with this library. Based on this, I tried to do find out boundary points using the range_image_border_extraction.CPP. But, I am unable to do find it using PCL. I need to find out since I want to work on furt

[2021-03-17 13:07] larshg commented on #4663
Don't open these issue @nikhilpatil99. You have to read and learn cpp and how to use PCL from the existing tutorials. These issues are for errors in PCL.

[2021-03-17 13:07] #4663 closed

[2021-03-17 17:15] jcheungEncompass commented on #4204
@AndreasHowest  make sure you have set your PCL_DIR in the CMakeSettings.json file to the correct location where your PCLConfig.cmake is located. Mine looks like the following:
![image](https://user-images.githubusercontent.com/80122875/111509094-9b9ac900-8709-11eb-9ae0-d813bdeaae66.png)

I installed x86 initially too then install x64 pcl, so make sure that your folder says x64. I have no errors a

[2021-03-17 18:09] Chris45215 commented on #4659
Thanks for the advice. The official guide says to "just download" the package, so I downloaded it from the Eigen website and unzipped it to my C: drive. But, the version of the package on the PCL Downloads Page (https://pointclouds.org/downloads/windows.html) is inaccessible, because that entire Downloads page ceased to exist. Eigen's own website said that it should be a "just download" as well. W

[2021-03-17 18:18] Chris45215 commented on #4658
doesn't the vcpkg lack the visualization toolkit? That sounds like this will become even more problematic. Otherwise, the vcpkg version of the project is the only one that I can get to work.

[2021-03-17 19:26] mvieth commented on #4659
Yes, Eigen does not have to be compiled or anything, it is just necessary that the include files are in the correct directory.
PCL's [FindEigen.cmake](https://github.com/PointCloudLibrary/pcl/blob/master/cmake/Modules/FindEigen.cmake#L14) shows under which paths cmake will search for Eigen. I think you have to unzip the package under `C:\Program Files`, so that `C:\Program Files\Eigen\Core` exists

[2021-03-17 21:02] Chris45215 commented on #4659
Thanks, you are definitely helping and that got me to the next step, now it just has a problem finding Flann. I did a new, fresh build of Flann, and double-checked the environment variables, and I have it installed under both C:/ and C:/Program Files just to ensure it should be findable (because the environment variables point to the Program Files location), but CMake isn't finding Flann. I'm atta

[2021-03-17 21:22] larshg commented on #4659
Hey Chris

If you are using All-In-One installer, you can try follow this: https://github.com/PointCloudLibrary/pcl/issues/4462

I personally have installed all dependencies using VCPKG (only dependencies, not PCL). Remember to add the right triplet ie x64-windows.

Then I would clone PCL using git and use Cmake to generate VS projects. Here you need to supply path to the VCPKG cmake cross compile

[2021-03-18 02:15] #4658 closed

[2021-03-18 02:21] kunaltyagi commented on #4658
The Windows CI doesn't install visualization right now. This is an issue with just the CI, not PCL on windows.

[2021-03-18 04:51] DanielSepeda commented on #2703
I'm getting slower results as well. I tried changing the number of queries from 10 in gpu/segmentation/impl/gpu_extract_clusters.hpp (line 103) and the performance still showed CPU being faster.

[2021-03-18 12:50] perisage commented on #4661
Well, Things are more complicated than imagined.
### 1. First try
 I set `PCL_DIR` to `/usr/lib/x86_64-linux-gnu/cmake/pcl/PCLConfig.cmake` as is shown below:
[code]
But the value of `PCL_DIR` came back to `/lib/x86_64-linux-gnu/cmake/pcl/PCLConfig.cmake` when `find_package(PCL REQUIRED)` is invoked. Therefore, this method is not feasible.
Obviously, the value of `PCL_DIR`  will be reset somewhere

[2021-03-18 13:04] kunaltyagi commented on #4661
I think this approach will also work on non-special systems. A PR would be appretiated @perisage

Thanks for debugging it and the nice post-mortem

[2021-03-18 23:21] nickvaras commented on #4388
Can this be merged?

[2021-03-20 19:09] mvieth commented on #1745
I guess since the pull request is merged, this issue can be closed. Thanks!

[2021-03-20 19:09] #1745 closed

[2021-03-20 23:59] jmaiolini commented on #3897
Hi guys @kunaltyagi @SunBlack, can I take this issue if it is still relevant?
In case, do you want me to define the lambda every time it is called? What do you mean to fix the call-sites? Or should I declare it as it is callable multiple times?
Can I assume the list above contains all the files to modify?

[2021-03-21 00:41] kunaltyagi commented on #3897
1. Convert macro into a lambda. Might require adding some parameter compared to the macro version(this is called fixing the call site)
2. Find files with similar lambda, convert that into a function in a header file

[2021-03-21 10:43] jmaiolini commented on #3897
Just to be 100% sure, can you give me more details about point 2? Did you mean files with `FPS_CALC` ?

[2021-03-21 13:46] #4388 closed

[2021-03-21 20:28] mvieth commented on #4557
Closing issue: no feedback from author

[2021-03-21 20:28] #4557 closed

[2021-03-22 16:53] BryceVichiOJ commented on #4631
Apologize for the delay. After testing, it appears PR #4642 fixes the issue. Thank you to all who helped work on this.

[2021-03-22 16:53] #4631 closed

[2021-03-22 18:10] ametemre commented on #4557
i overcome the situation using allinone installer, thank you

[2021-03-25 02:37] kunaltyagi commented on #681
Needs access to XtionPro and XtionPro Live sensors for testing. Closing #4667, though it does have a possible fix for this issue

[2021-03-25 02:39] garryz94 opened #4673 "[custom] Is there any way to disable warnings when loading ply cloud?"
When I read ply file into my custom defined pointcloud, PCL always outputs warnings like "Failed to find match for ...". Is there any way to disable this warning?

![Screenshot from 2021-03-25 10-38-28](https://user-images.githubusercontent.com/63033682/112410548-4d637680-8d56-11eb-9537-27658525a9b9.png)

[2021-03-25 02:41] kunaltyagi commented on #4673
Not an issue. Environment variable (on linux like systems) `PCL_VERBOSITY_LEVEL` can be set to `ERROR` to reduce information printed on the terminal

[2021-03-25 02:41] #4673 closed

[2021-03-25 02:45] garryz94 commented on #4673
So I should modify "pcl/cmake/pcl_verbosity.cmake" to set PCL_VERBOSITY_LEVEL to Error?

[2021-03-25 13:46] yanliang-wang commented on #3195
I had the similar issue, too. I solved the issue by add `add_definitions(${PCL_DEFINITIONS})` in the CmakeLists.txt of my project .

That is weird. I wonder how it works.

By the way, my env is PCL-1.8.1 and Ubuntu 18.04.

[2021-03-25 20:03] Chris45215 commented on #4462
Thank you so much for this! I spent a week struggling to install PCL on Windows 10, resulting in different levels of failure - for example the vcpkg version would install, but lacked the visualization components that are honestly critical to a 3D program. I got to the point of compiling everything myself from scratch, following a mix-and-match of tutorials like the official one and the UnaNancy on

[2021-03-26 00:58] Chris45215 commented on #4659
Thanks larshg! That guide, https://github.com/PointCloudLibrary/pcl/issues/4462, is basically perfect and allowed me to install PCL and get it working.

But I want to keep this issue open because the existence of a user-made guide in an error report is very, very different from having an actual fix. The official documentation on both the website and readme really needs to be updated - especially c

[2021-03-26 02:01] ysq0459 commented on #2808
I had the same problem!

[2021-03-26 02:16] Fraser-McLean commented on #4516
Hi, i realise that this was a while ago, but was this ever resolved? I am also looking to perform octree compression on the XYZI type. Is this even possible within PCL?

[2021-03-26 07:50] Yuchen-Tao commented on #4516
Hi, I saw one pull request, but it had no further update after 11/2020. I am also facing this issue in my own project, and I am currently doing the compression using XYZRGB type, by storing the intensity(uint8 in my case) into the R value. I would also appreciate it, if XYZI type could be supported in the future.

[2021-03-26 07:55] Fraser-McLean commented on #4516
@Yuchen-Tao I did the same thing! So hopefully its not too bad of a work around

[2021-03-26 08:42] mvieth commented on #4516
Currently only PointXYZ, PointXYZRGB, and PointXYZRGBA are supported. To support PointXYZI, we would need something similar to [`ColorCoding`](https://pointclouds.org/documentation/classpcl_1_1octree_1_1_color_coding.html), ideally something generic that works for other fields than just intensity.
Storing the intensity into `R` seems like a good workaround.

[2021-03-26 13:07] Bannigo opened #4676 "Runtime error :: PCL bilateral filter"
Hello,
I am facing a runtime error while processing the bilateral filter.

Error-:
processing: /usr/include/boost/smart_ptr/shared_ptr.hpp:734: typename boost::detail::sp_member_access<T>::type boost::shared_ptr<T>::operator->() const [with T = std::vector<int>; typename boost::detail::sp_member_access<T>::type = std::vector<int>*]: Assertion `px != 0' failed.
Aborted (core dumped)

Code snippet-:

[2021-03-26 17:38] amkurup commented on #3518
I faced a similar issue. My PCD had type F (float) defined in the header section, even tough the actual data was in the correct format. Changing it to U fixed my warning.
Thanks

[2021-03-26 20:57] mvieth commented on #4676
`cloud_bilateral` has to be initialized like `cloud_p`, with `new pcl::PointCloud ...`

[2021-03-26 21:08] Bannigo commented on #4676
pcl::BilateralFilter<pcl::PointXYZI> bf (new pcl::BilateralFilter<pcl::PointXYZI>);

pcl::PointCloud<pcl::PointXYZI> cloud_bilateral;
bf->setInputCloud(cloud_p);
bf->setHalfSize(2.0);
bf->setSearchMethod (tree);
bf->setStdDev(0.2);
std::cout<< "Hello" <<std::endl;
bf->applyFilter(cloud_bilateral);

Now the code snippet looks like these. It's still the same issue.

[2021-03-26 21:29] mvieth commented on #4676
Oh sorry, I misread your code. I will try to further look into the issue tomorrow.
What version of PCL do you use? What operating system?
Have you noticed that the problem only occurs with specific point clouds, or with any clouds?
If you could run your code with a debugger (e.g. valgrind/gdb) to pinpoint where the error happens, that would be very helpful.

[2021-03-27 03:14] NehilDanis opened #4679 "[pcl_features] Segfault while executing multiscale_feature_persistence_example"
**Describe the bug**

Hi, I was following [this](https://github.com/PointCloudLibrary/pcl/blob/pcl-1.11.1/apps/src/multiscale_feature_persistence_example.cpp) example, and I tried to use it with my own pcd file, but I got segmentation fault. I was debugging and I found out that the following code caused the problem, in particular the line number 98.

https://github.com/PointCloudLibrary/pcl/blob/9

[2021-03-27 05:07] niwhsa9 opened #4680 "[compile error] PCL Linking Issues"
I'm trying to compile a PCL project I have which compiles and runs without issue when built with CMake or Meson 0.43. I've now migrated to Meson 0.57, and using the exact same Meson build file, I run into a number of linker errors when building. A screenshot of some of this attached below
![image](https://user-images.githubusercontent.com/10037572/112710577-a4716480-8e98-11eb-991f-3c34c648c926.png

[2021-03-27 06:12] takmin commented on #4238
I had same problem, but solved it by security check unavailable in "C/C++" property

[2021-03-27 07:09] niwhsa9 commented on #4680
fixed, turned out to be an issue with Meson

[2021-03-27 07:09] #4680 closed

[2021-03-27 10:14] mvieth commented on #4676
I think I found the problem: you should call `bf.filter(cloud_bilateral)` instead of `bf.applyFilter(cloud_bilateral)`. `filter` calls `applyFilter`, but first sets the variable `indices_`, which is used [here](https://github.com/PointCloudLibrary/pcl/blob/97cb436308e240c34f49559ba3b89b6cdfc2e5ca/filters/include/pcl/filters/impl/bilateral.hpp#L102).
`applyFilter` should probably be `protected`, no

[2021-03-28 09:48] mvieth commented on #4679
Thank you for reporting this!
I can confirm the bug and like your solution. Would you be willing to open a pull request with the fix?
It seems like there is no unit test for `MultiscaleFeaturePersistence` (or else we would have noticed the bug sooner). Would you be interested in writing one?

[2021-03-28 10:55] NehilDanis commented on #4679
Hello, thanks a lot for the quick reply. Yes I will do this!

[2021-03-28 11:33] larshg commented on #4679
I'm wondering, isn't the features_at_scale_ resized/reserved the size in line 92, as the size of scale_values_, which is the one that is used in the for loop as well. Is there an out of bound indexing going on, but why? Is it the wrong size returned?

Just appending to the array, kinda contradicts the  "feature at scale i" doesnt it? (Even though it seems to go from 0 to size)

[2021-03-28 11:40] NehilDanis commented on #4679
Hello, so the thing is resizing and reserving a vector are different things. If you resize the vector, which means you use the constructor and you actually can access the elements using the squared brackets. So resize actually initializes the newly allocated vector while reserve allocates but not constructs, so it shows undefined behaviour. During the debug, the first and second element was placed

[2021-03-28 12:49] mvieth commented on #4585
@larshg Can this issue be closed, since PR #4589 is merged?

[2021-03-28 12:53] mvieth commented on #4588
@kunaltyagi Can this issue be closed, since PR #4618 is merged?

[2021-03-28 13:00] mvieth commented on #4552
I'm closing this issue because it seems the question was sufficiently answered.

[2021-03-28 13:00] #4552 closed

[2021-03-28 19:11] larshg commented on #4585
Indeed its fixed by #4589.

[2021-03-28 19:11] #4585 closed

[2021-03-29 06:28] #4588 closed

[2021-03-29 06:46] Bannigo commented on #4676
Yaa!! this solution fixed it up. Thank you so much. I will open a pull request

[2021-03-29 09:24] Bannigo opened #4684 "Information on correspondence estimation back projection"
Hello everyone,
                         I have a doubt about the description of the Correspondence estimation back-projection method. The description seems to be incomplete. Does anyone know on which research paper, it's based?

Thank you in advance

[2021-03-29 19:05] #1232 closed

[2021-03-29 19:05] #4591 closed

[2021-03-30 16:28] AndyHuska commented on #1457
I'm running into a similar issue with the distro version of PCL on Ubuntu 20.04.

[2021-03-30 16:54] kausthubnarayan commented on #4090
Were you able to figure this out? I have the same scope and problem to solve.

[2021-03-31 07:40] mvieth commented on #1457
@AndyHuska could you provide some more information? In which ways is your issue similar? What values are you using for alpha? Can you upload the cloud you are using?

[2021-03-31 12:28] NehilDanis commented on #4655
Hey, is this issue still open? I mean it looks like, but I wanted to make sure. If so, I can handle it. Thanks

[2021-03-31 12:45] mvieth commented on #4655
It seems like no one is working on this currently, and nobody has opened a pull request. So if you want to solve this, you are welcome to do it!

[2021-03-31 16:21] AndyHuska commented on #1457
Hi @mvieth here is a running update of what I've been fighting: https://stackoverflow.com/questions/66591608/pcl-1-10-concave-hull-returns-self-intersecting-polygons-that-dont-include-all

I believe there are a couple issues at hand, one at the convex hull level and another at the concave hull level. I happen to be using an alpha value of 0.38, but for the dataset below the failure appears to be h

[2021-03-31 16:47] mvieth commented on #1457
That is very detailed, thank you! I will try to look into it over the next few days.
The way PCL interacts with qhull will change anyway because the interface PCL currently uses was dropped in newer qhull versions. There is at least one pull request to change the two PCL classes, but we haven't gotten around to review them.
BTW for questions you might have more luck on the PCL discord than on stac

[2021-03-31 16:59] AndyHuska commented on #1457
Great, thank you!

I browsed PRs related to qhull, convexhull, and concavehull and they seemed more about compiling and formatting than changing how qhull is called or how the algorithms are written, but if you can point me at some I would like to investigate them.

[2021-04-01 00:02] NehilDanis commented on #4655
So basically I just used SFINAE in `setUseNormal` in particle_filter.h, just like it was done for `computeTransformedPointCloudWithNormal`

[2021-04-01 07:15] mvieth commented on #4684
Sorry, no idea. It might not even be based on a specific paper. If you want to learn more about the class, you might have to look into the implementation.

[2021-04-01 14:12] Bannigo commented on #4684
Okay. Thank you!!

[2021-04-01 15:42] tanismar opened #4686 "[module_name] setIndices not working on SupervoxelClustering Classs"
**Describe the bug**
When using the superVoxelClustering class to segment objects in a scene using LCCP, I'd like to do so only on a subset of the points, (ie, removing the indices that correspond to the plane, and/or those too far away from the camera). I obtain these desired indices to be considered and pass them to the class using the setIndices function, but the supervoxels get computed for th

[2021-04-01 18:26] mvieth commented on #4686
Thanks for reporting. We will have to see how difficult it is to integrate that into the SupervoxelClustering class. As a workaround, you could create two new clouds (an rgb cloud and a normal cloud) without the plane, e.g. with ExtractIndices, and pass those to SupervoxelClustering.

[2021-04-02 07:26] deltaprophet commented on #4462
This should be official guide. I spent several hours to build from source and with vcpkg. none of them actually worked.  On top of that, vcpkg takes like 6-7 hours for installation. Thank you so much!

[2021-04-02 08:35] Foward-Fu opened #4687 "ERROR:#if VTK_RENDERING_BACKEND_OPENGL_VERSION < 2"
When I use pcl to view show simple point cloulds with c++ in Viusal Studio 2019, It could`t compile.The errors are as follow:
![image](https://user-images.githubusercontent.com/62982151/113398328-01a57280-93d1-11eb-8b42-b34fc79a30d0.png)
![image](https://user-images.githubusercontent.com/62982151/113398369-0f5af800-93d1-11eb-8a50-98a903a9dd02.png)
![image](https://user-images.githubusercontent.com

[2021-04-02 10:08] mvieth commented on #4687
Do you have some option enabled to turn warnings into errors? Please check that and disable it.
Also: we are currently using VS 2017 in our CI, so we can't guarantee that it works with VS 2019 yet.

[2021-04-02 12:08] larshg commented on #4687
I'm using VS2019, so that is not an issue.

How have you made your test project? Cmake?

[2021-04-02 23:22] khaiyichin commented on #4584
*I hope commenting here is acceptable. Otherwise please let me know if I need to open a new issue.*

Without seeing OP's code I can only assume we are encountering the same issue, but the experience is similar: I encounter SEGFAULT when using `toROSMsg`. This is how I'm using it:
[code]
Doing a backtrace on GDB gave me this:
[code]
Running on Ubuntu 20.04, ROS Foxy.

[2021-04-03 02:16] juansolana commented on #2870
This just made my day. Thanks

[2021-04-03 08:13] mvieth commented on #4584
@khaiyichin Can you find out the value of `cloud->header.stamp`? Do you set that value? Can you try to set the value to something different (lets say 100) and see whether the segfault still appears?

I think the problem might be that [here](https://github.com/ros-perception/perception_pcl/blob/foxy-devel/pcl_conversions/include/pcl_conversions/pcl_conversions.h#L84), the wrong [constuctor](https:/

[2021-04-03 10:10] FabianSchuetze opened #4689 "[GPU::DeviceArray] Expand the API of the DeviceArray to ease data transfer and allocations"
I was thinking of expanding the API of the DeviceArray class by two functions. Firstly, a (non-member friend) function to copy and download only part of the device data to the host. Secondly, a function to resize the DeviceArray. Expanding the API is motivated by a performance analysis (#4677) we made and to bring the API of the device array in line with STL semantics.

In more detail, the signatu

[2021-04-03 17:57] mvieth commented on #4517
@kunaltyagi @larshg @koide3 I think we should solve this issue with qhull soon. PCL currently uses the non-reentrant C interface which is not available in newer qhull versions (e.g. in Ubuntu 20.10 and newer). There are two PRs which (I think) would both fix this:
PR #4540 switches to the reentrant C interface. This PR is recent and has few line changes, so should be easy to review.
PR #1565 switc

[2021-04-03 21:44] khaiyichin commented on #4584
@mvieth Thanks for the prompt response!

I have to apologize as this was a mistake on my part: I was using the cloud pointer as a class member and didn't initialize it before its usage, hence the segfault; I was able to properly convert the cloud from PCL to ROS message. Your comment led me to that discovery, so thanks again!

[2021-04-04 15:00] MBSadeghzadeh opened #4690 "Building time of a project which depends on PCL is too long"
I have created a project in visual studio 2015 and installed PCL 1-8-0. I have included
[code]
and when I change any header file of mine, it takes a long time to build the project.  Rebuilding the project also gets a huge time.
Is there any way to get rid of this?

[2021-04-04 18:38] mvieth commented on #4690
Yes, building a project that uses PCL takes a bit of time. How much time does it take for you (roughly)?
Keep in mind that when you change a header file, every file that includes that header file has to be rebuilt.
There are a few things you can try to reduce your build time:
- only include those files you really need. There is a cool tool that helps you identify unnecessary includes called "inclu

[2021-04-05 08:46] kunaltyagi commented on #4462
We have a windows docker image as well: [`pointcloudlibrary/env:winx86` and `pointcloudlibrary/env:winx64`](https://hub.docker.com/r/pointcloudlibrary/env/tags?page=1&ordering=last_updated&name=win) (based on 2019 Server Core image) that come with vcpkg installed.

Adding this as an official tutorial is quite easy (hence the tags). Please feel free to create a PR in the docs module of PCL

[2021-04-05 09:08] kunaltyagi commented on #4686
@tanismar Internally, the heavy lifting is performed by OcTree and KDTrees. You could add overload to `SupervoxelClustering::setInputCloud` to accept indices and pass them to the adjacency OcTree. This alone might be sufficient.

Though I'm basing this entirely on old knowledge of its implementation

[2021-04-05 09:31] #4684 closed

[2021-04-05 14:38] #4655 closed

[2021-04-06 01:30] Foward-Fu commented on #4687
I just compile the project in VS2019,This may be because the PCL version and the VKT version do not correspond

[2021-04-06 08:29] tanismar commented on #4686
Hi @kunaltyagi , I will try that, thanks. @mvieth , unfortunately, that woulnd't be enough, since I need the results as indices with respect to the original pointcloud (very much like every other function behaves when taking .setIndices input).

[2021-04-06 10:19] kunaltyagi commented on #4686
@tanismar if it works, please report back and we can add that as a PR :)

[2021-04-06 11:22] kd-mariyan opened #4692 "Line by mistake?"
https://github.com/PointCloudLibrary/pcl/blob/d98313133b014553ab1b1b5b112f9aade837d55c/doc/tutorials/content/sources/planar_segmentation/planar_segmentation.cpp#L64

[2021-04-06 11:24] mvieth commented on #4661
BTW I found this bug report: https://bugs.launchpad.net/ubuntu/+source/pcl/+bug/1896118
@perisage Out of interest, do you also use a Singularity container? Or is there anything special/uncommon about your operating system that may cause this? I am asking because Ubuntu is probably the most popular OS among PCL users, and I can't image that nobody would have noticed such a bug on a "common" Ubuntu

[2021-04-06 11:34] mvieth commented on #4692
Thank you for noticing, yes it seems like that should have been removed in commit 009d73dbb51fcea8dbf8daeb1229dbb48e0f3870 . Would you be interested in creating a pull request to fix this?

[2021-04-06 14:22] Yqy666 commented on #1726
Hi bellonemauro,
I started to learn PCL point cloud library recently, and found the same problem as you, but I failed to fix the error LNK2019 according to your solution. May I ask if the only lines of code to be modified are the ones posted by you? I really have no way out

[2021-04-06 17:55] bellonemauro commented on #1726
Hi,

you can see those lines in this commit:

https://github.com/bellonemauro/pcl/commit/ff567d907c6a28b7edd082a8cdf848121039110c

also check the files svm.h/cpp and svm_wrapper.h/cpp for other modifications.
I hope this helps.
M.

[2021-04-07 03:33] kunaltyagi commented on #4689
Instead of pointers to memory, what about using iterators?

[2021-04-07 03:44] kunaltyagi opened #4693 "[cmake] Add AVX config flag for other platforms, in line with usage for windows"
I'm not that well versed in Linux / cross compiling so I would prefer to just merge this one and one with better knowledge of linux can adjust it accordingly. Or someone make PR towards this PR.

_Originally posted by @larshg in https://github.com/PointCloudLibrary/pcl/issues/4598#issuecomment-812146560_

[2021-04-07 04:57] Yqy666 commented on #1726
Hi，

Thank you for your letter.&nbsp;

I modified the files svm.h and svm_wrapper.h according to what you said,&nbsp;
but the IDE still gave an error to LNK2019,&nbsp;
I was compiled and run under VS2017, Debug ×64 environment,&nbsp;
do I need to rely on libsvm.lib file? Or some other lib file?
I'm really at a loss.

I hope you can help me!

M.

------------------&nbsp;原始邮件&nbsp;------------------

[2021-04-07 05:05] Yqy666 commented on #1726
#include <iostream>
#include <Eigen/Core>
#include "pcl/point_types.h"
#include "pcl/point_cloud.h"
#include "pcl/io/pcd_io.h"
#include <pcl/search/kdtree.h>
#include <pcl/features/normal_3d_omp.h>
#include <pcl/filters/voxel_grid.h>
#include <pcl/features/vfh.h>
#include <pcl/visualization/pcl_plotter.h>
#include <pcl/ml/svm_wrapper.h>

int number_(142);
pcl::SVMParam param_;
int nr_fold_(0);

vo

[2021-04-07 08:52] Yqy666 opened #4694 "error LNK2019: unresolved external symbol svm_free_model_content referenced in function "public: __cdecl pcl::SVMClassify::~SVMClassify(void)" (??1SVMClassify@pcl@@QEAA@XZ)"
**Describe the bug**

Hi，Developers！I am working on a project that uses svm as a classifier for segmented objects from a Velodyne LIDAR。
But when I want to try to compile ，i get the following errors concerning the classifier:

error LNK2019: unresolved external symbol svm_destroy_param referenced
in function "public: __cdecl pcl::SVM::~SVM(void)" (??1SVM@pcl@@QEAA@XZ)
error LNK2019: unresolved ext

[2021-04-07 14:52] ueqri commented on #4693
I can handle the issue to add AVX or AVX2 config for Linux and macos in CMakeLists.

Could I make another PR after #4598 being merged? Because I have no permission to contribute new codes in that PR at present. :joy:

[2021-04-07 17:27] FabianSchuetze commented on #4689
Thank you so much for taking a look at this @kunaltyagi  - I very much appreciate it!

I was also first thinking of using iterators instead of pointers, but the DeviceArray<T> API does not offer iterators but does  [offer pointers](https://github.com/PointCloudLibrary/pcl/blob/f1b0d1a962d7fcec0dd100a0ea7960f0ba58c2f0/gpu/containers/include/pcl/gpu/containers/device_array.h#L127).

For comparison,

[2021-04-07 21:31] Abdelrahman350 commented on #2647
Hello @SergioRAgostinho and @RogerAylagas, could you please tell me how did you solve it?

[2021-04-08 07:13] mvieth commented on #2647
@Abdelrahman350 Please see the answer by greenbrettmichael. The new link seems to be https://github.com/nutonomy/nuscenes-devkit/blob/master/python-sdk/nuscenes/utils/data_classes.py

[2021-04-08 07:29] Abdelrahman350 commented on #2647
Thank you very much.

[2021-04-08 07:54] kunaltyagi commented on #4693
Yes, that'd be a good way to go

[2021-04-08 08:40] mkaler999 commented on #3954
I am having the same issue where the x, y and z coordinates of the picked point do not even belong to my point cloud.
I also noticed that this behavior becomes much more frequent if I increase PCL_VISUALIZER_POINT_SIZE through setPointCloudRenderingProperties.

[2021-04-08 21:23] jackjansen commented on #3680
I'm running into the same problem (using PCL as a dependency in my project), and I'm reluctant to apply the workarounds suggested here in my CMakefiles, because it will also silence other instances of the warning that could actually be useful.

Could this issue somehow be fixed in the PCL CMakefiles (or probably find_package) and reset to the previous value afterwards?

[2021-04-09 07:19] #1593 closed

[2021-04-10 03:13] perisage commented on #4661
My OS is Ubuntu20.04.2 LTS which is downloaded and installed from the Ubuntu official website and there is nothing special/uncommon about it. I have tested PCL on two desktop computers with Ubuntu20.04.2 LTS and reproduced this issue on both of them.

[2021-04-10 09:36] mvieth commented on #4692
I was not sure whether you want to create a pull request, so I removed the extra line in pull request #4697 myself.
If you want to contribute to PCL, feel free to check out the other open issues.

[2021-04-10 09:36] #4692 closed

[2021-04-12 09:51] WildRackoon opened #4699 "[FLANN] "Discussion around FLANN maintenance, possibility to use nanoflann""
**Is your feature request related to a problem? Please describe.**

FLANN library is not maintained anymore, it hardly had any commit since April 2019, as mandatory dependency for PCL It just seems a bit odd.

People have brought this issue in the past at least once: https://github.com/PointCloudLibrary/pcl/pull/84

**Describe alternatives you've considered**

No one around here is not unfamiliar

[2021-04-12 11:39] mvieth commented on #4699
Sounds interesting. Some first questions that come to my mind:
1. What classes in PCL would have to be modified? Definitely `flann_search.h[pp]` in the search module, anything else?
2. Should FLANN be simply replaced, or should it be possible to use either FLANN or nanoflann?
3. Is nanoflann available as a package everywhere where FLANN is available?
4. A PCL-specific running time comparison would

[2021-04-12 13:10] WildRackoon commented on #4699
Yes mostly search related ones, but there is quite some stuff to change.
Here is a full grep of "FLANN" in the codebase: https://pastebin.com/pxad2ZsB

It the performance are better and there are no major implementation issues, we should replace it altogether, it's getting old.
If built from source for optimisations, you currently need to fix its compilation scripts for the latest version to work.

[2021-04-12 14:31] #4649 closed

[2021-04-12 16:21] FabianSchuetze commented on #2871
The issue should be addressed by PR #4677

[2021-04-13 19:34] imwhocodes commented on #1457
Hi

I'm having a similar problem too:

I'm trying given some points (that are actually already the ordered polygon vertices) to obtain a `pcl::ConcaveHull`

There is no alpha for which the result is correct, or the return indexes are empty, or they are only part of the excepted polygon

[code]

**I'm using  PCL 1.10 with ROS Noetic on Ubuntu 20.04 (GCC 9)**

Thanks,
Luca

[2021-04-14 06:38] TuMePJlaH opened #4700 "[Runtime error] thrust::system::system_error, Two parts of codes work fine separately, but doesn't work together."
PCL version: 1.11.1 (build from last master branch);
OS: Ubuntu 20.04.
Compiler: GCC 9.3.0
GPU: GeForce RTX 2080Ti
CUDA Toolkit version: 11.1

Init cloud code:
[code]

This code work fine:
[code]

And this code work fine:
[code]

But this code (previous two parts of codes together):
[code]
and this code too (previous two parts of codes together):
[code]

aborted with runtime error:
terminate calle

[2021-04-14 06:42] magres opened #4701 "[ppf_registration] Incorrect calculation of Point Pair Feature"
**Describe the bug**

The classes PPFRegistration and pcl::PPFEstimation use the function pcl::computePairFeatures while feature estimation and aligning , but it issues wrong angle data.

**Context**

For example with this snippet

[code]
**Expected behavior**

f1=pi/2, f2=pi/2, f3=pi/2 is expected.

**Current Behavior**

f1=0, f2=10, f3=0 is issued.

**Your Environment (please complete the follow

[2021-04-14 07:29] magres commented on #4701
`pcl::computePPFPairFeature` make it worse: f1=f2=f3=0
[code]

[2021-04-14 10:34] mvieth commented on #4701
This bug seems to be Windows and/or VS19 specific. Can you set `pcl::console::setVerbosityLevel(pcl::console::L_VERBOSE);`, run the two code snippets again, and see whether there are new messages?

[2021-04-14 11:37] magres commented on #4701
There's no extra messages. The problem seems to lie in the sources: `computePairFeature` and `computePPFPairFeature` have nothing to do with point pair features got to do.

[2021-04-14 11:41] mvieth commented on #4701
What is the value of `f4` in both cases?

[2021-04-14 11:48] magres commented on #4701
f4 is ok, 40 in my case.

[2021-04-14 12:29] qingweihk commented on #4033
I have the same problem.How to slove it?

[2021-04-14 14:15] mvieth commented on #4701
Some further results:
The bug does not seem Windows/VS19 specific after all. The returned features do not seem to be angles, but dot products (so missing `acos`, and if you consider that `acos(0)=pi/2`, it makes more sense). I am not yet sure if just the documentation is bad/wrong, or the returned features should really be angles.
Side note: the normals should be normalized, so `..., 0, 0, 1)` and

[2021-04-14 14:21] mvieth commented on #4033
The linked pull request should fix the problem. Please try again with a newer PCL version (1.11.1 or current master branch).

[2021-04-14 16:29] mvieth commented on #4701
The PPF Estimation and Registration actually use the `computePairFeatures` (PFH) function instead of the `computePPFPairFeature` function. Not sure why, maybe because it produces better results? The `computePPFPairFeature` gives the values you expect (pi/2), but as a dot product (0) instead of an actual angle. The documentation should really reflect this.
Does that answer your questions? We can le

[2021-04-14 17:08] ueqri commented on #4700
The error comes from an unresolved bug from Thrust library, when using the `thrust::sort` and `thrust::sort_by_key`.

Similar issue here: https://github.com/thrust/thrust/issues/936, and it seems that this error could be a result of a architecture mismatch, not very sure.

Did you provide `CUDA_ARCH_BIN` as the real compute capabilities of GPU for CMake command? If not, you can try to specify the

[2021-04-15 06:37] TuMePJlaH commented on #4700
Thanks for your reply!
I set CUDA_ARCH_BIN to 7.5 and re-compiled PCL.
But it did not help.

[2021-04-15 06:38] magres commented on #4701
#4702

[2021-04-15 18:37] mvieth commented on #4633
@kunaltyagi I guess this can be closed now?

[2021-04-15 18:40] #3625 closed

[2021-04-15 20:59] larshg opened #4703 "[Visualiation] Viewport feature of visualizer is not working with VTK9"
**Describe the bug**

Only one of the viewports is rendered.

Camera is moved on both sides.

**Context**

Visualize model in one view, scene in another.

**Expected behavior**

Visualize in both viewports.

Have individual camera control for each viewport.

**To Reproduce**

This tutorial would probably have the same behavior:
https://pcl.readthedocs.io/projects/tutorials/en/latest/pcl_visualizer

[2021-04-16 02:37] #4633 closed

[2021-04-16 22:26] kanakab commented on #2152
I am getting the same error, is there any way to fix it . I am using the pcl recorder in carla-ros-bridge

[2021-04-17 14:01] mvieth commented on #2152
@kanakab What is the error message you receive exactly? I had a quick look at the pcl recorder but only saw uncompressed writes (e.g. [here](https://github.com/carla-simulator/ros-bridge/blob/master/pcl_recorder/src/PclRecorder.cpp#L53)), this issue is about compressed writes. Also: what kind of points are used in your case (with colour, with intensity, ...), and how many points are in the cloud?

[2021-04-17 20:53] tkircher commented on #3530
The problem seems to be that pcl/cmake/Modules/FindGTestSource.cmake is looking for src/gtest-all.cc, but a correct installation of googletest doesn't include that source file. Copying it there from the googletest source directory makes PCL happy.

[2021-04-17 21:20] tkircher commented on #4699
As noted in the thread you opened over at the flann project, I'm taking over as maintainer. It's definitely possible or even likely that nanoflann has better single-thread CPU performance, but most of us don't want to use a kNN algorithm that isn't GPU-accelerated.

[2021-04-17 21:36] tkircher commented on #4517
PR #4540 looks good to me. I'll give it a try this week and run some tests and report back.

[2021-04-18 05:43] kunaltyagi commented on #4700
Doesn't seem like a bug in PCL (directly), so I'm in favor of closing the issue, but letting the discussion continue. Thoughts @mvieth?

[2021-04-18 09:31] TuMePJlaH opened #4709 "[Search module] Different speed of execution of the same code"
OS: Ubuntu 20.04
Compiler: GCC 9.3.0
PCL Version: 1.11 (build from last master branch 21/04/16)

CMakeList.txt
[code]

main.cpp:
[code]

Program output: "Duration = 0.411" (bin file size 767K).
Program output without FlannSearch initialize line: "Duration = 0.116" (bin file size 133K).
I understand that when I include the FlannSearch initialization line, I add some of the PCL library to my program

[2021-04-18 09:40] larshg commented on #4709
How many times have you run the 'tests'? Could just be variation in other workloads on the PC.

I don't see why the measured part should be slower due to adding the offending line.

[2021-04-18 09:42] mvieth commented on #4700
I agree, seems like that can only be solved in the thrust library. They are asking for a minimal reproducible example, so if someone who experiences this bug can create such an example, that would surely help fixing this bug.

[2021-04-18 09:47] TuMePJlaH commented on #4709
Thanks for the quick response!

I have run many times, with and without this line. Since I could not believe it myself.
At this point, there were no other calculations on the PC.
I checked this problem on two PC's.

[2021-04-18 10:39] kunaltyagi commented on #1457
@AndyHuska Which PCL version are you using?

[2021-04-18 10:50] kunaltyagi commented on #4709
Tried and succeeded in replicating the issue. My PCL is built manually (in debug mode, at master, not 1.11 or some release).

Observations:
[code]

* Size without search: 41,432 bytes
* Size with search: 195,104 bytes

Conclusion:
* binary size doesn't impact speed
* not a bug in PCL. Please check the arguments used for compilation and linking

I believe that PCL in release mode will give similar

[2021-04-18 10:50] #4709 closed

[2021-04-18 10:51] kunaltyagi commented on #4700
Ack. Closing the issue here.

@TuMePJlaH if you could assist Thrust in resolving this issue, that'd be great :)

[2021-04-18 10:51] #4700 closed

[2021-04-18 14:38] AndyHuska commented on #1457
I'm using PCL v1.10 (Ubuntu 20.04 and ROS Noetic distro version) and I
believe v1.8 behaved the same (Ubuntu 18.04 and ROS Melodic).

On Sun, Apr 18, 2021, 03:39 Kunal Tyagi ***@***.***> wrote:

[2021-04-19 06:04] TuMePJlaH commented on #4709
Thank you!
That really helped!

[2021-04-19 09:45] #2310 closed

[2021-04-20 02:01] #3999 closed

[2021-04-20 08:15] kanakab commented on #2152
@mvieth I was able to solve this by creating two different pointclouds and concatenating them. The error is resolved. Thanks for your help.

[2021-04-21 11:39] #3680 closed

[2021-04-21 14:22] MK-3PP opened #4716 "[pcl_filters, pcl_surface, ...] Access violation in VTK on dynamic library unloading."
When certain PCL modules are loaded and unloaded dynamically under Windows, there is an [Access Violation in VTK](https://gitlab.kitware.com/vtk/vtk/-/issues/18180).

The issue was initially observed in VTK 8.2 binaries that shipped with PCL 1.11.0. It was then confirmed in own builds of VTK 8.2.0 and VTK 9.0.1. It is passed on to all PCL versions using at least these VTK versions.
VTK 8.2.0, VTK

[2021-04-21 15:07] larshg commented on #4716
I cannot reproduce this, when the exe is compiled in debug and loads either debug or release version of
`vtkFiltersGeneral-9.0d.dll`.

However, if I have the exe compiled in release mode and load the debug version of `vtkFiltersGeneral-9.0d.dll` it gives the same access violation.

So could it be a mix of debug / release ?

[2021-04-21 15:29] MK-3PP commented on #4716
No, I explicitly have tested exe and library in same mode. The issue is present on matching modes on my machine. Mixed modes do fail on LoadLibrary (hMod is NULL) with my setup due to other missing libraties (CRT?).
The exe project is a fresh C++ Console Application. Platform is always amd64.

But I do remember having had mixed modes in earlier, less structured tests where I put a bunch of DLLs in

[2021-04-21 15:44] larshg commented on #4716
I just tried to create a empty console c++ project in VS2019 - and here I can't get it to load anything. But out time for now.

[2021-04-21 16:02] MK-3PP commented on #4716
**TL;DR:**
- **On my End, the issue is not triggered with exe/lib in mixed config (Dbg/Rel, Rel/Dgb), because `LoadLibrary `fails early.**
- **On my End, the issue is triggered with exe/lib in matching config (Rel/Rel, Dbg/Dbg).**

If I mix modes with a fresh setup (exe is Release, library is Debug configuration), dll loading stops at `vtkCommonCore-8.2-gd.dll` and then everything gets unloaded, b

[2021-04-22 05:56] jiaobinbin152 opened #4717 "Add tutorial for unicode support in pcl visualizer"
Original issue:
addText3D(std::string("我是谁"),position,1,255,0,0,"cubeTrackId");

don‘t work!

---

We can add a simple tutorial for unicode visualization (UTF-8, etc.). [Starting link](https://github.com/PointCloudLibrary/pcl/issues/4717#issuecomment-825855115)

[2021-04-22 06:13] kunaltyagi opened #4718 "[search] Convert "test" to benchmark"
This "test" doesn't really belong here?

It seems to capture processing times, but don't print or use them / compare them?

_Originally posted by @larshg in https://github.com/PointCloudLibrary/pcl/pull/4712#discussion_r617306815_

[2021-04-22 07:01] MK-3PP commented on #4716
Update: I have again tested mixed exe/libraries configurations and did not get them to successfully load using PCL DLLs as an entry point. This is contrary to the findings of @larshg.

[2021-04-22 08:57] MBSadeghzadeh commented on #4690
I get more than 30 thousands of compiler warnings. May it lead to slowness?

[2021-04-22 09:03] MBSadeghzadeh commented on #4690
The IntelliSense also gets ridiculously slow.

[2021-04-22 09:06] kunaltyagi commented on #4690
Please submit questions and bug requests about IntelliSense to IntelliSense :)

[2021-04-22 09:10] MBSadeghzadeh commented on #4690
But build also is slow. It takes me several minutes each time to build.

[2021-04-22 09:26] kunaltyagi commented on #4690
Answered above by mvieth. Please feel free to contribute to reduce the build time. Closing the issue since it's:
* not a bug
* duplicate of #3414

[2021-04-22 09:26] #4690 closed

[2021-04-22 09:33] larshg commented on #4716
After I created a clean c++ console app I can reproduce the error. I had to add  `| LOAD_LIBRARY_SEARCH_DEFAULT_DIRS` to the `LoadLibraryEx` for some whatever dependencies.

But it surely fail at unloading some VTK libraries.

However I don't think its a PCL issue, so probably can't do much about it, here.

[2021-04-22 09:34] jiaobinbin152 opened #4721 "[addText3D] is Support UTF-8 ?"
addText3D(std::string("我是谁"),position,1,255,0,0,"cubeTrackId");

don‘t work!

[2021-04-22 09:50] MK-3PP commented on #4716
I agree about the location of the issue in VTK, hence [my ticket there](https://gitlab.kitware.com/vtk/vtk/-/issues/18180).
But wanted to raise awareness that PCL pulled in an issue via a new dependency to VTK. And more so, while VTK is solely used for Visualization(?), the dependency is loaded even if no visualization takes place.

**It makes us uneasy, having to include 246 new VTK libraries wit

[2021-04-22 10:04] larshg commented on #4690
Visual studio is just slow, when working with projects like PCL, probably due to heavy use of templates, boost headers, eigen headers, optional qt etc. And the fact that its a huge library.

If my memory recalls me it parses more than 200.000 files.

You could try change this setting:
![image](https://user-images.githubusercontent.com/1165340/115695976-877a6500-a362-11eb-9d1c-3a957cb6721a.png)

Th

[2021-04-22 10:07] larshg commented on #4690
Ohh, I'm not sure if this setting is available in VS2015 though, I use VS2019.

[2021-04-22 10:19] larshg commented on #4716
As far as I know, the dependency for surface module has been there for quite a long time. However, its optional as long as you don't need to use `vtk_smoothing` (skimming the CMakeLists).

So you could compile PCL yourself without VTK installed?

[2021-04-22 11:14] MK-3PP commented on #4716
I fear this might be necessary. CMake projects under Windows are very painful, especially, when you have to check the resulting libraries into version control.

Last version I had configured and built was 1.8.1. I thought it came without VTK, but as it seems i just disabled it and excluded any reference to it from version control. Thanks for pointing that out.

[2021-04-22 13:50] spurnvoj commented on #2651
I can also confirm that the warning still occurs on Ubuntu 20.04/ROS noetic even with `perception_pcl` version 1.7.2
[code]

However, the warning message doesn't show on Ubuntu 18.04/ROS melodic with `perception_pcl` version 1.7.1.

[2021-04-22 14:07] alex-stonebridge opened #4722 "Line segmentation SACMODEL_LINE wrong coefficients"
Hello, I receive a point cloud from laser scanner and I want to detect a line there. I use SACMODEL_LINE to find the line and its coefficients. According the documentation, the coefficients vector has a next structure https://pointclouds.org/documentation/classpcl_1_1_sample_consensus_model_line.html
    point_on_line.x : the X coordinate of a point on the line
    point_on_line.y : the Y coordina

[2021-04-22 14:20] mvieth commented on #4721
You already opened issue #4717 with the same problem. Please do not open duplicate issues!

[2021-04-22 14:20] #4721 closed

[2021-04-22 14:23] mvieth commented on #4717
We definitely need more information to help you. In which way does it not work? Do you see an error message? A larger snippet of your code would be helpful. What PCL version do you use and how did you install it? What operating system do you use?

[2021-04-22 14:30] mvieth commented on #4722
Maybe I misunderstood you: you tried to draw a line from point (0.158, 0.001, 0.0) to point (0.007, -0.999, 0.0)?
The first three components are the coordinates of a point on the line, but the next three components are the _direction_  of the line as a normalized vector.

[2021-04-22 14:34] alex-stonebridge commented on #4722
You actually understood me correctly. However, could you please help me to come from that direction to the second point or the line equation probably. There must be some insanely simple math I suppose.

[2021-04-22 14:40] mvieth commented on #4722
The line equation could be simply `point_on_line + r * line_direction`, where `r` is a real number. So for _a_ second point on the line you can just add `point_on_line` and `line_direction`. But remember that RANSAC (and the other sample consensus methods) finds an infinite line, not finite line segment.

[2021-04-22 14:47] Bannigo opened #4723 "Running PCL algorithms on GPU"
Hello everyone,
                         I have faced some weird issues. I have been using PCL 1.8 for the past few months and it was working really nice For eg. I was able to compute an ICP registration in about 50ms. Unknowingly 2 days ago my Nvidia drivers stopped working and after doing a lot of research I was not able to fix it and I had to reinstall ubuntu 18.04. Right now my Nvidia drivers

[2021-04-22 14:49] alex-stonebridge commented on #4722
Thank you, now it works perfectly.
![image](https://user-images.githubusercontent.com/75436493/115735329-b0aeeb80-a38a-11eb-97aa-b0391ed966af.png)

[2021-04-22 14:49] #4722 closed

[2021-04-22 15:23] abellgithub opened #4724 "[custom] Question about PCD format"
I'm trying to understand the proper format of a PCD file. The [documentation](https://pcl.readthedocs.io/projects/tutorials/en/latest/pcd_file_format.html) says that ASCII output and the PCD header is delimited by the newline character. However, when I run the [sample PCD program](https://pcl.readthedocs.io/projects/tutorials/en/latest/writing_pcd.html) on Windows, it generates output with the sta

[2021-04-22 15:50] mvieth commented on #4724
Could you upload the PCD file written by the tutorial you linked? As far as I see, the PCDWriter always uses `\n`

[2021-04-22 16:07] abellgithub commented on #4724
I used the conda version of PCL on Windows 10. The code doesn't seem to open the file in binary mode for write, so I believe that `\n` will be translated to `\r\n` on Windows. Maybe I'm missing something.

[test_pcd.pcd.gz](https://github.com/PointCloudLibrary/pcl/files/6359652/test_pcd.pcd.gz)

[code]

[2021-04-22 16:26] WangZP10969 commented on #4717
@jiaobinbin152  If you mean that Chinese cannot be displayed (nothing), my experience in displaying Chinese on actor2d tells me that you can use the following code to convert string to utf8, and you need to set the font file. But for 3D text display, you can try it, I am not sure if it is feasible.

Conversion function

std::string string_To_UTF8(const std::string& String)
{
long nwLen = MultiByte

[2021-04-22 17:56] larshg commented on #4724
I have verified that carriage return is appended. See https://stackoverflow.com/questions/43481143/stdofstream-is-adding-carriage-return-cr-r-after-n-automatically.

We need to change:
`fs.open (file_name.c_str ());      // Open file`
to
`fs.open (file_name.c_str (),std::ios::binary);      // Open file`

Then it works as expected.

[2021-04-23 02:14] jiaobinbin152 commented on #4717
PCL version : 1.10.1
OS : win 10
IDE : Visual Studio 2019
Code :
  boost::shared_ptr<pcl::visualization::PCLVisualizer> viewer (new pcl::visualization::PCLVisualizer ("3D Viewer"));
  viewer->removeText3D("sample text UTF8");
  viewer->removeText3D("sample text");
  viewer->setBackgroundColor (0, 0, 0);
  viewer->addPointCloud<pcl::PointXYZ> (cloud, "sample cloud");
  pcl::PointXYZ pointUTF8(1, 1,

[2021-04-23 02:20] jiaobinbin152 commented on #4721
OK, Sorry.

[2021-04-23 02:33] jiaobinbin152 commented on #4717
Thanks WangZP10969
try to use  string_To_UTF8 ,  but  also  don’t work .

about PointSetToLabelHierarchy，I don't konw how to use? I'm only use PCLVisualizer。

[2021-04-23 06:48] WangZP10969 commented on #4717
@jiaobinbin152
I saw your program
std::string str = string_To_UTF8(std::string("我是谁"));

But I don’t see "str" being used, the string after string_To_UTF8 conversion needs to be added
viewer->addText3D(str, pointUTF8,1,255,0,0,"sample text UTF8");

If you add it, the display becomes a question mark "?", then I think you need to find a way to set the fontfile.
If you add it and nothing is displayed

[2021-04-23 08:47] Bannigo commented on #4723
I am also using filtering methods in the same registration algorithm. Is it necessary to link PCL_FILTER_LIBS somewhere in the CMakelists.txt to get efficient computations?

[2021-04-23 14:44] kunaltyagi commented on #4717
@WangZP10969 This is quite a good writeup. Could you clean the code a bit, and add that as a tutorial?

[2021-04-23 16:15] larshg commented on #4723
So you are still using PCL 1.8, then it hardly a bug in PCL. I don't think that we can help you pinpoint where the bottleneck is.
I guess it can be everything from kernel version, to Nvidia drivers etc.

[2021-04-23 16:15] larshg commented on #4723
I'll close this, but feel free to post more info / questions.

[2021-04-23 16:15] #4723 closed

[2021-04-23 16:24] larshg commented on #4716
Closing this, since its not a bug in PCL per se and VTK has closed it as well.

Hope you can manage by building PCL yourself, with VTK disabled.

[2021-04-23 16:24] #4716 closed

[2021-04-23 16:24] WangZP10969 commented on #4717
In fact, this is my experience of using VTK to display Chinese, and I currently have no experience using PCL for display.

There are two points to note when displaying Chinese in VTK:
1. std::string needs to be converted to UTF8. I found this method from the Internet, and it works.If you don’t do this, VTK won’t display anything. I guess VTK parses the string in ASCLL mode, and the corresponding c

[2021-04-23 18:53] WangZP10969 commented on #4717
I referenced the method in the blog and modified addText3D. Currently, the white text can be displayed, but I have no idea how to modify the color.
[[VTK] Display Chinese in the 3D scene of VTK 8.2](https://blog.csdn.net/h84121599/article/details/111308385)

Modifications in pcl_visualizer.hpp:
line 678:
[code]
change into
[code]
![image](https://user-images.githubusercontent.com/47802547/11591705

[2021-04-24 07:56] Bannigo commented on #4723
Can you please tell me once, what are the other things from which the performance is affected? I can try to update kernel version and also other things

[2021-04-24 10:26] RahulKumarBazia commented on #2968
apologies for the late reply. Simply open the CMakeLists.txt at /catkin_ws/src/ti_mmwave_rospkg
change the line  add_definitions(-std=c++11) to  add_definitions(-std=c++14)

[2021-04-24 17:06] larshg commented on #4723
Well, for starters there are no ICP GPU implementation, so I'm not entirely sure what you think runs on your GPU? If its CPU code you use, then maybe you have set different compiler flags, got newer / older compiler. Its really difficult to say.

[2021-04-26 08:28] jiaobinbin152 commented on #4717
Again Thanks WangZP10969 . This issure has sloved.
note: add #include <vtkImageData.h> in pcl_visualizer.hpp.

[2021-04-26 19:07] #4600 closed

[2021-04-26 22:26] lidiaxp opened #4731 "[compile error] "PCL conversions dont compile""
I trying to use a pcl with statistical filter and ROS.

I am using this [code](https://drive.google.com/file/d/1MWKKwsLDyzNMkdhi73HyXj60OHucvMnI/view?usp=sharing) with this [cmakeList](https://drive.google.com/file/d/1xmn-zw6nHZLdYBOoB29odQaZHYsnwSGr/view?usp=sharing).

When I try compile appear this error:

`collect2: error: ld returned 1 exit status
make[2]: *** [pcl_manipulation/CMakeFiles/pcl_

[2021-04-27 04:37] kunaltyagi commented on #4731
pcl_conversions is not part of this repo. It might be managed under perception_ros package, though I'm not sure.

On a side note, you didn't report the version of pcl or the actual errors that occurred.

[2021-04-27 04:37] #4731 closed

[2021-04-27 07:12] mvieth commented on #4731
Just had a quick glance at your CMakeLists.txt, the line `find_package(pcl_conversions REQUIRED)` is wrong, pcl_conversions is meant to be found by specifying it under `find_package(catkin COMPONENTS pcl_conversions ...)` which is also done in your CMakeLists.txt. The linking then happens with something like `target_link_libraries(executable_name ${catkin_LIBRARIES} ...)`.
And yes, pcl_conversions

[2021-04-27 11:08] kunaltyagi commented on #4689
I'd have preferred iterators, but raw pointers is also ok (given existing API).

Perhaps, instead of device pointer begin and end, we can offer device_offset begin and end? This will not require one check (validity of the device side pointers)
[code]

[2021-04-27 12:43] kunaltyagi commented on #4716
filters is not dependent on VTK. Packages dependent on VTK are:
* optional: 2d, apps (most of them), io, surface
* required: apps/{cloud_composer, modeler, 3d_rec_framework}, examples, visualization

You can build PCL without VTK support using the compile flag `-DWITH_VTK:=OFF`. To test if PCL was built with VTK or not, pcl_io has a define `PCL_BUILD_WITH_VTK` (check needed for conversion to/from

[2021-04-27 13:40] victor-robotic-24 opened #4732 "I can't build PCL 1.7.2 from source"
I want to install PCL 1.7 on Ubuntu 18.04 on Jetson AGX Xavier device (I don't know if that is possible).
What is the minimum compatible PCL version with Ubuntu 18.04 ?

I am trying to build PointCloudLibrary from source, following next steps:

- unzip pcl-pcl-1.7*_.tar.gz
- cd pcl-pcl-1.7*_/
- mkdir build
- cd build
- cmake ..
- **make**
- sudo make install

, but I am getting errors during **mak

[2021-04-27 13:54] mvieth commented on #4732
PCL 1.7.2 was released in 2014, 1.7.1 and 1.7.0 in 2013. So they were released long before Ubuntu 18.04, and it is unlikely that they are compatible. You can see the release dates [here](https://github.com/PointCloudLibrary/pcl/releases). PCL 1.8.1 is the "standard" version for Ubuntu 18.04, but the newest version, 1.11.1, is also compatible.
P.S. if you are getting errors, it would be good if you

[2021-04-27 15:44] lidiaxp commented on #4731
Thx for advices, I transfer the question to [here](https://github.com/ros-perception/perception_pcl/issues/325).

[2021-04-27 18:54] magres opened #4733 "Unable to link PCL as source"
**Describe the bug**

Compiled library has been linked with find_package succesfully, but with add_subdirectory as source not.

**Context**

In CMakeLists.txt
[code]
`cmake --build --target myprog .` failed.

**Expected behavior**

all the neccesary include directories and libraries has been applied, the binary `myprog` has been compiled succesfully.

**Current Behavior**

Unable to compile.

**Yo

[2021-04-28 02:40] liuzhenboo commented on #619
我解决了：catkin_make -DCMAKE_BUILD_TYPE=Release

[2021-04-28 07:58] victor-robotic-24 commented on #4732
This is the error when I execute make command:

`In file included from /_/pcl-pcl-1.7.2/registration/src/correspondence_estimation_normal_shooting.cpp:40:0:
/_/pcl-pcl-1.7.2/registration/include/pcl/registration/correspondence_estimation_normal_shooting.h: In member function ‘void pcl::registration::CorrespondenceEstimationNormalShooting<PointSource, PointTarget, NormalT, Scalar>::getKSearch() con

[2021-04-28 08:51] mvieth commented on #4732
That specific error is fixed since PCL 1.8.0 (see [this commit](https://github.com/PointCloudLibrary/pcl/commit/df7c4076d909f0e1b332d36bffbad3116ceedf88)), so just use a newer version and you should be able to build PCL.

[2021-04-28 09:06] victor-robotic-24 commented on #4732
I solve that error changing the type of getKSearch() function from void to unsigned int.
But now, I am obtaining following error:

`In file included from /_/pcl-pcl-1.7.2/outofcore/include/pcl/outofcore/outofcore_impl.h:48:0, from /_/pcl-pcl-1.7.2/outofcore/tools/outofcore_print.cpp:53:
/_/pcl-pcl-1.7.2/outofcore/include/pcl/outofcore/impl/octree_base_node.hpp: In instantiation of ‘uint64_t pcl::o

[2021-04-28 09:16] mvieth commented on #4732
That has also been fixed (in [this commit](https://github.com/PointCloudLibrary/pcl/commit/850b33782dc5d8fa403c75bbb953400aa2262f85)). Unless you absolutely need PCL 1.7.2 for some reason, you should really use a newer PCL version! Otherwise you will probably have to fix many more errors like these!

[2021-04-28 19:47] mvieth commented on #4638
Closing this since it does not seem to be a PCL issue and is probably fixed by using a newer VTK version.

[2021-04-28 19:47] #4638 closed

[2021-04-28 19:49] mvieth commented on #4676
@Bannigo Are you still interested in opening a pull request? It is probably a one-line-fix

[2021-04-28 20:31] mnobrecastro opened #4734 "[common/pcl_macros.h] Overloading conflict with "void aligned_free(void *)" also present in Eigen3 lib."
### Describe the bug

Good evening everyone!
I am not sure this "ambiguous call" issue has been raised before, but while I was attempting to use the [` GeneralizedEigenSolver(const MatrixType&, const MatrixType&, bool)`](http://eigen.tuxfamily.org/dox/classEigen_1_1GeneralizedEigenSolver.html) from the `Eigen` lib (which belongs to the `<Eigen/Eigenvalues>` module), I came across this overloading

[2021-04-28 20:47] larshg commented on #4724
@abellgithub can you somehow test the linked PR? Can you ask conda to use a specific git checkout perhaps?

[2021-04-28 22:27] abellgithub commented on #4724
I'm sorry but I'm not currently in a position to test this fix. But I simply ran the referenced test program on Windows. You should be able to link it with your changed code and check the output.

[2021-04-29 07:38] jiaobinbin152 opened #4736 "[PCLVisualizer] "when mouse click，get coordinate of clicked point""
like the picture:
![image](https://user-images.githubusercontent.com/40234331/116516994-e448c300-a900-11eb-8c43-26260845da75.png)

[2021-04-29 11:35] mvieth commented on #4736
We really need more information. Is this a bug report? Or a feature request? Is this not working as it should or do you want this as a new feature? According to the title, you are talking about the PCLVisualizer, right?

[2021-04-29 11:46] mvieth commented on #4734
Thank you for this fantastic and very informative bug report! It seems to me like putting `aligned_free` (and `aligned_malloc`) in the pcl namespace would be the best solution. It would be great if you could try that out and see if it fixes the problem for you.

[2021-04-29 15:48] mathislm opened #4739 "pcl::SupervoxelClustering gives Segmentation Fault on extract"
**Describe the bug**
I get a segmentation fault when doing superVoxelCluster.extract().

**Context**
I'm trying to perfom supervoxel segmentation on a point cloud. For now I'm using the pcd file from https://pcl.readthedocs.io/en/latest/supervoxel_clustering.html to make sure the problem is not coming from my point cloud.

My environment is a bit special. I'm using cython to wrap my cpp code (incl

[2021-04-29 17:02] mathislm commented on #4739
Ok so I did a bit of digging and I found that that seg fault occures on line 406 of supervoxel_clustering.hpp :
[code]
It's strange because I happen to also use KdTreeFLANN in an other function, which is working perfectly well

I would really appreciate some insight on this bug.

[2021-04-29 19:33] kunaltyagi commented on #4734
`aligned_{malloc,free}` are used in PCL for just recognition (linemod). With some refactoring, we might be able to eliminate that. For now, a temporary fix would be to move the free functions to pcl namespace.

I believe, this is an oversight (of keeping the functions outside the namespace, perhaps since the header is for macros only) on our part.

[2021-04-29 19:48] mvieth commented on #4739
Can you try switching from `PointXYZRGB` to `PointXYZRGBA`?

[2021-04-29 19:49] #4724 closed

[2021-04-30 02:06] jiaobinbin152 commented on #4736
YES，I'm talking about thePCLVisualizer. I want to implement the function。

[2021-04-30 07:05] mathislm commented on #4739
Seg faults as well !

I'll try to compile the exemple from https://pcl.readthedocs.io/en/latest/supervoxel_clustering.html on it's own without cython.

[2021-04-30 07:19] mathislm commented on #4739
Okay... that is annoying... it seems to works when I just compile it with CMake with no trace of cython. Do you know the extra compilation arguments that might add CMake ? If I know them I might be able to make it work with cython

[2021-04-30 07:26] mvieth commented on #4739
[See this](https://stackoverflow.com/questions/2670121/using-cmake-with-gnu-make-how-can-i-see-the-exact-commands) on how to display the exact commands that cmake and make execute. I can't help you with cython though.

[2021-04-30 07:42] mvieth commented on #4736
Do you want to implement the function yourself or are you asking that someone else implements this? If you want to implement it, then sure, you are welcome to open a pull request. If you are asking that someone else implements it, we can leave this issue open and see if someone is interested to do it.
What I don't fully understand about your proposed feature yet: when the user clicks, should the c

[2021-04-30 14:00] mnobrecastro commented on #4734
Thank you for the quick help and for the kind words. The ```namespace pcl``` fix on the ```PCL``` side works indeed for both ```aligned_{malloc,free}```:

[pcl/common/include/pcl/pcl_macros.h](https://github.com/PointCloudLibrary/pcl/blob/master/common/include/pcl/pcl_macros.h) (lines 379-415)
[code]

As a quick note, before applying the pcl fix, I managed somehow to trigger another ```aligned_fre

[2021-04-30 15:44] larshg commented on #2415
Can we close this one @kunaltyagi ?

[2021-04-30 17:34] kunaltyagi commented on #4734
@mnobrecastro would you be interested in getting the PR started?

[2021-05-01 09:26] mvieth commented on #4594
The pull request I linked above should fix the problem, and the current master should compile fine. So I am going to close this, but if you still get these errors, feel free to reopen or comment.

[2021-05-01 09:26] #4594 closed

[2021-05-01 18:28] mnobrecastro commented on #4734
Dear @mvieth and @kunaltyagi, I have done the PR as agreed. Thank you guys!

[2021-05-02 16:56] mvieth commented on #4732
I believe I answered the question sufficiently. If you still have problems while compiling a newer PCL version (at least PCL 1.8.1), feel free to comment or reopen this issue.

[2021-05-02 16:56] #4732 closed

[2021-05-02 20:30] larshg commented on #4485
@9and3 Got any luck? Mind if I close this one?

[2021-05-02 22:24] 9and3 commented on #4485
Hello @larshg, I am still working on a good solution, for now I am mixing RANSAC and ICP, but I will be glad to post my solution on the discord channel as soon as I got one. Thanks for asking by the way.

[2021-05-03 04:02] taehongjeong opened #4743 "[PolygonMesh::concatenate(...)] indices are improperly handled"
Dear PCL maintainers,

I believe that I've encountered a bug in the `PolygonMesh::concatenate` method below:

https://github.com/PointCloudLibrary/pcl/blob/e1664a4ba63107b2c5ca10bc4137c5a8f73ae0b5/common/include/pcl/PolygonMesh.h#L30-L57

Here, the `point_offset` should have computed before the concatenation of points **(at L33)**.

https://github.com/PointCloudLibrary/pcl/blob/e1664a4ba63107b2c5c

[2021-05-03 14:10] drhpc opened #4744 "[recognition] External metslib support intentionally broken — remove the check for it?"
**Describe the bug**

I noticed that the build of pcl-1.11.1 detects a present metslib in the system and claims to use it, but the
one header that references metslib is using the 3rdparty one that is shipped with pcl but not installed in this case.

The commit https://github.com/PointCloudLibrary/pcl/commit/4fdd12b0669347b51c83d00bbdccc9a82fd37372 killed the former way of referencing the system me

[2021-05-04 06:30] Nizarft commented on #2877
@onier where did you add this flag?

[2021-05-04 07:10] #4734 closed

[2021-05-04 07:21] mvieth commented on #4743
Thank you for this bug report. It seems like pull request #4572 will fix this, can you confirm?

[2021-05-04 08:36] taehongjeong commented on #4743
Thank you for your quick response! The PR is exactly what I want.
I see the original author has not responded so far.
I guess I can take over the PR.
Let me add an accompanying unit test (mentioned in https://github.com/PointCloudLibrary/pcl/pull/4572#issuecomment-759314689).

[2021-05-05 07:17] mvieth commented on #4739
I am going to close this issue since there does not seem to be a problem in PCL. If you do find a problem after all, feel free to reopen. Also, feel free to comment if you solve the cython problem because it might help someone in the future with the same problem.

[2021-05-05 07:17] #4739 closed

[2021-05-05 07:19] mvieth commented on #4743
That would be great if you would create such a test!

[2021-05-05 07:33] mvieth commented on #4558
Closing this due to lack of feedback and since it does not seem to be a problem in PCL.

[2021-05-05 07:33] #4558 closed

[2021-05-05 08:23] mvieth commented on #3936
Sorry that you did not get an earlier answer.
If you still need it (or if anyone else faces this problem): please have a closer look at [the documentation of getOBB()](https://pointclouds.org/documentation/classpcl_1_1_moment_of_inertia_estimation.html#a86e92ba5fc831ebbe4c106e1e0c60a8b). You basically get the rotation matrix by giving it as the last argument of the function. As a side note: if you

[2021-05-05 08:23] #3936 closed

[2021-05-05 08:49] mathislm commented on #4739
I sorry I forgot to follow up. I fixed my problem. For some strange reason the import order in my python code was important. I suppose some of PCL's libraries were changed to older/newer versions, so I made sure to import my wrapper after Numpy and OpenCV.
Thanks !

[2021-05-05 11:48] #4547 closed

[2021-05-06 07:48] taehongjeong commented on #4743
Instead of adding a new test, I've fixed the existing one.
I've made a new PR #4745. Please have a look.
Also, if my PR would work and be merged, I think it would be better close the original PR #4572.

Thank you for your efforts!

[2021-05-06 08:14] jiaobinbin152 commented on #4736
Yes! I want to ask that someone has implements it。

[2021-05-06 16:47] mvieth commented on #3303
I can't think of any reason why this might happen, and the google drive link does not work any more. Without any data to reproduce this, it is impossible to find out what goes wrong. I am going to close this issue. If you @Dinatorehanova or anyone else with the same problem can post a new link with data to reproduce this, we can see further.
Also for reference: the same issue in perception_pcl: ht

[2021-05-06 16:47] #3303 closed

[2021-05-06 19:17] mvieth commented on #3796
In case you or anyone else still has this problem: I tried your code (with appropriate file names) and was able to open both files (stl and obj), e.g. with blender or MeshLab. `pcl::PolygonMesh` does not store any color/texture information, but `pcl::TextureMesh` does. However, PCL can currently only read TextureMesh from OBJ files, and write TextureMesh to OBJ files. I hope that helps.

[2021-05-06 19:17] #3796 closed

[2021-05-06 20:21] mvieth commented on #3080
Closing this due to lack of information. If you still have this problem, please open a new issue with a better description.

[2021-05-07 11:28] mvieth commented on #2944
Sorry that you did not get an earlier answer. The implementation is done. `bins` is a temporary storage that is used to look up whether a bin is empty or not (which is done by `insertIntoBins`), or more precisely, whether a new sample falls into an empty bin. But after all particles are selected, it is not important to know which bins are non-empty. You might also want to have a look at the paper

[2021-05-07 11:28] #2944 closed

[2021-05-07 11:37] larshg commented on #4736
It should be possible to register an event, see:
https://github.com/PointCloudLibrary/pcl/blob/master/visualization/src/point_picking_event.cpp

You can also search on google, it seems there are some hits there as well.

[2021-05-07 16:33] SunBlack commented on #4265
16.04 has reached the end of standard support on April 30 (see [here](https://lists.ubuntu.com/archives/ubuntu-announce/2021-March/000266.html)), so we can start to remove it, or? So no PCL 1.11.2 is planed, right?

[2021-05-07 16:46] kunaltyagi commented on #4265
No 1.11.2 is planned, and we've already removed 16.04 CI

[2021-05-07 17:46] Jinjing98 opened #4749 "pcl_viewer visualise intensity for .pcd file with XYZI data"
Hello,
I know that we can visualize a .pcd with the **intensities** by using the PCL library, however,is there any way by using the terminal 'pcl_viewer' since it makes it a lot easier.So my .pcd file is x,y,z,intensity.
pcl_viewer works well for x,y,z,r,g,b data but I would really like to visualize the intensity for my XYZI data.

 Thank you in advance!

[2021-05-07 20:01] larshg commented on #4749
I think if you just supply your pcd file, then you can change what to visualize/color by pressing 1,2,3,4,5.
1 is all random
2 is X values
3 is Y values
4 is Z values
5 is intensity

Hope that works?

[2021-05-07 20:02] larshg commented on #4749
However, with the test cloud I just used, I'm not sure what the colors represents, but maybe you can figure it out 😄

[2021-05-08 15:16] mvieth commented on #3053
@nlgranger I created a pull request to add the documentation. If you would have a look at it and say whether it is good, that would be very helpful.

[2021-05-08 17:56] mvieth commented on #3053
Great, thank you for your opinion!

[2021-05-08 22:34] Jinjing98 commented on #4749
Thanks soo much!
Yes it works now. So basically 2,3,4,5 are visualizing the point cloud based on the x,y,z,intensity values. I am sure about it by checking several points by having the command like this  " pcl_viewer 1620399384820519.pcd -use_point_picking"  so as to interact.

[2021-05-10 04:26] #4749 closed

[2021-05-10 11:05] Kush-Sh commented on #4687
Go to solution properties -> C++ -> preprocessor -> Preprocessor Definitions and copy paste this,
_CRT_SECURE_NO_WARNINGS

This might help you!

[2021-05-10 23:37] kunaltyagi commented on #4689
Device side resize might be faster than data upload/download latency

[2021-05-11 03:58] y9luiz commented on #4459
Add this line to

pcl/sample_consensus/impl/sac_model_circle3d.hpp

`typedef EIGEN_DEFAULT_DENSE_INDEX_TYPE Index;`

And be happy :)

[2021-05-12 08:30] #3053 closed

[2021-05-12 09:48] OrdinaryChen opened #4756 "Is all pcl point type's x y z base on float? what should I do if I need double ...."
my data is really big, and it has 7 decimal places before the decimal point and 4 decimal places after the decimal point. when I use pointcloud XYZ, it lost precision, I think I need double , so what should I do...

[2021-05-12 10:46] mingyangpeng opened #4757 "pcl with open3d incompatible"
- OS: [Ubuntu 18]
 - Compiler: [ GCC 7]
 - PCL Version [ 1.11 ]
 - Open3d Version [0.12]

**Possible Solution**

It's normal for me to use the PCL library alone, but when I introduce the third-party library open3d, the system prompts that the PCL library can't be found or an error is reported

"terminate called after throwing an instance of 'std::bad_alloc'
  what():  std::bad_alloc"

or

"undefin

[2021-05-12 14:53] mvieth commented on #4756
All of PCL's native point types use float for x, y, and z. You can create your own point type with double precision, but only few functions and classes will work correctly with double precision since PCL is designed for float/single precision (which is faster and accurate enough in most situations).
Regarding your situation: How did you notice that you "lost precision"? Where do you get your data

[2021-05-12 16:27] OrdinaryChen commented on #4756
thanks alot for your anwser, so, what you think about, if I downloads sourse file and replace all "float" with "double" in sourse code and make it by cmake. will I get a pointcloud library can deal with double?

[2021-05-12 16:31] mvieth commented on #4756
Possibly, but that would be _a lot_ of work. Are you sure you need double precision?

[2021-05-12 16:37] OrdinaryChen commented on #4756
I have 3 choice. 1 remake source file .&nbsp; 2 offset the data which is difficult to decided how much to offset 3 leave pcl to use another library&nbsp; like open3d.&nbsp; is open3d use float or double？I think I need double .&nbsp; I work with map data and GPS value is big . it always&nbsp; over million

---Original---
From: "Markus ***@***.***&gt;
Date: 2021/5/13 00:31:40
To: ***@***.***&gt;;
Cc

[2021-05-12 16:51] mvieth commented on #4756
No idea about open3d, but [it seems like they use float as well](http://www.open3d.org/docs/release/cpp_api/classopen3d_1_1ml_1_1contrib_1_1_point_x_y_z.html)
Big values are not necessarily a problem for float. The largest value a float can represent is 3.402823e+38. Whether the precision is enough for you depends on what you want to do with your data, what algorithms you want to use, etc.

[2021-05-12 17:00] OrdinaryChen commented on #4756
I know pdal use double... I did not know details of float. but when I give 3375876.5445 to a float value it become 3375876.5000 today I remember.

[2021-05-12 18:06] mvieth commented on #4756
An offset might really be a good solution then. The exact offset probably does not matter that much, you could for example just choose any point as an offset, or use a round value like 3375800, or a point at the centre of all the points.

[2021-05-13 04:43] kunaltyagi commented on #4757
I'm inclined to close the issue. Please use discord for this discussion.

Potential solution to cmake error: Make visualization a required component of PCL in your find_package command

---
Reasons for closing:
* No minimum complete verifiable example
* 2 errors, one runtime and one link time. Not feasible
* incomplete snippets
* downstream PCL is checked and works for several other projects
* Git

[2021-05-13 04:43] #4757 closed

[2021-05-13 19:27] #4743 closed

[2021-05-14 09:47] SunBlack commented on #4265
Just to mention: Ubuntu 18.04 (focal) just have [GCC 7.4](https://packages.ubuntu.com/search?keywords=gcc&searchon=names&suite=all&section=all) and [Clang 6.0](https://packages.ubuntu.com/search?suite=all&section=all&arch=any&keywords=clang&searchon=names)

But we could think about switching to C++17 (most things of C++17 are [delivered](https://en.cppreference.com/w/cpp/compiler_support#C.2B.2B17

[2021-05-14 10:01] kunaltyagi commented on #4265
Switch to C++17 also depends on our downstream users (ROS being a big one, stuck on c++14).

The default use of C++17 in gcc is promising. We might move to that once C++17 is default in oldest STL. Till then, we'd have to keep C++17 usage in cpp files (linking across different standards (and gcc versions with complete support) is safe. See [this SO question](https://stackoverflow.com/questions/467

[2021-05-14 12:43] Bannigo commented on #4676
I am actually interested in doing it. But I don't know the procedure. Besides sorry for the late reply, I am a bit stuck in writing my thesis.

[2021-05-14 12:59] mvieth commented on #4676
No problem, good look with the thesis!
The procedure is like this (very condensed):
1. Fork this repository, clone the fork to your computer
2. Create a new branch in git and switch to it
3. Make the change
4. Make a git commit with the change
5. Push the commit and create the pull request. If you use the git terminal tool, it will offer a link to create the pull request when you push

If you don'

[2021-05-15 08:26] mvieth commented on #2578
Sorry that you did not get an earlier answer. I am not able to reproduce your problem. The error in VoxelGrid::applyFilter is the main issue, everything after that is caused by that. That can only appear if the VoxelGrid is instructed to additionally filter by a field ([see here](https://github.com/PointCloudLibrary/pcl/blob/39732f5a7c8455ed51fd0f6278d8b25322a68dd9/filters/include/pcl/filters/impl

[2021-05-15 08:26] #2578 closed

[2021-05-15 16:01] FabianSchuetze opened #4759 "[GPU::DeviceArray] Subscript Operators and Iterators to facilitate leveraging GPU implementations"
When I converted existing PCL code running on the CPU to leverage GPU implementations, I realized that such adjustments could be smoother. I would therefore like to suggest two addition to the `DeviceArray<T>` API.

Firstly, a subscript operator:
[code]
Subscript operators are particularly convenient for converting existing PCL code running on the CPU to code leveraging GPU implementations. For ex

[2021-05-15 21:12] larshg commented on #4687
Seems there are unrecognized characters in the code file. Not sure if this also impacts the problem. `VTK_RENDERING_BACKEND_OPENGL_VERSION` seems to be correctly defined, but shows as an error, but works here and on soon to merged med docker CI.

I don't recognize this as in bugs in PCL, but settings locally in Visual studio. Closing it, but feel free to add more information and continue discussio

[2021-05-15 21:12] #4687 closed

[2021-05-15 21:20] larshg commented on #4468
Sorry for late answer, but we don't really support mingw builds and we don't have an CI to test it with. I have seen other build using mingw, however they might have used dynamic linking - have you tried this?

[2021-05-15 21:21] larshg commented on #4349
@tonifds did you solve this challenge?

[2021-05-17 02:42] #1752 closed

[2021-05-17 02:43] jiaobinbin152 commented on #4736
Thank larshg.
search on google, find the Solution。

viewer->registerPointPickingCallback(pp_callback, nullptr);
void pp_callback(const pcl::visualization::PointPickingEvent& event, void* ptr)
{
    if (event.getPointIndex() != -1)
    {
        float x, y, z;
        event.getPoint(x, y, z);
        print("x:%f, y:%f, z:%f",x,y,z)

    }
}

I'm china. Reference：https://blog.csdn.net/liang583206/ar

[2021-05-17 05:19] larshg commented on #4736
Thanks for reporting back. Closing as I think its "solved"? Else feel free to re-open.

[2021-05-17 05:19] #4736 closed

[2021-05-17 07:50] mvieth commented on #3383
Closing this due to lack of feedback and because the problem could not be reproduced.

[2021-05-17 07:50] #3383 closed

[2021-05-17 12:20] mvieth commented on #3196
Sorry that you did not get an earlier answer. It seems like the linking to the Ensenso SDK and to `pcl::EnsensoGrabber` goes wrong. Without seeing your CMakeLists.txt, it is difficult to say why exactly. It could be something wrong in there. Maybe have a look at https://github.com/PointCloudLibrary/pcl/blob/master/tools/CMakeLists.txt and https://github.com/PointCloudLibrary/pcl/blob/master/doc/tu

[2021-05-17 12:20] #3196 closed

[2021-05-17 23:45] themightyoarfish opened #4762 "[octree] OctreePointCloudDensity cannot be used"
**Context**

This program does not link:
[code]

**Expected behavior**

Program using `OctreePointCloudDensity` should link correctly.

**Current Behavior**

[code]

**To Reproduce**

[code]

**Your Environment (please complete the following information):**

 - OS: macOS 10.15.7
 - Compiler: clang 12.0.0
 - PCL Version 1.11.1

**Possible Solution**

This seems like some template instatiation probl

[2021-05-18 00:09] themightyoarfish commented on #4762
There's [this file](https://github.com/PointCloudLibrary/pcl/blob/master/octree/src/octree_inst.cpp) where instantiation of this container is seemingly removed, but I can't figure out what to instantiate explicitly in my client code.

[2021-05-18 09:25] kunaltyagi opened #4763 "[Docker] Ubuntu CI builds failing"
**Describe the bug**

Recently added wget command fails. Link to error:
https://dev.azure.com/PointCloudLibrary/pcl/_build/results?buildId=19012&view=logs&j=02e31b63-97df-57da-5c5b-409d1f33cda8&t=3198efe3-d7f9-5c6d-757b-14de2e7a3e6f&l=7394

Most probable error:
`wget -q0- https://...`

@SunBlack

[2021-05-18 09:39] SunBlack commented on #4763
It is a missing `;`, already solved locally for #4747 ;-)

[2021-05-18 11:43] larshg commented on #4687
I just met this error when building a down-stream project, which reference the VCPKG version of PCL.

I think the reason is that Visualization is disabled in VCPKG at the moment and it leads to:
`#define VTK_RENDERING_BACKEND_OPENGL_VERSION ` being just defined, but not as 1 or 2 which it is supposed to.

So you'd have to remove PCL from VCPKG and compile PCL from source, having only the dependenc

[2021-05-18 12:02] larshg commented on #4762
I can verify this.
If you include

[code]

it should work - I just get it working.

[2021-05-18 12:04] larshg commented on #4762
@kunaltyagi and @mvieth should the two (hpp) includes be added to the octree_pointcloud_density.h file?

[2021-05-18 13:06] #4394 closed

[2021-05-18 13:17] mvieth commented on #4517
Fixed by pull request #4540

[2021-05-18 13:17] #4517 closed

[2021-05-18 13:17] mvieth commented on #4603
Fixed by #4540

[2021-05-18 13:17] #4603 closed

[2021-05-18 19:15] mvieth commented on #4762
I think only including `octree_pointcloud.hpp` should be enough, right?
`OctreePointCloudSinglePoint` (`octree_pointcloud_singlepoint.h`) seems to have the same problem.

[2021-05-19 00:52] CherrryJ commented on #3680
So……is there has any solution???

[2021-05-19 05:16] larshg commented on #4762
Yes, it seems that it sufficient with `octree_pointcloud.hpp`.

[2021-05-19 05:33] kunaltyagi commented on #4763
Can we hostfix that before the weekend run?

[2021-05-19 05:39] kunaltyagi commented on #3680
#4431 has been merged. For now, please see if you can apply that as a patch. Else use master branch till PCL 1.12 is released

[2021-05-19 08:53] SunBlack commented on #4763
Anything we need todo? Will be changes to a Docker script within a PR automatically pushed?

Btw: The [next](https://dev.azure.com/PointCloudLibrary/pcl/_build/results?buildId=19020&view=results) build was successful.

[2021-05-19 12:53] mvieth commented on #3697
I think this was added in https://github.com/PointCloudLibrary/pcl/commit/0dfb3fc736702ead544efbcfaef9b93b81a83d59

Although I am not sure about setting the index size to 32 bit fixed for PCL 1.12.0 and later. Would that not technically break everything on systems where `sizeof(int) != 4` (if such a system exists)? What is the reason behind this?

[2021-05-19 20:09] #4763 closed

[2021-05-19 21:29] kunaltyagi commented on #3697
I think Windows would be that platform

The data type are not the same between platforms, so files written by one are not portable (from windows to Linux).

Actual benefits:
* Internal API uses constant sizes, opening up a few type trait tricks for serialization, memory mapping io files, etc.(faster IO)
* Guarantee that the files written on windows can be read on linux and vice-versa if the same c

[2021-05-20 07:57] mvieth commented on #3697
Really? [This table](https://en.wikipedia.org/wiki/64-bit_computing#64-bit_data_models) (and everywhere else I looked) says that most systems including Windows use 32 bit ints.
I generally agree with your assessment. But if there is a system where `sizeof(int) != 4` (so `int != pcl::index_t`), since most user programs probably still use `std::vector<int>` instead of `pcl::Indices` for indices vect

[2021-05-20 12:22] larshg commented on #466
Closing as lack of response. I have encountered something similar in #4619. I suggest opening a new issue, if it still present for master or any more recent version.

[2021-05-20 12:22] #466 closed

[2021-05-20 14:39] kunaltyagi commented on #3697
Oh, I was mistaken. Windows has `long int` as 32 bit same as `int`. That was the difference in behavior I was thinking of.

If the users are on SILP64 or ILP64, we can't really support them. (We don't even have CI for them. We extensively use `int32_t` explicitly in our codebase, so they must be facing a huge issue anyways) Since it'd be a major release, I do hope the users and platform distributi

[2021-05-20 14:48] mvieth commented on #3697
:+1: Alright, that is convincing. Then I am okay with setting PCL_INDEX_SIZE to fixed 32 bit. Feel free to close this issue if you also think no further work on this is needed.

[2021-05-20 19:43] BaltashovIlia commented on #4699
Hi,

I have compared the performance of different KNN libraries using modified nanoflann random benchmark tool. The test was to find 7 NN for 100k points in another cloud of the same size.

Performance rating from best to worst:

- flann – cuda
- libnabo – opencl
- libnabo – cpu
- nanoflann – cpu
- flann – cpu
- fastann – cpu
- libkdtree - cpu

A few comments:
- flann-cuda is a bit harder to get t

[2021-05-20 19:58] WildRackoon commented on #4699
I've been diving in those codebases a bit, indeed @tkircher concern over CPU vs GPU is a real issue depending on the application.
We need to find a good way to dissociate those two use cases.

[2021-05-21 07:17] larshg commented on #4265
Should we require Eigen 3.3.7 as we install that specifically on our CI's? Even though 3.3.4 is still default on 18.04? (however its only for the GPU modules).

[2021-05-21 08:46] mvieth commented on #4383
What is the situation here? Do you still have this problem or can this issue be closed?

[2021-05-21 08:57] kunaltyagi commented on #4265
Can we add a find_package again in GPU modules? That could solve the issue of this disparity.

[2021-05-21 09:08] kunaltyagi commented on #3697
Thanks. I didn't actually know the impact of this change in detail before you restarted the conversation :)

[2021-05-21 09:08] #3697 closed

[2021-05-21 09:19] larshg commented on #4265
We can surely check the version and disable GPU/CUDA and display a warning, why its disabled?
However, the problem about accidently making use of 3.3.7 feature/bugfix which is not in 3.3.4 is possible as we don't have CI's with 3.3.4.

[2021-05-23 12:08] themightyoarfish opened #4770 "[core] PointCloud::getMatrixXfMap() has incorrect documentation"
[The doc](https://pointclouds.org/documentation/classpcl_1_1_point_cloud.html#ada3e021bcb3f4d8d62ea3f00324fc126) states

However I have found this to be incorrect:
[code]
The matrix has a shape of (4, 397), instead of (397, 4) as the documentation states.

[2021-05-23 12:13] themightyoarfish commented on #4770
I can see in the code
[code]
that the behaviour differs depending on storage order; but Eigen uses col major by default, so I'm not sure how the first branch will ever be executed.

[2021-05-25 08:36] mathislm opened #4773 "[SupervoxelClustering] Extracting super voxels creates new points"
**Describe the bug**

When displaying the result of the extraction, there are new points that appear.

**Context**

I'm trying to perform LCCP segmentation and I needed to display the super voxels to see the effect of each parameters. When I display the clusters with a very simple iterator, I get new points that appear seemingly randomly.

**Expected behavior**

I suppose there should be no new po

[2021-05-25 12:02] mvieth commented on #4773
:laughing:

Can you share the cloud you are using as a PCD file? That is necessary to reproduce your problem.
Have you tried out the [supervoxel clustering tutorial](https://pcl.readthedocs.io/projects/tutorials/en/latest/supervoxel_clustering.html) with your point cloud?
Is it possible that the points have been there before, but you just did not see them?

[2021-05-25 12:35] mathislm commented on #4773
Sure, here is the point cloud. It should be noted that I did a few pre-processing steps with this point cloud before. This explain why you won't have the gray plane.

1. Decimation
2. Rotation here is the rotvec in radian for this point cloud.
3. Plane segmentation using classic pcl::SACSegmentation
4. Selection of the points above the plane using pcl::ExtractPolygonalPrismData

[point_cloud.zip](

[2021-05-25 15:26] kunaltyagi commented on #4265
That is reasonable. Link to release notes for list of bugfixes: https://eigen.tuxfamily.org/index.php?title=ChangeLog#Eigen_3.3.7

[2021-05-25 16:09] mathislm commented on #4773
Update : I tried running the tutorial but I get a segfault I can't fix !
[code]
If anyone has some insight on that, I'd love to hear. Thanks

[2021-05-25 18:40] tin1254 commented on #4164
@MuhongGuo Are you still interested in pushing a PR?

[2021-05-26 07:01] mathislm commented on #4773
Update : I managed to make the tutorial work ! I don't get the new points, and the adjacency displayed is not strange like in my picture. I'll look at the difference between the 2 codes.

[2021-05-26 13:51] larshg commented on #2642
WITH_QT enables finding the Qt package and use it accordingly.

[2021-05-26 13:51] #2642 closed

[2021-05-26 14:18] larshg commented on #2721
Solved by #4682 and #4754.

[2021-05-26 14:18] #2721 closed

[2021-05-26 14:26] larshg commented on #3810
Closing as I don't think its a bug in PCL.

[2021-05-26 14:26] #3810 closed

[2021-05-26 14:30] larshg commented on #4583
@dezbracaty is this still an issue?

Is there a bug on both? or is it the windows vs kubuntu version? Why don't you use the same code on both?

[2021-05-26 14:33] larshg commented on #4486
Closing as lack of response and it is build on Macs CI's.

[2021-05-26 14:33] #4486 closed

[2021-05-26 14:46] larshg commented on #4379
I don't think this is a bug, but hopefully #4767 enforces it better.
However, if Qt5_FOUND is set to true, and the target Qt::OpenGL or other targets that is used, is not defined for some reason, it would still produce errors.

[2021-05-26 14:46] #4379 closed

[2021-05-27 09:21] foxnemo commented on #4513
I got the same problem. but I think it may relative with windows system setting. I had run  same code in laptop and desktop and vmware in in laptop. the Desktop and vmware is ok, and the laptop is crash when vtk visualized. All the VS setting and PCL setting are same. Only OS system setting is different by the hardware

My environment:
Laptop:
OS: Win10 21H1
Device: ThinkPad E580, Intel i7-8550U,

[2021-05-27 10:18] larshg commented on #4513
@foxnemo Could you maybe try run with PCL master and VTK 9 and see if that works?
Seems to be a bug with VTK and specific hardware, rather than a bug or misuse in PCL.

[2021-05-27 15:45] Me817 opened #4780 "Use picture from documentation for paper"
Hello,

I am writing a paper in a seminar at university and I would like to use the picture showing the original object and the one showing the reconstructed mesh from [in-hand scanner](https://pcl.readthedocs.io/en/latest/in_hand_scanner.html#in-hand-scanner). May I use these images stitched together into one image in my paper with the appropriate reference?
I am looking forward to hearing from y

[2021-05-28 07:30] kunaltyagi commented on #4780
Yes. Please feel free to use any part of PCL in your research, as long as you cite us. I've added the bibtex blurb for your convenience.

[2021-05-28 07:30] #4780 closed

[2021-05-28 10:39] jinneigeyu opened #4782 "when i was reading the souce code of StatisticalOutlierRemoval ,i had a question ,why the pcl::search::OrganizedNeighbor need to calculate project matrix , someone help me? thanks"
file : organized.h
` setInputCloud (const PointCloudConstPtr& cloud, const IndicesConstPtr &indices = IndicesConstPtr ()) override
        {
          input_ = cloud;

          mask_.resize (input_->size ());
          input_ = cloud;
          indices_ = indices;

          if (indices_ && !indices_->empty())
          {
            mask_.assign (input_->size (), 0);
            for (const auto&

[2021-05-28 10:43] jinneigeyu commented on #4782
I think the point cloud is organized , so when it needs to serch nearby, just  use the index point . why  calculate projective matrix .
and usualy the   projective matrix is not accurate .

[2021-05-28 12:16] mvieth commented on #4782
The projection matrix and other helper matrices that are calculated in `estimateProjectionMatrix` are used during radius search and nearest neighbour search.
Please ask these kind of questions in the discord community chat.

[2021-05-28 12:16] #4782 closed

[2021-05-29 00:47] jinneigeyu commented on #4782
yes, i know it was used in searching points. but  i no not  understand why in nearest neighbour searching, when need to calculate distance of query point nerghbours. each point was projected.  (the " **pcl::search::OrganizedNeighbor<PointT>::nearestKSearch** "function , in the file " organized.hpp ",  line 130)

  // project query point on the image plane
  //Eigen::Vector3f q = KR_ * query.getVec

[2021-05-29 00:50] jinneigeyu commented on #4782
why the index : xbegin and ybegin need project .

[2021-05-31 08:37] foxnemo commented on #4513
@larshg No, I met this bug just when I run a demo case. I'm sure the code is ok.

And I'm sure this is only relate with OS setting, because it's totally ok when I reinstall OS in my laptop.

before I do the OS, I had compare windows system environment variable in desktop and laptop. on the PCL part is same, so i doubt it may cause by some other deep setting in OS. But after reinstall, there is no

[2021-05-31 08:46] larshg commented on #4513
So this could also have been a driver issue?

@PointCloudLibrary/maintainers Should we close this, as a "not an issue in PCL"?

[2021-05-31 09:12] foxnemo commented on #4513
@larshg No, I met this bug just when I run a demo case. I'm sure the code is ok.

And I'm sure this is only relate with OS setting, because it's totally ok when I reinstall OS in my laptop.

before I do the OS, I had compare windows system environment variable in desktop and laptop. on the PCL part is same, so i doubt it may cause by some other deep setting in OS. But after reinstall, there is no

[2021-05-31 09:15] foxnemo commented on #4513
I'm not sure. I try 3 version of gpu driver, but all of them is not ok, and new OS also use one of them but ok. the rest driver is same.

[2021-05-31 10:17] larshg commented on #4513
Hm. okay. Sounds for sure wierd. Thanks for info.

[2021-05-31 12:25] mvieth commented on #4773
@mathislm Did you make any progress? Is it possible that the parameters you used caused the problem? I am also not totally sure how `getMatrixXfMap` behaves if there are non-float values (R, G, B, A) in the point, and whether your function to display the matrices handles that, so maybe try to rewrite your code to not use `getMatrixXfMap` (if you haven't found a solution yet).

[2021-05-31 15:58] al-tu commented on #2597
hello, had problems building current pcl master when using clang + cuda. moving boost.mpl headers out of #ifdef solves the problem
https://github.com/PointCloudLibrary/pcl/pull/4783

[2021-05-31 16:02] al-tu commented on #2597
i can try moving all other headers as well, but what is important is that i'm not ci covers all possible cases and some configurations may render broken after these changes (like the configuration i used, though i guess this particular case is never guaranteed to be ok because of c++20)

[2021-06-01 04:11] kunaltyagi commented on #4759
When would you upload the memory? If it's done every iteration, that would be quite slow, right?

[2021-06-01 04:12] kunaltyagi commented on #4759
This would be good to have

[2021-06-01 07:29] #4762 closed

[2021-06-01 14:14] mvieth commented on #1470
Fixed by #4774

[2021-06-01 14:14] #1470 closed

[2021-06-02 08:46] mvieth commented on #4148
Closing this due to no feedback. If you still have this problem, feel free to comment/reopen this issue/open a new issue.

[2021-06-02 08:46] #4148 closed

[2021-06-02 12:59] kunaltyagi commented on #2597
We're in the process of removing use of such include files. This issue will soon be defunct

[2021-06-04 09:11] DavidRobb opened #4789 "[custom] No easy way to provide a donation to help fund the project :-)"
I'm raising funds to support various projects that are useful to me:

https://www.justgiving.com/crowdfunding/100pcvatfreebridge

PCL is one of the current beneficiary projects. I would like to distribute some of these funds but can't find an easy way to do so for the PCL project.

[2021-06-05 02:48] DyumanAditya opened #4790 "[compile error] "Undefined reference to pcl::NarfKeypoint""
**Describe the error**

Hi everyone,
I get the following error while trying to use the Narf keypoints. The code I'm trying to compile is found in [this tutorial](https://pcl.readthedocs.io/projects/tutorials/en/latest/narf_keypoint_extraction.html#narf-keypoint-extraction):
[code]

**To Reproduce**
Copy the code from [this tutorial](https://pcl.readthedocs.io/projects/tutorials/en/latest/narf_keyp

[2021-06-05 08:56] mvieth commented on #4790
It seems like the problem is simply that you don't link against the `keypoints` module. You mention that you updated the CMakeLists.txt provided in the tutorial - in which way did you update it? How does your CMakeLists.txt look now? Maybe have a look at [this tutorial](https://pcl.readthedocs.io/projects/tutorials/en/latest/using_pcl_pcl_config.html) to find out how you can request all or just so

[2021-06-05 13:05] mvieth commented on #4789
Thank you very much for considering a donation to PCL! We will set something up, that might take a while, though.

[2021-06-06 03:33] #4770 closed

[2021-06-06 10:59] DyumanAditya commented on #4790
Thank you for your reply, I'm sorry, I was not clear in my first post: I didn't change anything in the cmakelist.txt.
I solved the problem by uninstalling pcl and re-installing it again.

[2021-06-06 10:59] #4790 closed

[2021-06-06 11:16] mvieth commented on #1667
Fixed by #4642

[2021-06-06 11:16] #1667 closed

[2021-06-07 05:31] kunaltyagi commented on #4744
Sorry for the delay. Please go ahead with the bug fix PR.

Sadly, such errors can go unnoticed since we don't test with all PnC on our CI

[2021-06-07 08:27] drhpc commented on #4744
https://github.com/PointCloudLibrary/pcl/pull/4792

[2021-06-09 11:13] adamanov commented on #4072
CUDA team developed some part of PCL, which include three CUDA-accelerated PCL libraries:
- CUDA-ICP
- CUDA-Segmentation
- CUDA-Filter

[Accelerating Lidar for Robotics with NVIDIA CUDA-based PCL ](https://developer.nvidia.com/blog/accelerating-lidar-for-robotics-with-cuda-based-pcl/)

[2021-06-09 11:56] pettaa123 opened #4795 "[visualizer] qt_visualizer tutorial doesn't work"
I tried to use tutorial qt_visualizer. The points weren't displayed in renderwindow.
I had to change pclviewer.h from:

[code]
to:
`typedef pcl::PointCloud<pcl::PointXYZRGB> PointCloud;`

Othwerwise no pointcloud was visible in renderwindow.

 - OS: [e.g. Ubuntu 20.04]
 - PCL Version [e.g. 1.10.1] built from source
 - VTK 8.2.0 built from source

[2021-06-09 12:20] kunaltyagi commented on #4072
Disclaimer: These "libraries" are binary dumps and not supported by PCL. Furthermore, PCL has not been approached by Nvidia team(s) for any extended support/collaboration/upstream support, etc. and has received no response from Nvidia on being asked for the same.

[2021-06-09 13:04] larshg commented on #4795
So this could be something with the alpha channel, making the points transparent?

[2021-06-09 16:38] WangZP10969 commented on #4795
[https://gitlab.kitware.com/vtk/vtk/-/issues/18083#note_886067](url)
For the disappearance of transparent objects, I have encountered a similar situation when the virtual machine is running, for reference only.
When using vtk to display directly, turning on accelerated 3D graphics will cause objects whose transparency is not 1 to be displayed.
The opposite is true when using vtk+qt display. Turnin

[2021-06-09 18:48] rwbot opened #4798 "OctreePointCloud*** functionality for complete voxelization"
My goal is to take a point cloud of a space with volume 1m^3^  and discretize it in 1cm^3^ voxels and have a data structure containing **each and every** 1cm^3^ voxel, regardless if it's empty or occupied, so quite literally a grid of voxels, like the image below.
![Cube Grid](https://www.physicsforums.com/attachments/22fig03-jpg.141632/)

I've tried using the VoxelGrid class, but it returns only

[2021-06-10 04:37] kunaltyagi commented on #4795
@pettaa123 if you can reproduce this, we can go ahead and close the issue.

[2021-06-10 08:09] pettaa123 commented on #4795
I changed the tutorial code:
`    // Fill the cloud with some points
    for (auto& point: *cloud)
    {
        point.x = 1024 * rand () / (RAND_MAX + 1.0f);
        point.y = 1024 * rand () / (RAND_MAX + 1.0f);
        point.z = 1024 * rand () / (RAND_MAX + 1.0f);

        point.r = red;
        point.g = green;
        point.b = blue;
        point.a = 255; //added this line
    }`
Now the poin

[2021-06-10 08:21] Today20180409 commented on #605
I had the same problem compiling PCL 1.7 on raspberry pi. Especially when I spent 8 hours compiling it to 90%, it made me crazy.
I installed metslib manually，now I will uninstall it, and try again.

[2021-06-10 08:23] mvieth commented on #4798
Can you describe your use case a bit more? What do you want to do with the voxels? Do you e.g. want to put something into the voxels?
Usually, leaving the unused parts of the space empty makes the octree more efficient.

[2021-06-10 08:48] kunaltyagi commented on #4795
Thanks, your code showed me a place where you might have accidentally created a 100% transparent point. Made a PR to fix that

[2021-06-10 21:04] tin1254 commented on #4798
+1

But based on your description, does `getLeafLayout`, `getCentroidIndexAt` and `getLeafLayout` in `VoxelGrid` look right to you? `getCentroidIndexAt` returns point index if the voxel is occupied or -1 if empty

[2021-06-10 22:04] tin1254 commented on #4798
Yes. I guess both `VoxelGrid` and `Octree` can achieve your goal.

For `Octree` you can look at `isVoxelOccupiedAtPoint` in `OctreePointCloud` (base of `OctreePointCloudOccupancy`), if all you want is to query a voxel is empty or not

[2021-06-11 00:58] #4795 closed

[2021-06-11 08:40] mvieth commented on #4798
@rwbot Have you considered using a simple 3D array, maybe something like `std::uint8_t voxels[100][100][100]`, or similar with `std::array` or `std::vector`, or even with `std::vectory<bool>` if you want a very space-efficient solution and only care about occupied/not-occupied? Since you work on a discretized grid, not with continuous points, and don't need/want the adaptive voxelization that an o

[2021-06-15 20:30] mvieth commented on #4773
@mathislm Is this problem solved? If I don't hear anything from you, I will consider it solved and close this issue.

[2021-06-16 08:07] mathislm commented on #4773
I'm sorry for leaving this issue un-attended. I figured that since superVoxelCluster.getLabeledCloud() gives me a proper point cloud, I didn't need to dig deeper. The problem with the adjacency is still here but I don't use it. Sadly I don't really have time to help with understanding where the issue was coming from, so I'll close the issue. I might re-open it if I find the time to dig. Bye

[2021-06-16 08:07] #4773 closed

[2021-06-16 18:47] #4798 closed

[2021-06-17 08:17] pettaa123 opened #4803 "[segmentation] ExtractPolygonalPrismData doesnt work with ConvexHull"
I dont get any inliers using ExtractPolygonalPrismData with ConvexHull, even if with easy test data.
I saw [1137](https://github.com/PointCloudLibrary/pcl/issues/1137) but this didn't solved my issue.
If there are still some restrictions on the polygon(closed,open,whatever) this should be added to:
extract_polygonal_prism_data.h

System:
Ubuntu x64 20.04
libqhull7
PCL 1.10.1

testcode:

[code]

[2021-06-17 08:51] pettaa123 commented on #4803
issue can be closed. Can't reproduce anymore.

[2021-06-17 08:51] #4803 closed

[2021-06-18 14:38] TangToy opened #4805 "[Windows] PCLVisualizer cannot display point cloud correctly"
I am using PCL 1.8.1, VS2017+Qt 5.9.9. I am creating a relatively big project. I am using PCLVisualizer to display point clouds and it worked well before. After I link Libtorch to my project, I found I cannot clear point clouds, such as the codes:
`
bool _r = viewer->removeAllPointClouds();
`
the return value _r is true, however, the point cloud cannot be removed, it is still on the window.
Beside

[2021-06-20 23:57] rwbot opened #4806 "[octree] OctreePointCloudChangeDetector Rounding Voxel Centers"
**Describe the bug**

`pcl::octree::OctreePointCloudChangeDetector::getOccupiedVoxelCenters()` rounds voxel centers to nearest multiple of the resolution.

**Context**

Using resolution of `0.01m`, the voxel centers should be multiples of `0.005m`, but returned voxel centers are rounded to nearest hundredth (0.01m), which would be considered the boundary between two voxels, rather than the center

[2021-06-21 03:49] MattSYoung commented on #2303
I've recently encountered this problem when trying to include `octree_key.h` in Ubuntu 20.04 with ROS2 and PCL 1.10. The specific error I get is:

[code]

I haven't yet figured out how to compile my code with `-fms-extensions` set. But so far I've tried:

1. Using `#pragma GCC diagnostic warning "-pedantic"` and similar
2. Compiling my code in C++14

And none of those have gotten me past this comp

[2021-06-21 07:57] mvieth commented on #4806
You seem to have the impression that the octree grid always starts at (0,0,0), e.g. in case of resolution=0.01 that there is a voxel from (0, 0, 0) to (0.01, 0.01, 0.01) with centre at (0.005, 0.005, 0.005), and so on. But this is not the case: to efficiently represent any point cloud, no matter whether it is near the origin or not, the octrees in PCL store a bounding box (a minimal axis-aligned b

[2021-06-21 12:23] mvieth commented on #4806
Due to the nature of the octree structure, there cannot be an arbitrary number of same-size voxels along one edge of the bounding box, it always has to be a power of two. So e.g. 1/0.01=100 is not possible. The length of the returned box is 1.14+0.14=1.28, divided by the resolution 0.01 that is 128 (power of two). If the resolution does not have to be exactly 0.01, you could set it to 1/128=0.0078

[2021-06-21 23:12] JoeWise commented on #2211
Has there been any progress on this?

[2021-06-22 01:09] tin1254 commented on #2211
@JoeWise We are working on this currently as a [GSoC project], the rewrite will be finished before the end of August. The resulting `VoxelGrid` would be

1. Allow user to provide their own grid to the class, e.g.: https://github.com/PointCloudLibrary/pcl/issues/2044
2. Increased performance
3. Probably also solve the [limited filtering range issue](https://github.com/PointCloudLibrary/pcl/issues/4

[2021-06-23 09:50] HongchunSun opened #4808 "Does the pcl1.11.1 supports to MacBook Pro M1 (macOS 11.4) ?"
I got a MacBook Pro M1 (macOS 11.4), and I want to use PCL to test the project. I can install PCL 1.11.1 successful, using commend `brew install pcl`. But could not comple. So dose the pcl 1.11.1 supports to M1 macbook (macOS 11.4)?

[2021-06-23 09:51] kunaltyagi commented on #4808
We haven't tested PCL with ARM (and MacOS), so we can't say yes. However, PCL works without issues on Linux ARM.

[2021-06-23 10:03] HongchunSun commented on #4808
ok, I will track the error. Thank you!

[2021-06-23 19:08] JoeWise commented on #2211
That's great to hear! I'm specifically looking for a solution to the limited filtering range issue, so I'm hoping you'll be able to find a solution to that. Thank you for your service!

[2021-06-23 20:32] tin1254 commented on #2211
@JoeWise May I know how large is your point cloud and the targeted leaf size? We are still discussing whether we should further increase the filtering range

The current implementation already allows at least 62km filtering range with a leaf size of 3cm

[2021-06-24 01:12] rwbot opened #4811 "[question] [sample_consensus] Finding points that fit a cuboid of known dimensions"
How would I go about finding points that fit a cuboid of known dimensions?

I've looked in https://pointclouds.org/documentation/group__sample__consensus.html and there are models for spheres, cylinders, even a torus, but how come there isn't one for a basic cube? Does RANSAC not support that or is there another method of detecting cubes superior to ransac? Thanks!

[2021-06-24 01:13] #4806 closed

[2021-06-24 02:43] kunaltyagi commented on #4808
If you find any errors, please report back to us :)

[2021-06-24 02:43] #4808 closed

[2021-06-24 06:08] HongchunSun opened #4812 "[custom] M1 macOS 11.4 could not use PCLVisualizer"
M1 macbook pro, macOS 11.4
install pcl using the comment `brew install pcl`

test code
[code]

cmake list
[code]
cmake is ok; when make, getting error is
[code]
But the pcl_viewer application is useful, in `/opt/homebrew/Cellar/pcl/1.11.1_8/pcl_viewer.app/Contents/MacOS`
[code]
can view the example, as follow
![image](https://user-images.githubusercontent.com/32856956/123210874-3a974400-d4f5-11eb-

[2021-06-24 06:27] HongchunSun commented on #4812
It's, work. Because I am not link the visualization library.
correct cmake list
[code]

[2021-06-24 06:27] #4812 closed

[2021-06-24 07:48] mvieth commented on #4811
For such questions or if you want to discuss how you can use PCL in your own project, please use the [discord community chat](https://github.com/PointCloudLibrary/pcl#community).

In one step of RANSAC and related algorithms like MSAC, LMEDS, etc., the model coefficients are computed from a set of sampled points. E.g. 3 points are chosen from the cloud, and then it is possible to compute the uniqu

[2021-06-24 07:48] #4811 closed

[2021-06-27 10:56] FabianSchuetze opened #4817 "[custom] Possibilitiy of adding fast KDtree (or other clustering algorithm) to the GPU module?"
In thread  #4677, @larshg mentioned that the revised GPU clustering runs faster than before but is slower than the CPU version. The CPU version is based on a KD-Tree, while the GPU version relies on an Octree. I was looking for fast GPU implementation of KD-Tree but did not found a convincing one. Moreover, I was not sure if something like this exists. I thus wanted to ask if somebody with more ex

[2021-06-27 12:17] FabianSchuetze opened #4818 "Harmozing the API of the usual and gpu octree to faciliate swapping implementations easily"
When working with the GPU and CPU versions of the octree class, I had to make several modifications to my codebase before running the same data on both host and device. In this ticket, I would first like to document the necessary changes based on the (abridged) [octree tutorial](https://pointclouds.org/documentation/tutorials/octree.html). Furthermore, I thought of a few ways to harmonize APIs to

[2021-06-27 15:14] #2703 closed

[2021-06-27 15:14] #2871 closed

[2021-06-27 15:38] mvieth commented on #4817
I recently found http://ann-benchmarks.com, which however mainly tests CPU implementations, but the readme on Github hints toward https://github.com/facebookresearch/faiss, which has a GPU implementation. I haven't looked into that at all so no idea if that is useful for us, but it may be a starting point for you if you are interested in this.

[2021-06-27 17:04] FabianSchuetze commented on #4817
Ha! Fantastic, thank you, Markus! I was hoping to get exactly such an answer and I will definitely look into faiss.

[2021-06-27 21:57] kunaltyagi commented on #4818
Ideally, for speed, batch operations are preferred. In these cases, we need to figure out how to combine the single-operations into a batch op.

These sound like good ideas :)

[2021-06-28 16:58] FabianSchuetze commented on #4818
Thanks for the great comments, Kunal! I will work on this and look forward to doing it :-)

[2021-06-28 20:11] larshg commented on #4818
Please have a look at https://github.com/PointCloudLibrary/pcl/pull/4338 from @haritha-j. I think those where close to be merged, but its some time since I last looked at it 😄

[2021-06-29 05:56] yokinglou opened #4820 "[compile error] "Can't find "pcl/test/gtest.h".""
I installed PCL on Ubuntu18.04 with command `sudo apt install libpcl-dev`.

I tried to run test programs under `pcl/test/features`, but the error raises:

[code]

I locate the files in `/usr/local/include/pcl-1.11/pcl/`, but can not find the test directory.

Is there anything else I need to install?

[2021-06-29 18:38] mvieth commented on #4820
`libpcl-dev` on Ubuntu 18.04 has version 1.8.1. But it also seems you have some 1.11 version installed? Did you compile it from source? Having multiple versions installed might lead to problems.
That header only exists since PCL 1.10.1.
How exactly did you try to compile/run the test program?
You also need to install `libgtest-dev`, but the error message is unrelated to that.

[2021-06-29 23:00] yaadhavraajagility opened #4822 "1.11.0 still requiring Boost?!"
[code]

I thought boost was removed?

[2021-06-30 01:44] kunaltyagi commented on #4822
No, boost can't be removed, but we removed stuff that required boost despite it being present in stdlib

[2021-06-30 02:59] yokinglou commented on #4820
I install `libgtest-dev` and solve this problem.
Thanks.

[2021-06-30 02:59] #4820 closed

[2021-06-30 07:48] FabianSchuetze commented on #4818
Thank you so much, Lars, for the comment. The work looks already great! @haritha-j  it seems that you have done a lot of fantastic work already, and you are close to the finish line. Do you want to take another look at it?

[2021-06-30 08:12] haritha-j commented on #4818
Actually yes, I would quite like to finish this off, I should've done it earlier. I should have some free time after the next couple weeks to finish it off, it would be very nice to have the ability to get square distances from this.

This might require a fair bit of changes IMO because I believe it's used to allocate memory for storing results at present.

[2021-06-30 10:03] songgod opened #4823 "Region growing bug??"
https://github.com/PointCloudLibrary/pcl/blob/d98313133b014553ab1b1b5b112f9aade837d55c/segmentation/include/pcl/segmentation/impl/region_growing.hpp#L530

"initial_point - nghbr_point" should be normalize.

[2021-06-30 12:59] mvieth commented on #4822
Adding to Kunal's answer, `boost::shared_ptr` was replaced with `std::shared_ptr` for example. Other things from boost are not replaceable (yet), e.g. the boost filesystem module could earliest be replaced with equivalent classes and functions from `std` with C++17 (PCL currently uses C++14).

[2021-06-30 16:51] FabianSchuetze commented on #4818
Fantastic, @haritha-j ! Thank you for finishing this! I am curious to see how it ends up.

Thank you also for your evaluation of the max_results parameter. I will also take a look to form a better opinion about this.

[2021-06-30 17:09] FabianSchuetze commented on #4759
I close this as the same is discussed in #4818 and will open a more detailed one once a PR is ready.

[2021-06-30 17:09] #4759 closed

[2021-06-30 19:20] mvieth commented on #4822
I think that answers the question, so I am closing this issue. If there is still something unclear, feel free to comment.

[2021-06-30 19:20] #4822 closed

[2021-06-30 19:24] mvieth commented on #4718
For anyone interested: benchmarks are added now, you can orient yourself at the existing benchmark(s).

[2021-06-30 19:58] mvieth commented on #4823
The idea with the residuals is described in the paper (https://www.isprs.org/proceedings/XXXVI/part5/paper/RABB_639.pdf) in sections 2.1.1 and 2.1.2. A residual is the distance of a point to a plane, which is n * p - rho. In the code, n = initial_normal, p = nghbr_point, and rho = initial_normal.dot(initial_point). The sign is switched, but that does not matter because of the abs. So I don't see a

[2021-07-01 06:28] kunaltyagi commented on #4718
Added a new label for the new module. Should have done that before :)

[2021-07-01 06:32] kunaltyagi commented on #4805
PCL 1.8 is not supported. Please verify this issue with a recent version of PCL (preferably PCL-1.12 rc1)

[2021-07-01 11:13] songgod commented on #4823
sorry, my understanding about the idea is wrong. the idea is perfect.
thanks for you reply.

[2021-07-01 11:17] #4823 closed

[2021-07-01 13:06] wnederpel opened #4826 "[segmentation] "Implement ConditionalEuclideanClustering class""
**Is your feature request related to a problem? Please describe.**

I am encountering a problem when using the `RegionGrowing` class. In my code I use this class to segment a point cloud into regions which are then projected to a fitted plane so hulls can be created around the regions using the `ConcaveHull` class. My problem occurs when a region consist of points which are not closely spatially c

[2021-07-01 14:16] nvibd opened #4827 "[surface] Marching cubes tool crashes with std::bad_alloc when using RBF reconstruction"
The tool `pcl_marching_cubes_reconstruction` works with the default (Hoppe) reconstruction. However, it crashes when using the RBF marching cubes algorithm (`-rbf` option).

I'm using a slightly modified version, where I replaced point cloud loading and saving with PCL's own PLY reader / writer.

**Context**

I'm trying to reconstruct a mesh from a point cloud with normals.

**Expected behavior**

[2021-07-01 18:49] mvieth commented on #4827
`MarchingCubesRBF` tries to [create a 2N by 2N double matrix](https://github.com/PointCloudLibrary/pcl/blob/master/surface/include/pcl/surface/impl/marching_cubes_rbf.hpp#L56), where N is the number of points (573801 in your case). The whole matrix would be 1.0535922*10^13 bytes large (you can find this number as a size parameter in your gdb output), over 9000 GB.
I had a quick look at the paper (

[2021-07-02 01:06] UnaNancyOwen opened #4830 "[visualization] some warnings will be displayed with VTK 9"
**Describe the bug**

If you build PCL with VTK9, you will see some warnings when app runtime.
These warnings are caused by the use of deprecated features to be removed in the future of VTK.

**To Reproduce**

1. install [PCL 1.12.0 RC1](https://github.com/PointCloudLibrary/pcl/releases/tag/pcl-1.12.0-rc1) with VTK 9.
2. run [tutorial code](https://github.com/PointCloudLibrary/pcl/tree/master/doc/

[2021-07-02 02:25] kunaltyagi commented on #4830
Pinging @larshg

TLDR:
Need to replace `vtkOpenGLPolyDataMapper` with `vtkOpenGLShaderProperty` to use
*  `{Get,Set}FragmentShaderCode `
* `{Get,Set}VertexShaderCode `
* `{Get,Set}GeometryShaderCode `

[2021-07-02 02:27] kunaltyagi commented on #4830
Questions in my head:
* Can we move this to 1.12.1 if no API/ABI is affected?
* Should we just disable warnings?

[2021-07-02 08:09] nvibd commented on #4827
Thank you very much for your thoroughly elaborated answer. I was not aware of the memory scaling of the algorithm from the docs and didn't bother to look in the source code directly.

Since these are more exploratory experiments, I don't have enough resources to implement an improvement in the memory scaling. Downsampling the cloud would be a relatively easy fix, though even for 32 GB of RAM, the

[2021-07-02 08:09] #4827 closed

[2021-07-02 12:42] larshg commented on #4830
I don't think its something that we use explicitly. I at least cannot find any vktOpenGLPolyDataMapper, only vtkPolyDataMapper.
I think its a warning from VTK internal use, please see https://discourse.vtk.org/t/vtk-9-0-rc1/2916.

I would say, that its up to the users to silence those warnings - or would you add it to the PCLVisualizer?

[2021-07-02 15:00] KotaYonezawa opened #4831 "[Filters] Incorrect random calculation in VoxelGridCovariance::getDisplayCloud"
**Describe the bug**

Thanks a lot for great library.
I found an issue in VoxelGridCovariance::getDisplayCloud(), very useful function for visualizing NDT voxel covariance.

**Context**

I think following code is not correct.
(voxel_grid_covariance.hpp, line 450)

[code]
This line should be modified as follows, I supposed.
[code]

By this issue, covariance of each NDT cell looks too big on display

[2021-07-03 01:10] kunaltyagi commented on #4830
Oh, ok, we can ignore them. For the binaries, we should explicitly silence them, and for the libraries, add this to release notes that the warnings are not ours.

[2021-07-03 01:57] UnaNancyOwen commented on #4830
If there are no problem and no bad effect turning VTK_LEGACY_REMOVE to ON in PCL, we can turn it on in VTK included in PCL All-in-one Installer.

[2021-07-03 02:25] kunaltyagi commented on #4830
I don't know about switching on the flag universally because that also hides the warnings in user-only code as well

[2021-07-03 02:47] UnaNancyOwen commented on #4830
This is report. I tried this https://github.com/PointCloudLibrary/pcl/issues/4830#issuecomment-873326759.
I built PCL that linked VTK with VTK_LEGACY_REMOVE turned ON. But, the user code that uses it did not work well. Therefore, this idea does not seem good.

[2021-07-03 15:28] KangChou opened #4832 "mak---->error: epcl_poisson_reconstruction.dir/all] Error 2 Makefile:170: recipe for target 'all' failed make:"
### OS and ENV:
ubuntu16.04
cuda11
python3.6
cmake-3.19
vkt8.2
QT5.12.0

`[ 72%] Built target pcl_match_linemod_template
Scanning dependencies of target pcl_poisson_reconstruction
[ 72%] Building CXX object tools/CMakeFiles/pcl_poisson_reconstruction.dir/poisson_reconstruction.cpp.o
[ 72%] Linking CXX executable ../bin/pcl_poisson_reconstruction
../lib/libpcl_surface.so.1.11.1.99: undefined refere

[2021-07-03 15:33] mvieth commented on #4832
Please edit that title!
Please also add more information about your environment: What OS? Ubuntu? How are you trying to compile this? What version of Qhull do you have installed, and how did you install it?

[2021-07-03 19:59] robocopkaka commented on #2601
I spent the past 2 days trying multiple solutions to get a Ruby gem to install and this was the one that helped.

[2021-07-04 16:42] mvieth commented on #4831
Thank you for the great description! I agree that the variance should be `1.0`, not the leaf size norm. Would you create a pull request to fix this?

[2021-07-04 19:47] larshg commented on #4703
Seems the tutorial code works with multiple views, so closing this again.

[2021-07-04 19:47] #4703 closed

[2021-07-05 04:04] KangChou opened #4835 "[compile error] Linking in pcl_{filters,surface} failed due to undefined reference to `qh_zero`"
### OS and ENV:
ubuntu16.04
cuda11
python3.6
cmake-3.19
vkt8.2
QT5.12.0

### make -j4---->error：

`[ 51%] Linking CXX executable ../bin/pcl_viewer
[ 51%] Building CXX object filters/CMakeFiles/pcl_filters.dir/src/radius_outlier_removal.cpp.o
../lib/libpcl_surface.so.1.11.1.99: undefined reference to `qh_zero'
collect2: error: ld returned 1 exit status
tools/CMakeFiles/pcl_poisson_reconstruction.di

[2021-07-05 04:10] KangChou commented on #4832
### OS and ENV:
ubuntu16.04
cuda11
python3.6
cmake-3.19
vkt8.2
QT5.12.0

[2021-07-05 05:04] KangChou commented on #4835
### cd--->pcl--->make
`/pcl/build# make -j4
[  0%] Building CXX object io/CMakeFiles/pcl_io_ply.dir/src/ply/ply_parser.cpp.o
[  0%] Building CXX object people/CMakeFiles/pcl_people.dir/src/hog.cpp.o
[  0%] Building CXX object io/tools/CMakeFiles/pcl_pcd_convert_NaN_nan.dir/pcd_convert_NaN_nan.cpp.o
[  0%] Building CXX object common/CMakeFiles/pcl_common.dir/src/point_types.cpp.o
[  0%] Linking CXX

[2021-07-05 07:00] kunaltyagi commented on #4835
Did you install QHull?

[2021-07-05 07:42] mvieth commented on #4835
Is this the same problem as in the previous issue #4832 ?
It seems you are using the current git master version, but we are not supporting Ubuntu 16.04 (which you are using) any more, because it is officially end-of-life (https://en.wikipedia.org/wiki/Ubuntu_version_history#Table_of_versions). PCL 1.11.1 is the last one that is guaranteed to work on Ubuntu 16.04

[2021-07-05 08:19] #4832 closed

[2021-07-05 08:20] kunaltyagi commented on #4835
I closed that issue. @KangChou Please don't open issues without addressing maintainer comments on previous ones.

[2021-07-05 08:51] kunaltyagi commented on #4830
Did you try VTK_LEGACY_REMOVE with pcl_visualizer?

[2021-07-05 13:20] KotaYonezawa commented on #4831
Thanks a lot for comment.
I'm not so familiar with github, but I tried to create pull request.
If something wrong, please let me know.

[2021-07-06 07:00] kunaltyagi opened #4837 "Add a benchmark for Passthrough/cropbox vs a Functer filter version"
Code is present in the issue, just need to make a PR of that. #4247

_Originally posted by @kunaltyagi in https://github.com/PointCloudLibrary/pcl/issues/4833#issuecomment-873934606_

[2021-07-06 09:21] #4831 closed

[2021-07-07 08:45] Rapyuta-ConnorPerrin opened #4838 "[pkg-config] Provide a single package-config `.pc` file for all pcl libraries"
`pkg-config` with pcl needs to be informed of each individual library. It's quite bothersome

**Expected behavior**

`pkg-config --cflags pcl` should return the cflags for all PCL libraries

**Current Behavior**

Need to call `pkg-config --cflags pcl_common` and so on

**Additional context**

Every module's CMakeLists.txt creates a pkg-config. This can be done by creating a fake module which depen

[2021-07-07 20:05] mvieth commented on #4835
I am going to also close this issue. There are essentially two options to solve this:
1. Update your Ubuntu to something newer than 16.04, then you can also use the newest PCL versions. I would recommend this because, as mentioned, Ubuntu 16.04 is generally not supported any more
2. If you can't/don't want to update your Ubuntu for some reason, PCL 1.11.1 is the newest version you can use

[2021-07-07 20:05] #4835 closed

[2021-07-07 23:09] b15h0y opened #4841 "Linking error while using LUM."
Got the following while calling `lum.addPointCloud()`.  It's a linker error.
[code]

CMakeLists.txt contains the following:
[code]

the output from `cmake ..`

[code]

Any idea how to fix this?

[2021-07-07 23:11] kunaltyagi commented on #4841
You aren't finding registration to link to. Also, PCL 1.3? That's a bit old, isn't it?

[2021-07-07 23:14] b15h0y commented on #4841
I followed the tutorial [here](https://pcl.readthedocs.io/projects/tutorials/en/latest/using_pcl_pcl_config.html#using-pcl-pcl-config) . Used `brew install pcl` which should install the latest version `1.11`

[2021-07-08 04:51] larshg commented on #4841
Try call it like `find_package(PCL 1.11 REQUIRED)` (find all modules) or like `find_package(PCL 1.3 REQUIRED COMPONENT common io registration visualization)` to find the also required module registration.

[2021-07-08 10:28] flabrosse opened #4842 "[io] origin and orientation precision when writing to file can be too low"
**Describe the bug**

The precision in PCD (and PLY) files of the origin and orientation is not the one provided to PCDWriter::writeASCII (and PLY equivalent).

**Context**

I get the origin of my sensor from RTK GPS and therefore get it at high precision.  These are converted to UTM, leading to large numbers (see below).

**Expected behavior**

When saving a PCD file with PCDWriter::writeASCII()

[2021-07-09 14:50] Lukasrulez commented on #4620
push

[2021-07-09 16:39] mvieth commented on #4620
@larshg Could you maybe have a look at this? (Windows :smile: )

[2021-07-09 17:09] larshg commented on #4620
@esteban-andrade Have you solved your issue?

@Lukasrulez Do you have some problems as the OP?
It seems that VCPKG and the All-In-One-Installer is used, which I would discourage. Use either one or the other.
Then please provide the cmake output and we can have a look at it.

For a guide using VCPKG you can try follow https://github.com/larshg/pcl/blob/UpdateWindowsTutorial/doc/tutorials/content/pc

[2021-07-09 17:36] larshg commented on #4805
If you don't link to libtorch it works fine? Kinda of hard to help with. As I don't have libtorch installed.
I'm inclined to close this, but discussion can continue.

[2021-07-09 17:37] larshg commented on #4468
Closing due to no response.

[2021-07-09 17:37] #4468 closed

[2021-07-09 19:05] mvieth commented on #4838
Could you describe your use case a bit more? Why are you calling `pkg-config`/ how are you using the cflags? Is it not possible to use cmake in your situation?

[2021-07-10 02:44] TangToy commented on #4805
Yes, when libtorch was not linked, it worked fine. Thanks.

[2021-07-10 02:44] #4805 closed

[2021-07-10 03:36] UnaNancyOwen commented on #4830
Yes, This is the report of that case. https://github.com/PointCloudLibrary/pcl/issues/4830#issuecomment-873332593

[2021-07-10 15:04] Lukasrulez commented on #4620
Problem solved after I added Flann in path again. Thanks anyway!

[2021-07-10 18:10] FabianSchuetze commented on #4817
I have research this topic more. To my despair faiss does not support a radiusSearch on the gpu, only on the cpu. To quote:

I begin to wonder  if GPUs are not suitable for such searches.

[2021-07-11 10:29] larshg commented on #4363
Ohh my, already a year since this one got posted. Feels like it was previous week 😄 @guban if you have time and still uses PCL, could you try the PR and see if it works.

[2021-07-11 10:32] larshg commented on #4349
Closing as no response. Looks a lot like https://github.com/PointCloudLibrary/pcl/issues/4620, so seems to be includes that are not found properly.

[2021-07-11 10:32] #4349 closed

[2021-07-11 10:38] larshg commented on #4278
This is fixed in https://github.com/PointCloudLibrary/pcl/pull/4017 and part of [1.11 release](https://github.com/PointCloudLibrary/pcl/blob/master/CHANGES.md#-1110-11052020-).

[2021-07-11 10:38] #4278 closed

[2021-07-11 20:05] larshg commented on #4238
This one is removed from 1.12, in this https://github.com/PointCloudLibrary/pcl/pull/4341. Closing as it is fixed and there are other alternatives described in here.

[2021-07-11 20:05] #4238 closed

[2021-07-11 20:12] larshg commented on #4237
This one is fixed by https://github.com/PointCloudLibrary/pcl/pull/4262 (VTK hard requirement) which was wrong and corrected here: https://github.com/PointCloudLibrary/pcl/pull/4656 and part of the newly 1.12 release.

[2021-07-11 20:12] #4237 closed

[2021-07-12 00:19] esteban-andrade commented on #4620
@larshg It only works with working in a single file. For Example using only a main file.

However, when using custom created classes that are built in the header files it doesnt work.
For example I created these classes with PCL in linux. And when I tried to compile it in windows it gave that error.

And Also the VCPKG package does not have the visualizer libraries, so its impossible to bring up t

[2021-07-12 05:49] echo-ee opened #4847 "GreedyProjectionTriangulation class resulting grid normals are reversed"
When I used this class to generate grids, I found that some grids were found to be opposite, resulting in the display effect of exported STL file being different from that of PCL visual window. I would like to ask if there is any method to repair the normal line

And I found that when using the same method of normal estimation, neither Poisson nor moving cube will have the opposite situation of no

[2021-07-12 05:59] larshg commented on #4620
You can install with `./vcpkg.exe install pcl --head --triplet TripletType` atleast until 1.12 is available on VCPKG.

[2021-07-12 06:00] larshg commented on #4620
Could you make a MWE where that error appears, I could try it out and see if I get same error.

[2021-07-12 19:37] guban commented on #4363
Thank you @larshg! I verified that with your PR, the convolution methods link without errors. I have also verified that I'm still getting the old errors without your PR. So, you PR works.

[2021-07-12 19:45] larshg commented on #4363
Thanks a lot for reporting back @guban.

[2021-07-14 12:57] btknzn commented on #2258
If you have the solution, could you please let me know...

[2021-07-14 17:11] DaniilSNikulin opened #4850 "[filters] CropHull::applyFilter does not clear output indices"
**Describe the bug**

In specification of FilterIndices::filter says: `Calls the filtering method and returns the filtered point cloud indices.`
However, CropHull does not return `filtered point cloud indices`. It return array what are concatenation of original data in passed array and `filtered point cloud indices`.

**Expected behavior**

According documentation for `filter` method I expect get

[2021-07-15 12:04] mvieth commented on #4841
Closing this since Lars's answer will solve the problem

[2021-07-16 15:36] #4850 closed

[2021-07-16 15:40] kunaltyagi commented on #4838
CMake isn't possible. So far, even integration with compile_commands.json looks to be quite difficult.

An example of the use-case is: https://github.com/rapyuta-robotics/jupyter_ros_utils/blob/main/cpp/notebooks/pcl-1.10.ipynb

(using C++ in Jupyter via cling interpreter)

[2021-07-16 22:06] DaniilSNikulin opened #4854 "[filter] Lost behavior with keep_organized flag in CropHull"
**Describe the bug**

According specification `pcl::FilterIndices` and all it inheritors must provide opportunity to keep structure of  filtered cloud.
Functions `pcl::FilterIndices::setKeepOrganized()` and `pcl::FilterIndices::setUserFilterValue` must changing default behavior of filter: save size and organization of filtered cloud and fill all outliers by `userFilterValue`.

**Context**

[code]

[2021-07-17 08:05] #4363 closed

[2021-07-17 12:57] kunaltyagi commented on #4830
I don't think any action is needed from our end. Let's close the issue?

[2021-07-17 16:21] mvieth commented on #3387
@kunaltyagi I would say this issue can be closed? I believe I haven't seen a CI job running out of space since we switched the Windows CI to Docker.

[2021-07-17 17:14] kunaltyagi commented on #3387
Yeah. Docker also saved a lot of time, and more coverage for windows

[2021-07-17 17:14] #3387 closed

[2021-07-17 18:05] mvieth commented on #4120
@kunaltyagi What about this issue? Since this was mainly to debug why the CI jobs ran out of memory (which does not happen any more), I currently don't really see a reason why this should be added ...

[2021-07-17 23:01] #4120 closed

[2021-07-18 03:55] kunaltyagi commented on #4842
Did you try using double (float64) instead of float?

[2021-07-18 04:07] kunaltyagi commented on #4513
This is definitely a VTK issue. Not in PCL. Closing this, but please feel free to continue discussion or potential solutions

[2021-07-18 04:07] #4513 closed

[2021-07-18 16:26] kunaltyagi commented on #4789
Liberapay added. Closing the issue

https://liberapay.com/PointCloudLibrary

[2021-07-18 16:26] #4789 closed

[2021-07-18 22:26] #4830 closed

[2021-07-19 08:29] flabrosse commented on #4842
I don't have a choice on that.  The writeASCII() functions want the location and orientation specified as Eigen::Vector4f and Eigen::Quaternionf respectively.

I am not sure the default precision for float and double of extraction operator is different though.

[2021-07-20 00:18] taoyeh opened #4856 "[custom] vcpkg boost-build:x64-windows failed"
Error: Building package boost-build:x64-windows failed with: BUILD_FAILED  How I solve this problem

[2021-07-20 00:19] taoyeh commented on #4856
error message :
Error: Building package boost-build:x64-windows failed with: BUILD_FAILED
Please ensure you're using the latest portfiles with `.\vcpkg update`, then
submit an issue at https://github.com/Microsoft/vcpkg/issues including:
  Package: boost-build:x64-windows
  Vcpkg version: 2021-07-16-3be6b75f6972aa72ca34afce39168094432ea300

Additionally, attach any relevant sections from the log f

[2021-07-20 00:52] taoyeh commented on #4856
D:\vcpkg-master>vcpkg install pcl:x64-windows
Computing installation plan...
The following packages will be built and installed:
  * boost-algorithm[core]:x64-windows -> 1.76.0
  * boost-align[core]:x64-windows -> 1.76.0
  * boost-any[core]:x64-windows -> 1.76.0
  * boost-asio[core]:x64-windows -> 1.76.0
  * boost-atomic[core]:x64-windows -> 1.76.0
  * boost-bimap[core]:x64-windows -> 1.76.0
  * b

[2021-07-20 01:13] #4856 closed

[2021-07-20 07:14] ysq0459 commented on #2808
你好，是什么问题，是添加坐标轴错误嘛

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年7月20日(星期二) 下午2:51
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [PointCloudLibrary/pcl] add vtkOrientationMarkerWidget the program will crash (#2808)

请问解决了吗，我的也是这样

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or unsubs

[2021-07-20 08:10] mvieth commented on #4842
I see two options (mainly looking at PCDWriter, but should be similar for the PLY equivalent):
1. Always write the viewpoint with high precision. Since it is only 7 numbers and trailing zeros are not printed (e.g. zero would just be `0` and one would just be `1`), this would have almost no effect on file size. The question is how many digits should be printed, [Wikipedia says that 9 would be suffi

[2021-07-20 08:30] flabrosse commented on #4842
Very good points about float vs double.  I had a similar issue a long time ago with gpsd and RTK GPS units.  I guess Vector4d and Quaterniond should be used.

As to how to allow setting the precision, I was going to implement using the one given to writeASCII(), adding an additional parameter with a sensible default to the functions that write the header.  However adding a setPrecisionViewpoint()

[2021-07-20 10:34] flabrosse commented on #4842
I have just realised that pcl_transform_point_cloud probably also does the transformation in floats rather than doubles given the banding effect I get...

[2021-07-20 12:53] mvieth commented on #4842
PCL is designed for `float` in many parts because it is faster than `double` and the precision is usually sufficient.
`Vector4f` and `Quaternionf` can't be easily replaced with `Vector4d` and `Quaterniond`, because that might break code both inside PCL and for users.
For your case: assuming that all your points are roughly in the same region, you could simply de-mean your cloud (subtract an offset

[2021-07-20 13:05] flabrosse commented on #4842
I am actually explicitly translating the pointcloud to geo-reference it.  I tried too use the viewpoint so that I would only have the large number in one location (essentially de-meaning it), which would be OK if I could have enough precision on the viewpoint.  Also, the viewpoint is only partially saved in PLY (only the location, not the orientation) and as far as I could see the viewpoint was be

[2021-07-20 19:15] mvieth commented on #4842
The orientation of the viewpoint seems to be stored under `x_axisx` and so on (`[xyz]_axis[xyz]` as a regex) as a rotation matrix.
Do you want to store the data as a binary PLY file or an ASCII PLY file?
To store the viewpoint with double precision, the header would have to contain lines like `property double view_px` instead of the current `property float view_px`, but of course it would also be

[2021-07-21 07:15] maz-1 opened #4857 "[pcl_ml] both pcl_ml and QtGui defines QMatrix"
**Describe the bug**

Both pcl_ml and qtgui defines QMatrix, if i link both pcl_ml and QtGui statically i get duplicate symbols error

**Context**

**Expected behavior**

No duplicate symbols when link both pcl_ml and qtgui

**Current Behavior**

link both pcl_ml and QtGui statically cause duplicate symbols error

**To Reproduce**

Link a cmake project with both static qt5 and pcl

**Screenshots/C

[2021-07-21 11:47] mvieth commented on #4857
Yes, renaming it or putting it into a namespace should solve the issue. Would you be interested in opening a pull request?

[2021-07-22 08:58] flabrosse commented on #4842
What about having 2 versions of the functions, with the f and d variants, one calling the other.  Surely copying a Vector4f into a Vector4d (and the same with the quaternion) is not that expensive.

[2021-07-22 14:24] xq198109 opened #4859 "Eigen::internal::aligned_free bug"
I installed the PCL-1.12.0-AllInOne-msvc2019-win64 and test the fliter function of PCL using the following code "test3", a memory problem occured when the function return and the local variable release , the debug information prompt the problem is in the function Eigen::internal::aligned_free(void *)
void test3()
{

    pcl::PointCloud<pcl::PointXYZ>::Ptr cloud(new pcl::PointCloud<pcl::PointXYZ>);

[2021-07-22 19:51] larshg commented on #4859
Could you enable AVX for the downstream project, I think this is the reason.
Its being fixed in #4698

[2021-07-23 15:47] MK-3PP opened #4860 "ISSKeypoint3D::compute crashes with OMP and 0 threads."
Hello,

pcl::ISSKeypoint3D::compute runs into an error when started with 0 threads:
[code]

Probably UB, because [this ](https://github.com/PointCloudLibrary/pcl/blob/97b0f0e63b3325bf8a19c99d0f0918b9cd86eb75/keypoints/include/pcl/keypoints/impl/iss_3d.hpp#L331)happens in PCL way before my build crashes somewhere in FLANN:
[code]

The problem is probably [here](https://github.com/PointCloudLibrary/

[2021-07-24 17:15] mvieth commented on #4860
Thank you for your bug report, I agree with your analysis. Would you open a pull request to fix this? I would suggest to put the new implementation of `setNumberOfThreads` in the hpp file, similar as it is for `NormalEstimationOMP`.

[2021-07-24 17:19] mvieth commented on #4859
@xq198109 Would also be good to know where exactly the problem happens, ideally with a stack trace or the output of a debugger

[2021-07-24 18:45] larshg commented on #4008
Close this one or update it 😄

[2021-07-25 09:27] Qiuyu-hub commented on #2808
是的，添加坐标轴时软件会崩溃，显示0xC0000005: 执行位置 0x0000000000000000 时发生访问冲突，你成功了么，可以请教一下吗

[2021-07-25 09:56] #1756 closed

[2021-07-26 08:29] pettaa123 opened #4862 "[filters] Passthrough not work for field label"
**Passthough not work for field label with PointXYZL**

I think it is desirable that one can filter a pointcloud by it's points labels.

**To Reproduce**

[code]

I expect having point (0,0,0,3) of testCloudPts in labelCloud. But it is empty.

 - OS: [e.g. Ubuntu 20.04]
 - Compiler: [GCC]
 - PCL Version [e.g. 1.10.1]

[2021-07-26 10:02] tin1254 commented on #4862
I just dive deep into the source code, the problem is the following `memcpy`. It copies `std::uint32_t` label to `float`, and resulting in `float` with 0 value.

https://github.com/PointCloudLibrary/pcl/blob/7194dd7f4c03220d0be84d37c3560d600f695113/filters/include/pcl/filters/impl/passthrough.hpp#L100-L101

I would suggest we can use`getFieldType` to avoid that problem

https://github.com/PointClo

[2021-07-26 10:58] MK-3PP commented on #4860
Pull request: #4863

[2021-07-26 11:31] mvieth commented on #4862
I am not sure if it makes sense to develop the `PassThrough` filter further, because the FunctorFilter/FunctionFilter could replace it in the long run.
@pettaa123 Maybe have a look at the `ConditionalRemoval` filter

[2021-07-26 12:33] pettaa123 commented on #4862
@mvieth thanks, ConditionalRemoval works with label.

[2021-07-27 04:40] xq198109 commented on #4859
thanks, the problem is solved by enabling AVX

[2021-07-27 05:50] #4521 closed

[2021-07-27 07:35] larshg commented on #4859
Thanks for feedback 👍

[2021-07-27 09:52] #4862 closed

[2021-07-27 10:01] #4857 closed

[2021-07-27 11:30] xq198109 opened #4864 "user define point type compliation failure"
I defined a new point type in  a header file of my of program, if i add the definition"PCL_NO_PRECOMPILE" in front of "<pcl/surface/convex_hull.h>" the program was builded failed,  the failure information prompt "pop_t" is undefined in "C:\Program Files\PCL 1.12.0\3rdParty\FLANN\include\flann\algorithms". if i move the  definition"PCL_NO_PRECOMPILE" to the back of "<pcl/surface/convex_hull.h>" the

[2021-07-27 18:54] #4860 closed

[2021-07-27 19:06] mvieth commented on #4864
The code is quite hard to read, could you format it correctly? And explain again where you are adding what code. Are you changing anything in `C:\Program Files\PCL 1.12.0\3rdParty\FLANN\...`?

[2021-07-28 05:41] kunaltyagi commented on #4842
It's not, but a quick glance shows that a lot of code would have to be changed. You're welcome to start a PR for the same, but it wouldn't be a short and easy journey getting this feature merged.

[2021-07-28 06:56] xq198109 commented on #4864
No,I do not change anything in `C:\Program Files\PCL 1.12.0\3rdParty\FLANN\...

[2021-07-28 07:09] xq198109 commented on #4864
the failure information prompt "pop_t" is undefined in "C:\Program Files\PCL 1.12.0\3rdParty\FLANN\include\flann\algorithms", so i try to add the definition of   pop_t  in the code , but it  can not work;
![image](https://user-images.githubusercontent.com/48425847/127279469-946d6193-1c6a-4d88-8da7-397c0a678a01.png)

[2021-07-28 07:33] Ice833 commented on #1623
I get this problem using ubuntu 16.04 + pcl 1.8.1, I did what you mentioned and found that my cropbox can return points being set but it just cannot crop a cloud based on these points. Extraordinary.

[2021-07-28 11:41] RT-Bow opened #4865 "Invalid build command due to semicolon in compile flags"
**Bug description**

When building PCL from source using cmake, flags can be set using the `SSE_FLAGS` variable. This variable contains a list of flags and is currently used as a string and appended to `CMAKE_CXX_FLAGS`. This can then lead to a misconfiguration of the build commands since the string conversion will keep the semicolon used as a separator in the original list, causing the command to

[2021-07-28 12:32] mvieth commented on #4865
There is a pull request in the works (#4698) which might fix this problem. It would be great if you could have a look at that and check whether anything needs to be changed.

Your bug report is good! Very detailed and even a potential fix :+1:

[2021-07-28 21:13] larshg commented on #4859
@xq198109 I think @kunaltyagi would like this issue to remain open, until a proper fix is merged to master, so please let it be open for now.

[2021-07-28 22:15] flynneva opened #4866 "[pcl::PassThrough] template type to filter"
It would be great to use the pcl::PassThrough filter to filter other non-float values (intensity, rgb, etc.) instead of just floats.

**Context**

Right now the pcl::PassThrough package only supports a min/max value for floats. It should be not too hard to implement a template to define the type to filter rather than just floats (see above for some use cases).

**Expected behavior**

User-defined

[2021-07-29 01:30] kunaltyagi commented on #4866
We're trying to remove the passthrough filter soon (hopefully, with similar or the same api).

There are 2 options I can see for your use case:
* Use `ConditionalRemoval`: Stable, should work
* Use `experimental::FunctionFilter`: Very flexible and fast, but unstable API. This is also going to be the underlying code for Passthrough filter in the future (once the API stabilizes)

[2021-07-29 03:25] flynneva commented on #4866
`ConditionalRemoval` is perfect. thanks for the info! looking forward to seeing the finished `FunctionFilter` as well...sounds interesting.

[2021-07-29 03:25] #4866 closed

[2021-07-29 12:04] kunaltyagi opened #4867 "Merge FindSSE and FindAVX cmake files"
A cleaner solution might be to unify pcl_find_sse.cmake and pcl_find_avx.cmake, and have a single variable (e.g. `ARCH_FLAGS`) that contains sse, avx, and march flags, instead of `SSE_FLAGS` and `AVX_FLAGS`. But I would say the current state of this PR still works, and in the interest of getting this merged soon I would propose to not do any major changes here.
I think the cmake options `PCL_ENABL

[2021-07-29 13:17] RT-Bow commented on #4865
Thanks, glad to help.

I had a look and you're correct, [this](https://github.com/PointCloudLibrary/pcl/pull/4698/commits/e25b64ed0c68b3cbfe422e193b5e517eb98afd28) recent commit will fix the issue. I'll resolve the issue when the PR gets through.

[2021-07-29 14:46] #4859 closed

[2021-07-29 22:49] jiapei100 opened #4868 "error: ‘openni_wrapper’ does not name a type"
**Describe the error**

Failed to build **kinfu_large_scale** whild building **PCL 1.12.0**.

**To Reproduce**

Just enable ` BUILD_gpu_kinfu_large_scale      OFF` while building **PCL 1.12.0**.

**Screenshots/Code snippets/Build information**

[code]

**Your Environment (please complete the following information):**

 - OS: Ubuntu 20.04
 - Compiler: GCC 10.3.1
 - PCL Version: 1.12.0
 - PCL Type:

[2021-07-30 00:40] kunaltyagi commented on #4865
Closed by #4698

[2021-07-30 00:40] #4865 closed

[2021-07-30 04:38] xq198109 commented on #4864
if I define PCL_NO_PRECOMPILE in front of including <pcl/filters/statistical_outlier_removal.h> , <pcl/filters/radius_outlier_removal.h>, or  <pcl/surface/convex_hull.h> ,the error come out ,  i can use pcl::PassThrough to process my user defined point type points ,but can not use pcl::ProgressiveMorphologicalFilter to process them .

[2021-07-30 16:08] vestri opened #4869 "Exception thrown when using pcl::PassThrough filter when in/out is same cloud"
**Describe the bug**

I updated PCL from 1.11.1 to 1.12.0 and got some exceptions. I simply use a  passThrough filter on a cloudPoint. It is functionning with PCL-1.11.1 (no exception thrown).

**Expected behavior**

I expect to have the same behaviour as version 1.11.1

**Current Behavior**

An exception is launch in
/** \internal Frees memory allocated with aligned_malloc. */
EIGEN_DEVICE_FUNC i

[2021-07-30 17:16] larshg commented on #4869
Its the same as for this one:https://github.com/PointCloudLibrary/pcl/issues/4859#event-5086543058

You need to enable AVX for your project.

[2021-07-30 18:13] larshg commented on #4868
Do you use OpenNI or OpenNI2?
I do  get same error and I have only OpenNI2 - on windows.

Seems it is not fully supported to switch between OpenNI and OpenNI2.

[2021-07-31 14:51] mvieth commented on #4693
Added by pull request #4698

[2021-07-31 14:51] #4693 closed

[2021-07-31 18:30] mvieth commented on #3868
As I see it, `kdtree_flann.h` is correct as it is. When using only the point and feature types that are defined in PCL, it is not necessary to include `kdtree_flann.hpp`, only `kdtree_flann.h`. On the other side, if someone wants to use PCL's components with a custom point/feature type (as it was the case here), it is necessary to either specify `PCL_NO_PRECOMPILE` or include the implementation he

[2021-07-31 18:30] #3868 closed

[2021-08-01 14:08] mvieth commented on #3547
It seems like your PCL version (1.6.0) is simply too old. If you check [here](https://github.com/PointCloudLibrary/pcl/tree/pcl-1.6.0/features/include/pcl/features), you see that the header does not exist in version 1.6.0. Seems like it was added in PCL 1.7.0.

[2021-08-01 14:08] #3547 closed

[2021-08-01 18:43] mvieth commented on #2903
I don't completely understand what you want to do. Do you want to remove the ground? Or keep the ground and remove everything else? `SACSegmentation` as you are using it tries to find a plane. To understand better what is happening in the segmentation, I would recommend to enable more logging with `pcl::console::setVerbosityLevel(pcl::console::L_VERBOSE);`. If the point cloud you are using has a s

[2021-08-01 18:43] #2903 closed

[2021-08-01 19:00] mvieth commented on #1506
Since this issue is quite old and boost 1.60 is more or less not used any more, I am going to assume that this is no longer a problem. If you or someone else still has this problem, please comment/reopen this issue/open a new issue.

[2021-08-01 19:00] #1506 closed

[2021-08-02 02:19] #4869 closed

[2021-08-02 07:39] ManChrys opened #4871 "[custom] Merge multiple Pcd files"
OS:Ubuntu 18.04

Hello,

i have a livox mid 40 which output .lvx file. I convert lvx file to bag and after that to pcd files (one for every frame), so now i have 4k pcd files. Is there any way to merge all of this frames into one file and one point cloud ?

Thanks in advance.

[2021-08-02 09:16] ryanreadbooks opened #4872 "[PCLVisualizer] try to inherit PCLVisualizer, adding custom OrientationMarkerWidgetAxes causing program crushed"
### My environment:

* windows10
* MS2017
* PCL1.8.1 + VTK-8.0
* Qt5.12.10

I tried to add a custom orientationMarkerWidgetAxes in PCLVisualizer by inheriting the PCLVisualizer class. Below lists my code.

### **The header file [content_visualizer.h] is:**

[code]

### **The source file [content_visualizer.cpp] is:**

[code]

### And I call the addCustomOrientationMarkerWidgetAxes function like th

[2021-08-02 18:52] mvieth opened #4873 "Win86 docker image fails to build on Azure"
See here: https://dev.azure.com/PointCloudLibrary/pcl/_build?definitionId=11
The Win64 docker builds successfully.
The problem is at this command, but there is no error message:
[code]

[2021-08-03 02:51] #2157 closed

[2021-08-03 03:41] WangZP10969 opened #4875 "[segmentation] High-speed Euclidean clustering method on larger neighborhood"
I am using PCL’s Euclidean clustering method, which is usually used to segment several dense point clouds with larger distances, but the PCL method takes longer to run on larger neighborhoods

I am trying a new method, first sampling the point cloud by a threshold distance, and then performing Euclidean clustering for the sampling points.
The clustering condition first satisfies the case where the

[2021-08-03 12:10] mvieth commented on #4871
The tool `pcl_concatenate_points_pcd` (source file `concatenate_points_pcd.cpp`) might be what you are looking for. But it also depends: if your 3D scanner changed position or orientation during recording or if the recorded environment changed, simply merging the files is not a good idea, instead you then might want to register and transform the frames. Also: 4k frames is a lot, I don't know how m

[2021-08-03 12:10] #4871 closed

[2021-08-03 12:22] larshg commented on #4873
Opened issue here https://github.com/microsoft/vcpkg/issues/19333

[2021-08-03 14:34] #4854 closed

[2021-08-03 14:39] kunaltyagi commented on #4875
@mvieth Thoughts?

[2021-08-03 17:06] pmdifran opened #4877 "pcl::PointCloud<pcl::FPFHSignature33>::Ptr heap corruption in function scope"
Passing a `pcl::PointCloud<pcl::FPFHSignature33>::Ptr` causes heap corruption when returning from function scope.

*Debug assertion fails at:*
[code]

**Occurs when:** `pcl::PointCloud<pcl::FPFHSignature33>::Ptr` becomes invalid in a function scope.

1. Returning a `pcl::PointCloud<pcl::FPFHSignature33>::Ptr` from a function:\
i.e. `pcl::PointCloud<pcl::FPFHSignature33>::Ptr = getFPFH()`

2. Modif

[2021-08-03 17:09] kunaltyagi commented on #4877
Can you test on your setup with other stuff, for eg: normal estimation? It'd narrow down to either your setup or FPFH Signature class.

[2021-08-03 17:27] pmdifran commented on #4877
Yep my setup works with normal estimation and keypoint estimation. So far, FPFH estimation is the only thing that does not work.

[2021-08-03 17:45] kunaltyagi commented on #4877
Requires testing on windows. paging @larshg

[2021-08-04 04:59] sycamore27 opened #4878 "Based the vcpkg to install PCL, but the visualization function can't be used."
Based on windows10 and VS2019, use the vcpkg to install PCL. But the visualization function can't be used. How can I use vcpkg to realize the visualization function? Thank you very much!

[2021-08-04 05:30] larshg commented on #4878
Could you try follow https://github.com/larshg/pcl/blob/UpdateWindowsTutorial/doc/tutorials/content/pcl_vcpkg_windows.rst and see if it gives you any hints :wink:

[2021-08-04 05:37] larshg commented on #4878
Alternatively you can try merge https://github.com/microsoft/vcpkg/pull/18855

[2021-08-04 07:48] mvieth commented on #4875
Interesting idea! So your algorithm would give the same results as the current euclidean clustering method in PCL, but faster in certain conditions?
One thing I don't understand: In step 2.3, why do you search for sampling points within **3** times the threshold distance?

I think there are basically three things to do:
1. You implement the new algorithm. The function should take the same paramete

[2021-08-04 09:50] sycamore27 commented on #4878
@larshg Thanks very much! Let me have a try~

[2021-08-04 10:26] WangZP10969 commented on #4875
This method is inspired by the pyramid acceleration process, which can reduce the amount of calculation by clustering the sample points of the point cloud to represent all points.

However, the closest distance of the sampling point pair cannot be directly described by the distance of the sampling point to itself, because the neighborhood points around the sampling point are distributed in the sph

[2021-08-04 10:54] larshg commented on #4877
Just out of curiosity, since its Eigen aligned_free and All-In-One installer. Can you enable AVX for your project?

[2021-08-04 14:18] pmdifran commented on #4877
Hi @larshg. That did the trick! I am amazed.

Could you point me to some links that'll help my understand why that worked? :)

[2021-08-04 14:24] kunaltyagi commented on #4877
https://github.com/PointCloudLibrary/pcl/pull/4698

Relevant?
---
Closing since resolved, conversation can continue

[2021-08-04 14:24] #4877 closed

[2021-08-05 05:28] larshg commented on #4877
@pmdifran Mostly because I worked on #4598 and recently thereafter when I tried a downstream project, I got similar error (about eigen and free). And since I knew what was added lately, I had an idea what to look for (which defines are set etc).
Eventually I found out that it was AVX that should be enabled on downstream projects, if PCL was build with AVX enabled.
This is fixed in #4698 :smile:

[2021-08-05 05:48] pmdifran commented on #4877
@larshg Ah I see. Thanks again for this! I'll check out these issue reports.

[2021-08-05 12:35] mvieth commented on #1623
@Ice833 What is your problem exactly? That CropBox returns 0 points? Or that it returns points where x, y, z are nan?

[2021-08-05 12:49] #4239 closed

[2021-08-05 12:55] mvieth commented on #3986
@kunaltyagi What is left to do here? We now [require flann 1.9.1](https://github.com/PointCloudLibrary/pcl/blob/007ac5746661e20b411b81c9baddd24c2505b038/CMakeLists.txt#L306), which [all current Ubuntu versions use](https://packages.ubuntu.com/search?suite=all&section=all&arch=any&keywords=libflann-dev&searchon=names).

[2021-08-05 13:00] #3986 closed

[2021-08-06 10:03] #4873 closed

[2021-08-08 12:11] #3876 closed

[2021-08-08 13:07] cdb0y511 opened #4882 "[pcl 1.12 /surface] duplicate definition of plc::mlsresult::calculatePrincipalCurvatures (const double u, const double v) const;"
A clear and concise description of what the bug is.

My code works fine with pcl.1.11.1, however when i update to the pcl 1.12, "duplicate definition of plc::mlsresult::calculatePrincipalCurvatures (const double u, const double v) const;" happens.
I think the name of function calculatePrincipalCurvatures is changed,  corrected from Principle? #4505

**To Reproduce**

include<pcl/surface/mls.h> or

[2021-08-08 15:43] mvieth commented on #2286
I have a rough theory how the segfaults happened: In the valgrind output, I see that you use `copyPointCloud` to copy from `PointXYZ` to `PointNormal`. The resize inside the function appends default-inserted elements, so [this constructor](https://github.com/PointCloudLibrary/pcl/blob/pcl-1.8.0/common/include/pcl/impl/point_types.hpp#L865) would be called. Notice that `curvature` is not initialize

[2021-08-08 15:43] #2286 closed

[2021-08-08 16:01] mvieth commented on #4882
1. Is it possible that there are still some files left from PCL 1.11.1? Not sure if this can cause the problem, but to be sure, remove everything from PCL and then install the new version again
2. Are you including both mls.h _and_ mls.hpp? Under most circumstances, you should only include *.h files, not *.hpp. Or are you using `PCL_NO_PRECOMPILE`?

[2021-08-08 17:11] larshg commented on #4882
I noticed the old version is marked as inline, but new one is not?

[2021-08-08 18:21] mvieth commented on #1353
Seems like the suggested fix was added in pull request #1755

[2021-08-08 18:21] #1353 closed

[2021-08-09 01:13] kunaltyagi commented on #4882
I think that's correct. This function (and others from MLSResult) should be moved either:
* to the cpp file or
* inside the class definition
instead of using `inline`

[2021-08-09 03:29] cdb0y511 commented on #4882
Thanks for the reply.
1. I remove the pcl 1.11.1 by "sudo make uninstall". Does it remove every old file?
2. I carefully checked, no double include. I try include mls.h or mls.hpp respectively. The same error always occurs at link time. I use the PCL_NO_PRECOMPILE cause I define a point type.

[2021-08-09 03:33] cdb0y511 commented on #4882
Can you or anyone give a hotfix?
I think this is a frequently used function on the surface.

[2021-08-09 06:30] cdb0y511 commented on #4882
I am curious, does anyone try the pcl::MLSResult::calculatePrincipalCurvatures (const double u, const double v) const?
I don't find any call from mls.

[2021-08-09 07:00] larshg commented on #4882
Indeed, there doesnt seem to be any usage of the function.

Not even in a unit test.

Maybe you could write a unit test?

[2021-08-09 09:48] Ice833 commented on #1623
@mvieth No point was returned, I printed the min_pt, max_pt I've input, find they have been set correctly but the output cloud remain empty as its size is 0. Strangely, sometimes it has some points as I set the box as same as the default size claimed in the CropBox's constructor. It seems that the change on min_pt and max_pt of the box are restricted.

[2021-08-09 11:48] SunBlack opened #4885 "Unify the file extension for YAML files"
For a PR, I first searched for all file extensions used by PCL:

[code]

After calling this command, you will see that there are files with `yaml` and `yml` as extension. In general: Both extensions are correct for YAML, but nevertheless I think we should unify it.

Find all YAML files
[code]

Result:
[code]

For example, is there a reason why `env.yml` has `yml` as file extension but `formatting.

[2021-08-09 12:01] mvieth commented on #1623
Could you create a very simple code example where the problem occurs? Maybe just a point cloud with two points (one inside the box, one outside) that is filtered with CropBox? The problem seems to be so specific that every aspect of the code matters.

[2021-08-09 12:02] kunaltyagi commented on #4885
Some files were created manually, and others were created by azure/GitHub. The auto created files are yml and others are yaml

[2021-08-09 18:56] mvieth commented on #4864
What happens if you move the `typedef unsigned long long pop_t;` as described [in this related issue](https://github.com/flann-lib/flann/issues/386)?

[2021-08-10 03:30] #4497 closed

[2021-08-10 09:52] spb-genom opened #4887 "[custom] PCL 1.12.0 + CUDA 10.2 on Jetson Nano fails to build"
Hello!

I'm trying to build libpcl 1.12.0 on my jetson nano (Ubuntu 18.04 LTS). I've read the manual so I follow these steps:
0. Install all mandatory pre-requisites: VTK, Eigen and so on.
1. Download and unzip pcl-pcl-1.12.0.tar.gz from github repo. Unzipped version stored in my home directory in subfolder libpcl
2. In folder libpcl I run commands
[code]
3. Next, I run `ccmake ..` command and pre

[2021-08-10 11:12] HuaTsai opened #4888 "[registration] A typo of hessian matrix computation in NDT."
Hello developers, thanks for your great work and I am appreciated of it.

**Describe the bug**

I think there is a small typo in the NDT implementation which has not been found for several years.

https://github.com/PointCloudLibrary/pcl/blob/fad821ef31eb92719c1005812666136f9664d365/registration/include/pcl/registration/impl/ndt.hpp#L295

Follow the derivation of (6.21) in paper [Magnusson 2009],

[2021-08-10 12:11] mvieth commented on #4887
Maybe follow [this](https://stackoverflow.com/questions/2670121/using-cmake-with-gnu-make-how-can-i-see-the-exact-commands) to see the exact compile commands to get more information what goes wrong

[2021-08-10 12:44] spb-genom commented on #4887
@mvieth thanks! I've just run `make VERBOSE=1` after `cmake` and here's the command that invokes the error (I've formatted it for better reading, all of these options were in the same line):
[code]
And this is the output with error:
[code]
I think the problem is the semicolon after -march=native, but I'm not sure

[2021-08-10 13:01] mvieth commented on #4887
Ah, please try the current master branch then, [this commit](https://github.com/PointCloudLibrary/pcl/commit/07801015b25a517990917367f0860353b35c38de#diff-73719a14e929c85350713acd2132c1eaad561bab49f11f86bc21942bd517fa11) should fix the problem with the semicolon.

[2021-08-10 20:14] mvieth commented on #4888
Thank you for reporting this! I agree, the term should be `(-sy)`, not `(sy)`. Would you create a pull request to fix this? It would also be great if you would add a comment to c2 explaining that the formula in the paper/thesis has an incorrect sign, but the formula in the PCL code has the correct sign.