[2021-08-11 14:28] NekoooooOoi opened #4890 "[compile error] Error including cloud_viewer.h"
OS:Windows 10
      the latest version of visual studio 2019
      pcl is downloaded by vcpkg
      the version of pcl is 1.11.1

## Here's my code:

#include <iostream>
#include <string>
#include <pcl/point_types.h>
#include <pcl/io/ply_io.h>
#include <pcl/io/pcd_io.h>
#include <pcl/PCLPointCloud2.h>
#include <pcl/visualization/cloud_viewer.h>

using namespace pcl;
using namespace pcl::io;
using

[2021-08-11 14:46] mvieth commented on #4890
See issue #4687

[2021-08-11 15:59] larshg commented on #4890
You can try install pcl master using --head in the vcpkg install command, when installing PCL after alle dependencies has been installed.

Also, you can see if this one makes sense:
https://github.com/larshg/pcl/blob/UpdateWindowsTutorial/doc/tutorials/content/pcl_vcpkg_windows.rst

[2021-08-11 16:19] sherkt1 opened #4891 "PCL 1.12.0 'All in One Installer' has issues with VTK Dependencies"
3rd Party dependencies version of VTK bundles 8.2 version of .h and lib, but 9.0 version of .dll.

Should be an easy fix, its entirely possible that I may have installed something incorrectly.

[2021-08-12 08:00] mickeyouyou opened #4893 "[module_name] Provide a general summary of the issue"
**Describe the bug**

GDB output
[code]

A clear and concise description of what the bug is.

**Context**

What are you trying to accomplish? Providing context helps us come up with a solution that is most useful in the real world

**Expected behavior**

read pointcloud correcttly.

**Current Behavior**

What happens instead of the expected behavior?

**To Reproduce**

Provide a link to a live exa

[2021-08-12 11:28] mvieth commented on #4893
We need more information:
- What is the actual bug? What is the specific error message?
- In which class/function does the bug appear? Ideally post a small code snippet.
- A short description of what your project generally is about might help
- `PointXYZIT` seems to be a custom point? Please post a code snippet with the definition

[2021-08-13 15:01] kosuke55 opened #4895 "[Voxel Filter] voxel filter generate points at wrong position"
**Describe the bug**
It seems that the voxel filter is generating a point cloud at the wrong position.
It is generated where the original point cloud does not exist.
Also, it seems that there are areas that will be deleted.

Please see the video for details.
https://user-images.githubusercontent.com/39142679/129371902-ae39a975-1002-4ed7-9037-96fb7009200c.mp4
The red point cloud is a downsample. Th

[2021-08-13 22:14] AdamWill commented on #4882
This actually prevents pcl building from scratch in Fedora. I'm trying to get it updated and rebuilt in Rawhide (it's blocking several dep chains currently), but the build fails on this problem - see https://kojipkgs.fedoraproject.org//work/tasks/9175/73809175/build.log .

[2021-08-14 00:57] tin1254 opened #4897 "[VoxelGrid] Remove getLeafLayout"
**Is your feature request related to a problem? Please describe.**
Raised while refactoring VoxelGrid https://github.com/PointCloudLibrary/pcl/pull/4829#pullrequestreview-698580970

As we are upgrading point hash datatype from `int` to `size_t`, the API `std::vector<int> getLeafLayout()` is not compatible anymore

**Context**

Reasons to upgrade to `size_t`: https://github.com/PointCloudLibrary/pc

[2021-08-14 01:53] kunaltyagi commented on #4897
For the index, we'd need to let the user find the size as well

[2021-08-14 02:32] #4888 closed

[2021-08-14 03:31] kunaltyagi commented on #4890
Close as solved?

[2021-08-14 07:54] mvieth commented on #4895
@tin1254 As our voxel grid expert, would you have a look at this issue?

[2021-08-14 08:58] tin1254 commented on #4895
I've looked at the example and the provided cloud yesterday but every seems right. I'll dig deeper into the source code during this weekend

[2021-08-14 09:01] tin1254 commented on #4897
you mean the number of voxels in the filtered cloud? but #voxels = #points in the filtered cloud

[2021-08-14 09:39] NekoooooOoi commented on #4890
@larshg  Thanks for your advice. However, there're some new problems.
I reinstalled the pcl in the vcpkg by the command "vcpkg install pcl[qt,vtk]:x64-windows", and some new issues occur. I didn't change the code.

##Here's the output:
Build started...
1>------ Build started: Project: CPCsegment, Configuration: Debug x64 ------
1>CPC.cpp
1>C:\vcpkg\buildtrees\pcl\src\ade837d55c-9cde649e93.clean\vi

[2021-08-14 14:05] lucarossini-iit opened #4898 "3D object recognition tutorial returns wrong result"
Hello,

I am trying to run the 3D object recognition tutorial following these [instructions](https://pcl.readthedocs.io/projects/tutorials/en/latest/correspondence_grouping.html#correspondence-grouping). I copied and pasted the code as written in the tutorial but when I run it, it returns me the following wrong result:

[code]

However, the visualization tool rightly shows the scene and the milk c

[2021-08-14 14:42] tin1254 commented on #4895
The reason is the coordinate of your cloud is too large. When the filter computing a voxel centroid, the accumulating value will be up to `2.21371e+08`. With this magnitude every `float` arithmetic operations are inaccurate, so some centroids which accumulated many points are shifted from the true location by 1~2 meters

https://github.com/PointCloudLibrary/pcl/blob/d615a74beccb4ed504e61c040529870

[2021-08-14 15:12] kosuke55 commented on #4895
@tin1254
Thank you very much!!  Offsetting the cloud before filter fixed the problem.
![Screenshot from 2021-08-15 00-01-12](https://user-images.githubusercontent.com/39142679/129450631-81942d08-7a0c-41db-84ea-4b9fab162ca2.png)

[2021-08-14 15:23] mvieth commented on #4898
Regarding `Failed to find match for field 'rgba'.` : this is not a problem, `milk.pcd` just doesn't contain colour values. You can use `milk_color.pcd` instead (in the test folder of this repo), but that shouldn't matter.
Regarding `The local reference frame is not valid! Aborting description of point with index`: If that only appears for a few points then it should be fine. That might be the case

[2021-08-14 16:04] lucarossini-iit commented on #4898
Following you suggestion, I moved the points along the x-y-z axis of the model cloud. The results fit this modification as expected. Thank you very much for you fast explanation.

[2021-08-14 16:26] mvieth commented on #4898
You are welcome!

[2021-08-14 19:44] larshg commented on #4898
The tutorial do have a transformation that is different from identity, so it seems odd if you get these results with the tutorial code.

[2021-08-14 19:54] mvieth commented on #4898
Are you sure? I ran the code as described in the tutorial and I also got an identity transform. I suspect that the example output in the tutorial came from different clouds than `milk.pcd` and `milk_cartoon_all_small_clorox.pcd`

[2021-08-14 20:22] larshg commented on #4898
Well, it seems for sure you are Right @mvieth. I also get identity. And I ust tried to rephrase the result from the tutorials but it seems to from different clouds. However the mentioned clouds haven't changed the last 6 years at least. So still seems a bit odd 😄

[2021-08-14 20:35] lucarossini-iit commented on #4898
Following the discussion, it was odd for me as well to have obtained the identity as a result copying the code as written in the tutorial. However, it is now clear how the algorithm works. I didn't understand that the transformation matrix refers to a reference frame fixed in the central point of the model cloud.

I will follow the discussion for any further update!

[2021-08-14 20:54] larshg commented on #4898
Ahh, there is also some PCDs in this repo: https://github.com/PointCloudLibrary/data/tree/master/tutorials/correspondence_grouping

[2021-08-14 21:06] larshg commented on #4898
But colors of the scene in the repo, seems not to be working. Also they are mirrored someshow.
The transformation does however ends up as the one in the tutorial.

[2021-08-15 01:33] #4890 closed

[2021-08-15 05:41] larshg commented on #4890
Did you get it working :-) ?

[2021-08-15 08:51] NekoooooOoi commented on #4890
@larshg  I tried the right command “vcpkg install pcl[vtk,qt] —head”, however, a new error occurred in the vcpkg installing process.

 It’s about the CMake, the procedure can’t find the PCLConfig.cmake patch. And I opened a new issue in the vcpkg repository at https://github.com/microsoft/vcpkg/issues/19577.

Do you know something about the reason why this error happens during the vcpkg installing

[2021-08-15 09:06] larshg commented on #4890
Ah, its because we added some changes to the PCLConfig.cmake.in and now one of the patched doesn't match.

You can try clone PCL directly and then just use VCPKG for all the dependencies.

Alternatively you can try checkout https://github.com/microsoft/vcpkg/issues/17662

Which are in progress of adding pcl 1.12. It should work on windows.

[2021-08-15 09:20] NekoooooOoi commented on #4890
@larshg Thanks a lot for your help.

But I don’t really know how to “ clone PCL directly and then just use VCPKG for all the dependencies”. My understanding is to use the command “git clone” to clone the PCL file directly and then copy the PCL file to the directory “vcpkg/downloads”, and the use the command “vcpkg install pcl[vtk,qt] —head”.

Is my understanding right? If not, is there any tutoria

[2021-08-15 09:22] mvieth commented on #2570
This problem was fixed by pull request #4711

[2021-08-15 09:22] #2570 closed

[2021-08-15 09:35] NekoooooOoi commented on #4890
Or what you mean is to add the cloned PCL file to the include directory in the Visual Studio? And use command “vcpkg install vtk,qt” to download the dependencies.

Is the second understanding right? lol

[2021-08-15 09:35] NekoooooOoi commented on #4890
Or what you mean is to add the cloned PCL file to the include directory in the Visual Studio? And use command “vcpkg install vtk,qt” to download the dependencies.

Is the second understanding right? lol

[2021-08-15 09:51] larshg commented on #4890
Well, when you try to install PCL with vcpkg, it install all dependencies for it, ie. Boost, eigen, flann, vtk.

However its probably easiest to try merge in the PR for pcl 1.12 in the vcpkg directory.

Try in vcpkg folder:
git fetch origin pull/18855/head:pclpr

This fetches the PR to branch "pclpr"

Then: git checkout pclpr

[2021-08-15 14:37] NekoooooOoi opened #4899 "The cloud viewer cannot correctly show the point cloud"
Recently I opened an issue about the compiling of cloudviewer in https://github.com/PointCloudLibrary/pcl/issues/4890. And thanks for @larshg 's advice, I finally successfully installed the pcl 1.12. However, when I try to use the visualization module, a new issue occurs.
## Here's my code
#include <iostream>
#include <string>
#include <pcl/point_types.h>
#include <pcl/io/ply_io.h>
#include <pcl/i

[2021-08-15 14:42] NekoooooOoi commented on #4899
I‘ve tried to do some changes which are mentioned in the log above in the 'vtkOpenGLPolyDataMapper.cxx' file, however, i didn't work.

[2021-08-15 17:02] larshg commented on #4899
The warnings are not an issue. They can be disabled.
Have you tried pressing R to reset camera, or move the camera around?

[2021-08-15 17:08] NekoooooOoi commented on #4899
@larshg  It works!!!! Thanks a lot for your help these days! I really appreciate you!

[2021-08-15 17:08] #4899 closed

[2021-08-15 17:12] larshg commented on #4899
Np.
To disable warnings you can add this:

vtkObject::GlobalWarningDisplayOff()

[2021-08-16 00:52] kunaltyagi commented on #4897
That's not necessarily true. In the new voxelgrid, you're making the voxel 0, but still not removing it from the map

[2021-08-16 01:22] #4895 closed

[2021-08-16 08:22] WangZP10969 commented on #4875
I tried to optimize the closest point search, and further reduced some candidate points through the projection distance.
![1629100174(1)](https://user-images.githubusercontent.com/47802547/129529515-09185b39-f8a7-47f3-86ad-20d3c0bb8769.jpg)
I try to project all the points on the line of the two sampling points, and then find the point with the closest projection distance
![image](https://user-imag

[2021-08-17 07:26] al-tu commented on #3368
hi! came across this code and decided to make a quick fix, please take a look
https://github.com/PointCloudLibrary/pcl/pull/4901
there should be some tests for point selection functions, but i think that should be covered by another PR implementing correspondence estimation (there is a related issue)

[2021-08-18 14:23] tin1254 commented on #4897
I mean use can for example get the size from the number of points in the `output` cloud

[code]

Because the `leaf_layout_` size is only incremented if a point is pushed to the output

[code]

But anyway we can do that easily by returning the following member in the new voxelgrid
[code]

[2021-08-18 15:45] Zero-Swangel opened #4904 "[segmentation] Incompatible with Ceres"
**Describe the bug**

Program crashed when `ceres::Solve(options, &problem, &summary);` exists

**Context**

A simple demonstration.

[code]

**Expected behavior**

segmentation works fine

**Current Behavior**

crashed on `SAC_segmentation.segment(*inliers, *coefficients);`
`process has died [pid 22368, exit code -11`

**Your Environment (please complete the following information):**

ubuntu 20.0

[2021-08-18 18:18] kuspia commented on #4837
I would like to work on this can u guide me

[2021-08-18 19:36] mvieth commented on #4837
@tin1254 You didn't start working on this yet, did you? At least I did not find anything in your pull requests.
@kuspia Have a look at the code in issue #4247 . We would like a benchmark for the PassThrough filter and a benchmark for the CropBox filter (and benchmarks for the functor filter with the same functionality, but that can be a second step). Additionally, have a look at the PassThrough fi

[2021-08-18 19:44] tin1254 commented on #4837
Not yet, I just finished working on the voxel filters benchmark

[2021-08-19 04:21] AditiThirdEye commented on #4641
Can u please assign this issue to me.

[2021-08-19 05:34] kuspia commented on #4837
@tin1254 if he is working on the same it's fine, if not please tell me since I need to contribute and get my PR merged asap.

[2021-08-19 06:37] kuspia commented on #4837
I understood the concern and need for the Functer filter version now please read what I understood, and if you think I am good to go, say to me for creating a PR so that it gets merged, I have worked on PCL APIs to segment out ROI objects from a noisy 2.5D scan but I am a newbie to GitHub contribution so please suggest if I am going in the wrong direction.

I am supposed to create the following fi

[2021-08-19 07:53] mvieth commented on #4887
@spb-genom If I don't hear anything from you, I will assume that it works with the current master branch and close this issue

[2021-08-19 08:09] mvieth commented on #4837
@kuspia Maybe it is better and easier if you work on another issue. CropBox and PassThrough are currently being rewritten, and we will see if we actually need additional benchmarks for the functor filter. So the goal of this issue is still a bit fuzzy.
Maybe have a look at the [good first issues](https://github.com/PointCloudLibrary/pcl/issues?page=2&q=is%3Aissue+is%3Aopen+label%3A%22good+first+is

[2021-08-19 12:09] mvieth commented on #4864
@xq198109 Did my suggestion above solve your problem? If I don't hear from you, I will assume that it does solve the problem and will close this issue. Seems like that should be fixed in FLANN, but since FLANN is basically unmaintained ...

[2021-08-19 14:08] xq198109 commented on #4864
Yes，I  add "typedef unsigned long long pop_t" in front of `HammingLUT lut;
        result = lut(reinterpret_cast<const unsigned char*> (a),
                     reinterpret_cast<const unsigned char*> (b), size * sizeof(pop_t));` ,and include "flann_cpp_s.lib" in my project,solve the problem,Thanks you

[2021-08-19 14:08] #4864 closed

[2021-08-19 14:22] BaltashovIlia opened #4905 "[common] `transformPointCloud` expects `Affine3f` even for `PointXY`"
**Describe the error**

pcl::PointXYZ is implemented as a union-like structure and has a field .data.
pcl::PointXY is however implemented as a “pure” structure and does not have a .data field.

**To Reproduce**

The result of this inconsistency are a weird compilation errors for the following code:
[code]

**Screenshots/Code snippets/Build information**

[code]

**Your Environment (please complete

[2021-08-19 20:08] mvieth commented on #4904
I can reproduce the issue, here is the valgrind output:
[code]
So it is some kind of alignment issue. I have found that converting `seg` to a pointer (e.g. `pcl::shared_ptr<pcl::SACSegmentation<pcl::PointXYZ>> seg(new pcl::SACSegmentation<pcl::PointXYZ>);`) solves the issue, but it would of course still be good to know why exactly it happens. Not sure if this is the fault of PCL or of Ceres.

[2021-08-19 21:14] btknzn opened #4906 "[compilation] CMake can't find Qt"
Hey how can I solve below bug

VTK libs: VTK::WrappingTools;VTK::ViewsInfovis;VTK::CommonColor;VTK::ViewsContext2D;VTK::loguru;VTK::TestingRendering;VTK::TestingCore;VTK::vtksys;VTK::RenderingVolumeOpenGL2;VTK::glew;VTK::opengl;VTK::RenderingLabel;VTK::octree;VTK::RenderingLOD;VTK::RenderingImage;VTK::RenderingContextOpenGL2;VTK::IOVeraOut;VTK::hdf5;VTK::IOTecplotTable;VTK::IOSegY;VTK::IOParallelX

[2021-08-20 05:28] Zero-Swangel commented on #4904
I didn't solve the issue by converting to a pointer
And I found `std::cout << summary.BriefReport() << "\n";` can also cause the problem as `ceres::Solve(options, &problem, &summary);` do. May I ask your environment?

[code]

[2021-08-20 08:06] larshg commented on #4904
It looks very much like some of the errors we got with eigen free with AVX enabled or not - could this be the case as well here?

[2021-08-20 08:37] larshg commented on #4906
How have you installed Qt? You need to add the paths to the config file.

ie. Qt/5.11.2/platform/lib/cmake/Qt5.

[2021-08-20 13:22] ravikiransama opened #4907 "cuda filters voxel grid"
Hi,
we are planning to use the cuda module of the pcl. We had started building the cuda, and found that the module in the cuda filters voxel grid is not built. I checked it and found that there is not cmakelists.  I would like to know if this is work in progress or is it finished?
BR
Ravi

[2021-08-20 13:48] mvieth commented on #4904
I am using Ubuntu 21.04, PCL 1.12.0-dev (~current master branch), Eigen 3.3.9, Ceres 2.0.0 (compiled from source), gcc 10.3.0

That was my first thought as well, but I enabled all SSE and AVX options, both when compiling PCL and the code using Ceres (these are the flags from the compile command: `...  -g -O3 -march=native -fopenmp -msse4.2 -mfpmath=sse -mavx2 -fPIC  ...`).

BTW this is the code I

[2021-08-20 13:54] mvieth commented on #4907
I think this answer your question: #4474 Short answer: the voxel grid in the cuda module is currently unusable.

[2021-08-20 14:19] mvieth commented on #4905
Yes, we could add a `data` member to `PointXY` in combination with a union. We could add a third `z` coordinate that is always zero, but that probably does not make much sense.
`transformPointCloud` expects either an `Eigen::Affine3f` or an 4x4 matrix as a transformation, but it does not make sense to apply either to a 2-dimensional point. So the question would be, what result should `transformPoi

[2021-08-21 02:26] kunaltyagi commented on #4897
https://github.com/tin1254/pcl/pull/2/files#diff-d07ab844703ea9f1f13139fe03f22f7399e31d1e603b128957659e7cce53bc4cR221-R226

This clearly leaves some leaves which are not added during the filter operation

[2021-08-21 02:51] kunaltyagi commented on #4904
Am I seeing this correctly, or is there no coupling between PCL and Ceres?

[2021-08-21 08:32] sycamore27 opened #4908 "What's the meaning of the unlabeled points, or labeled "0" points, in the Supervoxel segmentation of point cloud?"
What's the meaning of the unlabeled points, or labeled "0" points, in the Supervoxel segmentation of point cloud? How can I know what kind of supervoxels have these "0" points been divided into?
<img width="450" alt="591ff0e093440dd2bfa5515c8ce9886" src="https://user-images.githubusercontent.com/56253997/130315892-e3142084-24fc-4499-a0a4-a4f74838954b.png">

[2021-08-21 09:02] mvieth commented on #4893
@mickeyouyou If we don't get more information from you, we can't help you and might close this issue soon.

[2021-08-21 09:05] mvieth commented on #4878
@sycamore27 What is the status? Can this issue be closed?

[2021-08-21 09:43] mvieth commented on #4908
If you look at [the implementation](https://github.com/PointCloudLibrary/pcl/blob/85fc1707dd28f4104a7cf6ab0f8570d11ec1b4c4/segmentation/include/pcl/segmentation/impl/supervoxel_clustering.hpp#L591), you see that for example points get the label 0 when they contain non-finite values (NaNs, infinity).

[2021-08-21 13:05] mvieth commented on #2597
The header [pcl/io/boost.h](https://github.com/PointCloudLibrary/pcl/blob/master/io/include/pcl/io/boost.h) is not used any more and is marked deprecated. All files that previously used that header now include the needed headers from boost directly, see for example [ply_parser.h](https://github.com/PointCloudLibrary/pcl/blob/master/io/include/pcl/io/ply/ply_parser.h). `#ifndef __CUDACC__` is not u

[2021-08-21 13:05] #2597 closed

[2021-08-21 14:00] xlulak commented on #4462
Hi, where can i find those documents from point 3 (CMakeLists.txt and .cpp file)

[2021-08-21 16:32] andreas-loeffler commented on #4462
@xlulak just use the link he provided: https://pcl.readthedocs.io/projects/tutorials/en/latest/cloud_viewer.html#cloud-viewer
There you will find the CMake file and the .cpp

[2021-08-22 02:03] #4908 closed

[2021-08-22 02:05] kunaltyagi commented on #4905
100% behind you on this. The internals of Point type shouldn't affect the usage.

[2021-08-22 03:00] keineahnung2345 opened #4910 "Master branch build error on Ubuntu 20.04"
**Describe the error**

I'm building PCL from source at master branch(85fc1707dd28f4104a7cf6ab0f8570d11ec1b4c4) on Ubuntu 20.04.

When I use `make`, it outputs following errors:
[code]

And for your reference, following is the output of `cmake ..`:

[code]

**Your Environment (please complete the following information):**

 - OS: Ubuntu 20.04
 - Compiler: GCC 9.3.0
 - PCL Version: master (85fc1707

[2021-08-22 08:28] mvieth commented on #4910
[On our CIs it builds without errors](https://dev.azure.com/PointCloudLibrary/pcl/_build/results?buildId=19918&view=results)
Can you do a completely fresh build (delete the whole build folder, do `cmake ..` and `make` again)?
Do you use any non-default options (especially cmake options)?

[2021-08-22 12:44] keineahnung2345 commented on #4910
I've forgot that I once force quit the compilation, so the previous compilation failed. The fresh build success, thank you.

[2021-08-22 12:44] #4910 closed

[2021-08-22 17:05] Zero-Swangel opened #4911 "[gpu_extract_clusters] gpu euclidean cluster crashes easily"
**Describe the bug**

I'm tring to use gpu_extract_clusters for better performence, but several problems occured.
1. `#include <pcl/gpu/segmentation/gpu_extract_clusters.h>` happens redefinition, I have to copy the file into my project to fix this.
2. gpu euclidean cluster crashes easily
`Error: invalid argument /home/walker-ubuntu/Downloads/env/pcl-1.11.1/gpu/containers/src/device_memory.cpp:173`

[2021-08-23 08:00] mvieth commented on #4911
Can you try again with the current PCL master? There have been a few changes to those classes since PCL 1.11.1

[2021-08-23 08:08] Zero-Swangel commented on #4911
I tried but seems PCL1.12 is imcompatible with ROS noetic [pcl_perception](https://github.com/ros-perception/perception_pcl/releases/tag/1.7.2), don't know how to have them both.

[2021-08-23 12:32] Zero-Swangel commented on #4911
I have upgraded to the latest commit, and the problem still exists
`Error: invalid argument /home/walker-ubuntu/Downloads/env/pcl/gpu/containers/src/device_memory.cpp:281` ,

[code]

Sorry that I'm still in college and not even good at English, can't give you more details about the issue.
Here is my code:
[code]
cloud_in should have no problems for common euclidean cluster works fine

[2021-08-23 14:30] Kaju-Bubanja opened #4912 "[pcl_conversions] toPCL segfaults sometimes with `munmap_chunk(): invalid pointer`"
**Describe the bug**

I'm running a ros2 node with a sensor_msg pointcloud callback and transform that msg to a pcl cloud. This conversion works often, but sometimes the conversion segfaults.

**Context**

I can reproduce the issue in the debugger and step trough the frames and it seems like a deallocation of some memory is the problem. Below the stack trace with an arrow of where the debugger sto

[2021-08-23 14:33] kunaltyagi commented on #4912
Doesn't seem to be an issue with PCL. Please head over to https://github.com/ros-perception/perception_pcl and report the bug.

[2021-08-23 14:33] #4912 closed

[2021-08-23 16:22] mvieth commented on #4911
@FabianSchuetze If you have time, would you have a look at this? Given your experience with the gpu clustering and the gpu containers, maybe you have an idea

[2021-08-23 20:26] mvieth commented on #4904
Only that both are using Eigen.

@Zero-Swangel I assume you built Ceres from source? Can you try to use the flag `-march=native` when compiling Ceres ([described here](http://ceres-solver.org/installation.html#modifying-default-compilation-flags)), build your project again and then see if that solves the problem? My best guess right now is that Ceres uses alloc functions with less alignment, and d

[2021-08-24 07:51] mvieth commented on #4868
@jiapei100 Does this answer your question?

[2021-08-24 12:37] BaltashovIlia commented on #4905
I additionally tested some other PCL functions and found that a lot of them have internal compilation errors when used with 2D points.

A few examples:

.data:
- Registration<PointSource, PointTarget, Scalar>::align (pcl/registration/impl/registration.hpp:210:15:)
- setInputSource (pcl/registration/gicp.h:146:16:)
- transformPoint (pcl/common/impl/transforms.hpp:439:17:)

.z:
- pcl::PassThrough<Po

[2021-08-24 16:16] larshg commented on #4911
@Zero-Swangel can you create a point cloud where it happens or share one you already have?
Then I can try run it as well.

[2021-08-24 17:54] jiapei100 commented on #4868
@mvieth
I have **ONLY OpenNI2**.
Thank you @larshg @mvieth

[2021-08-24 17:54] #4868 closed

[2021-08-24 18:42] Zero-Swangel commented on #4904
Thank you very much. This has successfully solved the issue

[2021-08-25 00:02] #4904 closed

[2021-08-25 08:38] Zero-Swangel commented on #4911
[record_.zip](https://github.com/PointCloudLibrary/pcl/files/7045295/record_.zip)

[code]

It crashes in the last frame and it can be reproduced in my program. However, I failed writting a simple demo to reproduce the issue, still working on it, maybe ros related

[2021-08-25 09:00] mvieth commented on #4905
We can consider adapting some of the examples you gave (e.g. using `pcl::isFinite` in PassThrough instead of checking x, y, z), but IMO not all of these classes can/should be applied to 2D points. For example, it only make sense to apply the plane model to 3D points, but not to 2D points (a line model may be the right equivalent for 2D points). Similarly, the sphere model is designed for 3D points

[2021-08-25 09:34] BaltashovIlia commented on #4905
Yes, I understand that many functions have no meaning when they are used with 2D points. But what about adding SFINAE or static_assert for such functions? In this case, it will be easier for the user to understand that he is doing something wrong.

[2021-08-25 11:53] mvieth commented on #4905
Yes, that sounds good. A static_assert with a nice message would be very helpful

[2021-08-26 03:07] keineahnung2345 opened #4913 "[question] [surface] What's the optimization algorithm used in projectPointOrthogonalToPolynomialSurface"
I am reading the code of `projectPointOrthogonalToPolynomialSurface` in `mls.hpp`, and I don't fully understand how it works. Following is my guess, please CMIIW:
To find a closet point(gu,gv,gw) of `query_point`(u,v,w) on the surface, instead of optimizing their distance, this function calculates the partial derivative of their squared distance w.r.t `gu` and `gv`, getting F1 and F2, and try to m

[2021-08-26 19:36] suomi-miartem opened #4916 "[Features] Unhandled exception in "pcl_features.dll""
**Describe the bug**

An error of unhandled exception in "pcl_features.dll" occures while running my program.

**Context**

I tried to run a bit modified [demonstrational example](https://pcl.readthedocs.io/en/latest/pcl_visualizer.html#pcl-visualizer) of PCL Visualizer and an error had occured while program was running.

**Expected behavior**

When you enter a letter, the associated rendering met

[2021-08-27 03:41] kunzaiyy opened #4917 "[compile error] "Please add a short description here""
**Describe the error**

Please paste the compilation results/errors.

**To Reproduce**

Provide a link to a live example, or an unambiguous set of steps to reproduce this bug. A reproducible example helps to provide faster answers. Custom OS, custom PCL configs or custom build systems make the issue difficult to reproduce.
* Best reproducability: A docker image + code snippets provided here
* Good

[2021-08-27 04:17] kunzaiyy opened #4918 "GPU octree cluster Error: invalid device function"
when i used pcl::gpu::Octree::Ptr octree_device (new pcl::gpu::Octree) in my code, i found an error , which is "Error: invalid device function" , i think maybe it's because my CUDA version is wrong, so i download the newest version of cuda--11.4,but ,
it dosen't work . Please help me, i will be very appreciate if you can help me to solve the problem.

 - OS: [e.g. Ubuntu 18.04]
 - Compiler: [:eg G

[2021-08-27 04:58] #4917 closed, assigned to nobody

[2021-08-27 07:51] markotre opened #4919 "[compile error] Viewer->updateCamera() PCL1.11.1 vs PCL1.12.0"
Hi,
I would like to ask you for a help. I started to use PCL 1.12.0 everything works fine for me. Except command `viewer->updateCamera()`. When I used  PCL version 1.11.1 and mentioned command worked fine without errors for me. Did anything changed with this command? Should I add/link same new Additional Dependency?

Here is code example which worked with PCL1.11.1 but with PCL1.12.0 doesn't :

[c

[2021-08-27 08:05] haqiankaka opened #4920 "[common] in feature_histogram.cpp ,maxidx value error"
**Describe the bug**
in feature_histogram.cpp ,line139 ,maxidx means final value of histogram ,you pick histogram.size() for maxidx.
maxidx shoule be equal to （histogram.size() - 1 ) 。

[2021-08-28 14:46] #3608 closed

[2021-08-28 16:37] mvieth commented on #4916
I tried to reproduce this on Ubuntu 21.04, but couldn't. Maybe it only appears on Windows, but could you describe exactly, which letters you are passing to the program to trigger the error? Any letter or only specific ones? Could you perhaps even try to find out in which line exactly the error happens (e.g. with simple prints)?

[2021-08-28 17:08] suomi-miartem commented on #4916
@mvieth , it doesn't depend of letter type. Maybe I should notice that this bug appears when a debugger steps on line with any [features/normal3d] object before command line parsing (lines 273-279, 284-286). I downloaded 12.0.0 PCL twice, but every time this bug woth normals appeared...

[2021-08-28 18:02] mvieth commented on #4916
Can you try another tutorial that uses `NormalEstimation`, e.g. [this one](https://pcl.readthedocs.io/projects/tutorials/en/master/cylinder_segmentation.html#cylinder-segmentation)?

[2021-08-28 18:52] larshg commented on #4916
@suomi-miartem Could you try enable AVX on your project.
I just ran your code and I cannot get it to crash.

Could also be a debug/release mismatch - you can see this using the [dependency walker](https://www.dependencywalker.com/).

[2021-08-30 18:41] suomi-miartem commented on #4916
@mvieth , I ran the code from your example, but in Release mode it gave me the same "unhandled exception in features.dll" error. The only difference was that in my code, when starting the project in Debug mode, the debugger stopped at line 227 in the "feature.hpp" file (PCL 1.12.0 \ include \ pcl-1.12 \ pcl \ features \ impl \ feature. hpp), and in the code from your example - on the 281st line in

[2021-08-30 20:11] larshg commented on #4916
Even though this answer is quite old, it could still be relevant.
https://stackoverflow.com/questions/14401024/unhandled-exception-at-0x52f9e470-in-project1-exe-0xc000001d-illegal-instruc

What CPU do you have?

Can you post a screenshot of the stack frame when the exception occours?

[2021-08-30 20:27] suomi-miartem commented on #4916
@larshg , Jeez, I am pretty grateful to you for this link! IDK what kind of magic do you use to find this relevant thread 😁
I will report about my success to work without SSE instructions (I really have AMD processor) tomorrow

[2021-08-30 20:53] larshg commented on #4916
Oki.
The All-In-One installer is build with both SSE and AVX, so you would have to compile PCL yourself, to have it without those instructions.

If you want you can try follow this guideline https://github.com/larshg/pcl/blob/UpdateWindowsTutorial/doc/tutorials/content/pcl_vcpkg_windows.rst
To install dependencies or even PCl using VCPKG.

You might still need to checkout the 1.12 PR on VCPKG if i

[2021-08-31 02:03] LLLawrenceQ opened #4926 "CMake failed if I have installed the different version VTK"
**Describe the error**

CMake failed if I have installed the different version VTK.

**To Reproduce**

I have installed VTK-9.0 already, then I installed pcl-1.11.1(VTK-8.2). It was failed in CMake when I want to link pcl into my project. I looked into this and find pcl can't overwrite VTK_DIR which has already set.

**Screenshots/Code snippets/Build information**

PCLConfig.cmake:
[code]

Print b

[2021-08-31 14:16] SunBlack opened #4927 "Deprecated davidSDK or update its documentation & add to CI"
The company behind davidSDK was acquired by HP some [years ago](https://www.crunchbase.com/organization/david-vision-systems). The [documentation](https://pointclouds.org/documentation/tutorials/davidsdk.html#install-davidsdk) of PCL still references the old webpage. With some redirects you will see [this page](https://support.hp.com/us-en/drivers/selfservice/hp-3d-structured-light-scanner/1416943

[2021-09-01 01:51] Ziyu98 opened #4928 "max_points_per_leaf parameter in gpu-based octree construction"
Does the max_points_per_leaf parameter (below please find the link) in octree_builder.cu have to be a multiple of 32? I would like to make the tree more precise, thus I changed this parameter to 2 (say, max_points_per_leaf=2). However, the resulted octree turns to be incorrect (I have put the codes vector and parent vector below)
https://github.com/PointCloudLibrary/pcl/blob/1f71d6444cf0c40248ce73

[2021-09-01 09:45] zanechou opened #4929 "[module_name] An access violation occurred while reading"
**Describe the bug**

Error" An access violation occurred while reading "occur   when I call the  pcl::on_nurbs::FittingSurface::initNurbsPCABoundingBox(order, &data);  function.
[fitnurbs_test.txt](https://github.com/PointCloudLibrary/pcl/files/7090044/fitnurbs_test.txt)

[2021-09-01 11:14] KotaYonezawa opened #4930 "[Filters] Voxels for NDT sometimes removed suddenly by suspicious error check code in VoxelGridCovariance::applyFilter"
**Describe the bug**

Thanks a lot for great library.
I faced strange behavior on NDT simulation using ideally accurate point cloud made by CG tools. (blender & CloudCompare)
Some voxels are strangely removed.
Through debug, I found suspicious error check code.

**Context**

I simply tried following code and saw display cloud to check NDT voxels.
[code]
box.pcd is following. (10m x 10m x 10m)
Cube

[2021-09-01 11:26] KotaYonezawa commented on #4930
I forgot to attach the pcd file using on above check.
[box.zip](https://github.com/PointCloudLibrary/pcl/files/7090660/box.zip)

[2021-09-01 15:59] suomi-miartem commented on #4916
Nope, compiling PCL by hand turned out to be too time consuming for me, so I scored it and went back to version 1.11.1. Nevertheless, if someone had a similar problem after updating the version of the library, then they can participate in this thread. Therefore, I close the issue.

[2021-09-01 16:42] larshg commented on #4916
Could you try using a tool like this https://docs.microsoft.com/en-us/sysinternals/downloads/coreinfo

And post the results. Then we could have a look if the SSE or AVX is supported?

And lets keep it open, as there is no confirmation yet what the error is, nor yet a solution.

[2021-09-01 19:32] larshg commented on #4916
Thanks. That rules out the instruction set then.

Could you try launch it in debug and post the stacktrace when it crash?

[2021-09-03 00:57] #4919 closed

[2021-09-03 01:44] kunaltyagi commented on #4930
cc: @mvieth @tin1254

[2021-09-03 04:54] KotaYonezawa opened #4931 "[Filters] PointCloud::reserve should be added in VoxelGridCovariance::getDisplayCloud"
**Describe the bug**

Thanks a lot for great library.
In VoxelGridCovariance::getDisplayCloud, very huge number of points are added to PointCloud by push_back function.
To improve performance, PointCloud::reserve should be added, I think.

**Context**

Following is current VoxelGridCovariance::getDisplayCloud loop part code. (in voxel_grid_covariance.hpp)

[code]

In this loop, many points are cre

[2021-09-04 10:35] mvieth commented on #4931
Yes, adding a `reserve` call is definitely a good idea. Ideally, we would not use `leaves_.size()`, but check, how many leaves actually pass the `leaf.nr_points >= min_points_per_voxel_` test. I think something like this would work:
`std::count_if(leaves_.begin(), leaves_.end(), [](auto& l){return (l.nr_points >= min_points_per_voxel_);})`.
Would you open a pull request to add this? It would also

[2021-09-04 14:12] ArkaprabhaChakraborty commented on #4905
Is this issue still open? f so, I want to work on it.

[2021-09-04 14:19] ArkaprabhaChakraborty commented on #4676
Can I make this change? It's been there for a while I guess and It will also help me get started with contributing to this library.

[2021-09-04 14:27] mvieth commented on #4930
It seems like this can happen in special cases, namely when all points in the voxel lie perfectly on a plane (like in your case) or on a line. Then one or two eigenvalues (respectively) would be 0, but through minor inaccuracies in Eigen's `SelfAdjointEigenSolver` or in the computation of the covariance matrix, the eigenvalues are very close to zero, but negative. As a side note, from a mathematic

[2021-09-04 14:29] mvieth commented on #4905
Yes, that would be great! Feel free to open a pull request (and ask any questions if anything is unclear)

[2021-09-04 14:30] mvieth commented on #4676
Yes! Feel free to open a pull request

[2021-09-04 18:47] mvieth commented on #4920
@haqiankaka Are you interested in creating a pull request? Otherwise someone else might fix this

[2021-09-05 08:50] haqiankaka commented on #4920
yep, i am doing a fix and then create the pull request.

[2021-09-05 09:06] mvieth commented on #4913
I am not super familiar with MLS, but it seems to me that this is [Newton's method](https://en.wikipedia.org/wiki/Newton%27s_method). I assume you also read the doxygen documentation and saw [this stackexchange link](https://math.stackexchange.com/questions/1497093/shortest-distance-between-point-and-surface)?

[2021-09-05 09:31] haqiankaka commented on #4920
https://github.com/PointCloudLibrary/pcl/pull/4934

[2021-09-05 11:02] keineahnung2345 commented on #4913
In Newton's method, one needs to calculate Hessian matrix, so I'm afraid it's not the algorithm used here. And it doesn't look like Gauss-Newton or Levenberg-Marquardt because there is not something like J^T*J in the code.

Yes. I‘ve read them and [the stackexchange link](https://math.stackexchange.com/questions/1497093/shortest-distance-between-point-and-surface) makes me understand why it optimi

[2021-09-05 12:04] mvieth commented on #4913
[Newton's method itself](https://en.wikipedia.org/wiki/Newton%27s_method) is for finding the root of a function f. It needs only the first derivative (Jacobian) of f. To minimize/maximize a function g, Newton's method can be applied to its first derivative g', in that case the second derivative of g (Hessian) is needed (see also [this Wikipedia article](https://en.wikipedia.org/wiki/Newton%27s_met

[2021-09-05 16:14] tin1254 commented on #4930
I agree with what @mvieth said.

One minor improvement is to use `Eigen::NumTraits<double>::dummy_precision()` to avoid magic number (the actual value is the same `1e-12`)

[2021-09-05 16:36] mvieth commented on #4930
Cool, I didn't know about `Eigen::NumTraits<double>::dummy_precision()`. TBH I chose `1e-12` kind of arbitrarily, but using the constant from `Eigen` is a good idea

[2021-09-05 18:54] #4920 closed

[2021-09-06 09:11] kaiwen2020 opened #4936 "[registration] A problem in function computeTransformation of pcl::PPFRegistration"
There might be a problem in the computeTransformation function of pcl::PPFRegistration at line 157

[code]

Since in PPFRegistration, the aim of this step is to discretize the angle alpha, should not it be
[code]
 - PCL Version [1.12.0]

I'm not sure if I understand it right. Can anyone check this line since it might affect the matching performance? Thank you.

[2021-09-06 12:11] mvieth commented on #4936
I am not very familiar with this class, but I agree that those lines look wrong. Could you explain your suggested fix a bit more?
I had a quick look at [the original paper](http://far.in.tum.de/pub/drost2010CVPR/drost2010CVPR.pdf), but didn't find anything on how they discretize the alpha.
While investigating, I also saw that `PPFRegistration` is currently not tested: [there is a test](https://git

[2021-09-06 12:55] mvieth commented on #4936
It seems like this has been discovered before: #1930

[2021-09-06 14:09] KotaYonezawa commented on #4931
Thanks a lot for your comment!
I replaced my original proposed code:
[code]
to your proposed code:
[code]
(In fact, I'm not so familiar with lambda function.. Is above code OK? It could run on my Windows PC...)

I simply measured time on my Windows 10 PC, using timeGetTime() function like as follows,
[code]
using "box.pcd" attached on this article. (https://github.com/PointCloudLibrary/pcl/issues/

[2021-09-06 14:18] kshitijgoel007 commented on #4213
Just FYI: This actually breaks compatibility with ROS melodic meta package `perception_pcl`. Specifically, if you transform a ROS point cloud message to pcl::PointCloud<pcl::PointXYZ> object with the `pcl_conversions` header in that package, and then send it to `transformPointCloud`, the lack of `.points` actually leads to a segfault.

[2021-09-06 14:40] KotaYonezawa commented on #4930
Thanks a lot for comments!

I modified the following code:
[code]
to following:
[code]

And it worked fine too.
![DisplayCloudOK](https://user-images.githubusercontent.com/39361859/132232067-4e0f0a2b-5f40-40c8-bcce-0928e64f83f0.jpg)

How message should "PCL_WARN" output?
[code]
or something like that?

[2021-09-06 14:50] mvieth commented on #4930
Maybe also print the three Eigenvalues in the warning message, so that it is clear why the condition triggered. Would you create a pull request with your code changes?

[2021-09-06 15:00] mvieth commented on #4931
About the lambda function: is it necessary to capture the whole object (`[this]`)? Or would it be sufficient to only capture the one variable (`[&min_points_per_voxel_]`)?
The measured durations look promising!
Would you create a pull request with your code changes?

[2021-09-06 15:18] KotaYonezawa commented on #4930
Thanks. I'll try to create pull request.

So... the updated code should be...:
[code]
Is my understanding correct?

[2021-09-06 15:24] mvieth commented on #4930
I have never seen `%lg` before, I think just `%g` is fine? But we can discuss such things in the pull request

[2021-09-06 15:26] KotaYonezawa commented on #4931
Thanks for your comment.
When I modified the code to ```[&min_points_per_voxel_]```, compile error was occurred on my PC.
(error C4573)
https://docs.microsoft.com/en-us/cpp/error-messages/compiler-warnings/compiler-warnings-c4400-through-c4599?view=msvc-160

[2021-09-06 15:33] KotaYonezawa commented on #4930
Thanks! I understood.

[2021-09-07 02:46] kaiwen2020 commented on #4936
Thanks for your reply and for additional information, I checked  this issue #1930, since the range that atan returns is between -pi/2 and pi/2 radians, the range of alpha is between -pi and pi. I think what I suggest is right
[code]

I didn't find  in the article about the discretization step of alpha either, only this line

[2021-09-07 07:53] mvieth commented on #4936
`alpha_s` is computed with `atan2`:
https://github.com/PointCloudLibrary/pcl/blob/ce8d85d1237bd0e8ac2d94446a43159adf00c818/registration/include/pcl/registration/impl/ppf_registration.hpp#L143-L144
`atan2` returns values between -pi and +pi ([see here](https://en.cppreference.com/w/cpp/numeric/math/atan2)). alpha_m should be in the same range, so `alpha` (computed by `alpha = alpha_m - alpha_s`) wo

[2021-09-07 13:43] KotaYonezawa commented on #4930
I created pull request.
https://github.com/PointCloudLibrary/pcl/pull/4937
Could you check it?

[2021-09-07 14:07] KotaYonezawa commented on #4931
According to internet information (https://cpplover.blogspot.com/2010/06/lambda_15.html (sorry, in Japanese))
```min_points_per_voxel_``` is VoxelGridCovariance class member variable and it cannot be captured on lambda expression...
So, if ```[this]``` is not preferred, we may need to add additional local variable to copy ```min_points_per_voxel_```.

[code]

I'm not so sure PCL coding rule... but

[2021-09-07 14:16] mvieth commented on #4931
Ok, if `[&min_points_per_voxel_]` does not work, then let's use `[this]`. It is captured by reference (not copy), so that is fine. Thanks for the explanation!

[2021-09-07 14:46] KotaYonezawa commented on #4931
Thanks a lot for your comments!
I created a pull request.
https://github.com/PointCloudLibrary/pcl/pull/4938
Could you check it?

[2021-09-07 15:06] keineahnung2345 commented on #4913
The code seems to match Newton method for finding root perfectly, thank you!

[2021-09-07 15:06] #4913 closed

[2021-09-07 15:25] mvieth commented on #4485
I'm closing this issue since there isn't much activity here, and you already got some suggestions. If you have any results/methods that others might be interested in, feel free to post them here and/or on discord.

[2021-09-07 15:25] #4485 closed

[2021-09-07 15:30] #4525 closed

[2021-09-07 19:28] ArkaprabhaChakraborty commented on #4905
What are the things that I should be doing for this issue?

[2021-09-07 19:34] mvieth commented on #2571
I am closing this since it is _very_ application/hardware specific and, as you said, the detection algorithm seems to be ok. If you still have this issue, try asking the question in the discord community chat.

[2021-09-07 19:34] #2571 closed

[2021-09-07 20:05] mvieth commented on #4905
In summary:
- add a new function `transformPointCloud` that works for `pcl::PointXY`
- add `static_assert` to any class/function that cannot be used with `pcl::PointXY` (especially those mentioned above). The idea is to give the user a nice message why that does not work
- ... maybe more, but those are the two most important points

Please read through the comments again, I think it is explained q

[2021-09-07 20:37] ArkaprabhaChakraborty commented on #4905
Got it. I read through the comments but i found the above description more helpful.

[2021-09-08 03:22] peci1 opened #4939 "[conversions] toPCLPointCloud2 or toROSMsg<PointCloud2> wastes memory with alignment bytes"
**Describe the bug**

When converting a PCL pointcloud to ROS PointCloud2, the resulting data format unconditionally keeps the memory alignment. That can have drastic consequences to the size of the sent data.

**Context**

Depending on the use-case, users might want choose to sacrifice computational performance for size of the data transmitted over network (which can be e.g. the case of 3D lidar

[2021-09-08 05:09] gui2dev opened #4940 "[visualization] Add eye dome lightning shading"
Hi !

In potree and CloudCompare, you can enable eye dome lightning shading.

VTK provides [some class](https://vtk.org/doc/nightly/html/classvtkEDLShading.html) to do that.

![edl image](https://discourse.vtk.org/uploads/default/original/1X/93a52a880ebf39b8782f994e2ef4441e13b88a11.png)

It would be nice to have this shading option in pcl visualizer.

[2021-09-08 07:51] mvieth commented on #4940
@larshg What do you think, how does it make sense to integrate this?

[2021-09-08 08:06] mvieth commented on #4939
Related issue: #1566
What you are describing sounds good. Feel free to create a pull request to add this functionality

[2021-09-08 08:15] peci1 commented on #4939
Thanks for the reference. With you saying there is a chance and will to accept the required change, I'll consider sending the PR, but no earlier than in October. I'm adding it to my todo list.

[2021-09-08 09:21] kaiwen2020 commented on #4936
You are right, Lanns's answer is correct, we should constrain alpha to the range -pi to pi. The  suspicious lines seem correct, since during discretization, we add M_PI to alpha to assure the index of a vector to be positive or 0, then when we take the value of alpha from the accumulator array, we should substract the index with
`std::floor(static_cast<float>(M_PI) /

[2021-09-08 11:23] mvieth commented on #3453
I found these two:
1. https://stackoverflow.com/questions/16528107/nvcc-fatal-a-single-input-file-is-required-for-a-non-link-phase-when-an-outputf
2. https://forums.developer.nvidia.com/t/solved-nvcc-fatal-a-single-input-file-is-required-for-a-non-link-phase-when-an-outputfile-is-s/37807

So it could be a wrong character/bad encoding, or some other incorrect configuration with ccmake. Hope that he

[2021-09-08 11:23] #3453 closed

[2021-09-08 11:37] mvieth commented on #3051
I suspect it is one of two things:
1. There are some files left that were built in debug mode. If you change to another mode, you should delete all previously built files, switch to the new mode, and then do a fresh  rebuild of _everything_.
2. PCL and your own project are built in different modes. If you want to build your own project in release mode, PCL itself also has to be built in release mo

[2021-09-08 11:37] #3051 closed

[2021-09-08 19:25] mvieth commented on #2381
This is fixed (new website)

[2021-09-08 19:25] #2381 closed

[2021-09-09 11:09] mvieth commented on #4936
I am still not sure about three things:
1. Why does the `floor` make sense? That would change e.g. 19.99999 to 19.0. And since the angle should be a float anyway, I don't see a reason to use `floor`. Do you have an explanation?
2. The fact that the discretization step is first divided by, and later multiplied by. If the `floor` wasn't there, that could be simplified
3. I think it should be `max_vo

[2021-09-10 08:41] mvieth commented on #4929
I don't get any error when running your program. What operating system are you using? What PCL version are you using and how did you install it? How did you compile your example program? Can you run you program with a debugger to see how the error happens?

[2021-09-10 20:08] larshg commented on #4940
@gui2dev and @mvieth  take a look at the PR I made. It seems straigthforward to get a simple implementation, but as I write in the PR - the effect is applied to all actors, including text / fps which get pretty scrambled.

[2021-09-10 22:31] zanechou commented on #4929
thanks，I use Win10 with pcl 1.12

[2021-09-11 12:58] joseandres15 opened #4942 "PCL PolygonMesh concatenation error"
I'm trying to concatenate a pcl::PolygonMesh triangulation variable (triang) to a "buffer" pcl::PolygonMesh triangulation variable (triang_buffer). I've tried to do it by:

    triang_buffer += triang;

and by:

    bool pcl::PolygonMesh::concatenate(triang_buffer, triang);

but when I compile it, it appears these errors respectively:

  triang_buffer += triang;

and

  bool pcl::PolygonMesh::conc

[2021-09-11 16:30] mvieth commented on #4942
Yes, as you have noticed, those functions are not available in PCL 1.8. It seems they are available since PCL 1.10.0. So you could install PCL 1.12.0 as described in PCL's tutorials (compile from source, but you might also have to compile some ROS packages from source then), or you create your own concatenation function in your code, with code copied from PolygonMesh.h.

[2021-09-11 18:12] ArkaprabhaChakraborty commented on #4905
This means I have to add a Transformer method too ?

[2021-09-11 19:44] ArkaprabhaChakraborty commented on #4905
I think a transformer method will be required using a 2x2 rigid body matrix. I might be wrong though so please do correct me.

[2021-09-12 03:00] cardboardcode commented on #2870
Can confirm that this worked for me as well. Thanks.

[2021-09-12 06:31] mvieth commented on #4905
I would say a `Transformer` struct that uses SIMD like for the other `transformPointCloud` functions is not the way to go here, partly because SIMD is not usable efficiently due to the smaller size. I would suggest to create an `Eigen::Vector2f` from each point, then use the transform on that. We could even consider to add a `getVector2fMap()` to `PointXY` in point_types.hpp

[2021-09-12 07:52] ArkaprabhaChakraborty commented on #4905
Okay. But what would be the transformation function then. I'm sorry I'm new to rigid body simulations. So can I get some hints ?

[2021-09-12 07:56] mvieth commented on #4905
Just a multiplication: https://eigen.tuxfamily.org/dox/group__TutorialGeometry.html

[2021-09-12 08:50] lishawa commented on #4608
Have you solved the problem that the option n_samples cannot work? I just met the same problem when batch convert mesh to point cloud. The number of some generated point clouds are not the specified.

[2021-09-12 16:07] joseandres15 commented on #4942
@mvieth Thank you for your response.

Could you describe me the process to do it? I'm new using ROS and maybe I'm missing some step.

By the moment, I have compiled from source PCL 1.12.0 [from GitHub](https://github.com/PointCloudLibrary/pcl/releases) following the steps described [here](https://pcl.readthedocs.io/projects/tutorials/en/latest/compiling_pcl_posix.html#compiling-pcl-from-source-on-

[2021-09-12 16:52] mvieth commented on #4942
It's always a good idea to post the actual error messages then. Just knowing that there are errors gives us very little information to work with :wink:

If you want to use a PCL version other than the standard PCL version for your ROS release, you will likely have to compile some ROS packages from source. Probably all packages that use PCL (only the packages _you_ want to use of course), e.g. pcl_

[2021-09-12 21:41] joseandres15 commented on #4942
@mvieth Sorry for my ignorance but I still don't know what I have to do.

Do you mean that I have to move the packages that I need (it seems to be pcl_conversions) to my workspace `catkin_ws/src` and run `catkin_make`? That would be the process?

By the way, this is the error, I forgot to post it before.

In file included from /opt/ros/melodic/include/pcl_ros/point_cloud.h:9:0,
                 fr

[2021-09-13 07:49] mvieth commented on #4942
I believe so, but that is a ROS-specific question, and as I said above, PCL itself is not directly part of ROS, so this is not the appropriate place to ask this question. Please check out the ROS tutorials (especially those describing the process to compile packages from source with catkin) or ask in the ROS forum. The errors should disappear when you use the most recent version of pcl_conversions

[2021-09-13 10:23] joseandres15 commented on #4942
No, thanks for your help.

[2021-09-13 13:40] BaltashovIlia commented on #4817
Hi,

Have you seen clustering from autoware? It is faster than PCL CPU/GPU clustering with the same result.
https://github.com/Autoware-AI/core_perception/blob/master/lidar_euclidean_cluster_detect/nodes/lidar_euclidean_cluster_detect/gpu_euclidean_clustering.cu

I wrote a small benchmark: https://github.com/BaltashovIlia/pcl_vs_autoware_clustering

On Ryzen 2700x + RTX A4000, the result is as fol

[2021-09-13 14:17] #4942 closed

[2021-09-14 07:42] ArkaprabhaChakraborty commented on #4905
what does this line mean ?
`inline PointXY(float _x, float _y): x(_x), y(_y) {}`
within `struct PointXY`

[2021-09-14 07:53] mvieth commented on #4905
That's a constructor. If you e.g. write `pcl::PointXY point(1.0, -2.0);`, then this constructor sets the `x` and `y` of the point, so that `point.x == 1.0` and `point.y == -2.0`.

[2021-09-14 07:57] #4907 closed

[2021-09-14 08:27] ArkaprabhaChakraborty commented on #4905
` struct PointXY`
`{`
    `float x = 0.f;`
    `float y = 0.f;`
    `inline PointXY() = default;`
    `inline PointXY(float _x, float _y): x(_x), y(_y) {};`
    `inline Eigen::Map<Eigen::Vector2f> getVector2fMap()`
    `{`
      `Eigen::Vector2f  v1(x,y);`
      `Eigen::Map<Eigen::Vector2f> mapped_points = Eigen::Map<Eigen::Vector2f>(v1);`
      `return mapped_points; `
    `}`
    `friend std::os

[2021-09-14 08:29] ArkaprabhaChakraborty commented on #4905
Or I should just return an Eigen::Vector2f ? because the map is not making any sense.

[2021-09-14 08:33] ArkaprabhaChakraborty commented on #4905
Im keeping it
`
  struct PointXY
  {
    float x = 0.f;
    float y = 0.f;

    inline PointXY() = default;

    inline PointXY(float _x, float _y): x(_x), y(_y) {};

    inline Eigen::Vector2f getVector2fMap()
    {
      return Eigen::Vector2f(x,y);
    }

    friend std::ostream& operator << (std::ostream& os, const PointXY& p);
  };
`
But is this logic correct?

[2021-09-14 08:47] mvieth commented on #4905
A map is preferable because then it is possible to not only read from a point, but also assign to it (and there is no copy). You may have to wrap the x and y fields in a union with a new field `float data[2]` or similar (check how it is done for XYZ points. BTW let's discuss these details in the pull request you opened; if you want feedback on code, you can also push the code

[2021-09-14 09:30] ArkaprabhaChakraborty commented on #4905
okay I'll push the code.

[2021-09-14 12:42] gui2dev commented on #4940
Thanks @larshg for the PR.
I guess it's ok if you don't display anything but the points.

[2021-09-14 12:44] gui2dev commented on #4940
Then, maybe having two rendering layers, one for points, and another for the other actors is the right way to do it ?

[2021-09-14 18:57] mvieth commented on #4507
Correct me if I missed something, but this is how I understand the code: The polynomial equation is differentiated and then evaluated at u=0, v=0. If you look e.g. at the second order example in the code:
https://github.com/PointCloudLibrary/pcl/blob/93d04f8b8b3408b0db4d823a249d03b8547b48d7/surface/include/pcl/surface/mls.h#L229
You see that after differentiating and then evaluating at u=0, v=0, o

[2021-09-15 08:30] marf-cn opened #4944 "[ndt/filter] call pcl::NormalDistributionsTransform::setInputTarget twice got segfault"
**Describe the bug**

A clear and concise description of what the bug is.
got segfault when calling pcl::NormalDistributionsTransform::setInputTarget second time.

**Context**

What are you trying to accomplish? Providing context helps us come up with a solution that is most useful in the real world

**Expected behavior**

A clear and concise description of what you expected to happen.

**Current

[2021-09-15 13:00] tin1254 commented on #4944
This is weird because in the call stack it tries to destroy `Leaf`, but by just calling `setInputTarget` it shouldn't happen.

We may need more context, can you provide us some runnable code to reproduce the error?

[2021-09-15 14:20] keineahnung2345 opened #4945 "[surface] MLS VOXEL_GRID_DILATION upsampling method gives extremely large point cloud"
**Describe the bug**

MLS `VOXEL_GRID_DILATION` upsampling method gives extremely large point cloud.

**Context**

I am testing the code posted at https://github.com/PointCloudLibrary/pcl/issues/1958 (I put my revision [here](https://gist.github.com/keineahnung2345/f3f323e4c643770036fcdf59a648e007)) and the upsampling result of `VOXEL_GRID_DILATION` seems weird to me. I am playing with the paramet

[2021-09-15 14:41] larshg commented on #4940
Yeah, it seems so. However, one has to change many calls to whether the actor being added should be an overlay or not. Also, I'm a bit unsure what will be rendered on top of what. Ie. if we add the coordinate system to layer 2, but points to layer 1 (with EDL), will the coordinate system then be on top of points, even though the points are closer to the viewpoint.

[2021-09-15 14:58] gui2dev commented on #4940
But for now everything is rendered in one layer, so it simply depends in which oder elements where added.
I am not sure how vtk manage layered renderers, but there maybe something like `vtkRenderer::SetLayer	(	int 	layer	)` and `void vtkRenderWindow::AddRenderer	(	vtkRenderer * 		)	` methods can do the trick?

[2021-09-16 13:46] qinglew commented on #4608
You just need to set a smaller `leaf_size` to get the number of points you want.

[2021-09-16 13:46] #4608 closed

[2021-09-16 15:30] mvieth commented on #4944
You suggest to add `PCL_MAKE_ALIGNED_OPERATOR_NEW`. Have you done that and it fixed the problem for you or is that just an idea?
Please fill out the rest of the issue template, or delete the lines that don't apply.

[2021-09-16 16:01] mvieth commented on #4945
Hmm, the second solution does not seem satisfactory.
@tin1254 What are your thoughts about this?

[2021-09-17 03:46] marf-cn commented on #4944
Yes, it fixed my problem.

[2021-09-17 04:22] marf-cn commented on #4944
Yes, it fixed my problem.
Calling setInputTarget again may release target point cloud last time I set. Due to "TargetGrid target_cells_" in NormalDistributionsTransform is not aliged, it may happen.

You can reproduce the bug as fellowed:

pcl::NormalDistributionsTransform<pcl::PointXYZI, pcl::PointXYZI> ndt;
pcl::PointCloud<pcl::PointXYZI> map;
pcl::PointCloud<pcl::PointXYZI>::Ptr cloud(new pcl::

[2021-09-18 02:25] #4944 closed

[2021-09-18 04:55] jasjuang opened #4946 "[registration] simple gicp6d example causes undefined reference to GOMP_barrier and omp_get_thread_num"
**Your Environment:**

 - OS: Ubuntu 20.04
 - Compiler: GCC 9.3.0
 - PCL Version: 1.11.1

**To Reproduce**

My PCL is installed via vcpkg, apologize in advance if this is actually a vcpkg bug or has been fixed in the latest head, please see below minimal example to reproduce the bug

[code]

CMakeLists.txt

[code]

main.cpp

[code]

`mkdir build && cd build && cmake .. && make` shows the below err

[2021-09-18 05:29] jasjuang commented on #4422
I just ran into the same problem and can be reproduced with the minimal example below:

[code]

CMakeLists.txt
[code]

main.cpp
[code]

`mkdir build && cd build && cmake .. && make` shows the below error:

[code]

[2021-09-18 09:35] alimagic opened #4947 "when use pcl.1.8.0 to show some sample, but make error when run the code of "triangulationGreedyProjection " and crash in “Memory.h”[custom] Provide a general summary of the issue"
P.S. I'm sorry for the long code and error message. This is my first time posting a problem here.

environment： ubuntu18 pcl1.8.0

some code as follow:

`  // Greedy Projection triangulation
  pcl::PolygonMesh triangulationGreedyProjection(pcl::PointCloud<pcl::PointXYZ>::Ptr xyzCloud) {
      pcl::NormalEstimation<pcl::PointXYZ, pcl::Normal> normalEstimation;
      pcl::PointCloud<pcl::Normal>::Pt

[2021-09-19 08:56] mvieth commented on #4947
How did you install PCL? Did you compile it from source?
How do you compile your own code? With cmake? Please post your CMakeLists.txt then.
The problem is likely that you have to enable SSE and/or AVX instructions for your own project.

[2021-09-19 09:58] mvieth commented on #4929
How did you install PCL? How did you compile your example program? Can you run you program with a debugger to see how the error happens?

[2021-09-19 12:46] mvieth commented on #4946
I would tend to blame vcpkg for this, but am not 100% sure how or why this happens. Would it be possible that you remove the vcpkg installation of PCL, reinstall PCL by compiling from source, and retry (leaving your CMakeLists.txt and main.cpp unchanged)?

[2021-09-19 12:47] resplendent-star opened #4948 "input many pcd into PCL viewer,but can only see the last one"
problem occur in  function:just_vis_ori_pcds()

and more details,here!
new_viewer = show_two_pcd( pcd_v[0],pcd_v[1]);

[code]

[2021-09-19 19:24] tin1254 commented on #4945
can't think of any better solution except changing the hash map in `MLSVoxelGrid`. I think it's good enough as a quick remedy. @mvieth

[2021-09-19 19:29] tin1254 commented on #4944
@mvieth Overall it makes sense to me to add `PCL_MAKE_ALIGNED_OPERATOR_NEW` even without reproducing it, what do you think? @mvieth

[2021-09-20 19:46] mvieth commented on #4944
But the trace suggests that the segfault happens while destroying a leaf, so why would adding `PCL_MAKE_ALIGNED_OPERATOR_NEW` to `VoxelGridCovariance` prevent that?
Also: Adding that macro is [necessary for fixed-size Eigen types](https://eigen.tuxfamily.org/dox/group__TopicStructHavingEigenMembers.html), but not dynamic-size types. However, the type in the trace is a dynamic-size type (recognizab

[2021-09-21 11:23] MatthewMunks opened #4949 "[compile error] "pcl/visualization/pcl_visualizer.h" is missing."
**Describe the error**

When using `sudo apt-get install libpcl-dev`, the visualization headers aren't installed (on my machine). It's slightly weird. It works fine for someone I'm collaborating with but not for me. All the other headers seem to be there as well. Only the visualisation ones are missing.

[code]

[code]

**To Reproduce**

Honestly not sure given that it's working for someone else b

[2021-09-21 12:33] mvieth commented on #4949
The "normal" package is the one which ends in `5ubuntu1` ([see here](https://packages.ubuntu.com/focal/libpcl-dev)). Is it possible that you get the package from somewhere else than the normal sources? Did you add any source/repository to your apt tool, e.g. in `/etc/apt/...`? Can you think of anything that makes your system different from your colleague's (configuration etc.)?

[2021-09-21 15:07] MatthewMunks commented on #4949
So we've both been working through ROS (so I think I may originally have downloaded through `ros-noetic-pcl-ros`). The only other thing I can think of is I've added an ssh into the anymal gitlab account so I can `apt install` from there. Could that have made a difference? (The anymal ssh is the only difference I can think of.)

[2021-09-21 15:45] #4949 closed

[2021-09-22 08:41] mvieth commented on #4948
@larshg Could you have a look at this? You know more about the visualization module than I do

[2021-09-22 08:45] mvieth commented on #4936
@kaiwen2020 Do you have any further ideas/thoughts about this? What do you think about the three things I described above?

[2021-09-22 08:51] mvieth commented on #4507
@keineahnung2345 Does my explanation make sense to you? I don't see a bug in the code and would tend to close this issue

[2021-09-22 09:26] mvieth commented on #4945
In which way would you change the hash map?
I think not only negative indices are a problem, see for example this 2D equivalent (bounding box in blue):
![MLSVoxelGrid](https://user-images.githubusercontent.com/39675748/134315702-55e19a29-b519-4127-b088-91745e393c0c.png)
On the lower left, the three indices 3, 7, 11 are not negative, but would refer to cells on the far right.
So a solution could be

[2021-09-22 09:36] keineahnung2345 commented on #4507
Yes, I just realized what the comment says, thank you!

[2021-09-22 09:36] #4507 closed

[2021-09-22 10:32] kaiwen2020 commented on #4936
max_votes_j is actually an int, since it is obtained this way `max_votes_j = j`. It is actualy an index of the accumulator array. And this `std::floor(static_cast<float>(M_PI) /search_method_->getAngleDiscretizationStep())` is to discretize the M_PI in the same way as alpha. We can consider it as a shift in the accumulator array, it should be an integer since it is an index. I think it is better t

[2021-09-23 05:34] kaiwen2020 commented on #4936
You are right. Theoretically `floor` works since the discretization step is pi divided by an integer; but numericallly, `floor` may be wrong due to the precision of floating point. I did not consider this... Maybe it is more reasonable to use `round` here? Also I agree that it is better to represent an interval by its center instead of the left side.

[2021-09-23 08:16] mvieth commented on #4936
@kaiwen2020 Would you be interested in opening a pull request to fix the problems we discussed?

[2021-09-23 09:42] marf-cn commented on #4944
There are some fixed-size Eigen types in struct Leaf which is included in  class VoxelGridCovariance . Is it the cause?

[2021-09-23 09:53] marf-cn commented on #4944
" not enabling SIMD extensions" may be the cause, I'll try later。

[2021-09-23 12:14] 155cannon commented on #1623
I have the same problem about pcl::CropBox, I find a bug. My program is  is very simple.

#include <iostream>
#include <pcl/point_types.h>
#include <pcl/filters/crop_box.h>

int main()
{
     pcl::PointCloud<pcl::PointXYZ>::Ptr cloud(new pcl::PointCloud<pcl::PointXYZ>);
     pcl::PointCloud<pcl::PointXYZ>::Ptr cloud_filtered(new pcl::PointCloud<pcl::PointXYZ>);

     // Fill in the cloud data

[2021-09-23 12:20] mvieth commented on #1623
@155cannon What do you mean with "right results"? Since the input point cloud is random, it can happen that no point is within the box from 0 to 700. But that does not necessarily mean that the CropBox is the problem. What results would you expect?

[2021-09-23 12:31] 155cannon commented on #1623
In my computer(win10+visual studio 2019 community+ pcl 1.12.0), the cloud is always constant ,the 5 points are
Cloud before filtering:
    1.28125 577.094 197.938
    828.125 599.031 491.375
    358.688 917.438 842.563
    764.5 178.281 879.531
    727.531 525.844 311.281

[2021-09-23 14:26] mvieth commented on #1623
@155cannon So all except the first point should be filtered out? But sometimes there is no point in the output cloud? Is there anything you change between successful and unsuccessful runs? Or do you just run it several times (without changing anything and without recompiling) and sometimes it returns one point, sometimes no points?

[2021-09-23 23:51] kunaltyagi commented on #1623
Please replicate with non-random points. We can trust the report unless the random is removed. I don't think windows' random API guarantees that the data would be bit-by-bit replayable.

[2021-09-24 00:43] 155cannon commented on #1623
#include <iostream>
#include <pcl/point_types.h>
#include <pcl/filters/crop_box.h>

int main()
{
     pcl::PointCloud<pcl::PointXYZ>::Ptr cloud(new pcl::PointCloud<pcl::PointXYZ>);
     pcl::PointCloud<pcl::PointXYZ>::Ptr cloud_filtered(new pcl::PointCloud<pcl::PointXYZ>);
     cloud->width = 5;
     cloud->height = 1;
     cloud->points.resize(cloud->width * cloud->height);

     cloud->points[0]

[2021-09-24 01:11] 155cannon commented on #1623
@mvieth @kunaltyagi  I run the above program in Ubuntu Linux with pcl-1.10, the output result is always right. But in my environment(win10+visual studio 2019 community+ pcl 1.12.0), sometimes there is no point in the output result.

[2021-09-24 08:26] mvieth commented on #1623
@155cannon How did you install PCL 1.12.0 on your Windows? Do you use SIMD instructions (e.g. SSE, AVX) when compiling the sample program you posted?

[2021-09-24 08:47] kaiwen2020 commented on #4936
I'm willing to, I will read the tutorial first [https://github.com/PointCloudLibrary/pcl/wiki/A-step-by-step-guide-on-preparing-and-submitting-a-pull-request](url) as suggest in issue #1930 since I haven't contributed to PCL before

[2021-09-24 09:30] liary54 opened #4950 "When I zoom and rotate, the view appears as a bounding box and the point cloud disappears,How should I set it?"
When I scale and rotate.
![da1259b6251fa1db8c1ad2c84082054](https://user-images.githubusercontent.com/45845578/134652184-cfd2d995-9718-46b5-bb16-aaaacbeb7fa2.png)
When there is no operation.
![7e294392501c6db86212198e2103546](https://user-images.githubusercontent.com/45845578/134652445-45091609-b247-4350-87eb-6a71335b66d8.png)

[2021-09-24 09:59] jackjansen opened #4951 "MacOS: Project using PCL 1.12 fails to build after brew upgrade (VTK cannot find qt5)"
**Describe the error**

[code]
**To Reproduce**

Build a package on MacOS (tried in MacOS 11 and on 10.15) that uses PCL, and worked for PCL 1.11. It will fail with 1.12.

**Screenshots/Code snippets/Build information**

Here is my cmake dependency line for PCL. I presume `visualisation` is the culprit.
[code]

**Your Environment (please complete the following information):**

 - OS: MacOS 11.5.2

[2021-09-24 12:53] mvieth commented on #4951
I am not very familiar with brew, is Qt5 installed on your system?

[2021-09-24 14:59] jackjansen commented on #4951
qt5 is installed via brew. That was done by the brew recipes for pcl 1.12 (or by the recipes for vtk, I'm not sure).

But: qt5 is installed as keg-only, so it isn't linked into the normal `/usr/local` paths. Therefore, the pcl CMakefiles (or, again, the vtk CMakefiles, I am not sure) cannot find the Qt5 cmake configuration files.

I have tried a manual `brew link qt5` but that doesn't work either,

[2021-09-24 15:54] larshg commented on #4951
Are you supplying the the path as an argument - like done here on the CI:
https://github.com/PointCloudLibrary/pcl/blob/master/.ci/azure-pipelines/build/macos.yaml

It seems to be VTK failing as PCL searches for Qt after VTK.

[2021-09-24 16:31] larshg commented on #4948
The code looks okay, though its a bit difficult to read with the bad formatting.
@resplendent-star  can you post the PCD files or send them directly - then I could take a look at those.

[2021-09-24 16:59] larshg commented on #4950
Its because you have a large pointcloud and PCL uses vtkLODActor(LOD = Level of detail), which on the lowest level is just a boundingbox.
https://vtk.org/doc/nightly/html/classvtkLODActor.html#details

In the docs they mention different things, that might make it possible not to due so. Ie. lower the required framerate. Try read up on it and if you find a solution, please post it here.
And maybe m

[2021-09-24 23:35] RhineArcedia opened #4953 "[compile error] object file cant recognise refrences"
the object file cant recognise the refrences to pcl and vtk libraries.
![Screenshot from 2021-09-25 02-34-47](https://user-images.githubusercontent.com/87337841/134749591-dbb8dbb7-4be1-4be9-80ff-698990b9aff6.png)

the cmake .. works.
the object file here calls for another object file which was successfully compiled and built.

this is what i was trying to run:
https://bitbucket.org/alberto_pretto/

[2021-09-25 03:07] blowfish9423 opened #4954 "[visualizer] call visualizer thread crash"
Normals visualisation example
Generating example point clouds.

2021-09-25 11:02:47.801 (   0.174s) [        4F2B5680]vtkOpenGLPolyDataMapper:307   WARN| vtkOpenGLPolyDataMapper::GetVertexShaderCode was deprecated for VTK 9.0 and will be removed in a future version.  Use vtkOpenGLShaderProperty::GetVertexShaderCode instead.
2021-09-25 11:02:47.801 (   0.174s) [        4F2B5680]vtkOpenGLPolyDataMap

[2021-09-25 07:45] #4930 closed

[2021-09-25 08:38] #4931 closed

[2021-09-25 18:13] mvieth commented on #4953
So you simply tried to build the project you linked and got these errors? Then I would suggest that you contact the authors/maintainers of that project or open an issue there. We can't give support for all projects that use PCL.
On a quick glance, it seems that the object file(s) are not linked against the PCL libraries (`target_link_libraries`)

[2021-09-25 21:50] jackjansen commented on #4951
@larshg thanks, I've managed to include something similar in my CI/CD scripts (add `-DQt5_DIR=/usr/local/opt/qt5/lib/cmake/Qt5` if that directory exists).

[2021-09-26 06:09] 155cannon commented on #1623
@mvieth @kunaltyagi
 I find the problem,it's about eigen memory. In Debug,the output result is always right with a memory fault in the code below:
    EIGEN_DEVICE_FUNC inline void aligned_free(void *ptr)
    {
      #if (EIGEN_DEFAULT_ALIGN_BYTES==0) || EIGEN_MALLOC_ALREADY_ALIGNED
        std::free(ptr);
      #else
        handmade_aligned_free(ptr);
      #endif
    }
In release, sometimes the

[2021-09-26 08:28] mvieth commented on #1623
@155cannon Yes, I suspected that it has something to do with Eigen's memory management. That is why I asked: How did you install PCL 1.12.0 on your Windows? Do you use SIMD instructions (e.g. SSE, AVX) when compiling the sample program you posted?
If SIMD instructions are used in one case, but not the other, that could lead to this problem.

[2021-09-26 10:54] 155cannon commented on #1623
I just install the "PCL-1.12.0-AllInOne-msvc2019-win64.exe" and download the "pcl-1.12.0-rc1-pdb-msvc2019-win64.zip". Then unzip the pcl-1.12.0-rc1-pdb-msvc2019-win64.zip and put the pdb files in C:\Program Files\PCL 1.12.0\bin. Then I configurate the visual studio 2019(VC++ include, lib path and linker->input->Additional dependencies ). That's all.

[2021-09-26 10:56] 155cannon commented on #1623
@mvieth    I dont' know how to check if I use SIMD instructions (e.g. SSE, AVX).

[2021-09-26 15:02] larshg commented on #1623
See project configuration window like here: https://stackoverflow.com/questions/20169064/does-archavx-enable-avx2.

However it ask a bit different question, it shows where you can set it for your project. Assuming you don't use Cmake to create your solution.

[2021-09-26 16:37] tin1254 commented on #4944
I also doubted that but as @mvieth said, the trace indicating it was caused by dynamic size matrix, which adding `PCL_MAKE_ALIGNED_OPERATOR_NEW` only solves issues with fixed size matrix

@marf-cn  Since you close the issue, have you fixed your issue already?

[2021-09-26 21:03] jasjuang commented on #4946
I can confirm that this error doesn't exist when I build PCL from source with the latest master.

[2021-09-26 21:03] #4946 closed

[2021-09-27 01:26] kunaltyagi commented on #4951
@jackjansen should we close this issue then?

[2021-09-27 01:28] kunaltyagi commented on #4948
Fixed the formatting

[2021-09-27 07:18] whulc opened #4957 "bug in saveOBJFile function, io/src/obj_io.cpp"
When writing faces to the obj file, an extra line which writes a number between the vertices index.
`<< "/" << tex_mesh.tex_polygons[m][i].vertices.size() * (i + f_idx) + j + 1`
The bug can be fixed by removing this line.

[2021-09-27 08:21] #4951 closed

[2021-09-27 12:24] mvieth commented on #4957
You mean [this line](https://github.com/PointCloudLibrary/pcl/blob/master/io/src/obj_io.cpp#L1117), right?
Could you explain the bug a bit more? What is happening, what would you expect to happen instead?
That number is the [vertex texture coordinate index](https://en.wikipedia.org/wiki/Wavefront_.obj_file#Face_elements), so simply removing it can't be a good solution ...

[2021-09-27 13:18] cz-hit commented on #3314
I meet the same problem！each point cloud in different view from the renderViewTesselatedSphere was misplaced

[2021-09-28 01:10] mickeyouyou opened #4958 "[io] savePCDFileBinaryCompressed pcd file can't open with coredump error"
**Describe the bug**
We use `pcl::io::savePCDFileBinaryCompressed(label_pcd_Name, *cloud_out);` to save our pcd file, and in most situation ,it works well. But in same output file(2 pcd files in 100k),  it will meet coredump error like `Loading /mnt/data/Lidar_B3_1632536240.453701.pcd [1]    24581 bus error (core dumped)` , Even though we use different tools.

**Context**

What are you trying to a

[2021-09-28 04:45] AchmadFathoni commented on #3713
Can confirm both in Ubuntu 20.04(pcl-tools 1.10) and Arch Linux(pcl 1.12)

[2021-09-28 05:34] whulc commented on #4957
Yes, this is not a good solution. In my case, the obj file saved with this line can not be correctly shown in Meshlab. For some face, the texture coordinate index is out of vertices index range. By removing this line, the index for the normal line is used for the texture and the obj looks correct in Meshlab, Maybe the texture coordinate index is not correctly calculated.

[2021-09-28 07:30] AchmadFathoni commented on #3713
The problem is also occur at master branch. Only Arch Linux version that throws this error
```qt.qpa.xcb: QXcbConnection: XCB error: 3 (BadWindow), sequence: 1435, resource id: 10628774, major code: 40 (TranslateCoords), minor code: 0```

[2021-09-28 07:45] AchmadFathoni commented on #3713
I found the culprit. For example, deleting this line will makes Help menu persist even after first click. https://github.com/PointCloudLibrary/pcl/blob/6361e59fd568aaa7f4b3e3119bf07fbed6c91ad4/apps/point_cloud_editor/src/mainWindow.cpp#L297
But I'm still not sure if deleting this line would be OK.

[2021-09-28 12:24] bebuch opened #4959 "Support for Qt6"
The official open source support of Qt 5.15 ended with 5.15.2 on November 20, 2020. That was almost a year ago and with Qt 6.2 the third release of the 6 series will be released in a few days.

VTK is currently also working on support for Qt6.

The PCL currently only supports Qt5, which is no longer supported as open source. There are only a few breaking changes between Qt5 and Qt6, so it should n

[2021-09-28 18:30] ZeroxCorbin opened #4960 "Cloud Indices, after a PassThrough filter with KeepOrganized =true, are rearranged."
Hello, thank you to all the developers who have worked on this project. It is amazing.

I am attempting to use the visualizer to select a range of indices. It is working well until I introduce a PassThrough filter. Then something happens I do not understand and would appreciate any feedback on.

I use setKeepOrganized(true); and the filter keeps the size of the points the same. The clouds are orga

[2021-09-29 02:10] kunaltyagi commented on #4928
@haritha-j could you please take a shot at this?

[2021-09-29 02:14] kunaltyagi commented on #4213
Could you give more details please? Is this a bug in PCL or a bug in perception_pcl's conversion?

[2021-09-29 02:19] kshitijgoel007 commented on #4213
I realized later that `perception_pcl` has just not updated with this change done in PCL. Apologies, should have posted that here.

[2021-09-29 02:20] #4928 closed

[2021-09-29 02:30] kunaltyagi commented on #4213
Oops, closed accidentally. But essentially, point raised is not an issue

[2021-09-29 07:47] #3682 closed

[2021-09-29 08:04] mvieth commented on #4959
You are welcome to create a pull request to add support for Qt6. I am not sure when one of us maintainer will have the time to work on that.

[2021-09-29 20:05] mvieth commented on #4958
- Do you only use Ubuntu (both for generating and reading the files)?
- Is it possible that there was not enough disk space while writing the PCD files? Or could there be some other hardware limitation like too low write speed?
- I noticed that the bad file contains (supposedly) more points than the good file (317794 vs 317253). Judging from your other good and bad files, is it a pattern that the

[2021-09-29 20:22] mvieth commented on #4958
Are you absolutely sure that you use PCL 1.9 to write the files? I found this pull request: https://github.com/PointCloudLibrary/pcl/pull/2325 The description there (and in the linked issue) sounds just like what you experience. If possible, please also try if the problem also occurs with PCL 1.12.0.

[2021-09-30 01:12] mickeyouyou commented on #4958
- Yes, we use docker container on Ubuntu platform to parse lidar protocol and generate pcds. **Docker container  installed pcl 1.9.0**
-  Disk space is enough. because we use Object Storage like AWS mounted in local directory like `/mnt/s3`.
- Yeah  you are right, but preverious and next frame all read fine, even though they don't have more points than bad files.
- Yes   actually ,to reproduce thi

[2021-09-30 03:17] HaisenbergPeng opened #4964 "[module_name] pcl 1.8 voxel filter: invalid pointer"
*** Error in `./test': free(): invalid pointer: 0x0000000002001b80 ***
**Context**

Please look at the code below. if using PCL 1.8, the error 'invalid point' comes out.
However, if I move the code in function 'fun()'  inside 'main()'  or use PCL 1.7 intead, the error is gone.
Anyone can explain it? I suspect it is the issue related to the smart pointer destruction.
[code]

**Your Environment (ple

[2021-09-30 07:38] #4878 closed

[2021-09-30 08:34] mvieth commented on #4958
I checked the [code that writes the binary compressed PCD files](https://github.com/PointCloudLibrary/pcl/blob/master/io/include/pcl/io/impl/pcd_io.hpp#L242), but it looks okay. For every IO operation, there is a check whether the operation succeeded, and it prints an error or throws an exception if it doesn't succeed, but if I understood you correctly, there are no errors while writing the PCD fi

[2021-09-30 12:25] mvieth commented on #4957
@whulc You are trying to store a TextureMesh, right? Not a PolygonMesh? Where do you get the mesh from? Do you load it from some other file or generate it in some way?

[2021-09-30 16:56] pmdifran opened #4965 "pcl::NormalRobustEstimation - computing robust normals at the origin"
This has been covered in the following issue, and PR, but changes were never merged:
#2403
#3169

**Context**

Contrary to most point clouds for robotics applications, in point clouds from topographic scanning, we often find ourselves very far from the origin. Either: (1) the target is far away from the scanner (i.e. scanner=origin), or (2) the datasets are immensely large, where some parts of the

[2021-09-30 19:09] tin1254 commented on #4945
I would suggest increasing the value of `bounding_min_`, `bounding_max_` according to `dilation_iteration_num_` and `voxel_size_`. In that case, we could skip checking for each point, because we already know where will the maximum and minimum point(s) locate given those two values.

https://github.com/PointCloudLibrary/pcl/blob/c9dd65bfd829618546eea826d80fb2751e9928c5/surface/include/pcl/surface/m

[2021-09-30 22:10] tin1254 commented on #4964
Can't reproduce the error with version 1.9

[2021-10-01 02:08] HaisenbergPeng commented on #4964
The error is gone with pcl1.7 and pcl1.9. For building pcl1.8 with other versions, please refer to [this blog](https://blog.csdn.net/qq_36985944/article/details/115286199)

[2021-10-01 09:41] whatisor opened #4966 "[compression] Default compression generate negative effect"
**Describe the bug**

A clear and concise description of what the bug is.

**Context**

Using pointcloud compression api to compress pointcloud from realsense

**Expected behavior**

Data size is smaller after compressed

**Current Behavior**

Data size is bigger after compressed

**To Reproduce**
https://github.com/IntelRealSense/librealsense/blob/master/wrappers/pcl/pcl/rs-pcl.cpp
Using realtime

[2021-10-01 10:02] whatisor commented on #4966
I've checked default specification.
It is not really "Compression". It includes downsampling and upsampling base on configuration:
https://pointclouds.org/documentation/compression__profiles_8h_source.html

So , if data is high accuracy (0.001m), compressor with MED profile will "upsample".
As a result, it makes data size bigger.

[2021-10-01 12:12] #4953 closed

[2021-10-01 12:26] mvieth commented on #4966
I am not sure I understand the problem yet.
With default compression/default specification, you mean `MED_RES_ONLINE_COMPRESSION_WITH_COLOR` that is used in the tutorial? This is just an example, you can/should use another compression profile that fits your needs and your data.
I would also recommend you to try out the most recent PCL release, 1.12.0, because we fixed a bug in a class that is invo

[2021-10-01 12:40] mvieth commented on #4964
@HaisenbergPeng Can you run your program with valgrind or gdb (and do a backtrace)?

[2021-10-01 13:16] mvieth commented on #4945
If `bounding_min_` and `bounding_max` are adjusted, then `data_size_` also has to be adjusted, and all indices in the hashmap recomputed, right?
The alternative would be to check if all entries of `new_index` are non-negative [here](https://github.com/PointCloudLibrary/pcl/blob/master/surface/include/pcl/surface/impl/mls.hpp#L879), and to otherwise not dilate in that direction. This would have the

[2021-10-01 14:04] tin1254 commented on #4945
Maybe my explanation wasn't so clear before. My suggestion was adjusting `bounding_min_` and `bounding_max_` at the beginning of constructing the hash map with the original cloud, so indices of the voxel won't be rehashed because all the voxels (including the dilated ones) are always inside the bound

NP, I can try both solutions and create a PR in a week or two

[2021-10-01 14:41] keineahnung2345 commented on #4945
Hi, I have found some variant of cantor pairing function that works for integer and also for three numbers, and I put my python implementation [here](https://gist.github.com/keineahnung2345/8b2ea500e7f56a4a1a8fee7dcc03ce52). I've tested it in a very limited range(a,b,c in [-3,3]), and the results seem to be correct.

I think it should be helpful here, but I haven't gone through the proof yet, so i

[2021-10-03 07:19] whatisor commented on #4966
You are correct, new version fixed on Windows.
Thanks

[2021-10-03 07:19] #4966 closed

[2021-10-03 08:21] whatisor opened #4967 "[compression] Can we support GPU to accelerate?"
Current evaluation:
Environment: Windows 10 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz   2.21 GH
PointCloud: Realsense

Result:
Frame ID: 773
Encoding Frame: Prediction frame
Number of encoded points: 135760
XYZ compression percentage: 3.664678%
XYZ bytes per point: 0.439761 bytes
Color compression percentage: 36.146324%
Color bytes per point: 1.445853 bytes
Size of uncompressed point cloud: 2121.25

[2021-10-03 14:10] mvieth commented on #4967
Could be possible to make encoding and decoding faster by using the GPU or using multiple CPU threads. We maintainers probably don't have the time right now to look into this, but you are of course welcome to investigate and share your findings or open a pull request. Or maybe someone else sees this and is interested. Starting points could be `Octree2BufBase` and the octree implementation in the g

[2021-10-03 14:19] mvieth commented on #4936
@kaiwen2020 If you have any questions about the process, feel free to ask

[2021-10-04 13:41] mvieth opened #4968 "Win64 docker image fails to build on Azure"
See here: https://dev.azure.com/PointCloudLibrary/pcl/_build?definitionId=11
The problem seems to be that libffi fails to build.
The Win86 image builds successfully (except the last time, but that was only because Eigen temporarily lost their Gitlab repo).

[2021-10-05 03:43] whatisor opened #4970 "[custom] pcl-1.12.0-rc1 compiled with wrong version"
this tag compiled with wrong version in cmakelist: project(PCL VERSION 1.11.1.99)

[2021-10-05 05:36] kunaltyagi commented on #4970
It's a release candidate, not a release.

@mvieth @larshg Thoughts?

[2021-10-05 05:48] larshg commented on #4970
I don't think we should spent much time on that. Now its documented (by this issue).

[2021-10-05 05:58] larshg commented on #4968
Seems this PR at VCPKG made it start failing:
https://github.com/microsoft/vcpkg/pull/19655

[2021-10-05 07:47] mvieth commented on #4970
@whatisor Would you expect the version in cmake to be 1.12.0 or something else? What is the problem with it being 1.11.1.99?
- The release candidates (e.g. pcl-1.12.0-rc1) are not meant for "normal" use, use the actual releases instead (e.g. pcl-1.12.0)
- A release candidate comes before the release, so it makes sense that the version of the release candidate is less than the version of the releas

[2021-10-05 08:10] kunaltyagi commented on #4970
Agree strongly with the 3rd point raised by @mvieth

Re: @larshg

We can do nothing at this point, but this conversation might steer us towards a different direction for the next release (but I quite agree with mvieth, so might be unlikely)

[2021-10-05 18:32] aeeee10 commented on #4391
Hello,

I installed PCL using vcpkg, I set cmake toolchain to vcpkg.cmake, I add pcl to cmake_prefix_path, and receive CMake error at vcpkg/installed/x86-windows/share/pcl/PCLConfig.cmake: common is required but eigen was not found.

Below is my cmake file:
[code]

[2021-10-05 21:47] pmdifran commented on #4965
@mvieth that sounds great. Let me know how I can help once we figure out the best course of action :)

[2021-10-06 11:46] mvieth commented on #4947
Closing due to no response

[2021-10-08 01:04] mickeyouyou commented on #4958
Acctually object storage is prallell operation, we generate it in local file system(docker container) firstly and move it to storage one time way. So I don't think it is an problem of object storage.

[2021-10-08 03:44] kaiwen2020 commented on #4936
@mvieth I have a question when modifying the code, from line 143 to 147 in ppf_registration.hpp
[code]
and also from line 96 to 99 in ppf.hpp
[code]
What's the intention of these lines... to force alpha_s and alpha_m to be positive? If so, then the range of alpha should be from -pi to pi. What's your opinion?

[2021-10-09 11:46] HaisenbergPeng commented on #4964
@kunaltyagi yes, you are right, it is actually a support request.

[2021-10-09 13:13] #4383 closed

[2021-10-09 13:16] tin1254 commented on #4964
@HaisenbergPeng If you are using vscode, I would suggest using their official gdb plugin for better visualization.
Tutorial in Chinese: [link1](https://zhuanlan.zhihu.com/p/367909032) [link2](https://blog.csdn.net/zztiger123/article/details/105544640)

[2021-10-10 09:28] mvieth commented on #4968
libffi now succeeds, but it fails at a later point (msmpi)

[2021-10-10 10:39] larshg commented on #4968
Its already  reported here:
https://github.com/microsoft/vcpkg/issues/20417

[2021-10-12 07:00] ggomac opened #4981 "Converting PCD file to KITTI .bin file"
My pcd file format
[code]

How can I convert pcd file to kitti .bin file format?

[2021-10-12 08:02] #4981 closed, assigned to nobody

[2021-10-12 10:08] AndreAhmed commented on #4462
Hello,
The all in one installer works only in release mode, debug, release with debug, results in a crash.

[2021-10-12 10:13] AndreAhmed commented on #4462
and here is the sample point cloud
https://www.mediafire.com/file/epglzuigetuw0n2/188262.pcd/file

it works only in release mode.

[2021-10-12 13:52] katadam opened #4982 "get supervoxel label for new points"
Hi, is there a way to get the supervoxel label of points (e.g. in which supervoxel a point is assigned) for points that have not been present in the supervoxel computation?

[2021-10-12 20:10] mvieth commented on #4965
Okay, here are my thoughts about the problem.
The issue is that normals are not correctly calculated and that the optimization function of the sample consensus plane model produces bad results, when the point cloud is far away from the origin. In both cases, the function `computeMeanAndCovarianceMatrix` from centroid.h(pp) is the root of the problem. The returned covariance matrix is more and more

[2021-10-13 20:09] mvieth commented on #4965
Thank you for your comments!
I also tested the accuracy of the naive algorithm (current implementation) in double precision (instead of float/single), compared to my ground truth (two-pass algorithm in double precision): The difference (error of the naive algorithm in double precision) is up to 10893.3 in scenario 2 (mean is far from origin). So I would say that simply switching the naive algorith

[2021-10-15 21:32] tin1254 commented on #4945
@keineahnung2345 Looks great! Please let us know when it's finished, we could maybe replace if it's faster than the current approach 😀

[2021-10-17 07:28] mvieth commented on #4968
Docker builds successfully again :tada:

[2021-10-17 07:28] #4968 closed

[2021-10-18 06:27] Surajj4837-th opened #4984 "[qt_visualizer] Memory leak issue"
I m using
Qt5.13.2,
PCL 1.12
VTK7.1
gcc 9.3.0
in Ubuntu 20.04 . With this I generated QVTK widget.

I ran the qt_visualizer project and it is working fine. I went ahead to check the memory leak issues using the valgrind memory analyzer present in Qt Creator. There it showed multiple leaks. So I went ahead to comment all the code to check which part of the code is leaking memory. My first find was

[2021-10-18 07:32] mvieth commented on #4984
I don't see any obvious errors in the PCL code. To investigate further, you should look into each item in the list of issues and find out where and how exactly the error happens

[2021-10-18 08:58] Surajj4837-th commented on #4984
I checked the trace back of multiple issues, these go back to PCL or VTK libs. Following are 2 of such trace backs:
![image](https://user-images.githubusercontent.com/37545297/137700434-00ab8b59-906b-474d-8e63-1bcf8e76b416.png)
![image](https://user-images.githubusercontent.com/37545297/137700493-3215388c-3798-43be-b793-535a3ac9b88d.png)

It is not possible to post all trace backs here. How to deb

[2021-10-18 10:51] mvieth commented on #4984
For the issues that are caused by VTK, we can't do much here (you can of course contact the VTK developers/open a ticket for them - although they will probably ask you to test again with the newest VTK version). If you find errors that are caused by PCL code, we can discuss those further

[2021-10-18 21:06] PerspectivesLab opened #4985 "[ply] "please do not link to vtk""
it would be nice just to load a simple PLY file, to not install vtk binaries...
we need to compile vtk 9.0, etc... what has VTK to do with just loading a file ?
thx

[2021-10-19 13:55] mfapakhan opened #4986 "Converting PCD from UTM to MGRS"
Hello to everyone;

I want to ask another question.

I have a pointcloud, and this point cloud has points according to the UTM system. But, to match the point cloud with a vector map in lanelet format projected according to the MGRS, I want to project the PCD file, its points to the MGRS system. Is there any method for it?

Best regards.

[2021-10-19 14:48] mvieth commented on #4986
No, as far as I am aware of.
Please use [the Discord community chat](https://github.com/PointCloudLibrary/pcl#community) for these kinds of questions. There are more people with diverse experience there.

[2021-10-19 14:48] #4986 closed, assigned to nobody

[2021-10-20 11:45] Kilidsch opened #4987 "[visualization] PCLVisualizer crashes (read access violation)"
If I try to visualize a point cloud with `PCLVisualizer`, I get an reading access violation. This only happens in Release (With Debug). In Debug, everything works fine.

Minimal code example:

[code]

**Context**

I want to visualize a Point Cloud (technically a labeled one, but this here is the mininmal example of the same error).

**Expected behavior**

A window with a visualization.

**Current

[2021-10-20 12:39] shreshtashetty opened #4988 "Cmake doesn't detect Boost Windows"
I am following the first PCL tutorial: https://pcl.readthedocs.io/projects/tutorials/en/latest/using_pcl_pcl_config.html#using-pcl-pcl-config.
On doing `cmake ..` , I get the following error

![BOOSTErrorPCL](https://user-images.githubusercontent.com/14017651/138093729-f4f1720a-29b5-4405-af28-bdfcb96d73c8.PNG)

Different people have asked this on [StackOverflow](https://stackoverflow.com/questions

[2021-10-20 13:24] SantoshiK-skulk opened #4989 "Says the file not found"
I am fairly new to ROS and Ubuntu.
I just followed the instructions as given.
I created a new folder called Extract_Indices in a catkin workspace called catkin_ws2
Then made a new file named:  extract_indices.cpp
Then another file named: CMakeLists.txt -> Extract_Indices folder
I run the command: ./extract_indices

I get an error saying such a file doesnt exist.
I am not sure if this is a very sim

[2021-10-20 15:32] tomcat327 opened #4990 "[segmentation] "Retrieve differences OR similarities between two point clouds with pcl::SegmentDifferences::segment""
Hello, very easy feature request here, but I'm a person very new to C++ and PCL as well.

Currently, pcl::SegmentDifferences::segment is able to return the portion of the "src" point cloud that _**differs**_ from the "target" point cloud. I would like there to be an option with this to return the portion of the "src" point cloud that is _**similar**_ to the "target" point cloud.

I believe that be

[2021-10-20 18:12] #4988 closed, assigned to nobody

[2021-10-20 18:37] shreshtashetty opened #4991 "[compile error] make command doesn't work"
When I try the example pcd_write, the make command doesn't work.

It gives: `make: *** No targets specified and no makefile found.  Stop.`

 - OS: Windows10
 - Compiler: Microsoft Visual Studio
 - PCL Version 1.12
 - PCL Type: Installed

**Additional context**

This is what my build folder looks like after running cmake if that is of any help.
![MakeErrorPCL](https://user-images.githubusercontent.

[2021-10-20 18:48] Kilidsch commented on #4991
@shreshtashetty

You're not using make (because you're not using gcc or clang but MSVC), thus no makefile is created/found.

Try using `cmake --build .` instead of `make`.

[2021-10-20 19:23] shreshtashetty commented on #4991
The only `.exe` file to be formed is the one in the Debug directory. Doing `.\pcd_write_test.exe` did not work (why?) so I `cd`ed into Debug and ran it instead. It doesn't run and I et the following errors:
![2021-10-21](https://user-images.githubusercontent.com/14017651/138158350-33ee39e6-7cd6-4782-a409-eaf9707b3185.png)
![2021-10-21 (1)](https://user-images.githubusercontent.com/14017651/1381583

[2021-10-20 19:52] #4991 closed, assigned to nobody

[2021-10-21 07:52] #4989 closed

[2021-10-22 07:39] Tony-TF opened #4992 "[compile error] "Using pcl::SACSegmentation Fail""
**Describe the error**

Please paste the compilation results/errors.

**To Reproduce**

Provide a link to a live example, or an unambiguous set of steps to reproduce this bug. A reproducible example helps to provide faster answers. Custom OS, custom PCL configs or custom build systems make the issue difficult to reproduce.
* Best reproducability: A docker image + code snippets provided here
* Good

[2021-10-22 07:39] #4992 closed, assigned to nobody

[2021-10-22 08:02] Tony-TF opened #4993 "[compile error]"Using pcl::SACSegmentation Fail""
Hello everyone：
                        I have a problem, please help me to solve it，Thanks! The problem is that Use pcl::SACSegmentation to compile successfully, but the following error occurs when running:

![image](https://user-images.githubusercontent.com/35761167/138415136-2c9e412f-0428-4173-883e-d2616dac25b4.png)

long double boost::math::lanczos::lanczos17m64::lanczos_sum<long double>(long

[2021-10-22 14:13] shreshtashetty opened #4994 "[compile error] Matrix Transform Tutorial doesn't work (Windows)"
**Problem**
I am following the [matrix transform](https://pcl.readthedocs.io/projects/tutorials/en/latest/matrix_transform.html#matrix-transform) tutorial on Windows 10. `cmake ..` and `cmake --build .` run fine without giving me any error. But when I try to run the `.exe` file as `.\build\Debug\matrix_transform.exe cube.ply` , I don't get any output-- none of the `cout` statements are printed to

[2021-10-25 03:27] hcaslan opened #4995 "PCL Build Error: undefined reference to boost date_time library"
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=20.04
PCL Version: latest version

I'm getting the following error message while trying to install PCL

[ 23%] Building CXX object tools/CMakeFiles/pcl_pcd2vtk.dir/pcd2vtk.cpp.o
/usr/bin/ld: CMakeFiles/pcl_openni_pcd_recorder.dir/openni_pcd_recorder.cpp.o: in function 'boost::date_time::month_formatter<boost::gregorian::greg_month, boost::date_time::iso_format<cha

[2021-10-26 01:54] JackBoosY opened #4997 "[cmake] pcl_options.cmake modified CMAKE_FIND_LIBRARY_SUFFIXES, resulting in failure to find dependencies"
Hi guys,
I'm vcpkg maintainer.
Recently we are updating pcl in vcpkg (https://github.com/microsoft/vcpkg/pull/18855), but met some problems:
When vtk, a dependency of pcl, finds qt, an error occurs:
[code]

After a long period of searching, we found that pcl modified the value of `CMAKE_FIND_LIBRARY_SUFFIXES` in _pcl_options.cmake_, which caused its downstream dependencies to fail to find their de

[2021-10-26 13:28] UmutUz opened #4998 "Unresolved external symbol from pcl::SACSegmentationFromNormals"
For the following piece of code I get an unresolved external symbol error. I can open the header file, look into the definition etc etc. but compiling the code doesn't work:

[code]

The full Error:

LNK2001	Nicht aufgelöstes externes Symbol ""protected: virtual bool __cdecl pcl::SACSegmentationFromNormals<struct pcl::PointXYZRGBNormal,struct pcl::PointXYZRGBNormal>::initSACModel(int)" (?initSACMo

[2021-10-26 19:24] #4998 closed, assigned to nobody

[2021-10-27 09:08] xq198109 opened #4999 "the localmaximum filter bug"
the localmaxmum fliter  has an error in  flitered point indces, the Points in the neighborhood of a previously identified local max can not  be added to indces. the code can be modified as follow:
[code]
the code which check to see if a neighbor is higher than the query point assume the radius_indices is sorted, the searcher_ should be set  sorted, the code can be modified as follow:
[code]

[2021-10-27 19:45] kaitou1419 opened #5001 "[All in one Set up PCL 1.12.0] Path too long installer unable to modify PATH!"
After 2 Warning about PATH long... the set up routine end immediately and a can't completely Insatll PCL via All in one
Please help me, i had tried install PCL via vcpkg but it still had "Pcl\visualization" mising Error.

My system: Windows 10, i have tried LongPathEnable in Registry, but it don't help.
![image](https://user-images.githubusercontent.com/73357725/139135600-50c885ca-f259-4c68-8542-4

[2021-10-28 04:09] #4995 closed, assigned to nobody

[2021-10-28 14:20] AdamGoertz opened #5003 "[filters/ExtractIndices] shared_ptr to PointCloud output of ExtractIndices segfaults on deconstruction."
**Describe the bug**

When a shared_ptr to a pcl::PointCloud type that has been passed as the output to pcl::ExtractIndices::filter goes out of scope and deconstructs, a segfault occurs because the allocator attempts to deallocate memory 8 bytes before the allocated region.

**Expected behavior**

Deconstructing a shared_ptr should not segfault.

**To Reproduce**

The following minimal example rep

[2021-10-29 07:37] mrwsl opened #5004 "[visualization] Update QT tutorials to support vtk9"
**Is your feature request related to a problem? Please describe.**
With PCL 1.12 you added support for vtk9. Now with the new version the QT tutorials don't compile anymore.
`#include >QVTKWidget.h` throws an error.

**Context**

Trying to update my code to VTK9 and PCL 1.12.

**Expected behavior**

QT tutorials compile.

**Current Behavior**

QT tutorials don't compile due to deprecated QVTKWidge

[2021-10-29 12:55] #5004 closed, assigned to nobody

[2021-10-29 23:47] AdamGoertz commented on #5003
After updating to master the problem is fixed. Thanks everyone for your help.

[2021-10-29 23:47] #5003 closed

[2021-10-30 04:56] yes89929 opened #5006 "[cmake] $<TARGET_FILE:${pcl_xxx} refer .lib file"
**Describe the bug**

$<TARGET_FILE:${pcl_xxx} refer .lib file not .dll file.

**Context**

Copying dlls to project folder is needed on vs2019.

**Expected behavior**

Copy dlls to project folder.

**Current Behavior**

Copy libs to project folder.

**To Reproduce**
[code]

**Your Environment (please complete the following information):**

 - OS: windows 10
 - Compiler: maybe msvc142 on visual stu

[2021-10-30 06:05] shreshtashetty commented on #4994
That worked, @raahilsha-z !Thanks.
Before I close this issue (finally!), I have 1 little problem.
This is what my visualization looks like:
![2021-10-30](https://user-images.githubusercontent.com/14017651/139522411-023e5060-78ea-48f0-aee4-b5bbe3710b99.png)

Which is clearly different from the one in the tutorial. Is there any problem?

[2021-10-30 06:36] larshg commented on #4994
Thats also how it looks for me. I wonder if its a different cube that has been used originally.

[2021-10-30 06:38] shreshtashetty commented on #4994
Ok. Thanks @larshg!

[2021-10-30 06:38] #4994 closed

[2021-10-30 10:37] mvieth commented on #4882
@cdb0y511 Can you post your code and CMakeLists.txt where the error occurs? I am trying to test a possible fix, but I can't reproduce the error

[2021-10-30 13:14] larshg commented on #3881
@UnaNancyOwen is OpenNI still part of the installer and can we close this one, either way?

[2021-10-30 13:16] larshg commented on #4891
Closing due to no response

[2021-10-30 13:16] #4891 closed

[2021-10-30 13:40] UnaNancyOwen commented on #3881
OpenNI 1.x is not included in the installer. That options are disabled and the libraries and tools not depend on OpenNI 1.x.
OpenNI 2.x is included in the installer. That option are enabled and the libraries and tools depends on OpenNI 2.x.
If you want to install OpenNI 2.x separately PCL, you can uncheck the OpenNI 2.x checkbox from the install components on installer.

[2021-10-30 13:51] larshg commented on #3881
Thanks for info.

[2021-10-30 13:51] #3881 closed

[2021-10-30 15:49] kaitou1419 commented on #5001
@UnaNancyOwen thank you for helping me! add Path manually works for me.

[2021-10-30 15:49] #5001 closed

[2021-10-31 10:59] mvieth commented on #4993
Since I didn't hear anything from you, I am going to assume that my comment above helped you solve the issue

[2021-10-31 10:59] #4993 closed

[2021-11-01 09:13] RanchoLin opened #5007 "[Feature] The fpfh.hpp after modification and recompiling doesn't take effect"
I would like to modify the source code of calculating the FPFH descriptor. But when I modified the functions in [fpfh.hpp](https://github.com/PointCloudLibrary/pcl/blob/master/features/include/pcl/features/impl/fpfh.hpp#L238), like `computeFeature()`,  it didn’t change after recompiling. When I modified something in [feature.hpp](https://github.com/PointCloudLibrary/pcl/blob/master/features/includ

[2021-11-01 09:35] mvieth commented on #5007
You have to recompile and reinstall PCL after the modification, then recompile you own project that uses PCL (not sure if this is what you tried). What the `CMAKE_BUILD_TYPE` is, should not make a difference.
For some functions, it is enough to just change the code in the header files that are used by you own project (without recompiling PCL), because those functions are compiled in your own proje

[2021-11-01 12:18] RanchoLin commented on #5007
Thanks for your reply. I am sure that both PCL and my project are recompiled after modification.

    cmake -DCMAKE_BUILD_TYPE=None ..
    make -j2
    sudo make install

I added  an `std::cout << "filename" <<std::endl` as a test in  `compute()` in [feature.hpp](https://github.com/PointCloudLibrary/pcl/blob/master/features/include/pcl/features/impl/feature.hpp#L194) and `computeFeature()` in [fpf

[2021-11-01 13:08] mvieth commented on #5007
Which operating system do you use?
Do you have PCL installed via any other way than the self-compiled version (e.g. via apt)? If yes, remove the other version.
To be sure, you should remove any temporary build files from PCL and from your project, and the installed PCL files, so that you basically build PCL and your own project from scratch and it is not possible that any old files or libraries ar

[2021-11-02 01:36] RanchoLin commented on #5007
Thanks for your reply.
The solution is adding `#define PCL_NO_PRECOMPILE` to `.h` file. Then it works.

[2021-11-02 01:36] #5007 closed

[2021-11-02 04:01] AdamDamn opened #5008 "[visualizer] fatal IO error 11"
XIO:  fatal IO error 11 (Resource temporarily unavailable) on X server ""
      after 99 requests (99 known processed) with 0 events remaining.

The compiling and linking both succeeded. But when program runs and the visualizer shows the point cloud, the window will just flash back. The error reported is as above.

Does anyone know how to solve it? Thanks!

[2021-11-02 05:14] kaitou1419 opened #5009 "PCL exception Eigen::aligned_free"
Issue:
When is debug my function, it became an exception when freeing memory at the end of Function :
![image](https://user-images.githubusercontent.com/73357725/139789570-2164c887-b4f2-4da6-86c0-3f680f2c0242.png)
![image](https://user-images.githubusercontent.com/73357725/139789561-2bce85c9-9527-47c7-8d72-0d716932692e.png)

And an exception had occurred at aligned_free:
![image](https://user-imag

[2021-11-02 08:53] mvieth commented on #5008
What operating system do you use? What PCL version? What program are you trying to run? If it is a self-written program, at least post a snippet of the code where the visualization happens.
There are many reports of this problem, maybe you find a solution somewhere there:
https://www.google.com/search?q=XIO%3A+fatal+IO+error+11+(Resource+temporarily+unavailable)+on+X+server

[2021-11-02 12:04] larshg commented on #5009
Please see this post: https://stackoverflow.com/questions/20169064/does-archavx-enable-avx2

[2021-11-02 12:04] larshg commented on #5009
Closing as dublicate and its fixed when 12.1 is released.

[2021-11-02 12:04] #5009 closed

[2021-11-02 14:02] mvieth commented on #3874
PCL 1.7.2 and VTK 6 are both quite old. Please test with newer versions and create a new issue or reopen this one if you still get an error

[2021-11-02 14:02] #3874 closed

[2021-11-02 14:33] mvieth commented on #1422
This test does not fail randomly any more

[2021-11-02 14:33] #1422 closed

[2021-11-02 15:00] mvieth commented on #4906
Closing due to no response from author

[2021-11-02 15:00] #4906 closed

[2021-11-03 02:04] AdamDamn commented on #5008
Thank you my friend! I have solved the problem. I re-install a new version of pcl-1.11 and vtk-7.1 instead of pcl-12.1 and vtk-9.1, and the visual tools work well again. The problem could be something related to my Nvidia drive when using vtk9.1 or pcl-12.1.

[2021-11-03 02:04] #5008 closed

[2021-11-03 08:16] mvieth commented on #4918
Closing due to no response from the author, and missing information

[2021-11-03 08:16] #4918 closed

[2021-11-04 09:18] 155cannon opened #5013 "error LNK2001 about pcl_visualizer and vtkRenderWindowInteractorFixNew(void)?"
I install the "PCL-1.12.0-AllInOne-msvc2019-win64.exe" and download the "pcl-1.12.0-rc1-pdb-msvc2019-win64.zip". Then unzip the pcl-1.12.0-rc1-pdb-msvc2019-win64.zip and put the pdb files in C:\Program Files\PCL 1.12.0\bin. Then I configurate the visual studio 2019(VC++ include, lib path and linker->input->Additional dependencies ).  It's OK in running the PCL programs.

And I need a new "addCylin

[2021-11-04 09:26] 155cannon commented on #4987
You can try to use "pcl::visualization::PCLVisualizer::Ptr viewer(new pcl::visualization::PCLVisualizer);"

[2021-11-04 10:07] LeoYang-Chuese opened #5014 "[io] Open Chinese path ply file failed after upgrade to version 1.12"
[io] Open Chinese path ply file failed after upgrade to version 1.12

**Describe the bug**

Open Chinese path ply file failed after upgrade to version 1.12,1.11.1 is normal.

**Context**

Version 1.12 calls `io::loadPolygonFile` function to read the Chinese path ply file, read the result PolygonMesh polygons is empty. Version 1.11.1 result is normal. 1.12 call ansi_to_utf8 to read Chinese paths af

[2021-11-04 11:41] larshg commented on #5013
You cannot just handpick two files from the visualization library like that. You need to recompile PCL to properly include the new changes to the .lib and .dll files.
You could also add a PR to PCL to share this new version of addCylinder :smile:

[2021-11-04 11:41] larshg commented on #5013
Closing as not a bug in PCL, but please feel free to comment.

[2021-11-04 11:41] #5013 closed

[2021-11-04 12:22] mvieth commented on #5014
I am pretty sure that nothing inside PCL was changed that could explain this error. `loadPolygonFile` uses functions from VTK internally, so maybe they changed something. Do you get any warning or error message when you call `loadPolygonFile`?
Alternatively, you can try [`load`](https://pointclouds.org/documentation/group__io.html#ga3c5d88dbcd766a748832161f1aede422), but I have no idea whether tha

[2021-11-04 13:57] mvieth commented on #4985
Some parts of PCL's IO functionality use functions or classes from VTK in the background, e.g. `loadPolygonFile`. Do you compile PCL yourself or install it via apt or some other way? If you compile PCL yourself, I believe you can compile it without having VTK installed (then with reduced functionality)

[2021-11-04 20:02] #4985 closed

[2021-11-05 00:27] 155cannon commented on #5013
Thank you! @larshg

[2021-11-05 01:43] 155cannon commented on #5013
The "PCL-1.12.0-AllInOne-msvc2019-win64.exe" installer already contains prebuilt PCL binaries which are ready to be used without any compilation step. I had installed the "PCL-1.12.0-AllInOne-msvc2019-win64.exe". How to  "recompile PCL to properly include the new changes to the .lib and .dll files"  simplely? Just generate pcl_visualization.dll and pcl_visualization.lib?

[2021-11-05 11:33] KotaYonezawa opened #5016 "[Registration] cos_angle calculation is incorrect in NormalDistributionsTransform::computeTransformation."
**Describe the bug**

Thanks a lot for great library.
I found a bug in NormalDistributionsTransform::computeTransformation.
To handle "transformation rotation epsilon" parameter for determining  termination condition,
cosine angle is calculated from rotation vector.
But this calculation formula is not correct.

**Context**

There is an issue in following code in ndt.hpp, line 156, 157.
https://git

[2021-11-05 17:40] mvieth commented on #5016
You are right, thanks for noticing! Would you create a pull request to fix this?

[2021-11-07 05:00] karnuz opened #5017 "vtk was not found during compilation"
Attempting to compile the example here : https://pcl.readthedocs.io/projects/tutorials/en/latest/bspline_fitting.html#bspline-fitting

I run into the following error

[code]

I do have vtk installed on my system and was able to compile project dependent on vtk.

[2021-11-07 07:55] #2326 closed

[2021-11-07 07:55] #4898 closed

[2021-11-07 11:00] mvieth commented on #4882
I was finally able to reproduce the error: With an executable that is constructed from two .cpp files (e.g. `add_executable(mls_lib mls_lib1.cpp mls_lib2.cpp)`), and both .cpp files have `#define PCL_NO_PRECOMPILE 1` and `#include <pcl/surface/mls.h>`

[2021-11-07 11:10] mvieth commented on #5017
We need some more information, like:
What operating system do you use?
How did you install PCL (self compiled from source)?
Which version of PCL (the 1.12.0 release or the current master branch or some other commit)?
Did you install VTK and if yes, how and which version?

[2021-11-07 13:15] karnuz commented on #5017
On MacOS 11.5
Installed PCL and VTK using brew.
PCL version is 1.12
vtk version is 9.0

[2021-11-07 20:01] mvieth commented on #5017
Is there a vtk-config.cmake or VTKConfig.cmake on your computer? If you know where it is, you can try to set `VTK_DIR` to that path before `find_package(PCL)`

[2021-11-08 02:21] karnuz commented on #5017
Thanks for the suggestion.
In the default VTK, there was no VTKConfig.cmake file. I built another VTK from source using CMake, with Qt enabled and set the VTK_DIR path to it and that  helped. The configuration now is Qt6 along with VTK 9.1. I was able to run an example (didn't include PCL) that uses this configuration.

However, with PCL, I now am running into the issue as mentioned in #1753.

Do

[2021-11-08 06:52] gxmc0ming opened #5019 "Run error while try the range image demo"
VS2019  X64  MSVC
PCL 1.12.0

I have successful installed the PCL and run some demos.

When I am try the tutorial about range image creation：
         http://pointclouds.org/documentation/tutorials/range_image_creation.html#range-image-creation

It can be compiled and build, However running with the error:
      Assertion failed: (internal::UIntPtr(array) & (31)) == 0 && "this assertion is explain

[2021-11-08 08:48] mvieth commented on #5017
Sorry, I can't tell you more than what you see in the issue, and I don't have an Apple computer to investigate the problem further

[2021-11-08 10:33] KotaYonezawa commented on #5016
Thanks a lot for comment!
I created the pull request.
Could you check it?

[2021-11-08 15:23] Kilidsch commented on #4987
@155cannon
Have tried, doesn't help.

[2021-11-08 15:50] HikariS97 opened #5021 "m1 osx: gcc: can't find <mm_malloc.h>, clang: namespace "pcl" has no member "PointCloud"C/C++(135)"
I installed PCL by "brew install pcl", my system version is: osx 12.0.1
I'm compling _write_pcd_ example.

If I use clange as compiler, it can compile and work, but get some errors like this.

<img width="538" alt="截屏2021-11-08 23 43 00" src="https://user-images.githubusercontent.com/48763518/140772542-853e2466-c067-42a7-b1b6-5ce177b51d4b.png">
<img width="255" alt="截屏2021-11-08 23 44 12" src="htt

[2021-11-08 19:17] Kilidsch commented on #4987
@larshg
I'm not sure what you mean with subproject?

If it is about the executable containing the code cited above, the instructions are generated via CMake without any modifications (i.e. also not adding an `\arch:AVX2` flag), so I _think_ it should be SSE2?

If it is about PCL, I just use the version from the "All In One Installer". I don't know how that was compiled.

[2021-11-08 20:39] larshg commented on #4987
I mean the project that you use PCL in.
All-in-One is build with AVX2, so you need to anable that as well.

[2021-11-08 20:51] Kilidsch commented on #4987
Adding `target_compile_options(myProject PUBLIC "/arch:AVX2")` didn't help.

Also, I apparently didn't add a stacktrace, so...

(main:265 is the line after `viewer->spinOnce(100);`)
[code]

[2021-11-08 23:53] #5017 closed

[2021-11-09 04:00] SEUZTh opened #5023 "The index of the input ordered point cloud is returned after each processing"
I'm dealing with ordered point clouds. The input point cloud is 1920 * 1200. After filtering, downsampling, segmentation and other operations, the output is disordered point cloud. I want to be able to output ordered point clouds with the same height and width.
As follows, after four times of processing, the index of the corresponding first column can be found through the index of the last column.

[2021-11-09 06:06] wenxingguo opened #5024 "Different result about 3dNormals estimation when after performing affine transformation"
**Describe the bug**
Different result about 3dNormals estimation when after performing affine transformation.

**Screenshots/Code snippets**
[code]
Get the result (pcl_viewer -normals 1 PCDFile.pcd)
![image](https://raw.githubusercontent.com/wenxingguo/pcl_img/main/pic.png)

PCD file
[file](https://github.com/wenxingguo/pcl_img/blob/main/D1_save.pcd)

**Your Environment (please complete the follow

[2021-11-09 06:07] wenxingguo commented on #5024
use pcl_viewer -normals 1

[2021-11-09 06:53] JackBoosY opened #5025 "[pcl_cuda_common] Missing export pkgconfig file"
**Describe the bug**

I'm vcpkg maintainer, recently we updated pcl to 1.12.0 in vcpkg, then some users report the install fails using vcpkg (https://github.com/microsoft/vcpkg/issues/21223):
[code]
In order to use the pkgconfig file correctly, vcpkg will check the contents of the generated `.pc` to ensure correctness.

**Context**

After checking the pkgconfig file and code, I found that some `pc

[2021-11-09 08:22] JackBoosY opened #5027 "[pcl_io] libusb is not set as a required dependency of opennni"
**Describe the bug**

Hi, I'm vcpkg maintainer, after we updated pcl to 1.12.0, some users reported us that pcl failed to build using vcpkg (https://github.com/microsoft/vcpkg/issues/21241):
[code]
And this error is for all the non-Windows platform.

**Context**

After read the related code, I found that if we need to use feature `opennni` or `opennni2` in non-Windows, `libusb` must be a required

[2021-11-09 08:50] mvieth commented on #5023
Please ask this kind of questions in the Discord community chat.
I would just give you two hints: check out [`setKeepOrganized`](https://pointclouds.org/documentation/classpcl_1_1_filter_indices.html#a21eb00357056c0cc432cd03afa84d08c), and consider if you want to work only with indices that refer to your initial, organized cloud (i.e. every operation/filter receives the initial cloud and a set of

[2021-11-09 08:50] #5023 closed

[2021-11-09 09:10] mvieth commented on #5024
I would say this is either related to issue #4965 (for details see there, a pull request that fixes the problem is pending), or related to the behaviour that the normals are oriented towards the viewpoint (see e.g. [`setViewPoint`](https://pointclouds.org/documentation/classpcl_1_1_normal_estimation.html#a215cb3a84f03a4346556219121fce8e5))

[2021-11-09 13:05] #5016 closed

[2021-11-09 13:08] ArkaprabhaChakraborty commented on #4999
@mvieth I want to work on this issue.

[2021-11-09 16:42] abmuslim opened #5029 "[compile error] "PCL 1.10 compilation error""

[2021-11-09 16:46] tin1254 commented on #4999
I've been very busy lately, it would be great if @ArkaprabhaChakraborty can work on this

[2021-11-09 16:50] Jaime02 opened #5030 "CMake PCL_ROOT variable error"
Hi, I'm trying to use the library using MinGW and CMake but when I run cmake build it this error occurs:
[code]

This is due to this if statement at line 406 of PCLConfig.cmake:
[code]
That changes PCL_ROOT from C:/PCL to C:/, I don't know why

 - OS: Windows 11
 - Compiler: MinGW
 - PCL Version 1.12

[2021-11-09 16:56] #5029 closed

[2021-11-09 18:06] abmuslim opened #5031 "[compile error] "Compilation error in PCL 1.10 eucliediean_cluster_comparator.h""
### Describe the error
Facing error in euclidiean_cluster_comparator.h file when using setExcludeLabel() function.

### Please paste the compilation results/errors.

n for call to ‘std::set<unsigned int>::insert(std::size_t&) const’
  256 |             exclude_labels_->insert (i);

### To Reproduce
In order to reproduce the error I am sharing my code what I did,
`std::vector<bool> ignore_labels;
i

[2021-11-10 08:31] JackBoosY commented on #4422
This issue can NOT easily fixed.

`pcl_io_ply` is a submodule of `pcl_io`, and the build statement is placed in _io/CMakeLists.txt_.

However, pcl declares dependencies through internal `SUBSYS_DEPS`, and all subsystems use the related folder names, which means that `pcl_io_ply` cannot be used as one of the subsystems, and is added as a dependency of `pcl_io` using the internal dependency processi

[2021-11-10 09:43] mvieth commented on #5019
You probably have to enable AVX/AVX2 for your project

[2021-11-10 10:13] mvieth commented on #5031
Yes, `insert` would modify `exclude_labels_`, but that is const. However, the function you are trying to use is [declared deprecated](https://github.com/PointCloudLibrary/pcl/blob/pcl-1.10.0/segmentation/include/pcl/segmentation/euclidean_cluster_comparator.h#L249) with a hint to use the other `setExcludeLabels` function, is that warning not displayed?
Also, [this is how euclidean_cluster_comparat

[2021-11-10 10:53] abmuslim commented on #5031
Thank you for the reply @mvieth. No, the error was not displayed as you saw in the screenshot. But yeah now I am following this declared deprecated way.
Basically, I am working on ROS noetic which supports version PCL 1.10, I ran the same code on PCL 1.8 it works fine but with PCL 1.10 it is not able to find the good clusters in the images.

[2021-11-10 11:05] #5031 closed

[2021-11-10 13:30] mvieth commented on #5021
Sorry, the problems are not very clear. If you use Clang, can you compile and run successfully or do you get errors? You seem to use some IDE, which one is it? For GCC, the message about <mm_malloc.h>, are you sure that is an error or just a warning? Where do you change the source code to <sys/malloc.h>? What undefined symbols error do you get?
Please describe the problems more detailed, subdivide

[2021-11-11 12:20] kaitou1419 opened #5032 "Exception throw [Enabling depth color synchronization failed] when Reading data from Kinect V1, PCL 1.12.0, OpenNi2"
i have tried out tools Openni2_view.cpp [https://github.com/PointCloudLibrary/pcl/blob/f8c0e1a04947ff8eedca48968aa380231c197e99/tools/openni2_viewer.cpp](url)

Compile with no error, but an exception throw out when run this line [https://github.com/PointCloudLibrary/pcl/blob/f8c0e1a04947ff8eedca48968aa380231c197e99/tools/openni2_viewer.cpp#L194](url)
and it return an exception: "pcl::io::openni2::

[2021-11-11 13:41] mvieth commented on #5014
Closing due to no response, and because it does not seem like PCL is at fault

[2021-11-11 13:41] #5014 closed

[2021-11-12 04:43] kaitou1419 commented on #4987
for enable AVX2 manually in your project/subproject. you can go to Properties, and here it is:
![image](https://user-images.githubusercontent.com/73357725/141410948-b15b1653-6906-4d5d-b672-672147230802.png)

[2021-11-12 06:08] LeoYang-Chuese commented on #5014
Thanks for your answer,` loadPolygonFile` is just a very thin layer of wrapping and I can confirm that it is not PCL's cause. However, I tested VTK v8.2 separately with the same problem, but it does not appear in PCL v1.11.x. I will follow up in the follow-up if I find the fundamental difference and the reason.

[2021-11-12 07:11] Kilidsch commented on #4987
@kaitou1419

I don't use MBuild. I use CMake and as such have to specifiy this in my CMakeLists.txt, which I did with `target_compile_options(myProject PUBLIC "/arch:AVX2")`, which is the `cl.exe` flag for turning on AVX2, see https://docs.microsoft.com/en-us/cpp/build/reference/arch-x64?view=msvc-170

Thank you nonetheless.

[2021-11-12 09:27] kaitou1419 commented on #4987
@Kilidsch yeah! I have had the same problem in this case. and i added Enable AVX in VS19 after build solution by Cmake. It's worked for me and i'm using it up to now. and i', an amateur in Cmake
you can find the way to make it out in Cmake. Hope you can find out the way soon!

[2021-11-12 12:26] ArkaprabhaChakraborty commented on #4999
@mvieth Can I get a head start?

[2021-11-12 12:41] mvieth commented on #5030
Did you try to set `PCL_DIR` appropriately?

[2021-11-12 12:58] mvieth commented on #4999
Basically what I described in my comment above: Write more tests to show that the current behaviour is wrong, then fix the wrong behaviour so that the new tests pass. I think the apparent problem(s) are sufficiently explained in the other comments

[2021-11-12 15:28] Jaime02 commented on #5030
I think It was properly set, but now I think that the issue is due to Boost library, I will close this issue

[2021-11-12 15:28] #5030 closed

[2021-11-13 07:47] jasjuang opened #5034 "[kdtree] warning C4267: '=': conversion from 'size_t' to 'int' in Visual Studio"
## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): Windows 10
* Compiler: Visual Studio 2019

## Steps to reproduce

[code]

CMakeLists.txt
[code]

main.cpp
[code]

This results in compilation error:

[code]

After looking into https://github.com/PointCloudLibrary/pcl/blob/master/kdtree/include/pcl/kdtree/impl/kdtree_flann.hpp#L174 and https://github.com/PointCloudLibrary/pcl/blob

[2021-11-13 14:16] mvieth commented on #5034
I don't see a better option than `std::transform`. Would you create a pull request?
What about the other two instances of `std::copy` in kdtree_flann.hpp, are they not a problem?

[2021-11-13 22:12] jasjuang commented on #5034
Yes, similar fixes should be applied to the other two instances of `std::copy` as well. It didn't get triggered by including the 3 pcl headers in the example, but I assume it could get triggered by different include combinations of pcl headers. Do you mind creating a PR for this?

[2021-11-14 10:19] mvieth commented on #5034
I am not sure when I would find time to create a PR for this problem, but I tagged this as "good first issue", maybe someone else wants to do a pull request

[2021-11-15 02:56] aditya369007 commented on #3758
I use a ZED camera. The examples that they have provided are good and works well. Is there any advantage of adding direct support in PCL itself?

[2021-11-16 04:12] Windrag-Kong opened #5035 "Can't install openni_camera list"
Can't install openni_camera list

[2021-11-16 08:40] mvieth commented on #5035
You definitely need to give us more information, like: What exactly are you doing (steps to reproduce)? What version of PCL are you using? What operating system are you using? Is there some kind of error message? ...

[2021-11-16 12:12] SunBlack opened #5036 "[gpu] Unused parameter"
I don't know why the line numbers are wrong, but I'm getting following warnings:

[code]

[2021-11-17 03:01] Harold2017 commented on #2147
encoutered this problem with MSVC 2019 on win10 (release: PCL 1.12.0), sovled by afrixs 's suggestion, just report here.

[2021-11-17 09:37] #4982 closed

[2021-11-17 09:46] mvieth commented on #5036
So I guess someone should investigate whether [this line](https://github.com/PointCloudLibrary/pcl/blob/master/gpu/containers/src/initialization.cpp#L137) is correct, and whether [this line](https://github.com/PointCloudLibrary/pcl/blob/master/gpu/containers/src/error.cpp#L48) should also include `func`?

[2021-11-18 04:22] wenxingguo opened #5039 "[pcl::features] spin images can not change image_width, it only works well with "image_width=8""
**Describe the bug**
spin images can not change image_width, it only works well with "image_width=8"
**Screenshots/Code snippets**

[code]

Undefined symbols for architecture arm64:
  "pcl::SpinImageEstimation<pcl::PointXYZ, pcl::Normal, pcl::Histogram<190> >::initCompute()", referenced from:
      vtable for pcl::SpinImageEstimation<pcl::PointXYZ, pcl::Normal, pcl::Histogram<190> > in spin_image-

[2021-11-18 04:41] jasjuang opened #5040 "[common] #pragma warning(default: 4201) in point_types.hpp causes confusing behavior"
## Environment

* Operating system (Windows/Mac/Linux, 32/64 bits): Windows 10
* Compiler: Visual Studio 2019

## Steps to reproduce

[code]

CMakeLists.txt
[code]

main.cpp
[code]

This results in compilation error:

[code]

which was very confusing because `/wd4201` was specified in the compilation flag, initially I thought it was a Visual Studio bug, but when I was recreating a minimal example,

[2021-11-18 05:34] CrownW opened #5041 "incompatible"
I deployed the same ubuntu18 vm image with pcl1.9 installed on intel11 and 10 processors. There is a problem that the program compiled by the 10th generation processor can be used in the 11th generation, but the program compiled by the 11th generation processor cannot be used in the 10th generation. How can I solve this problem?

[2021-11-18 09:11] mvieth commented on #5024
Ok, so I would say that this is not because of the oriented-towards-viewpoint behaviour, because then all normals would be affected similarly, and they would be just inverted (multiplied with -1). However in the image, only few normals are affected, and they are oriented more or less randomly.
So this is very likely the same problem as in the other issue I linked above. I tested with the fix in pu

[2021-11-18 09:11] #5024 closed

[2021-11-18 20:51] #5025 closed

[2021-11-18 20:52] #5027 closed

[2021-11-19 14:15] cdb0y511 commented on #4882
The easiest way is to comment them in mls.h and mls.hpp
   //Eigen::Vector2f
    //calculatePrincipalCurvatures (const double u, const double v) const;

    //PCL_DEPRECATED(1, 15, "use calculatePrincipalCurvatures() instead")
    //inline Eigen::Vector2f
    //calculatePrincipleCurvatures (const double u, const double v) const { return calculatePrincipalCurvatures(u, v); };

[2021-11-19 15:57] MasHyke opened #5042 ""pcl_common" was not found during compilation"
I am trying to build my first program using PCL, however during compilation, ament_target_dependencies() complains that it does not find 'pcl_common'. However in the build logs, it seems like it does actually find it, however it says 'PCL_COMMON' instead. Why does this happen, and what is the workaround?

From the terminal:
[code]

From the streams.log:

[code]

Snippet from package.xml:
[code]

S

[2021-11-19 22:15] antoniobelchiorferraz opened #5043 "[comError: Building package pcl:x64-windows failed with: BUILD_FAILED"
-- Building x64-windows-dbg
-- Building x64-windows-rel
CMake Error at scripts/cmake/vcpkg_execute_build_process.cmake:155 (message):
    Command failed: "C:/Program Files/CMake/bin/cmake.exe" --build . --config Release --target install -- -v -j9
    Working Directory: C:/Users/aferraz/vcpkg/buildtrees/pcl/x64-windows-rel
    See logs for more information:
      C:\Users\aferraz\vcpkg\buildtrees\p

[2021-11-20 03:02] Windrag-Kong commented on #5035
[](url
![b876fc90945493f1a8701622200a49c](https://user-images.githubusercontent.com/93043313/142712267-04ee5795-4e18-480f-b78e-d0249de21b6e.png)
)
see the picture,the redline parts can't install the computer,see the follow picture

![f169b6f6d97740eb25e0a29fab14db4](https://user-images.githubusercontent.com/93043313/142712348-edcdb6d8-057c-4549-95e5-440b59a09915.png)

[2021-11-20 10:03] mvieth commented on #5042
This seems to be a ROS-specific issue (ament), so please ask in the ROS forums or at the perception_pcl repo

[2021-11-20 10:03] #5042 closed

[2021-11-20 10:10] mvieth commented on #4882
We can't simply remove those functions from the library. It would be helpful if you could test the current solution in the linked pull request. I am pretty sure that it should solve the issue, but if you would also verify that, that would be great

[2021-11-20 10:13] mvieth commented on #5035
So I see that you are using Windows and PCL 1.12.0, and your question is why those directories are not installed on your computer.
How did you install PCL?

[2021-11-20 10:58] Windrag-Kong commented on #5035
I used PCL-1.12.0-AllInOne-msvc2019-win64

[2021-11-20 10:58] Windrag-Kong commented on #5035
I used PCL-1.12.0-AllInOne-msvc2019-win64

[2021-11-20 13:44] mvieth commented on #5039
Does it work if you put `#define PCL_NO_PRECOMPILE 1` before `#include <pcl/features/spin_image.h>`?
The reason is that `SpinImageEstimation` is only instantiated for histograms of size 153, [see here](https://github.com/PointCloudLibrary/pcl/blob/master/features/src/spin_image.cpp)

[2021-11-20 14:01] mvieth commented on #1880
Fixed by pull request #4983

[2021-11-20 14:01] #1880 closed

[2021-11-20 14:02] mvieth commented on #3041
Fixed by pull request #4983

[2021-11-20 14:02] #3041 closed

[2021-11-22 05:38] ajay1606 opened #5044 "Looking for CropPolygon filter something similar to CropBox filter."
Trying to crop part of the point cloud using polygon structure instead of Croping box. But after going through the PCL tutorial, I found the Concave Hull & Convex Hull example to crop point cloud. But it looks quite complicated than I expected. I tried to use CocaveHull to crop part point cloud, but it's not working.

Given input points cloud and polygon points to crop the desired region of points

[2021-11-22 09:19] mvieth commented on #5041
Which "program" do you mean specifically? Do you mean PCL itself, or your own project that uses PCL? How do you see that it cannot be used? Some error message?
To build a library/executable that works with multiple processors, you have to use the right flags/specify the architecture in the right way. [See this stackoverflow](https://stackoverflow.com/questions/2670121/using-cmake-with-gnu-make-how

[2021-11-23 09:23] mvieth commented on #5044
Which tutorial are you referring to?

[2021-11-23 11:05] 155cannon commented on #1623
Just use pcl-1.10.1, cropbox works correctly!     Both pcl-1.11.1 and 1.12.0 has the  eigen memory fault.

[2021-11-23 11:40] Jaime02 opened #5045 "Compile error: missing vtkSmartPointer.h"
I'm trying to compile a PCL hello world application using VS2019 and a library error occurs:

Please paste the compilation results/errors.
`>C:\Users\jaime\Desktop\vcpkg\installed\x64-windows\include\pcl\visualization\point_cloud_geometry_handlers.h(49,10): fatal error C1083: Cannot open include file: 'vtkSmartPointer.h': No such file or directory`

This is my library set up:
pcl:x64-windows

[2021-11-23 13:19] mvieth commented on #5019
Closing because of no response

[2021-11-23 13:19] #5019 closed

[2021-11-23 16:24] tanismar commented on #4686
Hi! I am sorry, I haven't been able to work on this since my original post. Has anyone tried implementing @kunaltyagi suggestion?
It is an option clearly missing from the LCCP segmentation

[2021-11-23 19:58] #4959 closed

[2021-11-24 00:18] ajay1606 commented on #5044
@mvieth Thanks for your response, here is the example code I am referring to. https://github.com/PointCloudLibrary/pcl/blob/master/tools/crop_to_hull.cpp

  pcl::io::loadPCDFile ("scan.pcd", *cloud); //Input Cloud
  pcl::PointCloud<pcl::PointXYZ>::Ptr boundingbox_ptr (new pcl::PointCloud<pcl::PointXYZ>);//Used to store the boundary points

  pcl::PointCloud<pcl::PointXYZ>::Ptr hull(new pcl::PointC

[2021-11-24 09:11] mvieth commented on #5044
Ah, you mean the program from the "tools".
The alpha value controls how "concave" the hull should be, look e.g. at [this image](https://media.springernature.com/lw785/springer-static/image/art%3A10.1186%2Fs12862-018-1305-z/MediaObjects/12862_2018_1305_Fig1_HTML.png) and [the documentation](https://pointclouds.org/documentation/classpcl_1_1_concave_hull.html#ab2e24dc457ff32634aa2549a10bc7562).
I wo

[2021-11-24 11:25] tanismar commented on #4686
For reasons related to the build system at my workplace, properly fixing the bug inside PCL is too complicated. However, I found a working workaround that is quite simple and works well:
Instead of passing the full original pointcloud and the indices corresponding to the cropped pointcloud "select_indices", I use those indices to create an input pointcloud with only the selected points, which is t

[2021-11-25 02:39] ajay1606 commented on #5044
@mvieth Thanks for your kind & valuable suggestion. But sorry am not sure, whether I got it right or wrong. Appreciate your clarification on these. In the following code you mean to say that No need to compute concavehull, Just I can crop desired point cloud based on the polygon points input.

Suppose if I modify the code like below, how should I compute indices of polygon cloud?  Because in previ

[2021-11-25 09:09] mvieth commented on #5044
You have to create `polygons` yourself, to describe the polygon shape you want to use for cropping. `polygons` describes the faces (each `pcl::Vertices` is one face). The indices are used on the cloud you set with `setHullCloud`. I recommended the visualization option so you can check whether the `polygons` you create are correct

[2021-11-25 18:11] guillermoacdc commented on #4462
Awesome!

[2021-11-25 18:30] wenyang123 opened #5046 "Restrict panning and rotation of PCL viewer, but allow only zooming"
I am using the PCL library (PCLVisualizer class) to visualize the point cloud. I am able to see the point cloud. But I don't want it to move with the help of mouse / keyboard. I want a fix view which can only zoom (say top view). I want the smaller views to be fixed as shown in the image. How can we fix the views. Not allow them to rotate or translate but only allowed to zoom.

[2021-11-26 00:42] ajay1606 commented on #5044
@mvieth I mean, I can describe the shape of a polygon through a set of points,  but how can I generate Indices for those points?
because **crop_filter.setHullIndices (polygons)**; here it is necessary to input indices of polygonal points.

[2021-11-26 07:12] UnaNancyOwen commented on #5035
OpenNI 1.x is not supported in Visual Studio 2012 and later, so the pre-built PCL that included in the PCL All-in-one Installer has OpenNI option disabled. Therefore, the OpenNI grabber is not available. We have enabled OpenNI2 option instead of OpenNI option. You can use the OpenNI2 grabber instead of the OpenNI grabber.

[2021-11-26 09:25] islinxuan commented on #5045
I had the same error.
After manually adding `$(VcpkgRoot)\installed\x64-windows\include\vtk-9.0` to the MSbuild project (Property -> VC++ Directories -> Include Directories) it was solved.

[2021-11-26 09:27] bartoszek opened #5047 "[vtk:9] component-less `find_package(VTK)` fails brutally."
This component-less call to `find_package(VTK)` brings a plethora of issues with `vtk>=9` as such call is treated as `all components are required` those any missing obscure external dependency of `vtk` that is never touched by `pcl` results in an error.

https://vtk.org/doc/nightly/html/md__builds_gitlab_kitware_sciviz_ci_Documentation_Doxygen_ModuleSystem.html#autotoc_md76

After `VERSION_{GREATE

[2021-11-26 09:32] islinxuan commented on #5045
@Jaime02
I had the same error.
After manually adding `$(VcpkgRoot)\installed\x64-windows\include\vtk-9.0` to the MSbuild project (Property -> VC++ Directories -> Include Directories) it was solved.

[2021-11-26 09:44] mvieth commented on #5044
I am not sure I understand the question? Every index is used to access the corresponding point in the cloud (the cloud you set with `setHullCloud`). So you just have to fill `polygons` with indices and the cloud with points, so that each index refers to the correct point. The simplest way would be to `cloud.push_back(...)` each point you want to use, and use `cloud.size()-1` as the index (refers t

[2021-11-26 10:25] Jaime02 commented on #5045
@islinxuan that worked, thank you so much!!!

[2021-11-26 11:59] larshg commented on #5045
Closing as it seem solved 👍

[2021-11-26 11:59] #5045 closed

[2021-11-27 03:19] cdb0y511 commented on #4882
Thanks, I am glad it is solved.

[2021-11-27 03:19] #4882 closed

[2021-11-27 03:31] cdb0y511 opened #5050 "New header compatible issue with element face 0 on PCL1.12"
https://github.com/PointCloudLibrary/pcl/blob/7f87657e8f796373852ff7f80228a1573239de8d/io/src/ply_io.cpp#L795
I notice the header is changed from PCL 1.11.1 by adding element face 0. It should be compatible with VTK.
However, the new header will not be compatible with PoissonRecon.
https://github.com/mkazhdan/PoissonRecon
With a new header from PCL1.12 (element face 0 at the end of the header)
Poi

[2021-11-27 15:53] mvieth commented on #5050
I would tend to say that this is something that the PoissonRecon maintainers should fix. As far as I know, the line `element face 0` is valid in terms of the ply file format (although there isn't a very strict format specification, [this page](https://web.archive.org/web/20161204152348/http://www.dcs.ed.ac.uk/teaching/cs4/www/graphics/Web/ply.html) is probably the most "official", but it doesn't e

[2021-11-27 15:57] mvieth commented on #5039
@wenxingguo Does the solution I suggested work? If I don't hear from you, I might close this issue soon

[2021-11-28 10:25] kaitou1419 commented on #5035
@UnaNancyOwen I had tried using "openni2_viewer.CPP" in PCL/Tools. Project Compiled OK, but I Can't get data from my Microsoft Kinect camera. After running grabber_.start ();  An notification that's Failed to Synchronize Depth Color has occurred. Can you give me an advice!
![image](https://user-images.githubusercontent.com/73357725/143764108-2860ce04-c115-4e52-8491-e62101e4b936.png)

[2021-11-28 13:36] mvieth commented on #560
Fixed by pull request #4983

[2021-11-28 13:36] #560 closed

[2021-11-28 23:06] UnaNancyOwen commented on #5035
First of all, You need to check if your sensor works with OpenNI2. Please check it with NiViewer included in OpenNI2.
Also, We are unable to provide support for OpenNI2. Please do your own research on how to use OpenNI2.

The original problem with this issue has been solved. Please close this issue. As a general rule, please keep one problem per one issue. If you have more problem, Please open new

[2021-11-29 09:37] #5035 closed

[2021-11-29 14:43] calmelo commented on #4739
I also meet the problem, how do you resolve it?

[2021-11-30 02:04] cdb0y511 commented on #5050
Thanks,
I will submit this issue to PoissonRecon.

[2021-11-30 06:58] cdb0y511 commented on #5050
https://github.com/mkazhdan/PoissonRecon/issues/207#issuecomment-982326000
I link the discussion with PoissonRecon author here.
I hope it can help us to make a better header.

[2021-11-30 08:29] mathislm commented on #4739
My case was very special since I was using a Cython wrapper. If you are also doing that, I suggest you try importing the wrapped library at different places. I can't help you more. Good luck

[2021-11-30 08:44] mvieth commented on #5041
Since you did not reply, I am going to assume that my last comment answered your question, and close this issue

[2021-11-30 08:44] #5041 closed

[2021-11-30 08:46] #5039 closed

[2021-11-30 09:12] mvieth commented on #5050
Thank you @mkazhdan for the hint!
It is quite annoying that the PLY format is so loosely defined, leaving some room for interpretation regarding which files are valid and which are not.
I would be okay with adding `property list uchar int vertex_indices` or similar after `element face 0`, provided we can verify that e.g. VTK, CloudCompare, and MeshLab can still load the file.
@cdb0y511 Would you b

[2021-12-01 01:34] cdb0y511 commented on #5050
It is an honor to contribute to the community.
I will try to create a pull request. But timeliness cannot be guaranteed cause I have a full-time job to do.

[2021-12-01 02:10] lsdta opened #5052 "[compile error] find_package(PCL) finds some but not all boost libraries"
**Describe the error**
PCL does not find boost libraries when including PCL in a project.
libpcl-dev (v1.8.1) and libboost-all-dev (v1.65.1) are installed.
This was tested on a clean install of Ubuntu 18.04.

[code]

**To Reproduce**

Try to compile a CMake project with PCL as a requirement: `find_package(PCL REQUIRED)`

**Build information**

cmake correctly uses BOOST_INCLUDEDIR = /usr/include
I

[2021-12-01 11:31] mvieth commented on #5052
Can you try to build a tutorial, let's say [this one](https://pcl.readthedocs.io/projects/tutorials/en/master/writing_pcd.html#writing-pcd), to make sure this problem is not related to ROS?

[2021-12-01 11:39] mvieth commented on #5044
Ok, seems like that answered your question, so I am going to close this issue. Otherwise you can try to ask on the community discord

[2021-12-01 11:39] #5044 closed

[2021-12-01 14:25] huand commented on #1714
basic cloud_viewer example segfaults with vtk-9.1.0 and pcl-1.12.0 on Ubuntu 21.10.

[2021-12-01 20:11] lsdta commented on #5052
I have tested using that tutorial, and get the exact same error, same boost debug, same boost libraries not found.

In fact, a completely empty project with CMakeLists.txt having only the line `find_package(PCL REQUIRED)`, then running `cmake .`, will give the same error.

[2021-12-01 20:20] larshg commented on #5052
Seems to me that boost 1.65.1 is too new for pcl 1.8.1 see:
 https://github.com/PointCloudLibrary/pcl/blob/pcl-1.8.1/PCLConfig.cmake.in#L94-L97

[2021-12-01 20:21] larshg commented on #1714
Could you open a new ticket with as much information about stack trace etc. so we could try look at it.

[2021-12-01 20:24] lsdta commented on #5052
The version of PCLConfig.cmake I have from the Ubuntu repo with pcl 1.8.1 has "1.65.1" "1.65" on line 93:
https://github.com/PointCloudLibrary/pcl/blob/pcl-1.8.1/PCLConfig.cmake.in#L93

[2021-12-01 20:27] lsdta commented on #5052
I think FindBoost is looking for Boost in the /opt/ros/melodic/lib/ folder for the Boost libraries for some reason, even when I tell cmake that BOOST_LIBRARYDIR=/usr/lib/x86_64-linux-gnu

[2021-12-01 20:38] larshg commented on #5052
Indeed it does state that in the output you provided:
`-- [ /usr/share/cmake-3.10/Modules/FindBoost.cmake:1507 ] _boost_LIBRARY_SEARCH_DIRS_RELEASE = /opt/ros/melodic/lib;NO_DEFAULT_PATH;NO_CMAKE_FIND_ROOT_PATH_boost_LIBRARY_SEARCH_DIRS_DEBUG   = /opt/ros/melodic/lib;NO_DEFAULT_PATH;NO_CMAKE_FIND_ROOT_PATH
`

But as you write,` BOOST_LIBRARYDIR = /usr/lib/x86_64-linux-gnu` is set like this.

[2021-12-01 20:39] larshg commented on #5052
I guess you would have to investigate what goes on in FindBoost in te cmake 3.10 modules to figure out why it goes to the ros variables.

[2021-12-01 20:49] lsdta commented on #5052
Thanks. It seems Boost_LIBRARY)_SEARCH_DIRS_RELEASE/DEBUG are being set to the /opt/ros/melodic/lib, even with BOOST_LIBRARYDIR being set and also with Boost_NO_SYSTEM_PATHS=ON
No idea why.

For anyone else encountering this, manually setting `-DBoost_LIBRARY_DIR_RELEASE=/usr/lib/x86_64-linux-gnu` when calling cmake seems to fix the issue. Doing the same for DEBUG may also help. This also works wi

[2021-12-01 20:49] #5052 closed

[2021-12-02 13:33] mvieth commented on #4965
Fixed by pull request #4983

[2021-12-02 13:33] #4965 closed

[2021-12-02 16:29] huand commented on #1714
vscode CALL STACK tells me its the line

`while (XPending((*rwi)->DisplayId) != 0)`

in `VTK-9.1.0/Rendering/UI/vtkXRenderWindowInteractor.cxx` in function `StartEventLoop()`

[2021-12-02 16:36] huand commented on #1714
i also get a bunch of warnings
[code]

[2021-12-03 15:21] KotaYonezawa opened #5056 "[Registration] gauss_c2 calculation formula in NormalDistributionsTransform"
**Describe the bug**

Thanks a lot for great library.
I found a suspicious code in ndt.hpp to calculate "gauss_c2" value.
But I'm not sure that what is the correct answer, so I would like to hear professional member's opinion...

**Context**

Following code is in ndt.hpp to calculate NDT related parameters.

[code]

But I wondered why **resolution^3** is used to calculate gauss_c2.
For example, if

[2021-12-04 01:19] #5050 closed

[2021-12-04 06:46] kunaltyagi commented on #4999
@mvieth k=0 is the query point itself, right? This would be because the (projected) point closest to a query point (from the projected cloud) is... the (projected) point itself

How does looping from k=0 change anything? What am I missing here?

Current code with inline comments marked with `<---`
[code]

[2021-12-04 07:43] larshg commented on #4999
I just debugged a little and as already mentioned the radius search returns the points unordered ie:

![image](https://user-images.githubusercontent.com/1165340/144701844-90676e28-4f31-4897-9557-c23b34f49e86.png)

So the first point is not necessarily the query point.

[2021-12-04 11:59] kunaltyagi commented on #4999
It might be a bigger issue in that case. I've seen this assumption in a lot of places.

[code]

Checked the source code of difference search providers.

Good assumption:
* octree/kdtree/kdtree_flann/flann_search: good assumption (tree based methods are recursive)
* voxel_grid_covariance: indirectly calls kdtree_flann search

Bad assumption:
* organized_neighbor_search: bad assumption
* brute-force

[2021-12-04 12:13] larshg commented on #4999
Actually I also saw this when I worked with the extract_clusters and GPU/CUDA with @FabianSchuetze, but here it didn't matter because it was already added to the cluster, except a bit of processing time ofc.

I guess we should investigate in found cases supplied by your search @kunaltyagi.

[2021-12-04 12:41] kunaltyagi commented on #4999
Also found that FLANN might not be a good assumption in all cases. I think we should create a separate issue to track this mess

[2021-12-04 13:57] mvieth commented on #5056
Great that you investigate the NormalDistributionsTransform so thoroughly and report things to fix and improve!
I looked into this a bit: Magnusson's thesis says: "The constants c1 and c2 can be determined by requiring that the probability mass of p(x) equals one within the space spanned by a cell" (a referenced paper, "A Probabilistic Framework for Robust and Accurate Matching of Point Clouds" by

[2021-12-06 07:54] xiaolong-666 commented on #5036
Hi @mvieth I want to contribute my strength, this will be my first open source contribution, can I solve it?

[2021-12-06 08:51] mvieth commented on #5036
@xiaolong-666 That's great!
In error.cpp, I would suggest to simply print that the error happened in the function `func`, maybe after checking that `func` is not an empty string.
In initialization.cpp, I don't know why the `cuDeviceGetAttribute` call was commented out (if you have an idea please tell), but I would say it makes sense to enable it again.
[Here is a guide for creating a pull request]

[2021-12-06 10:09] xiaolong-666 commented on #5036
@mvieth Thanks for your suggestion, I will do it

[2021-12-06 10:12] UmutUz opened #5058 "Euclidean Cluster Extraction: extracting indices returns error Assertion `point_representation_->isValid (point) && "Invalid (NaN, Inf) point coordinates given to radiusSearch!"' failed"
I am on Windows 11 using PCL 1.8.1 with Visual Studio 2015

When I execute this code:

`	pcl::search::KdTree<pcl::PointXYZRGB>::Ptr tree(new pcl::search::KdTree<pcl::PointXYZRGB>);
	tree->setInputCloud(cloud);

	std::vector<pcl::PointIndices> cluster_indices;
	pcl::EuclideanClusterExtraction<pcl::PointXYZRGB> ec;
	ec.setClusterTolerance(0.2);
	ec.setMinClusterSize(100);
	ec.setMaxClusterSize(25000

[2021-12-06 12:35] mvieth commented on #5058
Have you tried to remove all points where coordinates are NaN or Inf from the cloud, e.g. with `PassThrough` or `removeNaNFromPointCloud`?

[2021-12-06 14:56] UmutUz commented on #5058
oh man, yeah that was the problem... thanks a lot

[2021-12-06 14:56] #5058 closed

[2021-12-07 02:01] xiaolong-666 commented on #5036
Hi @mvieth i submitted a merge request, but `ci` faild, so what should i do? please review [Remove unused parameter](https://github.com/PointCloudLibrary/pcl/pull/5059)

[2021-12-07 06:09] corot commented on #3194
I have exactly [the same error reported by @jasjuang](https://github.com/PointCloudLibrary/pcl/issues/3194#issuecomment-506598538) compiling latest master on ubuntu 20.04 (didn't happen on 18.04):

[code]

I "fixed" it by disabling VTK (not a big problem, as I don't even know what it is!)

[2021-12-07 06:16] jspricke commented on #3194
Hi Jorge,

which flann version do you use?

[2021-12-07 06:20] corot commented on #3194
he he ,, just noticed that info was missing
   libflann-dev is already the newest version (1.9.1+dfsg-9build1).

[2021-12-07 06:25] corot commented on #3194
better change the title:  windows -> ubuntu 20.04

[2021-12-07 07:01] kunaltyagi commented on #5036
`* 3748a5d1b 2011-11-28 | edisabled temporary queering device attributes as it causes link errors for ubuntu64 [Anatoly Baksheev]`

I guess we can safely enable it back 😆

[2021-12-07 07:27] jspricke commented on #3194
I can't reproduce this on Debian unstable, will setup a Ubuntu 20.04 VM later.

[2021-12-07 08:26] grischi commented on #5056
The `resolution^3` are the result of the process @mvieth cites from Magnusson's thesis. The constant c_2 is related to the uniformly distributed part of `$\bar p$` (Eq. 6.7). The probability mass is calculated by an integration of the distribution over the voxel size. If we consider the uniform part only, integration gives `resolution^3 * c_2`. In order to have a probability mass equal to one, c_2

[2021-12-07 09:01] jspricke commented on #3194
Can't reproduce this in Ubuntu 20.04 either, can you try a build on a fresh system? ;).

[2021-12-07 09:53] kunaltyagi commented on #3194
@corot Do you have a reproduction in a dockerfile? I was also unable to reproduce it on my 20.04 and in the docker image (The CI is green as well)

[2021-12-07 10:42] KotaYonezawa commented on #5056
Thanks a lot for comments.

Understood.
I'm not sure to decide "correct" outlier ratio, so I tried **resolution = 1.0** case.

On current PCL code, (gauss_c2 = outlier_ratio_ / pow(resolution_, 3);)
resolution = 1.0 case with default outlier ratio, matching failed too...
[code]
![pcl_0 55_1 0](https://user-images.githubusercontent.com/39361859/145001855-2c2161f2-2d05-496d-989d-fa99278b41e6.png)

I

[2021-12-07 11:21] corot commented on #3194
shame on me.....   :disappointed:    worked after deleting build...  sorry....

[2021-12-07 11:32] #3194 closed

[2021-12-07 13:30] mvieth commented on #5056
@grischi Thank you, that makes a lot of sense. Applying that logic to the computation of the c1 parameter, would the integral of the (unscaled) 3D normal distribution then be assumed as 0.1? But why? Shouldn't that depend on the covariance matrix and also the resolution (the smaller the resolution, the less of the distribution tails are integrated)?
@KotaYonezawa So with the current code, the smal

[2021-12-07 18:31] grischi commented on #5056
Right @mvieth, the scale factor should be 1/sqrt((2*pi)**3*det(Sigma)). I however don't see a direct dependance on the resolution, but Sigma indirectly depends on it as points outside a voxel are not considered when computing Sigma for that voxel.

Sigma takes a different value for each voxel. It could be that this part of c1 is considered at another point in the code. I hope to find some time for

[2021-12-07 19:08] larshg commented on #5043
Please post this at VCPKG repository.
Closing as its not an error in PCl per se.

[2021-12-07 19:08] #5043 closed

[2021-12-08 12:46] KotaYonezawa commented on #5056
@mvieth Thanks a lot for comment! Yes, as you said, on current code, the user need to optimize both resolution and outlier ratio. I felt it's not good to use... I think resolution and outlier ratio should be controlled separately, basically.

On current test using NDT tutorial (https://pointclouds.org/documentation/tutorials/normal_distributions_transform.html)
if we changed the outlier ratio to *

[2021-12-08 14:30] KotaYonezawa commented on #5056
I made test point cloud data from "Stanford Bunny".
https://casual-effects.com/data/
Scaled x 10 (after that, about 16m height bunny) and
shift 1m to X and Y direction, and rotate 10 degree around Z axis for source data.

And then made point cloud using "CloudCompare" tool. (Density = 100.0)
![bunny_base](https://user-images.githubusercontent.com/39361859/145220817-9ad3c30d-be6e-4b22-8228-3ff401f1

[2021-12-08 19:56] shreshtashetty opened #5063 "[compile error] "Normal Estimation Using Integral Images tutorial doesn't work""
When I try to run the [tutorial](https://pcl.readthedocs.io/projects/tutorials/en/latest/normal_estimation_using_integral_images.html#normal-estimation-using-integral-images) as `.\build\Debug\normal_estimation_using_integral_images.exe` I get the following:
![2021-12-09](https://user-images.githubusercontent.com/14017651/145274651-21a1a19c-7b22-4cfc-b6e5-90bb171975be.png)
and then, after clicking

[2021-12-09 08:31] dsxmachina commented on #1277
Still present.
The above fix does not work in my case - there seems to be a problem with boost::program_options.
I modified the CMake example from the documentation to showcase the error:

[code]

And the Code as follows:
[code]

The program compiles just fine, but results in a linker error:
[code]

[2021-12-09 12:02] kdheejb7 commented on #3194
Hello, @corot

I have exactly the same problem now...
How did you solve this problem?

[2021-12-09 12:37] kunaltyagi commented on #3194
Most likely performed a fresh build

[2021-12-09 12:49] kdheejb7 commented on #3194
Thanks for the quick response!
I did a fresh build but not work ... :(
All versions(flann, pcl, and vtk) are same, and I did re-building flann, pcl, and vtk all, but cannot solve it

[2021-12-09 12:53] kunaltyagi commented on #3194
Please use discord for such questions. Live chat is easier that way.

[2021-12-11 16:09] UmutUz opened #5068 "using VoxelGridFilter and displaying the result causes "-1073740940" exit code stopping the program"
I am on Windows 11 and used PCL 1.8.1 which was working kinda fine so I upgraded to 1.12.0 and had to fix a lot of code (new to C++ so Pointers for example are still confusing).

Anyway, the below code finished with the exit code mentioned in the title:

[code]

Practically reaches the first viewer and then throws the exit code in release mode. In Debug Mode I get a CrtIsValidHeapPointer(Block). I

[2021-12-11 20:07] larshg commented on #5068
I have tried tested the cloudviewer and it works fine rendering a random cloud with 3 points.
Can you share your point cloud, then I can try your exact example with your code.

[2021-12-11 20:10] UmutUz commented on #5068
[erstePC.zip](https://github.com/PointCloudLibrary/pcl/files/7697689/erstePC.zip)

Okay, I am not allowed to upload a pcd file so i zipped it (hoping that it works lol). Can you try the same code in Release mode please? Maybe I should post my cmakelist.txt too if that helps

[2021-12-11 21:43] pettaa123 opened #5069 "[compile error] "Windows KDtree fails cannot find lz4.lib""
**Describe the error**

Build started...

========== Build: 0 succeeded, 1 failed, 2 up-to-date, 0 skipped ==========

**To Reproduce**

get latest dev lz4.lib from github
configure using cmake
build with MSVC vc143 64bit release
add path of lz4.lib to win path

get latest flann from github
change cmake with commit: https://github.com/flann-lib/flann/pull/400/commits/cae44ca0a17c9ca783a006d8c133a4

[2021-12-11 21:50] larshg commented on #5068
![image](https://user-images.githubusercontent.com/1165340/145692665-26f5b640-c8a8-49c3-85c4-d65b79554d6c.png)

Works fine here. I wonder if it is a GFX driver issue and it fail to create the openGL renderer or something similar.

Can you print the stack from ie. visual studio, if that's what your are using?

[2021-12-11 22:16] larshg commented on #5069
Install dependencies with VCPKG.

I have seen this error before with the: /Wl,--push-state,--no-as-needed etc. and it failed miserably. I can't however remember where this one is and it seems more an issue for lz4 than for PCL.

[2021-12-11 22:20] larshg commented on #5069
Ahh, now I remember a bit more. Its Flann that does some wierd stuff. See a patch used in VCPKG https://github.com/microsoft/vcpkg/blob/2462a956c8068e4dab8aa8bbe9a406016106e188/ports/flann/fix-build-error.patch

it removes the error, but again. Use VCPKG then it should be easier (however they also sometimes make things break 😄 )

[2021-12-11 22:48] UmutUz commented on #5068
This is what I get first in Release mode:

![image](https://user-images.githubusercontent.com/47572028/145693732-d4dde652-edd3-414f-9331-9785299186d6.png)

 When I press next/play/resume to further execute the code I get:

![image](https://user-images.githubusercontent.com/47572028/145693773-966c980c-804c-450e-9fdb-293b03ad2426.png)

and only when I press F5, which return with exit code '0' which

[2021-12-12 06:42] larshg commented on #5068
Ah, yes. You need to enable AVX2 in your project. Under properties->compile commands-> simd instruction set.
The actual names might be wrong, its just top of my memory.
Search for if you cant find it - we have other issues with AVX missing already.

[2021-12-12 12:18] UmutUz commented on #5068
Tried that, still having the same problem :/

[2021-12-12 14:11] larshg commented on #5068
Great!
Closing the issue then.

[2021-12-12 14:11] #5068 closed

[2021-12-12 15:33] kunaltyagi opened #5070 "[Discussion] Should PCL search for dependencies again during CMake import in a project using PCL?"
Started from @mvieth's comment in #5065

[2021-12-12 15:34] kunaltyagi commented on #5070
My thought process: The info should be same as build time because of API and ABI changes that might happen otherwise. Eg:
* Find vtk-7 during build and install pcl
* Someone installs vtk-8 (and maybe remove vtk-7)
* Build project using PCL
* Clearly, PCL should try to find VTK-7, not VTK-8 since the internal logic is dependent on the version used to build

My current stance: No (but it should chan

[2021-12-13 00:50] Rampantsen opened #5072 "build issues"
Operating System and version: Ubuntu 20.04
PCL Version: latest version
I'm getting the following error message while trying to install PCL

[ 34%] Building CXX object filters/CMakeFiles/pcl_filters.dir/src/local_maximum.cpp.o
[ 34%] Building CXX object filters/CMakeFiles/pcl_filters.dir/src/model_outlier_removal.cpp.o
[ 34%] Linking CXX shared library ../lib/libpcl_filters.so
[ 34%] Built target p

[2021-12-13 00:52] kunaltyagi commented on #5072
This is part of the error message. We need more information (specifically the actual error)

[2021-12-13 00:58] Rampantsen commented on #5072
When I try to execute the order “make -j8", it stopped at 34% and say make: *** [Makefile:152：all] 错误 2

[2021-12-13 01:04] Rampantsen commented on #5072
And what does the following passage mean?

[ 25%] Building CXX object tracking/CMakeFiles/pcl_tracking.dir/src/tracking.cpp.o
/usr/bin/ld: 当搜索用于 /usr/lib/gcc/x86_64-linux-gnu/9/../../../../lib/libOpenNI2.so 时跳过不兼容的 -lOpenNI2
/usr/bin/ld: 当搜索用于 /usr/lib/../lib/libOpenNI2.so 时跳过不兼容的 -lOpenNI2
/usr/bin/ld: 当搜索用于 /usr/lib/gcc/x86_64-linux-gnu/9/../../../libOpenNI2.so 时跳过不兼容的 -lOpenNI2
/usr/bin/ld: 当搜索

[2021-12-13 01:07] kunaltyagi commented on #5072
You don't have OpenNI2 library but have requested PCL to build features related to it. If you don't need those features (most likely), please consider switching them off using `cmake <PCL source directory> -DWITH_OPENNI:=OFF`

[2021-12-13 04:37] Rampantsen commented on #5072
thanks, the issue has solved .But I meet new problems
When I try to execute the order “make -j8", it stopped at 34% and say make: *** [Makefile:152：all] 错误 2

[2021-12-13 04:45] kunaltyagi commented on #5072
Please use discord for issues not in the core library. The community can help figure out how to best go ahead.

For now, I'd recommend using `make -j2` (will be slower, but uses less RAM in case that's slower), but it could be a useless recommendation given the lack of info (no visible error)

[2021-12-13 04:45] #5072 closed

[2021-12-13 04:46] Rampantsen commented on #5072
Thanks for you help. I am really appreciate.

[2021-12-13 10:02] grischi commented on #5056
jfyi: i'm working on an improvement, will create a PR when done. Validation will however cost some time.

[2021-12-13 14:04] pettaa123 commented on #5069
I used vcpkg for pcl dependencies, despite qt and vtk. With using your pcl_vcpkg_Windows guide it compiled .

[2021-12-13 14:04] #5069 closed

[2021-12-14 02:19] kaiwen2020 opened #5075 "[features] boundaryEstimation does not work for rectangular orthogonal planes"
**Describe the bug**

I would like to extract boundary points of a point cloud which is obtained from downsampling a CAD model. I find that the boundaryEstimation function does not work for rectangular orthogonal planes, for example, a cuboid. With a large angle threshold (pi/4),  I get no boundary point. With a small angle threshold (pi/16), many points on the surface are considered as boundary.

[2021-12-14 02:31] UnaNancyOwen opened #5076 "[io_ply] compile error c1083 cannot open include file: 'boost/predef/other/endian.h': no such file or directory"
**Describe the bug**

PCL 1.12.1 RC1 can't build io_ply module with Visual C++.
The following file will occure an include error.

[code]

It is because the include directory of io_ply module project is not set to Boost\include\boost-1_78.

**To Reproduce**

https://gist.github.com/UnaNancyOwen/59319050d53c137ca8f3#file-pcl1-12-1-md

**Screenshots/Code snippets**

![2021-12-14_11h15_16](https://use

[2021-12-14 04:38] UnaNancyOwen opened #5078 "[cmake] QHull will not install when build All-in-one Installer option is turn ON"
**Describe the bug**

QHull will not install when build All-in-one Installer option is turn ON.
This is due to the recent changes in cmake/Modules/FindQHull.cmake.

QHULL_INCLUDE_DIR variable is no longer defined.
Therefore, QHULL_ROOT in cmake/pcl_all_in_one_installer.cmake#L13 is empty.
It means that QHull will not be installed in INSTALL process.

[code]

This is output of build/cmake_install.c

[2021-12-14 07:28] #5076 closed

[2021-12-14 07:39] #5078 closed

[2021-12-14 16:05] xkaraman opened #5081 "[cmake] Is it possible to use FetchContent to bring in PCL?"
**Describe the bug**

I am trying to bring PCL dependency with CMakes `FetchContent` Functionality.

**Context**

`FetchContent` will download PCL repo at config time and `MakeAvailable` populates the source folder of pcl.
Then PCL will be built along the original project.
[code]
[code]
[code]

After invoking cmake and then start to build the project, PCL builds succesfully but when building `src/

[2021-12-14 22:58] remmel commented on #2968
in CMakeList.txt add `set(CMAKE_CXX_STANDARD 14)`

[2021-12-15 02:47] kaiwen2020 commented on #5075
Sorry, maybe I did not ask the right question. The question is it does not work for closed objects, for example cuboid; it works well for orthogonal planes.

[2021-12-15 11:32] cbrammere3d opened #5082 "[compile error] C++20 removed error std::result_of used in <pcl/common/common.h>"
**Describe the error**
Using the VCPKG port of PCL with Version: 1.12.0

C++20 removed the `std::result_of` call (see https://en.cppreference.com/w/cpp/types/result_of) which results in compile errors when including `<pcl/common/common.h>`.

[code]

The exact compile error is as follows:
`pcl/common/common.h(285): error C2653: 'result_of': is not a class or namespace name`

**To Reproduce**
Instal

[2021-12-15 17:10] adityag6994 commented on #3197
Similar error for getParticles()
` error: ‘class pcl::tracking::Tracker<pcl::PointXYZ, pcl::tracking::ParticleXYZRPY>’ has no member named ‘getParticles’
   ParticleFilter::PointCloudStatePtr particles = tracker_->getParticles ();`

[2021-12-15 17:12] kunaltyagi commented on #3197
Which PCL version?

[2021-12-15 18:51] adityag6994 commented on #3197
@kunaltyagi PCL_VERSION_PRETTY : 1.7.2

[2021-12-15 20:31] adityag6994 commented on #3197
So, changing from
`// ParticleFilter::Ptr tracker_;`
to
`boost::shared_ptr<ParticleFilter> tracker_;`
seems to be working. Not really sure why.

[2021-12-16 08:39] ymw123 opened #5086 "[compile error]： Cannot find BUILD_gpu_* using ccmake"
ubuntu20.04，gcc=9.3，Eigen, boost installed。
![图片](https://user-images.githubusercontent.com/23358682/146336649-8e902dca-5863-4ef6-bf6c-d42463dcd5fb.png)
Can anybody help me?

[2021-12-16 08:42] #5086 closed

[2021-12-16 08:42] ymw123 opened #5087 "[compile error]： Cannot find BUILD_gpu_* using ccmake"
ubuntu20.04，gcc=9.3，Eigen, boost installed。
![图片](https://user-images.githubusercontent.com/23358682/146337572-dea693da-7526-4e11-a210-b1a0e321ff02.png)
Can anybody help me?

[2021-12-16 09:12] mvieth commented on #5087
Try to turn the advanced mode on (press "t") and configure (press "c"), then more options should show up

[2021-12-16 09:29] mvieth commented on #3197
@adityag6994 PCL 1.7.2 is a very old version. I would recommend you to update it. The tutorial you linked is for the _lastest_ PCL version (1.12.0).
In PCL 1.7.2, `ParticleFilterTracker` (aka `ParticleFilter` in the tutorial) did not have the member `Ptr` ([this commit](https://github.com/PointCloudLibrary/pcl/commit/f2a519a57a45f24bb03f13d5cf3db536b21be507) added it and also changed the tutorial)

[2021-12-16 09:39] mvieth commented on #5075
We are currently rather busy with the upcoming release 1.12.1, and I am not so familiar with the boundary estimation algorithm, so I would recommend you to look into the implementation, test other parameters for boundary estimation and normal estimation, and/or ask on the discord server if someone there has experience with the boundary estimation

[2021-12-16 09:57] mvieth commented on #5081
I have never used FetchContent before, so the problem might only occur if that is used, but you could check out [this tutorial](https://pcl.readthedocs.io/projects/tutorials/en/master/using_pcl_pcl_config.html) on how to use PCL via CMake. Especially the command `include_directories(${PCL_INCLUDE_DIRS})` might be missing. I know in modern CMake it is possible to simply specify a target as a depend

[2021-12-16 10:13] xkaraman commented on #5081
Yes i am aware of that possibility to use PCL with CMAKE. I just wanted to try it and since FetchContent is a 'fairly' new feature of CMake, report it.  According to docs of `FetchContent_Declare()` and `FetchContent_MakeAvailable()` there is no need for it, as it automagically calls `add_subdirectory()` under the hood.

I don't know though if that' something you would want to look at, but i guess

[2021-12-16 11:10] kunaltyagi commented on #5081
Is there a guide on how to make a CMake project work with FetchContent?

@SunBlack As my goto expert of CMake, perhaps you can shine a light on OP's issues

[2021-12-16 11:14] kunaltyagi commented on #3197
Closing the issue since it is quite old and not relevant anymore (but the conversation can continue)

[2021-12-16 11:14] #3197 closed

[2021-12-16 11:31] SunBlack commented on #5081
Have to try it myself. Maybe I have next time week for this experiment (the next two working days looks bad).

[2021-12-16 22:09] themightyoarfish opened #5088 "Do filter classes not need an aligned operator new?"
https://github.com/PointCloudLibrary/pcl/blob/c51f7a2dfc2097e74957143e29a0310f3c1a5514/filters/include/pcl/filters/crop_box.h#L179

I'm (again…) debugging a problem with PCL where `Eigen::internal::handmade_aligned_free` ultimately raises SIGSEGV during shared ptr deletion of point clouds whenever I use a class which uses CropBox on (different) point clouds. When not doing this processing, no prob

[2021-12-17 04:17] kunaltyagi commented on #5088
Perhaps, a stack trace would be nice.

Which version of C++ are you using? Since C++17, there aren't any issues in alignment. Also, switching off SSE/AVX/NEON achieved the same. Could you also try doing any 1 of these with:
* PCL only
* Your user code (if possible)
This would help pin the blame firmly on PCL

But yeah, in a more general sense, the macro is needed

[2021-12-17 09:34] EdwardDevil opened #5089 "[bug] bug in pcl/common/eigen.hpp, computeRoots()"
`Scalar c0 =      m (0, 0) * m (1, 1) * m (2, 2)
      + Scalar (2) * m (0, 1) * m (0, 2) * m (1, 2)
             - m (0, 0) * m (1, 2) * m (1, 2)
             - m (1, 1) * m (0, 2) * m (0, 2)
             - m (2, 2) * m (0, 1) * m (0, 1);`
When the determinant is expanded, the result of my calculation of c0 is
`Scalar c0 =      m (0, 0) * m (1, 1) * m (2, 2)
      - Scalar (2) * m (0, 1) * m (0,

[2021-12-17 11:04] mvieth commented on #5088
PR #4962 will add the macro `PCL_MAKE_ALIGNED_OPERATOR_NEW` to CropBox (will be merged after PCL 1.12.1 is released)

[2021-12-17 12:47] xkaraman commented on #5081
Another error, i have encountered, is that if i bring multiple projects with `FetchContent` that define the same target like `uninstall` or `docs`, CMake will fail with (example with FetchContent of PCL and kindr library)
[code]

[2021-12-17 15:10] mvieth commented on #5089
Thank you for sharing your suspicion, but I did a quick check and the current formula (with plus sign) seems correct:
c0 is the determinant of the matrix. At the [Wikipedia page for determinant](https://en.wikipedia.org/wiki/Determinant), there is a formula for the determinant of a 3x3 matrix. `+Scalar (2) * m (0, 1) * m (0, 2) * m (1, 2)` in PCL's formula should be equivalent to `+ bfg + cdh` in

[2021-12-17 16:16] MK2-3PP opened #5090 "3D Object Recognition based on Correspondence Grouping is unstable"
Hello,

for the past few weeks I've been working on a project regarding 3D object recognition. I'm quite new to point cloud processing and PCL so I've tried the tutorial for object recognition based on correspondence grouping. I am using voxel grids as keypoints, SHOT descriptors and Hough Voting as correspondence grouping method. I am working with my own point clouds and I've been playing with th

[2021-12-17 19:13] larshg commented on #5090
The first thing that comes to mind, is to use ICP when you have this good first estimate of position and rotation.
It could hopefully find the last transform that is required to get a better match.

[2021-12-17 19:43] theoniko commented on #5034
Hello,
Is this issue still available? Could i give it a try?

[2021-12-17 19:50] theoniko commented on #4641
Hello @kunaltyagi,
Could you please give more information i.e similar example or documenation links?

[2021-12-17 20:03] themightyoarfish commented on #5088
For what it's worth, I noticed that PCL 1.12 compile flags did not get downstreamed to my project using it, and also that PCL was no longer compiling with `-march=native`, which 1.11.1 still does. And downgrading to 1.11.1 also makes the problem go away. The os is Ubuntu 16.04. Just putting this out here if anyone else has this issue, I can't really contribute more right now unfortunately.

The ba

[2021-12-17 22:58] larshg commented on #5088
Do you supply any CMAKE_CXX_FLAGS on the cmake call?
Because then it won't try to use -march=native. If you supply default flags to PCL, it should try to use -march=native.

Flags given at cmake call to CMAKE_CXX_FLAGS, is not passed to downstream projects.

[2021-12-18 03:05] jasjuang commented on #5034
@theoniko yes, I would appreciate it if you can fix it

[2021-12-18 04:04] kunaltyagi commented on #5088
The issue seems to be `pcl::PointCloud<pcl::PointXYZI>`, not the CropBox.

Could you try adding `PCL_MAKE_ALIGNED_OPERATOR_NEW` to the `struct  PointXYZI` on line 509 in `common/impl/point_types.hpp`?

[2021-12-18 04:07] kunaltyagi commented on #5088
The thing is there isn't any code change in point types which should result in a discrepancy between 1.11.0 and current master. I think the issue could be due to our different handling of CMake flags.

[2021-12-18 04:31] kunaltyagi commented on #4641
We want to enable clang-tidy in the CI for formatting. The env dockerfile is only items required for building PCL.

So, we want to:
* create a new dockerfile, which extend all the env, adding clang-tidy
* add it in the docker CI to keep them updated

In future, we would want to switch on clang-tidy either pre-build or post-format (since clang-tidy is impacted by build flags, and we have quite a ma

[2021-12-18 08:57] MaskKevin commented on #4659
i have same question , so i want to get your idea to deal with this question

[2021-12-18 12:32] themightyoarfish commented on #5088
Good to know, but I am not passing anything manually. But I did not fully clean the build between switching tags and reinstalling, maybe old flags stick around somehow.

[2021-12-18 13:57] kunaltyagi commented on #5047
Solved by #5015

[2021-12-18 13:57] #5047 closed

[2021-12-18 14:45] EdwardDevil commented on #5089
Thanks for replying to me.
I have performed many calculations, and the calculation process is as shown in the attached diagram. Maybe you got the sign wrong when you converted c0 to -c0?
If I make a mistake, I hope you point out the mistake in my calculation process, thank you :)

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-12-18 15:39] mvieth commented on #5089
I don't see an attached diagram?
And when c0 is calculated, it is not negated yet (not -c0 yet). It is really just the determinant of the matrix

[2021-12-18 18:00] Chris45215 commented on #4659
@MaskKevin The suggestion from larshg at https://github.com/PointCloudLibrary/pcl/issues/4659#issuecomment-801452079 essentially solved my installation issues, so I recommend following his comment and the link he provides. Those are better instructions than I could write.

[2021-12-19 09:08] LiuPeiqiCN opened #5091 "[compile error] z_errmsg already defined in pcl_surface.lib"
**Describe the bug**

Compile error LNK2005.
[code]

When I build PCL static library, I have set ZLIB:
[code]

https://github.com/PointCloudLibrary/pcl/blob/8d5fa69f0a/surface/src/3rdparty/opennurbs/zutil.c

**Your Environment (please complete the following information):**

 - OS: win10
 - Compiler: MSVC
 - PCL Version: [git clone yesterday](https://github.com/PointCloudLibrary/pcl/tree/c51f7a2dfc

[2021-12-19 15:03] EdwardDevil commented on #5089
Yes, it is really just the determinant of the matrix.
I hope there is no error in my calculation, otherwise it will take you too much time, and then the calculation process is as follows.
![ComputeBoot](https://user-images.githubusercontent.com/96288155/146679682-7449f3e5-22ca-4418-bdf9-9d2dbfeb6769.jpg)

[2021-12-19 16:16] mvieth commented on #5089
In the first step, when you calculate `determinant(lambda*E-A)`, you only write a minus sign in front of the diagonal entries of A (m(0, 0), m(1, 1), m(2, 2)). This is not correct: You have to negate _all_ entries of A, so for example also m(0, 1), m(0, 2), and so on. This leads to the one product in c0 having the wrong sign.

[2021-12-20 00:57] EdwardDevil commented on #5089
I see, sorry to bother you for my mistake :)

[2021-12-20 00:57] #5089 closed

[2021-12-20 03:14] mvieth commented on #5089
No problem. If someone has a legitimate concern that there is a bug in PCL, we want to know about it of course, even if it might turn out as a false alarm

[2021-12-20 06:21] liupeiqiHN commented on #4513
Same problem, looking for a solution.
Win11: Qt6.2, VTK9.1.0, PCL static library 2021/12/18
[code](https://github.com/PointCloudLibrary/pcl/blob/c51f7a2dfc2097e74957143e29a0310f3c1a5514/visualization/test/test.cpp?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L36)

[2021-12-20 09:18] MK2-3PP commented on #5090
Thanks for your comment! I will try this out.

[2021-12-20 11:02] mvieth commented on #5090
ICP is definitely worth a try. Using a voxel grid filter as the keypoint selection doesn't seem optimal, maybe one of PCL's other keypoint selection algorithms gives better results. Similarly, SHOT might not be the best descriptor for your case, but I can't recommend one that is definitely better (maybe check [this out](https://github.com/PointCloudLibrary/pcl/wiki/Overview-and-Comparison-of-Featu

[2021-12-20 11:02] #5090 closed

[2021-12-20 14:46] SunBlack commented on #5081
Checked it now.

I printed the content of `pcl_common` just before your call to `target_link_libraries` via [this script](https://stackoverflow.com/a/34292622). There `INCLUDE_DIRECTORIES` contains the correct include directory (`<buildDir>/_deps/pcl-src/common/include`) (and as `IMPORTED` is false `INCLUDE_DIRECTORIES` should be imho correct). Nevertheless MSVC doesn't show any any include direct

[2021-12-20 14:55] MK2-3PP commented on #5090
I've already tried out ISS, Harris and SIFT keypoint detectors but the voxel grids return the best results so far.
I'll try out some other descriptors and removing the plane via RANSAC.
Thanks a lot for your advices!

[2021-12-20 15:00] xkaraman commented on #5081
Thanks for checking it out.

I figured it would be pain to debug this out,  and probably there is no need to support this feature of CMake.

Yeah the best course of action i guess it is vckpg or others, but that's just that. You must require the users to have it to ease the process, where CMake is your config/build tool anyways.

[2021-12-20 15:33] xkaraman commented on #5081
Yes i completely understand the problems involved ( i think). I was just curious and if it can be an option to fetch pcl like this why not offer it.

[GoogleTest cmake](https://google.github.io/googletest/quickstart-cmake.html) quickstart uses `FetchContent` unless i read an outdated one.

[2021-12-22 09:57] #2140 closed

[2021-12-22 10:09] #4945 closed

[2021-12-22 15:26] #5082 closed

[2021-12-22 19:13] #4676 closed

[2021-12-22 20:30] SunBlack opened #5097 "[tutorials] Compile issue"
Tried to compile the tutorials via the `.ci/scripts/build_tutorials.sh` with Clang 13 (default Clang on Ubuntu 21.10)

[code]

Result of building all tutorials:
[code]

As far as I remember: Should the tutorials are be build on the CI? On Azure I don't see it, even `tutorials.yaml` still exists.

[2021-12-23 09:58] #4905 closed

[2021-12-23 10:05] #5087 closed

[2021-12-23 13:53] SunBlack opened #5099 "[segmentation] GroundPlaneComparator depth_dependent_ has no effect"
Just saw this as Clang warns: `variable 'threshold' set but not used` within the method `compare`. It seems `depth_dependent_ ` is always `true`, but could be modified via the optional parameter in `setDistanceThreshold`. So not sure if should just remove the code or do something more with this variable.

[2021-12-23 13:58] mvieth commented on #5097
Yes, on azure they are built as part of [the "Documentation" pipeline](https://dev.azure.com/PointCloudLibrary/pcl/_build?definitionId=14) (Ubuntu 18.04, GCC).
So to fix these warnings, I guess the random number generation should be rewritten ... there are similar cases of this problem in the tests

[2021-12-23 16:56] mvieth opened #5101 "[CI] new CI that covers uncommon build configurations"
An idea for a new CI (this was discussed a few times in comments of other issues or PRs):
Build and test PCL with less-common build configurations, e.g.:
- C++17 or C++20 instead of C++14
- other values for `CMAKE_BUILD_TYPE`
- non-default versions of VTK, CMake, Eigen, etc.
- ...

Covering all possible combinations is probably not doable, maybe we could choose a few random combinations for each r

[2021-12-24 09:03] theoniko commented on #5034
Hello,
Could someone give any hint about building pcl on windows with visual studio 2017? I downloaded PCL-1.12.0-AllInOne-msvc2019-win64.exe from https://github.com/PointCloudLibrary/pcl/releases  and tried to install the dependencies only lilke boost oer eigen but i got the error of https://github.com/PointCloudLibrary/pcl/issues/5001. Should i try to install the dependencies with vcpkg? Is ther

[2021-12-24 17:55] jasjuang commented on #5034
@theoniko best way to install pcl is through vcpkg. Once you install vcpkg, just simply to `vcpkg install pcl`

[2021-12-25 01:21] jinneigeyu opened #5104 "is there a win32 release?"

[2021-12-25 09:44] kunaltyagi commented on #5104
@UnaNancyOwen PTAL

[2021-12-25 10:23] UnaNancyOwen commented on #5104
For example, OpenCV provide only x64 pre-built libraries.
For example, CMake default generater is x64 for Visual Studio.
For these reasons, I believe that pre-built libraries for x64 alone can cover a lot of demand.

I used to provide that, but I stopped because it was so much work.
If there is a satisfied reason and more demand, I will consider re-start provide it.

However, In most cases, vcpkg

[2021-12-25 11:55] #3650 closed

[2021-12-25 17:08] theoniko opened #5106 "[compile error] "Building from source fails in docker Ubuntu 20.04 with gcc 9.3.0""
I am trying to build pcl from source in docker using  https://github.com/PointCloudLibrary/pcl/blob/master/.dev/docker/env/Dockerfile (i only change ARG UBUNTU_DISTRO="16.04" to "20.04"). Everything goes fine till command make -j2

[code]

My configuration is the following:
 - OS: [e.g. Ubuntu 20.04]
 - Compiler: [GCC 9.3.0]
 - PCL Version [ latest master]
 - PCL Type: [Compiled from source]

It l

[2021-12-25 17:13] kunaltyagi commented on #5106
https://github.com/PointCloudLibrary/pcl/blob/master/.ci/azure-pipelines/env.yml provides pre-built docker env files. Our CI builds in the same OS, but uses Clang (https://github.com/PointCloudLibrary/pcl/blob/master/.ci/azure-pipelines/azure-pipelines.yaml#L104), so this would be a bug. Needs investigation

[2021-12-25 17:29] kunaltyagi commented on #5106
There might be something different about your particular cmake. Unable to reproduce:
[code]
I'm at 16% now and linked quite a few of the modules, so it has to be either:
* a cmake configuration issue
* a docker build difference as compared to CI build

[2021-12-25 18:17] #5104 closed

[2021-12-25 18:36] theoniko commented on #5106
I tried one more time using clang 10.0.0 and it seems to work (it is around 20% at the moment). I will give a try to the ci suggested images. Thanks a lot for the hint.
It would be a great idea to have a tutorial how to build with docker if it does not already exists because the steps where not that obvious to me.

[2021-12-25 19:18] kunaltyagi commented on #5106
That's a good idea. How about contributing a README.md for the .dev/docker folder? We can link to that from the main README.

If possible, adding a tutorial in docs/tutorials/content would also be nice.

[2021-12-25 19:18] #5106 closed

[2021-12-26 16:50] yurivict opened #5108 "[regression][1.12.1] IMPORTED_LOCATION not set for imported target "Qhull::qhull_r""
configure fails:
[code]

This wasn't happening in 1.12.0.
qhull-7.3.2
OS: FreeBSD 13

[2021-12-27 11:16] #5034 closed

[2021-12-27 17:11] mvieth commented on #5075
I had a quick look into the boundary estimation implementation, and I saw no reason why it would not work for closed objects. I suspect that the parameters you use for normal estimation and/or boundary estimation are the problem, so I am going to close this issue. However, if you do find a specific bug in the implementation of `BoundaryEstimation`, feel free to report it

[2021-12-27 17:11] #5075 closed

[2021-12-28 13:38] #4679 closed

[2021-12-30 06:37] pravin25 commented on #3640
any update on this error, I also facing same error.

[2021-12-30 10:31] mvieth commented on #3640
@pravin25
- What operating system are you using?
- What version of PCL are you using, and how did you install it?
- Please describe exactly what you are trying to do
- And please copy-paste the errors you get

[2021-12-30 14:29] chenzongyi9708 opened #5112 "[SuperVoxel Clustering] How can i get the normal of voxels?"
**Context**

  I am using supervoxel_clustering class to get a cloud segmentation,and I want to get normals of  voxels, I mean  geting  a PointNormal which include result of function getLabeledVoxelCloud(),with their normals. Code will be like this :
[code]
but something wrong reading like:
[code]
I am really new in c++,could someone help me?
**Expected behavior**
The Expected behavior is get a Po

[2021-12-30 17:36] lockunkey commented on #2303
i too have the same issue can anyone tell me how to solve this

[2021-12-31 02:42] Yourbee opened #5114 "[custom] after include convex_hull.h, program needs vtk dll to run."
After #include <pcl/surface/convex_hull.h>, using pcl::ConvexHull. The compiled program needs the VTK dll to run, is this necessary, or there is something I don’t understand？

[2021-12-31 10:37] mvieth commented on #5114
- What operating system are you using? Windows?
- What version of PCL are you using, and how did you install it?
- Please copy-paste the exact error message

[2021-12-31 14:42] larshg commented on #5114
PCL surface optionally depends on VTK for a vtk smoothing algorithm.
And therefore if you link to PCL surface thats build with this, you will need the vtk libraries.
Alternatively you have to build PCL yourself without VTK support.

[2022-01-02 13:04] mvieth commented on #3987
Fixed by the pull request linked above

[2022-01-02 13:04] #3987 closed

[2022-01-02 13:07] mvieth commented on #4515
Should be fixed by #4923 , otherwise please comment/reopen

[2022-01-02 13:07] #4515 closed

[2022-01-02 14:14] Qannaf commented on #4987
You can try this function :
    template<typename PointT>
    void addPointCloudToVisualizer ( const std::shared_ptr<pcl::PointCloud<PointT> > &_ip_pointCloud,
                                     const Eigen::Matrix4f &w_T_obj,
                                     const std::string &_ip_PCNameID,
                                     const int &_pointsSize,
                                     con

[2022-01-02 14:16] Qannaf commented on #4987
After build solution, enable AVX in MCVS19

[2022-01-02 15:19] mvieth commented on #1623
Since pull request #4962 is now merged, I am confident that this issue is fixed. However, if anyone still has this problem **with the current master branch or future PCL releases (at least 1.13)** please comment/reopen

[2022-01-02 15:19] #1623 closed

[2022-01-03 03:41] spcrobocar opened #5115 "2D lidar scan partial matching with PCL"
Hi,

I am working on a robocar which uses 2D lidar as its sensor. There are some static objects in the robocar workspace that can be used as landmarks. For robocar localization, I would like to match the lidar signal to the saved landmarks (map) to determine the car pose.  If you visualize at the saved landmarks or map, you can see that the points form some straight line segments and some paraboli

[2022-01-03 04:47] pravin25 commented on #3640
I am using following configuration

- _Ubuntu 20.04._
- _PCL 1.12.1 version._
- _CUDA Version - 11.2_

I was trying to compile cuda/apps/ kinect_planes_cuda.cpp
following error was coming.
   _"/opt/cuda/include/thrust/detail/reference.inl:137:73: error: void value not ignored as it ought to be
   return get_value(thrust::detail::derived_cast(non_const_system), m_ptr);"_

after did the following c

[2022-01-04 01:22] Yourbee commented on #5114
Thanks, I thought vtk was just for display. *^_^*

[2022-01-04 01:22] #5114 closed

[2022-01-04 09:14] mvieth commented on #4885
While it would be nice to only have either yml or yaml extensions, I don't see a big problem with mixing them. However, changing the extensions (renaming the files) now might lead to some headaches (files not found etc).
FUNDING.yml, config.yml, and stale.yml indeed seem to only work with the yml extension, not the yaml extension. In contrast to that, [yaml is the officially recommended extension]

[2022-01-04 09:20] mvieth commented on #2732
Closed by #4952

[2022-01-04 09:20] #2732 closed

[2022-01-04 10:00] #5115 closed

[2022-01-04 14:42] themightyoarfish commented on #3370
Not solved with current master and vtk 9.0.3 on macos.

[2022-01-04 14:43] themightyoarfish commented on #3370
Is it definitive that visualization will not work on macos with VTK > 8?

[2022-01-04 14:45] larshg commented on #3370
Can you elaborate a bit whats not working? The CI builds with vtk 9.

[2022-01-04 14:50] themightyoarfish commented on #3370
I mean using the render window returned by `PCLVisualizer::getRenderWindow()` as the target for a Qt widget that inherits from `QVTKOpenGLNativeWidget`. When I call `setRenderWindow()` with the PCL visualizer window, I get the
[code]
warning/error and the PCL visualizer window pops up separately, instead of appearing inside the Qt widget.

[2022-01-04 14:52] themightyoarfish commented on #3370
Something like this, which used to work with `QVTKWidget` from vtk 8.2
[code]

[2022-01-04 15:15] themightyoarfish commented on #3370
What _seems_ to work is to call
[code]
before the QApplication gets instantiated and then something like this to set up the widget with the viewer inside:
[code]

[2022-01-04 15:16] themightyoarfish commented on #3370
Passing `true` for the last arg to PCLVisualizer makes it segfault, however.

[2022-01-04 15:33] themightyoarfish commented on #3370
Unfortunately without the interactor, the widget only displays new data when interacted with, so there must be some way to add one from the outside or fix the segmentation fault.

[2022-01-04 21:43] JaccoKiezebrink commented on #4911
Has anybody been able to make any progress on this issue?

[2022-01-04 22:02] larshg commented on #4911
Don't think so, so please go ahead 😀