[2022-06-30 12:52] kaesesahnetorte commented on #5311
Thank you for your quick feedback!
Yes, I think this file layout looks appropriate.

[2022-07-02 09:04] mvieth commented on #5307
That binary (and some others) are linked with Qt through the VTK libraries. `WITH_QT=NO` currently doesn't have influence on that. I am not sure whether it is possible to use VTK without Qt. Could you explain the situation a bit more: Why do you not want to link to Qt? Is Qt available on the system? Which VTK version is used?

[2022-07-02 14:53] yurivict commented on #5307
What does this mean? If some other library X is linked to Qt and your binary links to X this doesn't make your binary linked to Qt.

I am trying to make FreeBSD port options to work cleanly with and without the QT option.

Yes.

9.1

[2022-07-02 19:19] larshg commented on #5307
VTK can tell your app that it has to link to certain libraries as well, if its public linked. Ie. if VTK can return some Qt types, your app would need to know them.

One way is to disable Qt in VTK(would require own manual build, since public versions is linked with Qt, see its dependencies: https://www.freshports.org/math/vtk9).

[2022-07-03 01:07] yurivict commented on #5307
Such situations almost always don't require the dependency package to link transient dependencies. If your app cares about QT types returned by some VTK methods - it should link to Qt. If it for example doesn't use this part of VTK API at all - there's no need to link to Qt.

[2022-07-03 10:16] mvieth opened #5313 "Remove deprecated stuff before PCL 1.13.0 release"
[code]

[2022-07-04 11:28] mvieth commented on #4333
After the big improvement by the latest pull request, I would consider this issue fixed

[2022-07-04 11:28] #4333 closed

[2022-07-05 01:13] jiapei-nexera opened #5315 "Conflicting current thrust/cub?"
**Describe the error**

[code]

**To Reproduce**

Just enable as many features to build as possible...

**Screenshots/Code snippets/Build information**

N/A

**Your Environment (please complete the following information):**

[code]

If PCL was compiled from source or failure in compiling PCL itself:
 - GPU, Kinfu, CUDA enabled?  YES, CUDA
 - List and Version of dependencies used: CUDA 11.7
 - Comp

[2022-07-05 07:52] larshg commented on #5307
Maybe not, but its up to VTK to decide which libraries they are linking public - and afaik it is forced upon PCL. Qt is linked public [here](https://github.com/Kitware/VTK/blob/master/GUISupport/Qt/CMakeLists.txt#L62).

[2022-07-05 07:54] yurivict commented on #5307
Ok, thanks.

[2022-07-05 07:54] #5307 closed

[2022-07-05 07:56] mvieth commented on #5315
@jiapei-nexera Can you post your whole build log as a .txt file? Also: how did you install CUDA?

[2022-07-06 16:44] StefanBruens opened #5319 "I've tested #5130 on arm64 and it reduces the failing tests to:"
I've tested #5130 on arm64 and it reduces the failing tests to:
[code]

Thanks for working on this!

_Originally posted by @jspricke in https://github.com/PointCloudLibrary/pcl/issues/5127#issuecomment-1013163562_

[2022-07-06 16:44] #5319 closed

[2022-07-06 16:53] StefanBruens opened #5320 "Tests fail on aarch64/ppc64"
On aarch64 the following 2 tests fail:

         14 - common_pca (Failed)
        125 - test_non_linear (Failed)

_Originally posted by @jspricke in https://github.com/PointCloudLibrary/pcl/issues/5127#issuecomment-1013163562_

On ppc64le, `test_non_linear` fails, but `common_pca` passes.

**Expected behavior**

Tests pass on all archs

**Current Behavior**

[code]
[code]

**Your Environment (plea

[2022-07-06 19:28] mvieth commented on #5320
Would it be possible that you run the tests again with the latest master branch? I recently made [a change](https://github.com/PointCloudLibrary/pcl/commit/f1a5291d7f9bf10ffed9921ef267a93f871df446) that might already fix the test_non_linear.
Regarding common_pca, I will look into it.

[2022-07-06 21:40] StefanBruens commented on #5320
Builds on aarch64 are still running ...
ppc64le now finished successfully!
I had *one* spurious failure on x86_64 (but two successful runs on x86_64, also on ppc), though in `a_octree_test`:
[code]

[2022-07-08 01:32] jimmyshe commented on #4459
I found out the problem is due to the gtsam has an older version of eigen.

[2022-07-10 12:44] kyoasu opened #5323 "[custom] When I use pcl1.9 in ubuntu 20.04 it prompts PointXYZ does not name a type"
![image](https://user-images.githubusercontent.com/39193066/178145386-4573137f-4491-47bc-9993-8272c068feab.png)
Appreciate it if you can suggest me how to solve

[2022-07-10 12:50] kyoasu opened #5324 "[compile error] When I compiled pcl1.12 on ubuntu 20.04, I encountered the error about boost"
**Your Environment (please complete the following information):**

 - OS: Ubuntu20.04
 - Compiler: GCC9.5
 - pcl1.12
 - Compiled from source

CMake Error in common/CMakeLists.txt:
  Imported target "Boost::boost" includes non-existent path

    "/include"

  in its INTERFACE_INCLUDE_DIRECTORIES.  Possible reasons include:

  * The path was deleted, renamed, or moved to another location.

  * An in

[2022-07-10 14:26] mvieth commented on #5323
@kyoasu What project are you trying to compile? The error is probably that you are including `point_types.hpp`, but you should include `<pcl/point_types.h>` instead

[2022-07-10 14:28] mvieth commented on #5324
@kyoasu How did you install boost?

[2022-07-10 15:02] #5323 closed

[2022-07-10 15:06] kyoasu commented on #5324
yes，I installed boost1.70

[2022-07-10 19:30] mvieth commented on #5324
@kyoasu Please check out these two discussions:
https://stackoverflow.com/questions/70585114/imported-target-boostsystem-includes-non-existent-path-include

https://github.com/google-research/football/issues/311

[2022-07-11 01:59] kyoasu commented on #5324
It's work! Thank you!

[2022-07-11 01:59] #5324 closed

[2022-07-12 22:18] hanyiR2 commented on #5315
I'm also facing similar issues. Mine produces huge amount of error (5000 lines). It does look like the symbol cub is not being resolved.

I installed CUDA 11.7 on Ubuntu 20.04 system.
Below is the cmake command
`cmake .. -G Ninja \
         -DCMAKE_BUILD_TYPE=Release \
         -DWITH_OPENMP=ON \
         -DBUILD_global_tests=OFF \
         -DWITH_CUDA=ON \
         -DBUILD_CUDA=ON \
         -DCU

[2022-07-13 11:14] kyoasu opened #5325 "[Error] I got some trouble when I loaded PCD file in pcl1.9.1"
When I use pcl::io::loadPCDFile to load my data, I have encountered the following problem. Debug reports an error when the ide stays on this page
![image](https://user-images.githubusercontent.com/39193066/178720832-1c4f8619-2cf0-4d4e-b69c-1ca752bd29b2.png)

When I use gdb to trace the problem, show this
![image](https://user-images.githubusercontent.com/39193066/178720663-17e26408-b55e-4b4b-886a-

[2022-07-13 12:15] mvieth commented on #5325
- Which operating system do you use?
- How did you install PCL?
- Which compiler do you use?
- How do you compile your own project? If you use CMake, please post your CMakeLists.txt

[2022-07-13 12:19] mvieth commented on #5304
Fixed by #5318 and #5310

[2022-07-13 12:19] #5304 closed

[2022-07-13 12:27] kyoasu commented on #5325
cmake_minimum_required(VERSION 3.5)
project(XLZAMultiPerception)
set(CMAKE_EXPORT_COMPILE_COMMANDS ON)
set(CMAKE_CXX_STANDARD 14)
ADD_COMPILE_OPTIONS(-std=c++14 )
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -DBOOST_MATH_DISABLE_FLOAT128")
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++14 -pthread")
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -DEIGEN_DONT_VECTORIZE")

############################ set outp

[2022-07-13 12:55] kyoasu commented on #5325
And when I use pcl::PointCloud<pcl::PointXYZRGB>::Ptr  in functions, it reports "double free or corruption(out)" on return. The ide stays on this page
![image](https://user-images.githubusercontent.com/39193066/178738506-5beaebd6-d215-42f3-8a19-6a017948603d.png)

[2022-07-13 15:26] mvieth commented on #5325
The `-DEIGEN_DONT_VECTORIZE` option is likely the problem. If you want to use it in your project, you also have to compile PCL with it

[2022-07-14 00:47] kyoasu commented on #5325
It's work! But I'm sorry that I have another problem. When I use pcl::PointCloudpcl::PointXYZRGB::Ptr in functions, it reports "double free or corruption(out)" on return.
#0  __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:50
#1  0x00007ffff27aa859 in __GI_abort () at abort.c:79
#2  0x00007ffff281526e in __libc_message (action=action@entry=do_abort, fmt=fmt@entry=0x7ffff293f298

[2022-07-14 07:13] kyoasu commented on #5325
I have solved this problem

[2022-07-14 07:13] #5325 closed

[2022-07-15 05:07] 1ros0 opened #5328 "pcl::PassThrough<pcl::PointXYZRGB> for the rgb field should filter on the rgb intensity/grayscale value"
Hi,

Applying the pcl::PassThrough to a pcl::PointXYZRGB on the "rgb" field results in unintuitive/meaningless behavior. The filter checks against the float representation of the rgb field which isn't a meaningful number when considering a min and max filter range.

Here is the float representation:
`
std::uint8_t r = 255, g = 0, b = 0;    // Example: Red color
std::uint32_t rgb = ((std::uint32_t)

[2022-07-15 07:33] mvieth commented on #5328
IMO, if it did that automatically, that wouldn't be so intuitive either. You can of course convert your cloud to a cloud of `pcl::PointXYZI` and pass that to the filter. I'm not really sure what you expect when you tell the filter to keep all points where the "rgb" value is in a certain range, when you know those are actually three values packed into a float? The PassThrough isn't really meant to

[2022-07-15 08:16] 1ros0 commented on #5328
Hmm so maybe if filtering on the RGB field is requested the filter function
should return an error?

On a slightly different note, based on the page you linked, if the pass
through filter is requested on non-float fields that might exist in any
point type then too, it should return an error. The answer on the page you
linked shows that current functionality only works for float fields.

On Fri, Ju

[2022-07-15 11:56] mvieth commented on #5328
@1ros0 That sounds like a good idea (maybe only a warning for rgb, error for non-float fields). Would you be interested in opening a pull request for this?

[2022-07-15 17:59] alex-klimov opened #5329 "[Registration] Template alignment from the tutorial performs poorly"
I have a task to register known 3D object in a scene (align scale, rotation, translation). Both the object and the scene are colored.

I have followed the tutorial shown here:
https://pcl.readthedocs.io/projects/tutorials/en/master/template_alignment.html

It performs poorly as it is at the moment - the object is placed at random place in a scene after two warnings about failing to find a match af

[2022-07-16 07:12] mvieth commented on #5329
Since I don't see any indication of a bug, GitHub is not the right place for such questions. For algorithm recommendations etc. you can try [stackoverflow or the discord community chat](https://github.com/PointCloudLibrary/pcl#community). And of course the documentation if you haven't checked that yet:
https://pointclouds.org/documentation/group__recognition.html
https://pointclouds.org/documentat

[2022-07-16 07:12] #5329 closed

[2022-07-18 07:38] pla66 opened #5334 "[custom] CMakeLists.txt improvement suggestion"
The root CMakeLists.txt file collect subprojects using macro collect_subproject_directory_names() and stores the subproject names in PCL_MODULES_NAMES, subproject directories names in PCL_MODULES_DIRS. According to my understanding, the reason for this is to prevent inconsistencies between subproject name and subproject directory name.

However, in macro PCL_SUBSYS_DEPEND(), the project collect in

[2022-07-18 09:08] mvieth commented on #5334
@pla66 Thanks for reporting. As you mentioned, so far everything is consistent, and I would say it's unlikely that will ever change. Still, do you have a suggestion how to fix this? If it is an easy fix, it would be nice to do it, otherwise I wouldn't worry about it until it actually becomes a problem.

[2022-07-18 14:12] pla66 commented on #5334
I agree with the structure of the current PCL project that codes of a subproject store in a same-name folder. Such code organization principle is simple and elegant. So maybe the code in root CMakeLists.txt file does not need to maintain the variable PCL_MODULES_DIRS and use PCL_MODULES_NAMES instead. And if there is a inconsistence between subproject directory name and subproject name, an error s

[2022-07-19 08:13] mvieth commented on #3774
If anyone is interested: this is still open. Here is a list of remaining header guards: [header_guards.txt](https://github.com/PointCloudLibrary/pcl/files/9138829/header_guards.txt) (I used grep with `ifndef.*h`, the list is probably complete but contains some false positives). I would recommend applying the changes in more than one pull request.
The pull request above mentions some tools that may

[2022-07-19 14:10] SunBlack opened #5336 "[kdtree] Doesn't create a lib when compiling with MSVC"
I tried to upgrade the PCL version which our CI is using for Windows from 1.11.1 to 1.12.1, but sadly this fails as somehow the build of `pcl_kdtree` creates a `dll`, but no `lib`. With 1.11.1 I have no issue, but with 1.12.0, 1.12.1 and the current master.

Tried it on two machines: Both with Win10, the on machine is using MSVC 19.16 (2017), the other 19.29 (2019) and 19.32 (2022).

I broke our c

[2022-07-19 23:44] Haalum opened #5337 "How to print dimension size of keypoints or descriptors?"
With the following code, I can print how many points I have in the point cloud. How do I print the dimension size [whether it has 3 values per point (XYZ) or 6 values per point (XYZRGB)].
[code]
I want to see the dimension size of the descriptors I have created. Thanks!

-- From an amateur C++ and new PCL user.

[2022-07-20 08:18] mvieth commented on #5337
Depends on what you want exactly. `sizeof(point)` gives you a hint (in bytes), but this might not be what you are looking for. For actual feature types, there is [pcl::detail::traits::descriptorSize](https://github.com/PointCloudLibrary/pcl/blob/master/common/include/pcl/impl/point_types.hpp#L196) (but not for point types like PointXYZ). There is also [getFields](https://pointclouds.org/documentat

[2022-07-20 08:18] #5337 closed

[2022-07-20 08:43] mvieth commented on #5336
Not sure, maybe you can use `git bisect` to find the problematic commit between 1.11.1 and 1.12.0?

[2022-07-20 10:32] unageek commented on #3226
Is this still the case?

[2022-07-20 14:40] SunBlack commented on #5336
`git bisect` is indeed a helpful command 👍 I tracked it now down to the MR #4358 which introduced the issue. This MR removes `#include <pcl/common/io.h>` from `kdtree/include/pcl/kdtree/kdtree.h`. With this include it compiles on my machine. I tracked this include further down and it seems `#include <pcl/PCLPointCloud2.h>` is needed somehow, even I don't understand why until now (including just th

[2022-07-20 15:35] SunBlack commented on #5336
It seems #4358 is causing other problems in the PCL to come to the surface rather than being the problem itself.

When compiling the commit before #4358 and inspecting the `pcl_kdtree.lib` via `dumpbin.exe -headers pcl_kdtree.lib` you will see, that only the class `PCLPointCloud2` is exported. This explains the issue as by removing the include nothing have to be exported and therefore MSVC omits t

[2022-07-21 07:43] REASY opened #5339 "[VoxelGrid] Downsampling produces wrong result"
If my assumption that for the same input PointCloud<PointXYZ>, monotonically increasing voxel size should produce monotonically decreased downsampled PointCloud is correct then something wrong with the downsampling in VoxelGrid.

Let's take an example, the following code creates point cloud and voxelizes it with three different voxel sizes: 3.0f, 3.33f, 4.0f.
[code]
One would expect that `voxelize

[2022-07-21 08:37] mvieth commented on #5339
The data you are using seems to be the problem. I extended your test:
[code]
You are using a straight line with regular spacing between points, and voxel sizes that are a multiple of this spacing. That means that some points are exactly on the border of two voxels, and there may be voxels with only one point, leading to strange results. This is related to [Aliasing](https://en.wikipedia.org/wiki/A

[2022-07-21 09:06] REASY commented on #5339
@mvieth thank you for the response!

Hm, but the algorithm should be resilient to the data issues, no? And it should be able to properly handle edge cases?

If I change the way how the index is computed to compute the delta between X/Y/Z and minX/Y/Z and then multiply it by inverse_leaf_size, then the result is monotonically decreasing. Here is the patch:
[code]

It produces:
[code]

[2022-07-21 09:30] mvieth commented on #5336
So maybe something like this?
[code]
Can you test if this works in your case and then perhaps create a pull request?

[2022-07-21 09:33] chx725 opened #5340 "[uniform sampling ] It not stores the point nearest to the voxel center, but the point nearest to the leftest. And the distance calculation should consider the scale(which means ijk should multiply leafsize))"
**Describe the bug**

A clear and concise description of what the bug is.

**Context**

What are you trying to accomplish? Providing context helps us come up with a solution that is most useful in the real world

**Expected behavior**

A clear and concise description of what you expected to happen.

**Current Behavior**

What happens instead of the expected behavior?

**To Reproduce**

Provide a l

[2022-07-21 09:39] chx725 opened #5341 "[VoxelGridCovariance] The covariance calculation is wrong(leaf.cov_ *= (leaf.nr_points - 1.0) / leaf.nr_points; should be leaf.cov_ *= leaf.nr_points/ (leaf.nr_points - 1.0) ;)"
**Describe the bug**
The covariance calculation is wrong, leaf.cov_ *= (leaf.nr_points - 1.0) / leaf.nr_points  should be  leaf.cov_ *= leaf.nr_points/ (leaf.nr_points - 1.0) ;

**Context**

What are you trying to accomplish? Providing context helps us come up with a solution that is most useful in the real world

**Expected behavior**

A clear and concise description of what you expected to happe

[2022-07-21 11:47] mvieth commented on #5341
@chx725 It looks like you are referring to an old version of PCL. The current code doesn't have that line any more: https://github.com/PointCloudLibrary/pcl/blob/master/filters/include/pcl/filters/impl/voxel_grid_covariance.hpp
If you still think there is something wrong with the current code, please say so, otherwise I will close this issue.

[2022-07-22 07:39] unageek commented on #3226
I confirmed that the normals generated by `NormalEstimation` and `NormalEstimationOMP` are exactly the same.

[2022-07-22 08:17] DavidRobb commented on #3226
Great. That is good to know. Happy for this issue to be closed.

[2022-07-22 08:31] mvieth commented on #3226
I also just checked and also can't find any difference between the outputs of `NormalEstimation` and `NormalEstimationOMP`. So I'm closing this. Thanks everyone!

[2022-07-22 08:31] #3226 closed

[2022-07-22 12:12] Bzz2745 opened #5343 "[compile error] some hpp files can't open when i compilating pcl by myself"
some *.hpp files like boost/mpl/assert.hpp can't open while i compilating pcl form source.
![image](https://user-images.githubusercontent.com/68807654/180435975-2c1c3771-41bf-4853-a4ee-c69c01e84276.png)
![image](https://user-images.githubusercontent.com/68807654/180436646-951e2868-fdac-46b4-9bbb-43ff8db99aae.png)
![image](https://user-images.githubusercontent.com/68807654/180436720-1106cc16-0754-4

[2022-07-22 12:14] Bzz2745 commented on #5343
![image](https://user-images.githubusercontent.com/68807654/180436979-648d4b5d-5f5e-4348-856f-7d6ac6ee87e5.png)
here is the cmake setting of boost

[2022-07-22 12:50] mvieth commented on #5343
@Bzz2745 I am not very familiar with the all-in-one installer, but I believe that you have to install Boost in some other way if you want to compile PCL yourself, because the all-in-one installer doesn't contain all necessary header files.

[2022-07-22 13:35] Bzz2745 commented on #5343
and another .hpp files also could found.......

[2022-07-22 13:40] mvieth commented on #5343
@Bzz2745 Can you try adding `/boost-1_78` at the end of CMake's `Boost_INCLUDE_DIR`

[2022-07-22 13:48] Bzz2745 commented on #5343
i have alreay try it,but it doesn't work....

[2022-07-22 14:03] mvieth commented on #5343
@larshg Can you take a look

[2022-07-22 15:34] SunBlack commented on #5336
In principle yes, even if we should extend `PCL_ADD_LIBRARY` so that he can trade it, where I would not give it the keyword `INTERFACE`, but rather `PRECOMPILED_SOURCES`, then you would kill 2 birds with one stone:
- If there are no more sources, he could switch to interfaces alone and the logic for that would be central
- If `PCL_NO_PRECOMPILE` is specified and the source file contains a definiti

[2022-07-23 09:48] ytwei1995 commented on #2383
just click the .msi file, and select "remove", then again click and choose "change" to reinstall the openNI.

[2022-07-23 14:02] mvieth commented on #1622
Fixed by https://github.com/PointCloudLibrary/pcl/pull/5149

[2022-07-23 14:02] #1622 closed

[2022-07-23 14:05] mvieth commented on #2482
Likely fixed by https://github.com/PointCloudLibrary/pcl/pull/5149 , otherwise feel free to create a new issue

[2022-07-23 14:05] #2482 closed

[2022-07-23 14:13] mvieth commented on #3050
It looks like the question is answered. Otherwise, [Stackoverflow or the Discord community chat](https://github.com/PointCloudLibrary/pcl#community) would be good places to ask this. Also, the `recognition` module might have something for this purpose.

[2022-07-23 14:13] #3050 closed

[2022-07-23 20:24] danielTobon43 opened #5347 "[pcl alpine package] PCL compile recomendations"
# PCL alpine package
Hi, community,

I just wanted to share that I have started a PR for an Alpine Linux package of PCL [here](https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/36699#note_249845) and the release v0 was accepted.

Alpine Linux package: https://pkgs.alpinelinux.org/packages?name=pcl-dev&branch=edge

Now, I am updating to a new release version since there was an error in

[2022-07-25 06:28] pla66 commented on #5334
I have found some other mistakes in CMake files, and have come up with some other code improvement suggestions. Give me some time to sort them out and pull a request. : )

[2022-07-25 08:15] #5341 closed

[2022-07-25 08:20] #5340 closed

[2022-07-25 08:24] mvieth commented on #5138
Warning added to documentation in pull request https://github.com/PointCloudLibrary/pcl/pull/5338

[2022-07-25 08:24] #5138 closed

[2022-07-26 01:06] wangwenfeng0 commented on #5019
Thank you for your reply, I want to know how to enable AVX/AVX2 for VS project.

[2022-07-26 03:49] wangwenfeng0 commented on #5019
I test the pcl -1.11.1， that is ok.

[2022-07-26 08:03] JACKLiuDay opened #5355 "what unit of icp.getFinalTransformation result matrix? meter?"
Hi, thank you for your great work about pcl. I want to know the result matrix of getFinalTransformation() unit. We all know the result matrix is [  r   r   r     t  ] ， the t is translation vector. But I do not know the unit of t. Is it meters? And the rotation unit is what for r?
              [  r   r   r     t   ]
              [  r   r   r     t   ]
              [  0  0   0    1  ]

![image](

[2022-07-26 11:20] mvieth commented on #5355
The unit of the translation vector is the same unit as your point clouds. Could be meters, but you have to check the specifications of your sensor to know for sure.
The rotation matrix doesn't have any unit. All entries are between -1 and 1, and you can multiply it with a 3x1 vector to get the rotated vector.

[2022-07-26 12:28] JACKLiuDay commented on #5355
Hi, thank you so much for your reply. I am using velodyne-16. So I need to check out the velodyne-16 pointcloud unit. Is that right?

[2022-07-26 12:40] #5347 closed

[2022-07-26 13:40] mvieth commented on #5355
Whether you are using ROS or not is likely not relevant, assuming the ROS package doesn't scale the pointcloud data.
Yes, you have to find out in which unit the velodyne-16 sensor returns the point clouds. I can't tell you where you find that information, maybe some datasheet/forum/manufacturer website.

[2022-07-26 13:40] #5355 closed

[2022-07-26 16:51] Vincent-Tann opened #5356 "[IO] Generating point cloud using kinect and kinect sdk"
I'm using kinect sdk to get color and depth data and generating cloudpoint with them.
[code]

With the last line, I store the coordinates(in camera coordinate system) of every pixels in the color picture. Now I want to store them in the format of organized point cloud, that is, using variable 'cloud_origin', then do some filtering and featuring work.
I'm new to pcl, could anyone tell me a proper a

[2022-07-27 07:38] mvieth commented on #5356
Please use [Stackoverflow or the Discord community chat](https://github.com/PointCloudLibrary/pcl#community) for such questions. The GitHub issues are intended for bug reports and compile errors. Two for-loops like this `for(...) { for(...) { /*copy x, y, z*/ } }` should probably do what you want

[2022-07-27 07:38] #5356 closed

[2022-07-27 08:07] balthasarschuess opened #5357 "[segmentation] undocumented dependency for 'features' module"
**Context**
Building pcl library only with required modules.

Disabled non required modules for segmentation https://pointclouds.org/documentation/group__segmentation.html
with command line options like `-DBUILD_features=OFF`.

**Expected behavior**

Segmentation library should be built.

**Current Behavior**

 `-DBUILD_features=OFF` implicitly disables module segmentation as well.
 The dependency

[2022-07-27 09:10] mvieth commented on #5357
Yes, the `UnaryClassifier` and the `SupervoxelClustering` from the segmentation module need things from the features module.
With "documented", do you mean to just enter it in the list of "Requirements" [here](https://pointclouds.org/documentation/group__segmentation.html)? If you like, you can open a pull request to do that, see this file: https://github.com/PointCloudLibrary/pcl/blob/master/segm

[2022-07-27 09:20] balthasarschuess commented on #5357
Yes, that's exactly what I meant and I'll create one.
Thanks!

[2022-07-27 10:09] #5357 closed

[2022-07-28 13:08] mvieth commented on #1187
It is almost impossible in practice that two floats (angle1 and angle2) have the exact same value, considering that the normals are usually estimated from noisy data. So while this might be theoretically possible, it is okay to accept this very unlikely problem. Correct me if I am wrong, but I don't think it will make the classes/functions that use `computePairFeatures` fail. And I don't even have

[2022-07-28 13:08] #1187 closed

[2022-07-29 14:12] danielTobon43 opened #5362 "[polygonmesh] viewer->addPolygonMesh fails on Linux Alpine 3.15"
**Describe the bug**

Displaying a polygon mesh on` pcl::visualization::PCLVisualizer::Ptr viewer` fails in Linux Alpine.

**Context**

I have a C++ project running with PCL 1.12.1 on Linux alpine 3.15 where a pointcloud is converted into a mesh using `poisson/gp3`. The conversion is working fine since I have exported the mesh with:

`pcl::io::savePLYFileBinary(output_dir.c_str(),cloud_mesh);`

an

[2022-07-29 14:19] danielTobon43 commented on #5362
I will compile the master branch version of PCL to see if the problem might be related to the `Segmentation fault (core dumped)` in the visualizer since I saw a post that this issue was fixed in the master branch.

[2022-07-30 00:33] danielTobon43 commented on #5343
As a @mvieth mentioned @Bzz2745 you shou compile boost from source: Check this gist for compiling Boost on windows using MinGW https://gist.github.com/sim642/29caef3cc8afaa273ce6

[2022-07-30 12:44] mvieth commented on #5362
Could you perhaps also run valgrind? That might give us some additional useful information.
When you compile PCL's master branch, can you choose to add debug symbols (e.g. RelWithDebInfo CMake config)? The backtrack is missing some information, all I can see is that the segfault is related to a shared pointer.

[2022-07-30 12:59] mvieth commented on #5362
Note: PCL is AFAIK not regularly tested with musl. Do you know whether PCL's tests are run on Linux Alpine somewhere?

[2022-07-30 15:13] danielTobon43 commented on #5362
That was the information from bt command, do you know a flag for -verbose or something like that?

[2022-07-30 15:16] danielTobon43 commented on #5362
Well, there is a `pcl-dev `package for Linux Alpine [here](https://pkgs.alpinelinux.org/package/edge/testing/x86_64/pcl-dev) and, what i can tell there was no issue during compiling and testing, although some tests were disabled

build log: https://build.alpinelinux.org/buildlogs/build-edge-x86_64/testing/pcl/pcl-1.12.1-r2.log

[2022-07-30 17:35] Bzz2745 commented on #5343
I have successfully compiled pcl (except kinfu), the reason for the error that I cannot find the .hpp file before is that nvcc does not correctly recognize my relative path, I don't know if it is my setting is wrong or it is just like this (so I Use notepad++ to change all the paths of the included boost header files in the generated files of the boost library compiled by myself to absolute paths,

[2022-07-31 03:48] Leaveszy commented on #4200
How did you solve this problem? I have the same problem with you

[2022-07-31 07:28] mvieth commented on #5362
What I meant was: When the bt command shows `??` that can mean that debug info is not included in the library/binaries. According to the build log you posted, the PCL package is build in the "Release" CMake configuration (`CMAKE_BUILD_TYPE`), meaning that no debug info is contained. Other configurations like "RelWithDebInfo" put this debug info into the libraries/binaries. Then debuggers can show

[2022-07-31 12:59] mvieth commented on #5362
So the shared pointer that causes the problem seems to be this one:
https://github.com/PointCloudLibrary/pcl/blob/master/visualization/src/pcl_visualizer.cpp#L3106
And the error happens when the pointer is destroyed/the contained cloud deleted:
https://github.com/gcc-mirror/gcc/blob/releases/gcc-10.3.0/libstdc++-v3/include/bits/shared_ptr_base.h#L380
But I still have no idea why it happens. Output

[2022-08-01 06:36] #2158 closed

[2022-08-01 06:36] #2384 closed

[2022-08-01 14:26] danielTobon43 commented on #5362
Hi @mvieth I have compiled the release package version of PCL with `RelWithDebInfo` and again with `Release`, which is working for some strange reason for both versions. Since I am refactoring the original code from the project, I think I have a bug on my part.

![Screenshot from 2022-08-01 09-24-28](https://user-images.githubusercontent.com/35694200/182169685-1b95ec84-2582-4b3b-8827-7495c8a433d5.

[2022-08-01 17:53] danielTobon43 commented on #5362
So, Indeed there is an error. When I linked an external library to the project that has nothing to do with the main function it crash the program. It is strange because I am not using the external library, just linking it into the main program and everything runs fine until the polygon mesh is added to the visualizer, then the program crashes.

Log from `gdb` using the `RelWithDebInfo` version

[c

[2022-08-01 18:13] danielTobon43 commented on #5362
After I removed the external library from target_link... then it works as expected

[code]
I think I will stick to the ubuntu version for my project seems there is something weird with Linux Alpine.

[2022-08-01 18:52] mvieth commented on #5362
Strange indeed. Out of interest, which external library are you linking with?
Actually, I see no reason why the cloud in `addPolygonMesh` (https://github.com/PointCloudLibrary/pcl/blob/master/visualization/src/pcl_visualizer.cpp#L3106) has to be a shared pointer. It could just as well be an object on the stack. I guess that should fix this problem, but of course that's no guarantee that a similar

[2022-08-01 20:28] danielTobon43 commented on #5362
I was linking [argparse](https://github.com/p-ranav/argparse), but never used the `#include` statement in the main project. Also, this library is a header only.

[2022-08-02 09:41] CaptainXX opened #5366 "[RangeImage] Segmentation Fault in RangeImage::createFromPointCloud"
**Describe the bug**

Api `RangImage::createFromPointCloud` will cause segmentation fault when there is a zero point (x, y, z = 0, 0, 0) in the pointcloud. The Library is built from the newest release source code.

**Context**

I was trying to generate and visualize the range view image from pointcloud with the [pcl tutorial code](https://pcl.readthedocs.io/projects/tutorials/en/latest/range_image

[2022-08-02 11:33] mvieth commented on #5366
Please try compiling the latest PCL master branch and check if the problem still exists (remember to first delete the currently installed PCL and also recompile your own code)

[2022-08-03 05:45] CaptainXX commented on #5366
It's solved in master branch! Sorry for not testing it.

Hope there will be a new release, because most of people may not clone and build from master branch.

@mvieth Thanks a lot for your reply!

[2022-08-03 07:22] mvieth commented on #5366
You're welcome. Yes, we will consider doing a release in the upcoming months

[2022-08-03 07:22] #5366 closed

[2022-08-03 11:44] danielTobon43 commented on #5343
Hi @Bzz2745, you should close this issue if is already resolved.

[2022-08-03 11:45] sagarkalburgi opened #5368 "[compile error] "ConditionalEuclideanClustering""
Hi,
I'm currently referring to the tutorial :
`https://pcl.readthedocs.io/projects/tutorials/en/master/conditional_euclidean_clustering.html#conditional-euclidean-clustering`
and the build fails with the following errors:

`1>region_growing_segmentation.obj : error LNK2001: unresolved external symbol "protected: virtual void __cdecl pcl::NormalEstimation<struct pcl::PointXYZI,struct pcl::PointXYZI

[2022-08-03 13:56] mvieth commented on #5368
How did you install PCL?

[2022-08-03 14:04] sagarkalburgi commented on #5368
Yes, I installed PCL using the following issue #4462.
I am able to build and run other tutorials such as [Region growing segmentation](https://pcl.readthedocs.io/projects/tutorials/en/master/region_growing_segmentation.html#region-growing-segmentation) and [Filtering a PointCloud using ModelOutlierRemoval](https://pcl.readthedocs.io/projects/tutorials/en/master/model_outlier_removal.html#model-out

[2022-08-03 16:24] mvieth commented on #5368
Try adding `#define PCL_NO_PRECOMPILE 1` at the top of the code. The All-In-One installer doesn't contain instantiation of all possible point type combinations. See also here: https://pcl.readthedocs.io/projects/tutorials/en/master/adding_custom_ptype.html

[2022-08-04 06:47] sagarkalburgi commented on #5368
I am getting the following error after adding `#define PCL_NO_PRECOMPILE 1`:
`fatal error C1128: number of sections exceeded object file format limit: compile with /bigobj`

[2022-08-04 07:28] mvieth commented on #5368
Google suggests:
- https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/fatal-error-c1128?view=msvc-170
- https://docs.microsoft.com/en-us/cpp/build/reference/bigobj-increase-number-of-sections-in-dot-obj-file?view=msvc-170
- https://stackoverflow.com/questions/8225078/how-to-set-compile-flag-bigobj-in-visual-studio

[2022-08-04 08:01] sagarkalburgi commented on #5368
Thank you the second link resolved the issue :)

[2022-08-04 08:01] #5368 closed

[2022-08-08 07:20] #3413 closed

[2022-08-08 07:20] #3503 closed

[2022-08-09 10:04] #4940 closed

[2022-08-11 02:49] FeiSong123 opened #5374 "PCLVisualizer Coordinate System"
I am new in PCL and I have a question on PCLVisualizer. I use realsense device to generate pointCloud whose X positive is right, Y positive is down, but when I show it to PCLVisualizer, it seems like that X is reversed. I have tried to use addCoordinateSystem (double scale, const Eigen::Affine3f& t, int viewport), but it seemed like that only coordinate axis were changed and coordinate system unch

[2022-08-11 05:27] arjunskumar commented on #2968
Thanks it worked

[2022-08-11 07:26] mvieth commented on #5374
You probably just have to flip/mirror the cloud with regard to the x-axis, e.g. with `transformPointCloud`

[2022-08-11 07:35] mvieth commented on #5328
@1ros0 Are you still planning to open a pull request?

[2022-08-11 09:23] FeiSong123 commented on #5374
I don't want to change my pointCloud's coordinate system but to change PCLVisualizer's, is there any way?

[2022-08-11 09:34] mvieth commented on #5374
If I understood your question correctly, there is no other way than to flip/mirror the cloud, but you can try asking on [Stackoverflow or the Discord community chat](https://github.com/PointCloudLibrary/pcl#community)

[2022-08-11 09:34] #5374 closed

[2022-08-12 09:47] JACKLiuDay opened #5376 "How use gicp to realize localization in a big pcd map? NDT or fast gicp or anything else?"
Hi, thank you for your great work about pcl. I built a pcd map with velodyne-16 by using lio-sam algorithm. And I try to use NDT to get the tansformation of the velodyne pointcloud with the built map. This means that I am able to localize the robot in real time. It worked when I use NDT. Now I want to use GICP of pcl to do the same thing. I set the input target pointcloud and the source pointcloud

[2022-08-12 12:18] mvieth commented on #5376
Out of interest: why do you want to use GICP when NDT worked?

Not _exactly_  the same, but close? Or completely different, meaning a wrong transformation?

Is the question whether ICP/GICP can work if the target cloud (map) is much larger/has much more points than the source cloud (single scan)? I would say they can still work in such a situation.

It is important to understand that ICP and GICP

[2022-08-13 09:48] JACKLiuDay commented on #5376
Hi, thank you so much for your reply.
I thought gicp is more accurate. So I want to compare the transformation result with GICP and NDT. Because I want to realize more accurate localization. My project need to be 5cm positioning error. When I use RTK to detect NDT positioning error with the evo tools. I found the mean error is 20cm. That's why I want to try GICP or other registration to improve po

[2022-08-13 12:02] mvieth commented on #5376
I think I already answered this in my last comment: Yes, I would say they can still work, at least ICP and GICP.

I assume you run the localization in a loop: new scan -> register scan -> new scan -> register scan -> ... Then the last localization (the transformation from the previous registration) is a good initial guess.

If NDT is for some reason not accurate enough, you could try running first

[2022-08-14 10:03] ChenGY-THU opened #5377 "[compile error] "vtk undefined reference to MPI, how can I solve this""
/usr/bin/ld: warning: libmpi.so.12, needed by /usr/local/lib/libvtkIOMPIImage-7.1.so.1, not found (try using -rpath or -rpath-link)
/usr/local/lib/libvtkIOMPIImage-7.1.so.1: undefined reference to `MPI_File_read'
/usr/local/lib/libvtkFiltersParallelDIY2-7.1.so.1: undefined reference to `MPI_Comm_rank'
/usr/local/lib/libvtkParallelMPI-7.1.so.1: undefined reference to `MPI_Abort'
/usr/local/lib/libv

[2022-08-14 12:23] cybaol commented on #5377
it seems like you need to recompile `VTK`

[2022-08-14 15:41] mvieth commented on #5377
@ChenGY-THU
- Which operating system do you use?
- Which PCL version do you use?
- Which compiler do you use?

[2022-08-14 17:07] SunBlack opened #5379 "[cmake] Combine `PCL_SUBSUBSYS_DEPEND` with `PCL_SUBSYS_DEPEND`"
`PCL_SUBSUBSYS_DEPEND` seems to be a copy of `PCL_SUBSUBSYS_DEPEND` - the only difference is, that the parameter `_name` is getting the prefix `_parent`. This could be handled by a simple optional parameter.

By combining these both methods we are preventing issues like introduced in #1786, where only one of both methods is getting an adjustment (I think the part `Include directories are now added

[2022-08-15 00:39] JACKLiuDay commented on #5376
Hi, thank you so much for your patient reply. This helped me a lot.

[2022-08-15 00:39] #5376 closed

[2022-08-15 03:15] CGuangyan-BIT opened #5380 "[custom] How to change the shape of points in the point cloud"
I rebuild PCL and found that the shape of points in the point cloud changes (sphere before and square after), and I prefer the sphere, how can I change the shape of points?
Before
![image](https://user-images.githubusercontent.com/96285708/184571201-1b7a2d34-7220-410b-8b9c-a7b308ad3d69.png)
As shown in the figure, the shape of the points before is a sphere.
After
![after](https://user-images.githu

[2022-08-15 05:47] mvieth commented on #5380
@CGuangyan-BIT What operating system do you use? Which PCL version did you use before and which one now? Which VTK version do you use?

[2022-08-15 08:28] CGuangyan-BIT commented on #5380
It's hard for me to enumerate what I did due to a long time between installs, I think the version is 1.12 before and after, and I am sorry to forget the version of VTK before, the version of VTK is 7.1.1 now. Do you know what's causing this, it's very important to me, thank you!

[2022-08-15 08:28] CGuangyan-BIT commented on #5380
It's hard for me to enumerate what I did due to a long time between installs, I think the version is 1.12 before and after, and I am sorry to forget the version of VTK before, the version of VTK is 7.1.1 now. Do you know what's causing this, it's very important to me, thank you!

[2022-08-15 15:50] mvieth commented on #5380
@CGuangyan-BIT And you think you had a different VTK version before you rebuilt PCL? Which class are you using to display the clouds? Which operating system do you use? You are giving me very little information, which makes it much harder to suggest a solution to you ...

[2022-08-16 02:19] wanesta opened #5381 "error: ‘Index’ is not a member of ‘Eigen’"
**Describe the error**
I'm trying to install pcl on ubuntu18.04 get this error ：
[ 17%] Building CXX object sample_consensus/CMakeFiles/pcl_sample_consensus.dir/src/sac_model_cone.cpp.o
[ 17%] Building CXX object io/CMakeFiles/pcl_io.dir/src/ply_io.cpp.o
In file included from /home/gaosm/Downloads/pcl/sample_consensus/src/sac_model_circle3d.cpp:38:0:
/home/gaosm/Downloads/pcl/sample_consensus/incl

[2022-08-16 05:17] mvieth commented on #5381
@wanesta Is there a reason why you don't install Eigen with apt (you get Eigen version 3.3.4), but use an older version instead? With Eigen 3.3.4, it will work.

[2022-08-16 06:23] JACKLiuDay opened #5382 "pcl::GeneralizedIterativeClosestPoint::computeCovariances] Number or points in cloud (1) is less than k_correspondences_ (20)"
![image](https://user-images.githubusercontent.com/30967867/184811293-9465cb06-014a-44c6-ba6e-5f25662a09dc.png)

Hi, thank you for your guys great work about pcl. I have some problem when I use GICP to registration in a big pcd map. It shows some error and I don't why. When I use NDT to registration. It has no error.

[2022-08-16 06:47] mvieth commented on #5382
@JACKLiuDay It seems one of your clouds only has one point. Check how many points the clouds have that you give to `GeneralizedIterativeClosestPoint`

[2022-08-16 06:49] JACKLiuDay commented on #5382
OK, thank you for your reply. I will test the cloud size in my program.

[2022-08-16 08:33] #5382 closed

[2022-08-17 02:03] wanesta commented on #5381
I change eigen3 version to 3.3.4 and install pcl 1.11.1 get this error:

[ 45%] Linking CXX executable ../bin/pcl_passthrough_filter
[ 45%] Built target pcl_passthrough_filter
[ 45%] Building CXX object features/CMakeFiles/pcl_features.dir/src/flare.cpp.o
c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///us

[2022-08-17 05:40] mvieth commented on #5381
@wanesta Compiling mls.cpp in the surface module needs a lot of RAM (working memory).
- make sure you have enough free RAM by closing all other programs during compiling and use only one build job (`make -j1`)
- if that doesn't work, you can try the option `PCL_ONLY_CORE_POINT_TYPES`
- if that still doesn't work, try the option `PCL_NO_PRECOMPILE`

Remember to do a full rebuild each time (delete a

[2022-08-17 08:41] CGuangyan-BIT commented on #5380
Thank you for your suggestion, I change the version of PCL and VTK to 1.8.0 and 6.3, and the shape becomes the sphere.

[2022-08-17 09:24] mvieth commented on #5380
Interesting, I didn't know that the shape changed from sphere in VTK 6 to square in VTK 7 and newer.
Might also be possible to choose spheres in newer VTK versions: https://vtk.org/doc/nightly/html/classvtkProperty.html#a299ff684fcb7cdd2c53c68567e7f7e82
I am closing this issue, since you achieved what you wanted

[2022-08-17 09:24] #5380 closed

[2022-08-18 01:55] wanesta commented on #5381
Thank you very much

[2022-08-18 05:08] #5381 closed

[2022-08-19 01:25] JACKLiuDay opened #5388 "Does positioning in a pre-built pcd map require motion distortion correction for real-time laser point clouds?"
Hi, thank you for your great work about pcl.
I am working on a project with my robot. I built a map using LIO-SAM. And I save the map as a pcd file. Then I load the pcd map for localization in my campus. I set the map pointcloud and the source pointcloud with velodyne-16 real-time data. And the GICP works well. I can localize my robot in the map. But I have a question. When my robot moves about 0.

[2022-08-19 05:33] mvieth commented on #5388
Please use [Stackoverflow or the Discord community chat](https://github.com/PointCloudLibrary/pcl#community) for such application-specific questions. The GitHub issues are intended for bug reports and compile errors.

[2022-08-19 05:33] #5388 closed

[2022-08-19 07:36] #5379 closed

[2022-08-19 11:44] LF177 opened #5389 "[compile error] "Floating point exception (core dumped) with pcl::transformPointCloud""
Here's part of my code：
loadSTL(PCNormals, model_path.c_str(), 50000, 15, 15, 20);
    colored_model->points.resize(PCNormals->points.size());
    for(int i=0; i<PCNormals->points.size(); i++)
    {
        colored_model->points[i].x = PCNormals->points[i].x;
        colored_model->points[i].y = PCNormals->points[i].y;
        colored_model->points[i].z = PCNormals->points[i].z;
        colored_mo

[2022-08-19 13:12] sadsimulation opened #5392 "[registration] Sporadic segfault in NDT after repeated align"
**Describe the bug**

After calling align on an `NormalDistributionsTransform` object, I get a segfault somewhere deep inside the call stack (see below).

**Context**

I'm trying to match successive point clouds using the NDT. The NDT is used in the callback function of a ROS service. Every time the callback function executes, I instantiate a `NormalDistributionsTransform<pcl::PointXYZ, pcl::Point

[2022-08-19 13:18] mvieth opened #5393 "Eigen: switch to imported modules and NO_MODULE?"
As you require Eigen 3.3 now, you could also switch to imported modules & `NO_MODULE`: https://eigen.tuxfamily.org/dox/TopicCMakeGuide.html, so you could remove `FindEigen.cmake`.

_Originally posted by @SunBlack in https://github.com/PointCloudLibrary/pcl/issues/5383#issuecomment-1219426387_

[2022-08-19 14:45] mvieth commented on #5392
My best guess right now is that sometimes, the reference or measurement cloud or the initial guess from the request cause the segfault. Can you print the `req.transform` and check if something looks weird, and also store the two clouds as PCD files in every `match` call and upload a pair that trigger a segfault?

[2022-08-20 08:15] mvieth commented on #5389
@LF177 Could you run your program either with valgrind, or with gdb and do a backtrace when the error happens?
Could you also post the exact build commands, for example displayed with `VERBOSE=1 make`?

[2022-08-20 09:12] sadsimulation commented on #5392
Hi @mvieth,
unfortunately I not allowed to share the point clouds themselves.
The `req.transform` also seems fine and in line with what I would expect (displacement in x about 1.4 meters, almost no displacement in y and theta). Printing `initial_guess` also shows a Matrix of the correct structure so I don't think that's it:
[code]
For what it's worth, when replacing `pcl::NormalDistributionsTransf

[2022-08-20 09:43] mvieth commented on #5392
Maybe, but difficult to say. If you can't share the point clouds, that means that I can't do any debugging. I can only make suggestions how you can debug. You can try building PCL yourself with debug symbols (e.g. `RelWithDebInfo`), so we hopefully get more information from valgrind. Most importantly, which line the invalid write happens exactly.

[2022-08-20 14:03] mvieth commented on #5320
@StefanBruens Sorry for the late response. I relaxed the error threshold for the common_pca test in https://github.com/PointCloudLibrary/pcl/pull/5322
Yes, the (rare) spurious failures of `a_octree_test` are a known issue. They are due to varying rng seeds and limited floating point precision

[2022-08-21 06:59] mvieth commented on #5377
Closing because of no response.

[2022-08-21 06:59] #5377 closed

[2022-08-21 11:15] sadsimulation commented on #5392
Okay I did some more investigations on this. Unfortunately I didn't get a debug build of PCL running inside the conda environment yet, however the problem seems definitely related to the NDT parameter `grid_resolution`.
Using to example point clouds `measurement.pcd` and `reference.pcd` and the following script

[code]

Leads to the following output:
[code]

As you can see, as soon as the NDT grid

[2022-08-21 18:59] mvieth commented on #5392
@sadsimulation Ok, then I am quite sure this is what happens: The `VoxelGridCovariance` used by NDT has a parameter that says how many points a voxel must contain to be considered valid (if a voxel contains fewer points, the voxel and the points are not taken into account). By default this parameter is 6. If the grid resolution is very small, _no_ voxel will contain more than the required number o

[2022-08-22 05:30] sadsimulation commented on #5392
@mvieth Ok, that sounds like what I expected as well.
Is there a way of pre-filtering the point cloud to avoid this behavior? Maybe using the aforementioned `VocelGrid`?
Having a ROS node segfault because the point cloud wasn't dense enough isn't exactly graceful degradation.

[2022-08-22 06:08] mvieth commented on #5392
Unfortunately no. The problem is that the cloud contains too few points (is too sparse), so filtering it (removing more points) will only make it worse. And I also don't see a way of adding new points to your cloud that have useful information, if your cloud doesn't contain those points/that information already. If the two solutions I suggested in my last comment are not desirable for you, maybe N

[2022-08-22 06:22] sadsimulation commented on #5392
Yeah I just tried it and realized `VoxelGrid` downsamples the data as well. I think something that could help is using a voxel grid to group the points but without downsampling the cloud. That would make it possible to at least remove areas of the cloud that aren't dense enough.

[2022-08-22 07:10] mvieth commented on #5392
I don't understand how that would help? What do you mean with "remove areas of the cloud"? How would that change the cloud(s) you pass to NDT?

[2022-08-22 11:28] LF177 commented on #5389
OK, I am not well with Linux, But thanks for your advice, I will try to locate the root cause of this situation.（‐^ ^‐）

[2022-08-23 09:21] mvieth commented on #5392
@sadsimulation For your information: I created a fix

[2022-08-24 05:15] bottlenome commented on #5311
@mvieth May I work on this ticket?
I'm thinking of making changes to writeASCII, writeBinary, writeBinaryCompressed and PCDReader.

[2022-08-24 07:43] yuyu19970716 commented on #5219
Hi, have you solved the real-time reconstruction problem now? May I ask you a few questions? The greedy projection triangulation algorithm I am using now completes the reconstruction, but I have no clue about how to use CUDA to complete the real-time reconstruction. What is the general idea of this approach?

[2022-08-24 16:26] mvieth commented on #5311
@bottlenome That would be great!

Sounds reasonable. Here is an idea for a test, could be added to test/io/test_io.cpp:
[code]

[2022-08-25 07:44] bottlenome commented on #5311
@mvieth
https://github.com/PointCloudLibrary/pcl/pull/5400
Created a pull request.
This is the first pull request in my life. I have read the Contribution Guide, but if there is anything strange, please point it out to me.

[2022-08-26 00:53] luoxuhai commented on #5271
@naah69 I built PCL using WebAssembly and now it works in the browser: https://github.com/luoxuhai/pcl.js

[2022-08-26 00:54] luoxuhai commented on #2337
@naah69 @plusice I built PCL using WebAssembly and now it works in the browser ✌️: https://github.com/luoxuhai/pcl.js

[2022-08-26 06:32] naah69 commented on #2337
omg!
that is great!
thanks for your code!

[2022-08-27 02:35] capeieboi commented on #2745
were you able to solve this error?

[2022-08-27 15:52] preethamam opened #5406 "[compile error] Visualization is required but vtk was not found -- PCL 1.12.1 macOS"
**My Environment:**

 - OS: macOS 12.5.1 (M1 Max Apple Silicon)
 - Compiler: GCC 13.1.6
 - PCL Version: 1.12.1
 - PCL Type: `homebrew` installation

The following `CMakeLists.txt` is unable to find `VTK`,
[code]
**It produces the following Cmake Error:**

[code]

[2022-08-27 16:20] preethamam commented on #5129
I do have the same issue with `PCL 1.12.1` installed using the `homebrew`. However, the link did not work for me. I get the following error:

[code]

[2022-08-28 03:58] yuyu19970716 opened #5407 "compile failure <pcl/gpu/surface/convex_hull.h>"
Hello, why can't you import < pcl/gpu/surface/conv3x_hull.h > after installing pcl1.9, and show that there is no such file? I import other header files and it's okay, except for the GPU. After I compiled the pcl, there was no gpu and cuda folder. What is the reason for this?

[2022-08-28 08:55] mvieth commented on #5407
@yuyu19970716 Just to be sure, you tried to include `convex_hull.h`, right? Because `conv3x_hull.h` indeed does not exist.
Which operating system do you use? How did you install PCL 1.9? Do you have CUDA installed? (I mean CUDA in general, not PCL's CUDA submodule)

[2022-08-28 09:20] yuyu19970716 commented on #5407
I'm sorry I wrote it wrong, I did import convec_hull.h and then failed to import, showing: fatal error: pcl/gpu/surface/convex_hull.h: There is no that file or directory.
The system I use is ubuntu18,04 .
The method I used to install pcl1.9 is to install from source: here are the installation steps:
cd pcl
mkdir release
cd release
cmake -DCMAKE_BUILD_TYPE=None -DCMAKE_INSTALL_PREFIX=/usr \ -DBUILD

[2022-08-28 09:27] yuyu19970716 commented on #5407
When I installed the pcl, there was no GPU and cuda file after running the compile command, I think it may be a problem with cuda, but I don't know what the problem is?

[2022-08-28 10:56] yuyu19970716 commented on #5407
Whenever I run cmake to install pcl, it shows these: I know that my vtk version does not correspond, but I don't need to do visualization here, so please help me to see what the problem is?
![image](https://user-images.githubusercontent.com/76560812/187070541-7be3128e-cc3a-4728-ba40-0432498981d9.png)
![image](https://user-images.githubusercontent.com/76560812/187070562-0939e9ba-a382-4f1f-b507-1e7d

[2022-08-28 13:46] mvieth commented on #5407
@yuyu19970716 Can you delete the `release` directory and run the first few steps again:
cd pcl
mkdir release
cd release
cmake -DCMAKE_BUILD_TYPE=None -DCMAKE_INSTALL_PREFIX=/usr  -DBUILD_GPU=ON -DBUILD_apps=ON -DBUILD_examples=ON  -DCMAKE_INSTALL_PREFIX=/usr ..
And please post the output of the cmake command. When you run it for the first time in an empty directory, it should print something about

[2022-08-28 14:03] yuyu19970716 commented on #5407
Thank you very much for your reply. I recreated the release folder as you said. After running cmake, the following is displayed：

![image](https://user-images.githubusercontent.com/76560812/187077675-d654a37e-e2d3-4b07-9c37-228055c0fbe4.png)
![image](https://user-images.githubusercontent.com/76560812/187077686-c62b31b0-fbc1-4281-a826-efe64884fd00.png)
![image](https://user-images.githubusercontent

[2022-08-28 14:33] mvieth commented on #5129
@preethamam Have you tried the suggestion with `Qt5_DIR`?
Either in your CMakeLists.txt before trying to find PCL: `set(Qt5_DIR /usr/local/Cellar/qt@5/5.15.2_1/lib/cmake/Qt5)`
Or adding to the `cmake` call: `-DQt5_DIR=/usr/local/opt/qt5/lib/cmake/Qt5`
In both cases, the path should be where `Qt5Config.cmake` or `qt5-config.cmake` is located.
(And maybe undo the link first?)

[2022-08-28 14:37] mvieth commented on #5406
Discussion and possible solutions in https://github.com/PointCloudLibrary/pcl/issues/5129

[2022-08-28 14:37] #5406 closed

[2022-08-28 14:58] mvieth commented on #5407
@yuyu19970716 How did you install CUDA on your system? It seems CMake cannot find CUDA. You might get more information if you change this line in the PCL sources to `FALSE`: https://github.com/PointCloudLibrary/pcl/blob/pcl-1.9.1/cmake/pcl_find_cuda.cmake#L8

[2022-08-28 15:20] yuyu19970716 commented on #5407
Oh! I changed it to false and it did show that CUDA could not be found! I ran the program on the lab server, which was CUDA installed by my teacher at the time
![image](https://user-images.githubusercontent.com/76560812/187081498-4da25b1f-001b-4cfb-8dca-e728b25cbbcf.png)

[2022-08-28 18:06] mvieth commented on #5407
Then there doesn't seem to be any problem on the PCL side. Make sure that CUDA is correctly installed and PCL will find it and compile the GPU and CUDA submodules as you requested. These might help you:
https://cmake.org/cmake/help/v3.10/module/FindCUDA.html
https://stackoverflow.com/questions/19980412

[2022-08-28 18:06] #5407 closed

[2022-08-28 18:10] mvieth commented on #5320
I hope the tests now all run successfully. Otherwise feel free to comment or open a new issue.

[2022-08-28 18:10] #5320 closed

[2022-08-28 18:15] mvieth commented on #5389
@LF177 Any news? If you give me more information, I can try to look into this problem further. Otherwise, I can't do much and might close this issue soon ...

[2022-08-29 00:48] yuyu19970716 commented on #5407
OK! Thanks so much for your answer! I'll take a hard look at the method you've provided!

[2022-08-29 01:06] LF177 commented on #5389
@mvieth  Sorry, I spent nearly a week going over my project and found out that pcl: : Transformpointcloud didn't work because I used inappropriate parameters in the PointCloud assignment. Thank you again for your help.

[2022-08-29 02:44] yuyu19970716 opened #5408 "statistical_multiscale_interest_region_extraction_example.cpp make a mistake"

[2022-08-29 03:12] yuyu19970716 commented on #5408
![image](https://user-images.githubusercontent.com/76560812/187115447-cac1ec17-60e1-4d2f-9f95-9f8d0399b17d.png)
Is this relevant to the fact that there is no established cuda_io? I would also like to ask a question: Can you use the GPU by installing CUDA? I found that I was using cmake -DCMAKE_BUILD_TYPE=None -DCMAKE_INSTALL_PREFIX=/usr -D CUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda-11.4  -D BUILD_GPU=O

[2022-08-29 06:06] #5408 closed

[2022-08-29 06:17] yuyu19970716 opened #5409 "Unable to import GPU-related header files"
Hello, after I installing the PCL library with CUDA and importing < pcl/gpu/containers/device_array.h> in my .cpp file,it will show:
![image](https://user-images.githubusercontent.com/76560812/187134685-d3550356-3364-48f5-bc15-274410f92eef.png)
Is it the reason why the GPU was not compiled at the time of compilation? I found that it didn't display the GPU information when I compiled the PCL
![imag

[2022-08-29 07:32] mvieth commented on #5409
@yuyu19970716  So more or less the same problem as in https://github.com/PointCloudLibrary/pcl/issues/5407 ?
Do you give `-DBUILD_GPU=ON` and `-DBUILD_gpu_containers=ON` to the cmake call? Or have a look at `ccmake`.
And yes, `gpu_containers` and other GPU modules should be listed under `The following subsystems will be built` if you expect that they are built.

[2022-08-29 08:25] yuyu19970716 commented on #5409
Thank you for your reply, I am using the company's server now, there is no visual interface here, so I can not use ccmake, I set in the command line using cmake:-DBUILD_gpu_contrainers etc. do not work:
![image](https://user-images.githubusercontent.com/76560812/187157393-629ac8ad-0b63-47e9-bd27-e854db82667a.png)
it will be:
![image](https://user-images.githubusercontent.com/76560812/187157459-27c

[2022-08-29 08:46] mvieth commented on #5409
@yuyu19970716 Is there a reason why you use backslashes `\` in your command (three times)? I can't say for sure that they cause the problem, but they are not necessary and I would recommend to remove them.

[2022-08-29 09:15] yuyu19970716 commented on #5409
Hahaha! It is indeed the reason for the "/": the gpu problem was solved, but I ran into the third problem, I think this is my last problem, I'm so sorry to bother you again, I dare not imagine such a twist. My GPU is 3090 and I should have set the hash rate to 8.6, but that doesn't work, can you see what this is like?
![image](https://user-images.githubusercontent.com/76560812/187167667-e657c472-9

[2022-08-29 12:03] mvieth commented on #5409
`set(__cuda_arch_bin "8.6")` in the first if-case should do what you want. Maybe delete your build folder again and do all commands again, including `cmake`. If that does not work, I would recommend trying a newer PCL version. PCL 1.9 is a few years old, and getting it to work with a very new GPU and CUDA might be difficult.

[2022-08-29 17:05] preethamam commented on #5129
@mvieth, thanks, yes your suggestion works! I wonder why `cmake` doesn't find the `Qt5_DIR` by default?

[2022-08-29 19:11] mvieth commented on #5129
I am not super familiar with macOS and homebrew, but as I understood it, Qt5 is "keg-only" which apparently means that it is in a specific directory, where `cmake` normally does not look for config files. Not sure who is to blame for this (homebrew? cmake? qt? vtk?)

[2022-08-30 06:41] mvieth commented on #5334
@pla66 Any news here? Otherwise I will probably close this issue

[2022-08-31 04:01] yuyu19970716 commented on #5409
Thank you very much for your reply! At present, I have installed the relevant parts of the pcl_gpu in the cmake and make stages, after compiling and installing successfully, I found that I still can't find the GPU-related header file when compiling in my own project, I wonder if there is a problem with my cmakelists.
![1661918321147](https://user-images.githubusercontent.com/76560812/187589607-c5c

[2022-08-31 07:33] mvieth commented on #5409
@yuyu19970716
1. Check again that `device_array.h`, `gp3.h`, and the other header files are correctly installed, somewhere in the `/usr` directory, probably in `/usr/include/pcl/...`
2. When you run cmake for your own project, does it find PCL? Does it report any errors?
3. In your CMakeLists.txt, you are calling `find_package` twice for PCL -- don't do that. Check out this tutorial: https://pcl.r

[2022-08-31 08:09] yuyu19970716 commented on #5409
Thank you for your patience! I did find libraries for GPUs and CUDA under usr/lib,
![1661932548779](https://user-images.githubusercontent.com/76560812/187624586-6adb11c0-6226-4693-bc9b-fe2a5445da64.png)
I'm running cmake in my project: When indicating the location of cuda, so it looks like this:
![1661932940478](https://user-images.githubusercontent.com/76560812/187625255-52872ca5-0583-4bcc-afaf-6

[2022-08-31 08:18] #3839 closed

[2022-08-31 08:29] mvieth commented on #5409
You are welcome. Best to you as well.

[2022-08-31 08:29] #5409 closed

[2022-08-31 11:02] tugbakara opened #5410 "How to check if rtabmap PCL lib is CUDA supported or not in Nvidia Jetson AGX?"
Hi, to improve and take full of advantage of GPU of AGX Xavier, in rtabmap_ros package we are making map but I am not sure rtabmap's PCL lib is CUDA supported or not? Can I check it from terminal and how?

[2022-08-31 11:40] larshg commented on #5410
Looking at their github and searching for pcl/gpu, doesn't show any real hits: https://github.com/introlab/rtabmap/search?q=pcl%2Fgpu

So its not supported as I can see it. They have however support of some OMP classes.

Please use discord, stackoverflow or the like for questions. Github is for issues in PCL.

[2022-08-31 11:40] #5410 closed

[2022-08-31 11:46] tugbakara commented on #5410
In issue of rtabmap_ros, there is an GPU accelartion when PCL and openCV is installed with CUDa rtabmap_ros will wwork ok with libs but I am sure that our openCV not supported and I will rebuild with CUDA but I am not sure PCL, and how can I check whether CUDA support is existing in my PCL lib or not. Which terminal command or anythingelse can tell me the answer? I wanna check PCL is CUDA supporte

[2022-08-31 12:02] #2333 closed

[2022-08-31 12:02] #5392 closed

[2022-08-31 12:08] tugbakara commented on #5410
Ah, I checked my pcl libs there is not any folder as gpu and cuda, so I don't have CUDA supported, I will try my chance to install PCL CUDA supported for rtabmap if it won't well I will add the outcomes here.
Thanks for the answers, have a nice day @larshg !

[2022-08-31 12:22] Amayess opened #5411 "How to generate faces with Fast unorganized mesh methode ?"
Hi,

In order to generate a mesh with the intel RealSense D455, I used the PCL library and more precisely the Fast Organized Mesh method. I manage to generate a mesh in OBJ format but it only contains vertices and no faces.

Here is the code I used:

[code]

Can someone explain how to make the method generate faces too?

Thanks for your help.

[2022-08-31 16:21] mvieth commented on #5411
Please don't open a GitHub issue if you have already asked the same question on stackoverflow https://stackoverflow.com/questions/73554594

[2022-08-31 16:21] #5411 closed

[2022-09-01 10:50] MyronRodrigues-StreetDrone opened #5412 "[Pointcloud / PointXYZI] Incorrect intensity values in Eigen matrix on calling `getMatrixXfMap()`"
## Environment
Ubuntu 22.04 running 20.04 Docker

## Tested on versions
pcl-1.10
pcl-1.12.1

## Issue

Pointcloud of type `pcl::PointCloud<pcl::PointXYZI>` outputs an incorrect Eigen matrix with all intensity values as 1.

On running the following

[code]

The output is

[code]

The expected output for `cldXYZI` should be

[code]

[2022-09-01 12:32] kosmastsk opened #5413 "[Data loader] Suppress "Failed to find match for field" message"
There are some times that we need to convert between pointclouds of different data types and the warning message "Failed to find match for field" appears. Actually it spams continuously on the terminal, even though the user may be aware of it.

There should be a clear way to suppress this message and allow the developer to hide it, if needed.

[2022-09-01 12:50] mvieth commented on #5412
@MyronRodrigues-StreetDrone Point types in PCL contain padding to achieve alignment and to make SIMD instructions efficient. Following the x, y, and z values, there is always an additional float set to 1 to make affine transformations easy and fast. For `PointXYZI`, after x, y, z, and 1, the intensity value follows, then 3 more floats for padding and alignment. See also `point_types.hpp`. So if yo

[2022-09-01 12:53] mvieth commented on #5413
@kosmastsk Do you have a suggestion how to achieve this?

[2022-09-01 13:00] kosmastsk commented on #5413
While searching on how to achieve this, I found this page about PCL console.
[(https://pointclouds.org/documentation/namespacepcl_1_1console.html#a9aaacc5ccdc4afd16cf13ecff7c1b88e)]
So, maybe it just requires to apply the proper verbosity level that you need. I will try it in my code and update this issue.

Apart from that, I have no other suggestion for now .

[2022-09-01 15:14] SunBlack commented on #2745
I checked it short: Seems not. On MSVC CUDA is included via `/I"C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.7\include"` instead of `/external:I "C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v11.7\include"`, during the other dependencies are correct included (checked only the depenencies of `pcl_gpu_containers`).

[2022-09-02 06:38] kosmastsk commented on #5413
By using the pcl::console::setVerbosityLebel(pcl::console::L_ERROR) all messages apart from errors do not appear. Since "Failed to find match for field" is a warning message,   that seems like a good workaround for now.

[2022-09-02 06:38] #5413 closed

[2022-09-02 08:05] mvieth commented on #5413
Ah yes, that works. I would recommend to set the verbosity level to L_ERROR just before the line where the warnings appear that you want to suppress, and reset it to L_INFO directly afterwards. Otherwise, you might also suppress other warnings unintentionally.
It would be nice to have a way to suppress only certain messages, maybe based on a regex, but I haven't checked yet how that could be imple

[2022-09-04 10:41] yuyu19970716 opened #5416 "About 3D reconstruction using gpu acceleration"
Hello, I am using the greedy projection triangulation algorithm based on the pcl library to do 3D reconstruction recently. The reconstruction speed is very slow. I want to use the gpu to accelerate the greedy projection triangulation algorithm. But I didn't find a related method based on gpu acceleration. Could you please tell me the general idea? Do you have relevant code that you can recommend f

[2022-09-04 13:00] pla66 commented on #5334
sorry, some other works interrupted recently. I'll pull a new request as soon as possible.

[2022-09-04 13:07] mvieth commented on #5416
There is a tutorial about `GreedyProjectionTriangulation`: https://pcl.readthedocs.io/projects/tutorials/en/master/greedy_projection.html
It also mentions the paper that was the basis for the implementation. The code of `GreedyProjectionTriangulation` is in gp3.h and gp3.hpp. I am not aware that PCL has a GPU version of `GreedyProjectionTriangulation` or something comparable.

Please use [Stackove

[2022-09-04 13:07] #5416 closed

[2022-09-07 01:37] 155cannon commented on #5266
If I use Ubuntu20.04,  "apt install libpcl-dev" will install pcl-1.10.0, how to install pcl-1.12.1 on Ubuntu20.04 by apt install?

[2022-09-07 04:01] lichengqi0805 commented on #5129
for me it is `set(Qt5_DIR /opt/homebrew/Cellar/qt@5/5.15.5_1/lib/cmake/Qt5)`

[2022-09-07 06:52] mvieth commented on #5266
That's not possible. There is always just one PCL version available from apt. In Ubuntu 20.04 that is PCL 1.10.0. If you want a newer PCL version than that, either upgrade your Ubuntu (e.g. to Ubuntu 22.04), or compile PCL yourself from source.

[2022-09-08 09:04] aditya-c2512 opened #5419 "[runtime error] PointCloud Visualization results in segmentation fault."
I am trying to incorporate PCL's Visualization in my project. However, I get the below output/error :
[code]

Here is my code in `pcd_read.cpp` :
[code]
And my `CMakeLists.txt` :
[code]

What is the issue here? I have installed PCL using the suggested `sudo apt install libpcl-dev`. I am using Ubuntu 22.04.

[2022-09-08 10:52] HariVamsiK commented on #5313
Hi
I wish to contribute on this issue. Please assign me this.
Thanks

[2022-09-08 18:46] mvieth commented on #5419
@aditya-c2512 See here: https://github.com/PointCloudLibrary/pcl/issues/5237

[2022-09-09 06:00] Zhoukuntao commented on #5297
Another option would be to use the [pyntcloud ](https://pyntcloud.readthedocs.io/en/latest/io.html)library - which also supports pcd files and is still actively maintained

[2022-09-09 08:29] JACKLiuDay opened #5420 "Will point cloud distortion caused by motion affect the registration results between point clouds？"
Hi，thank you for your great work about PCL. I am using GICP to registration two pointcloud. While I have some questions. Will point cloud distortion caused by motion affect the registration results between point clouds？My robot shakes seriously when it moves. I tried to use IMU angular_velocity data to correct distortion of point cloud when rotated. When I display the point clouds before and after

[2022-09-09 14:13] mvieth commented on #5412
Assuming my last comment answered the question ...

[2022-09-09 14:13] #5412 closed

[2022-09-09 14:26] mvieth commented on #5420
Please use [Stackoverflow or the Discord community chat](https://github.com/PointCloudLibrary/pcl#community) for such questions. The GitHub issues are intended for bug reports and compile errors.

[2022-09-09 14:26] #5420 closed

[2022-09-09 14:36] mvieth commented on #5313
@HariVamsiK Great that you want to contribute to PCL! However, someone else is already working on this issue. Maybe you would like to take a look at these other issues: https://github.com/PointCloudLibrary/pcl/issues/3774 and https://github.com/PointCloudLibrary/pcl/issues/2460

[2022-09-10 10:03] MallikharjunaTeja commented on #3774
Hi @mvieth i want to work on this could you please assign me this

[2022-09-10 10:06] sourav25998 commented on #4999
Hello @mvieth . Is this issue still available? I would like to work on it. Can you please assign this to me and give me a head start?

[2022-09-10 10:12] sourav25998 commented on #4164
Hello. I would like to work on this issue. Can you please assign me this project and give me a head start?

[2022-09-10 12:47] mvieth commented on #3774
@MallikharjunaTeja Great! Please open multiple smaller pull requests instead of one big pull request for the changes (maybe about 50-100 changed files per pull request)

[2022-09-10 15:54] mvieth commented on #4164
@sourav25998 As I understand it, the proposal is to go through the functions in `transforms.hpp` and transform the sensor origin and orientation with the same transformation as the points, instead of just copying the origin and orientation from the input point cloud.

[2022-09-10 15:59] mvieth commented on #4999
@sourav25998 I believe this issue is more complex than it initially appeared. So it might not qualify as a "good first issue" and you may want to look for another issue to work on.

[2022-09-11 11:06] Prayag-raj-sharma commented on #3968
I would like to work on it

[2022-09-11 20:20] MyronRodrigues-StreetDrone commented on #5412
Yes, thanks. Wonder if this needs to be mentioned in the documentation, or hinting to check point types.

[2022-09-11 22:39] StefanBruens commented on #5320
Fix confirmed.

[2022-09-12 04:19] #5343 closed

[2022-09-12 07:09] mvieth commented on #5412
@MyronRodrigues-StreetDrone If you have a suggestion, feel free to comment it here or create a pull request

[2022-09-12 09:46] mvieth commented on #3968
@Prayag-raj-sharma That's great! For your information: we now have a clang-tidy GitHub Action (`.github/workflows/clang-tidy.yml`), and the file `.clang-tidy` could also be relevant. You could start with [const-return-type](https://clang.llvm.org/extra/clang-tidy/checks/readability/const-return-type.html), then continue with the other checks. Please make sure your pull requests are not too large,

[2022-09-12 10:14] roncapat opened #5422 "[filters] FrustumCulling: asymmetrical Field of View"
**Is your feature request related to a problem? Please describe.**

FrustumCulling allows to crop a PointCloud based on horizontal/vertical FoV and plane distance. However, if you decide to crop with a vertical FoV of 30° (as an example), the module allows only to crop symmetrically (+15° over the sight plane and -15° under the sight plane).

**Context**

I am trying to discard spurious or useless

[2022-09-12 10:28] mvieth commented on #5422
@roncapat There was a pull request a few months ago that enhanced the functionality of FrustumCulling: https://github.com/PointCloudLibrary/pcl/pull/5136
Can you check whether that can help you achieve what you describe?

[2022-09-12 10:43] roncapat commented on #5422
Thank you for pointing out. I already checked, and that feature unfortunately doesn't cover this need, at least directly. Some computations would be needed to exploit ROI selection, but this would be a very indirect way to achieve the task. I'd like to see a method that transparently accepts bounds in degrees. Also, ROI feature is not so well documented.

[2022-09-12 11:37] danielTobon43 commented on #5081
@xkaraman I have used Fetch Content and I think you should link the Fetch content "target" into your main project

--- CMakeLists.txt ---
[code]

This will enable all include/library content

[2022-09-12 13:00] mvieth commented on #5422
Can you suggest function declarations, to describe precisely what you have in mind?

What is missing, in your opinion?

[2022-09-12 13:34] roncapat commented on #5422
Of course. I would add something like
[code]
where bounds can be positive or negative values. Eg. `setHorizontalFOV(-10,20)` would mean "look from -10 degrees left to 20 degrees right" (a total FOV of 30).
Moreover, `setHorizontalFOV(-15,15)` would be equivalent to the current `setHorizontalFOV(30)` (which of course can be kept in the API).

It would work without problem even in situations like `s

[2022-09-12 13:42] roncapat commented on #5422
Concerning ROI, it is not clear from documentation whether it is something used in conjunction or disjunction with FOV setting. Looking at the code, ROI is used in conjunction/cascade to FOV cropping (when computing the frustum boundary planes, but their usage is very counterintuitive. I would at least provide an example or a use case where someone gets a ROI from the projected point cloud (depth

[2022-09-13 07:15] mvieth commented on #5419
Assuming the comments in the linked issue answered your questions ...

[2022-09-13 07:15] #5419 closed

[2022-09-13 07:22] mvieth commented on #5334
I am closing this issue because it seems unlikely that this problem will ever arise.
Still, feel free to create a pull request with your suggested changes, if you like.

[2022-09-13 07:22] #5334 closed

[2022-09-13 07:42] keineahnung2345 opened #5423 "[filters] FrustumCulling: allowing zero near plane distance to extract a cone"
Hi, I would like to extract a cone from point cloud, is there an existing way to do this? What I think of is allowing **near plane distance** to be zero so that all points nearer than far plane could be kept.

Also, in other cases, I would like to allow infinite far plane distance so that all points further than near plane could be kept.
.

[2022-09-13 08:08] mvieth commented on #5423
I see no reason against setting the near plane distance to zero or the far plane distance to something very large (or even infinity).
Just to be sure there is no misunderstanding: FrustumCulling uses a [square frustum](https://en.wikipedia.org/wiki/Frustum#/media/File:Square_frustum.png), not a [conical frustum](https://en.wikipedia.org/wiki/Frustum#/media/File:CroppedCone.svg)
The sample consensu

[2022-09-13 08:43] zamx opened #5425 "[features] Crash when destroying SHOTEstimation"
I have a crash in the destructor of SHOTEstimationBase happening in Eigen::aligned_free(). We are using Eigen 3.4.0. Is Eigen 3.4.0 supported with pcl 1.12.1?

[2022-09-13 09:47] mvieth commented on #5425
Yes, Eigen 3.4.0 is supported.
- Which operating system do you use?
- How did you install PCL?
- Which compiler do you use?
- Can you provide a stack trace from a debugger or similar?

[2022-09-13 10:20] zamx commented on #5425
We compiled PCL from source. OS is Windows 10 x64. It was compiled with VS2019.

[CrashPCL.txt](https://github.com/PointCloudLibrary/pcl/files/9556007/CrashPCL.txt)

[2022-09-13 10:45] themightyoarfish commented on #1152
Any chance to get this added to the docs?

[2022-09-13 10:54] larshg commented on #5425
How do you generate solutions for both PCL and own project?

What comes to my mind, when align_free error appears, could be mixmatch between having AVX/SSE flags matching in both projects.

[2022-09-13 11:03] zamx commented on #5425
we use cmake for both PCL and our own project.

[2022-09-13 13:00] mvieth commented on #5425
@zamx Can you post the CMakeLists.txt of your own project? Did you use any non-default options when you compiled PCL?

[2022-09-13 13:34] zamx commented on #5425
I don't know if I'm allowed the share the CMakeLists.txt, we're a closed source project. Is there something specific I can look for?

The non-default options we enable are: PCL_BUILD_WITH_BOOST_DYNAMIC_LINKING_WIN32 & PCL_BUILD_WITH_FLANN_DYNAMIC_LINKING_WIN32. We no longer build for win32, so I can remove these.

[2022-09-13 14:16] larshg commented on #5425
I have build test test_shot_estimation and it works here.
Using:
VS2022
Eigen3 3.4.0 (vcpkg)

[2022-09-13 16:52] Gibtnix opened #5427 "[compile error] "Compile PCL with librealsense support""
Hello everyone,

I have a problem regarding the Intel RealSense module.

I know that there are differences between the first librealsense and the librealsense2 versions: The former supports several old cameras that are not supported by the newer librealsense2 releases and newer cameras are only supported by the librealsense2 releases. Hence, I have to select the appropriate version. However at lea

[2022-09-13 19:29] mvieth commented on #5427
I don't have any experience with the old RSSDK, but here are my ideas:
I don't think librealsense 1.x.y is what is meant with RSSDK. I think that would still count as RSSDK2, and RSSDK is something else. I found a repository (https://github.com/crosswalk-project/libpxc) that contains the necessary headers, but that is not an official Intel source. Intel seems to only offer the new librealsense ("R

[2022-09-14 04:26] ruslo commented on #4602
Try to add `PCL_NO_PRECOMPILE=ON` while configuring PCL. Did the trick for me.

[2022-09-14 06:21] zamx commented on #5425
I'll test if I can reproduce it in a small example.

[2022-09-14 06:50] arielc-brillianetor opened #5428 "Cylinder model segmentation tutorial - expanding explanation"
Hi,
I was going the the Cylinder model segmentation tutorial at: https://pcl.readthedocs.io/projects/tutorials/en/master/cylinder_segmentation.html
and I was wondering if maybe I can get an explanation of what the output of the program means. The output is:
[pcl::SACSegmentationFromNormals::initSACModel] Using a model of type: SACMODEL_CYLINDER
[pcl::SACSegmentationFromNormals::initSACModel] Setti

[2022-09-14 07:36] mvieth commented on #4602
@ruslo You might be experiencing a different issue, I don't see how `PCL_NO_PRECOMPILE` could solve the problem described above.
By the way: PCL now supports the new versions of qhull.

[2022-09-14 07:38] mvieth commented on #5425
@zamx Do you use any options in your own project that influence alignment, e.g. also SIMD (SSE and AVX)?

[2022-09-14 07:39] tust13018211 opened #5429 "use pcl in windows，I find slow, anyone know the reasony?"
--- pcl::NDT for linux ---
single : 203.83[msec]
--- pcl::NDT for windows---
single :  71304[msec]
I use the same cloud, why there is so big difference

[2022-09-14 07:41] zamx commented on #5425
I'm not aware of any, but I'll ask around.

[2022-09-14 07:45] mvieth commented on #5428
@arielc-brillianetor See the documentation of the cylinder model: https://pointclouds.org/documentation/classpcl_1_1_sample_consensus_model_cylinder.html

[2022-09-14 07:47] arielc-brillianetor commented on #5428
Thank you very much!
maybe it's a good idea to add this part to the tutorial:
point_on_axis.x : the X coordinate of a point located on the cylinder axis
point_on_axis.y : the Y coordinate of a point located on the cylinder axis
point_on_axis.z : the Z coordinate of a point located on the cylinder axis
axis_direction.x : the X coordinate of the cylinder's axis direction
axis_direction.y : the Y coo

[2022-09-14 07:56] mvieth commented on #5429
@tust13018211 I assume this is on the same computer/same hardware?
There can be many reasons, for example: different compiler, different build options (especially SIMD/SSE/AVX options), different build type (release or debug), ...
The operating system itself might also have an influence, but probably not this much

[2022-09-14 08:01] mvieth commented on #5428
@arielc-brillianetor You are very welcome to open a pull request to improve this tutorial :smile:
Would also be a possibility to add a link to the cylinder model documentation in the tutorial

[2022-09-14 08:55] tust13018211 commented on #5429
I use the same compute, one in windwos ，one in ubuntu18.04, and all use the release model

[2022-09-14 09:24] mvieth commented on #5429
@tust13018211 Do you also use the same PCL version on Windows and Ubuntu?
On Windows, what build options do you use for your own project? Do you enable SIMD instructions (SSE/AVX)? Which optimization level does the compiler use?

[2022-09-14 09:46] tust13018211 commented on #5429
I us pcl 1.10.0 in windows，but i use pcl 1.7.0 in linux, I donn`t use SIMD instructions, I just use ompndt to test,  this is my cmakelist, and then I use vs2019 to compile,
cmake_minimum_required(VERSION 3.10)
project(ndt_omp)

add_definitions(-std=c++14)
set(CMAKE_CXX_FLAGS "-std=c++14")

if (BUILD_WITH_MARCH_NATIVE)
  add_compile_options(-march=native)
else()
  add_definitions(-msse -msse2 -msse

[2022-09-14 11:35] mvieth commented on #5429
So it appears you use this project https://github.com/koide3/ndt_omp ? It is not completely clear to me what code you time, but if it is code from that project, you should ask there.

Yes, you do (`-msse -msse2 -msse3 -msse4 -msse4.1 -msse4.2`), and `-march=native` also enables SIMD instructions. These flags are however only understood by gcc and clang. The windows compiler needs different flags t

[2022-09-14 11:42] #1152 closed

[2022-09-14 17:01] #5088 closed

[2022-09-14 17:07] mnobrecastro opened #5431 "[sample_consensus] PR of a pcl::SampleConsensusModelEllipse3D<PointT> Class"
### Feature description

Good afternoon everyone!

Here is a proposal for an Ellipse3D sac_model for the `sample_consensus` module that I wrote more than a year ago for a paper (soon to be submitted).

The proposed model is inspired on the `pcl::SACMODEL_CIRCLE3D` model that is available, which scripts were used as template. The idea behind the `pcl::SACMODEL_ELLIPSE3D` is to generalize the former

[2022-09-14 18:23] Gibtnix commented on #5427
Thanks for your response. :+1:  I tested to integrate these headers, however including the headers only yields link errors. To fix these, the libpxc library needs to be compiled as well. Unluckily, it does not come with a CMakeLists.txt such that I don't know how to compile it.
I also tried to use OpenNI, the latest Librealsense2 releases should come with OpenNI2 bindings. I compiled them as expla

[2022-09-14 19:05] mvieth commented on #5427
Something like this might already do the trick:
[code]

[2022-09-14 20:03] Gibtnix commented on #5427
Yes, I also tried something similar by adding the libpxc.cpp to the pcl_io project. Unluckily, I don't know the appropriate settings/defines. Adding the files yields compile errors, something about invalid conversions between different string data types. But I can lookup the actual error if it might be fixed.

[2022-09-15 03:57] gitouni commented on #3097
I have set this parameter ON but it still caused the same error
[code]
[code]

[2022-09-15 06:47] zamx commented on #5425
For windows build we add definition -D_ENABLE_EXTENDED_ALIGNED_STORAGE in cmake for libraries using PCL.

The crash only happens if pcl::SHOTEstimation::compute() is called.

[2022-09-15 08:39] mvieth commented on #5425
Can you try using the same definition when you compile PCL?

The crash happens while destroying [`shot_`](https://pointclouds.org/documentation/classpcl_1_1_s_h_o_t_estimation_base.html#a28329c5272f722e4b0f4468a05641c3d). Inside `compute()` there is memory allocated for it. But actually, `shot_` can be local inside `compute()`, that will fix this problem. I will open a PR for this later.

[2022-09-15 09:25] larshg commented on #3097
Make sure you actually find the PCL version you have build from source then.
The file is here https://github.com/PointCloudLibrary/pcl/blob/master/surface/include/pcl/surface/on_nurbs/fitting_surface_tdm.h
So if you have cmaked PCL with surface_on_nurbs and run make install, then it should be picked up by sub projects. But ensure that you don't have some other version of PCL installed without surf

[2022-09-15 17:57] MyronRodrigues-StreetDrone commented on #5412
@mvieth Just tested the solution you proposed. Maybe im still messing up something, anything to do with the offset?

[code]

Gives:
[code]

[2022-09-15 19:02] mvieth commented on #5412
@MyronRodrigues-StreetDrone Which PCL version do you use in that test?
With the current master, this:
[code]
gives me:
[code]

[2022-09-15 21:48] MyronRodrigues-StreetDrone commented on #5412
@mvieth Ohh, this I tested with `PCL 1.10`, any idea how I could make this work with it or where I should look up for answers?

[2022-09-16 07:13] mvieth commented on #5412
@MyronRodrigues-StreetDrone Maybe try setting the intensity directly (like `point.intensity = ...`) instead of setting it via the constructor, to test whether that could be the problem.

[2022-09-16 08:23] zamx commented on #5425
I have built PCL with -D_ENABLE_EXTENDED_ALIGNED_STORAGE. It didn't fix the crash.

[2022-09-16 08:52] keineahnung2345 commented on #5423
Thanks for clarafication, I mean exactly square frustum.
It seems it's valid to near plane distance to zero and it works as expected. I've created a PR for the infinite far plane distance feature.

[2022-09-16 11:11] vaibhavkoshti7 commented on #4250
I would like to work on this issue as my first PR. Can you assign me this?

[2022-09-16 11:57] MyronRodrigues-StreetDrone commented on #5412
@mvieth Yup that worked and also the following

[code]

[2022-09-16 18:38] mvieth commented on #5425
@zamx I opened a pull request. Would be great if you could test it, to make sure this indeed fixes the problem :slightly_smiling_face:

[2022-09-16 19:30] Gibtnix commented on #5427
Just a quick updated: I retested to compile `libpxc.cpp` and it results in casting errors between `LPCSTR`, `LPCWSTR` and wchar_t*. I suspect they require the correct preprocessor defines.

[2022-09-17 08:14] mvieth commented on #5431
Thank you! This is really interesting.
Regarding your research project (out of interest): since you have 4 scans in 45 degree turns, why did you decide to segment 3d ellipses instead of a cylinder? My intuition would be that working with a cylinder directly might be more stable?

Yes, we are deprecating and removing `pcl/sample_consensus/eigen.h` and similar headers. The files that used them shoul

[2022-09-17 08:27] mnobrecastro commented on #5431
Dear @mvieth, thank you very much for your quick reply!

We have done that already - feel free to have a look at it, it's OA (https://www.frontiersin.org/articles/10.3389/fnbot.2022.814973/full). The challenge here was precisely to use less data and have the exact same performance. So those rendered 3D cylinders you see at the bottom of the figure, were estimated solely based on a simple algorithm

[2022-09-18 09:44] mvieth commented on #5422
Your suggestions sound good. I will see when I have the time to implement them. Or maybe someone else is interested to add this.

[2022-09-19 07:00] zamx commented on #5425
@mvieth I'll test it today

[2022-09-19 11:50] themightyoarfish commented on #1753
This is by the way still an issue. Would be nice to raise an error on macos to avoid newbies running into this.

[2022-09-19 11:59] zamx commented on #5425
@mvieth The pull request fixes the crash.

[2022-09-19 13:33] mvieth commented on #5425
Great!

[2022-09-19 13:33] #5425 closed

[2022-09-20 05:24] cyun-404 opened #5439 "[MLS upsampling] I want to X4 upsample."
I want to upsample with X4.
I'd like to do upsampling, but I'd like to modify the rate and specify the number of points to increase to obtain the result of upsampling 4 times. Is there a way?

[2022-09-20 07:54] gitouni commented on #3097
Thank you for your reply. I have solved this problem by re-cmaked PCL and fixed FLANN 1.9 error through #804 (https://github.com/PointCloudLibrary/pcl/issues/804#issuecomment-49752261)

[2022-09-20 07:58] mvieth commented on #5439
I would suggest to have a look at the different upsampling methods (https://pointclouds.org/documentation/classpcl_1_1_moving_least_squares.html#aa444c1e8df3498adba7f25918f4a961c).
For further questions about PCL's functionality, please use [Stackoverflow or the Discord community chat](https://github.com/PointCloudLibrary/pcl#community). The GitHub issues are intended for bug reports and compile e

[2022-09-20 07:58] #5439 closed

[2022-09-20 08:27] mvieth commented on #5422
@roncapat Please have a look at the linked pull request and say if that is what you had in mind

[2022-09-21 01:11] #5423 closed

[2022-09-21 02:23] cyun-404 commented on #5439
okay.. sorry.. thank you

[2022-09-21 07:26] mvieth commented on #5429
I am closing this since I gave you several possible explanations. And if you really use the project I linked above, you should ask further questions there.

[2022-09-21 07:26] #5429 closed

[2022-09-21 16:51] themightyoarfish opened #5441 "[apps] pcl_visualizer segfaults on PCDs written from PointXYZI clouds converted to PCLPointCloud2"
**Describe the bug**

When converting a `PointCloud<PointXYZI>` to `PCLPointCloud2` and then applying `savePCDFile(binary=true)` to that, clouds are saved with header such as this:
[code]
invalid `_` fields are placed into the data with seemingly nonsensical `COUNT`s. Trying to point-pick with `pcl_viewer` segfaults with
[code]
It tries to interpret those channels as some histogram type I think, b

[2022-09-22 08:33] fspindle commented on #5129
For me running cmake with `-DQt5_DIR=$(brew --prefix qt5)/lib/cmake/Qt5` was working

[2022-09-22 22:29] mmiles19 commented on #4582
For future reference, this can be done with the pcl::visualization::PCLVisualizer::setShapeRenderingProperties function.

[2022-09-23 07:35] #5441 closed

[2022-09-23 23:35] asrorca opened #5443 "pcl::RangeImage with intensity values"
I'm trying to convert an unorganized point cloud of type pcl::PointCloud<pcl::PointXYZI> with dimension Nx4  (where each point is made up of x,y,z position and intensity data) into a pcl::RangeImage of dimension num_rows*num_cols*4 (i.e. each row and column of the image contains a "pixel" with (x,y,z) position data and intensity data).

Currently when using pcl::RangeImage with a points of type pc

[2022-09-24 17:38] mvieth commented on #5443
Can you describe in more detail how you currently convert the unorganized point cloud to the range image, ideally with some code?

[2022-09-25 07:30] mvieth commented on #5428
I am closing this issue because your question is answered. But feel free to open a pull request to improve the tutorial!

[2022-09-25 07:30] #5428 closed

[2022-09-29 09:34] #5313 closed

[2022-09-30 08:52] bigfacecat553 opened #5445 "the link libpcl_xxxx.so is broken"
Hello guys, I just want to catkin make the project and it tell me that libpcl_xxxx.so have some problem.

**Describe the error**

The link " libpcl_kdtree.so " is broken.
This link cannot be used because its target " lib_kdtree.so.1.10 " doesn't exit.

**To Reproduce**
I installed the pcl and found that all my libpcl_xxxx.so is broken, and I delete the pcl and install the pcl again， but the proble

[2022-09-30 09:28] mvieth commented on #5445
@bigfacecat553 Can you check whether `libpcl-kdtree1.10` is installed, and install it if it isn't? It _should_  be installed together with `libpcl-dev`, but maybe it wasn't for some strange reason

[2022-09-30 10:02] bigfacecat553 commented on #5445
Thanks, I check it through `sudo apt install libpcl-io1.10 `  as an example .  and it tells me that  it's already the newest version.

[2022-09-30 10:07] bigfacecat553 commented on #5445
It seems that I already have the` libpcl-io1.10` but lack the `/usr/lib/x86_64-linux-gnu/libpcl_io.so.1.10, /usr/lib/x86_64-linux-gnu/libpcl_io.so.1.10.0` in` /usr/lib/x86_64-linux-gnu/`

[2022-09-30 10:23] bigfacecat553 commented on #5445
well,  I check the file, and find that I don't have any fie in the list but it tells me that I already have the newest:
[code]

[2022-09-30 10:55] mvieth commented on #5445
@bigfacecat553 Try removing and re-installing the package (`libpcl-io1.10` or `libpcl-kdtree1.10`) then

[2022-09-30 11:37] bigfacecat553 commented on #5445
well， I have tried that by：
sudo apt remove libpcl-io1.10 ,and it automatically remove all the pcl packages.
then I tried install the package and still lack the .so file.

[2022-09-30 11:50] bigfacecat553 commented on #5445
I check the package` /var/cache/apt/archives/libpcl-kdtree1.10_1.10.0+dfsg-5ubuntu1_amd64.deb` and find that the deb files don't put all the files in the right place. I don't know why it cannot automatically decompression the .so file in `  /usr/lib/x86_64-linux-gnu/`.
It seems like something wrong, and it just extract part of the files and omit all the xxx.so files.  So, I manually extract them t

[2022-09-30 11:59] #5445 closed

[2022-10-01 06:34] luoxuhai opened #5446 "[compile error] no member named 'size' in 'std::shared_ptr<const pcl::PointCloud<pcl::PointXYZ>>'"
**Describe the bug**

[code]

[code]

**Context**

What are you trying to accomplish? Providing context helps us come up with a solution that is most useful in the real world

**Expected behavior**

A clear and concise description of what you expected to happen.

**Current Behavior**

What happens instead of the expected behavior?

**To Reproduce**

Provide a link to a live example, or an unambigu

[2022-10-01 14:54] #5446 closed

[2022-10-02 14:36] EngDanielAraujo commented on #2598
Hello. I'm getting the same issue when running the [same supervoxel clustering example](https://pcl.readthedocs.io/en/latest/supervoxel_clustering.html#supervoxel-clustering) on PCL version 1.12.1 compiled from git master.

* Operating System and version: Ubuntu 22.04.1, kernel v.5.15.0-48-generic
* Compiler: gcc 11.2.0
* PCL Version: 1.12.1 (git master)

[2022-10-03 07:49] MonsterQhz opened #5450 "***make[2]::no rules target“/usr/lib/x86_64-linux-gnu/libconsole_bridge.so.0.4pcl_common”"
How to solve the problem? The libconsole_bridge.so.0.4 exsists and works.I had the problem one month ago,but couldn't solve it.Could you help me?Thank you!

[2022-10-03 09:07] mvieth commented on #5450
@MonsterQhz  You have to give more information, otherwise we can't help you. What operating system are you using? Which compiler? Which PCL version and how did you install it? What are you trying to compile? If you are using CMake, please post the CMakeLists.txt

[2022-10-03 09:23] MonsterQhz commented on #5450
Sorry! Here are some additions. I run the test in Ubuntn20.04, ROS noetic. My PCL version is 1.12.1, and I use cmake to compiler.The issue is , "There are no rules to make goals, /usr/lib/x86_64-linux-gnu/libconsole_bridge.so.0.4pcl_common".The following is the CMakeLists.txt.
[CMakeLists.txt](https://github.com/PointCloudLibrary/pcl/files/9696212/CMakeLists.txt)

[2022-10-03 11:15] #5450 closed

[2022-10-03 11:16] MonsterQhz commented on #5450
I have solve the problem. Thank you! Best wishes

[2022-10-05 02:32] bigfacecat553 opened #5451 "undefined reference to `pcl::visualization::PCLVisualizer:"
Hi, gays. I want to compile the example code from https://github.com/PointCloudLibrary/pcl/blob/82b54a2b7d583f788abf13ddc0ddee8071cb5b09/doc/tutorials/content/sources/interactive_icp/interactive_icp.cpp

when I do `catkin_make`, several mistakes happen, which seems like this :
https://github.com/PointCloudLibrary/pcl/issues/4472
and I try to fix the problem like him by moving the files manually fr

[2022-10-05 07:51] mvieth commented on #5451
You should call `find_package` like this:
`find_package(PCL REQUIRED COMPONENTS common visualization io)`
instead of this:
`find_package(PCL COMPONENTS common visualization io REQUIRED)`
Notice where the `REQUIRED` keyword is placed. If you put it at the end, it doesn't have any effect.

Did I understand it correctly that you want to install PCL via apt, and not compile it from source? The librari

[2022-10-05 08:41] bigfacecat553 commented on #5451
Thanks, I tried `find_package(PCL REQUIRED COMPONENTS common visualization io)` , and it still reports the same problem,
`Could NOT find PCL xxx  missing xxxxx`, then `undefined reference to `pcl::visualization::PCLVisualizer::updateCell`.

I got the` find_package(PCL COMPONENTS common visualization io REQUIRED)` from
https://github.com/kunaltyagi/pcl-cmake-minimum/blob/master/CMakeLists.txt
It te

[2022-10-05 08:45] bigfacecat553 commented on #4472
Hi, gays, I have the similar problem https://github.com/PointCloudLibrary/pcl/issues/5451, and there is something different.
My pcl is 1,10 and my pcl type isn't `PCL Type: Compiled from source successfully`.
So how should I handle it？
I can find all my files in /usr/lib/x86_64-linux-gnu/, e.g. /usr/lib/x86_64-linux-gnu/libpcl_visualization.so.1.10.0

Why it reported that Could NOT find PCL_xxxx (

[2022-10-05 09:00] bigfacecat553 commented on #5451
more details:
[code]

[2022-10-05 09:04] mvieth commented on #5451
Well, first `REQUIRED`, then `COMPONENTS` is definitely the right order, see: https://cmake.org/cmake/help/latest/command/find_package.html This might not solve the problem yet, but I would still recommend you to use this correct order! The note about PCL 1.9 is that you don't have to deal with `${PCL_INCLUDE_DIRS}`. Using `target_link_libraries` is enough (like this `target_link_libraries(pcl_dem

[2022-10-05 09:12] bigfacecat553 commented on #5451
Thanks, here are my results:
[code]

[2022-10-05 09:50] bigfacecat553 commented on #5451
well, here are results
[code]

[2022-10-05 10:44] bigfacecat553 commented on #5451
It seems that I just can't use anything about `pcl::visualization::`
If I remove the` example` file containing  `pcl::visualization::`， and then run `catkin_make`
Although it reports warning, it get 100% successful.
[code]

[2022-10-05 11:36] mvieth commented on #5451
Can you put this in your CMakeLists.txt after the find_package call to PCL:
`message("PCL_INCLUDE_DIRS=${PCL_INCLUDE_DIRS}, PCL_LIBRARY_DIRS=${PCL_LIBRARY_DIRS}, PCL_LIBRARIES=${PCL_LIBRARIES}")`

[2022-10-05 11:57] bigfacecat553 commented on #5451
Here are the results
`PCL_INCLUDE_DIRS=/lib/x86_64-linux-gnu/cmake/pcl/include, PCL_LIBRARY_DIRS=/lib/x86_64-linux-gnu/cmake/pcl/lib/x86_64-linux-gnu, PCL_LIBRARIES=/usr/lib/x86_64-linux-gnu/libboost_system.so;/usr/lib/x86_64-linux-gnu/libboost_filesystem.so;/usr/lib/x86_64-linux-gnu/libboost_date_time.so;/usr/lib/x86_64-linux-gnu/libboost_iostreams.so;/usr/lib/x86_64-linux-gnu/libboost_regex.so;/

[2022-10-05 13:21] mvieth commented on #5451
That's strange. Can you search for the file `PCLConfig.cmake` and uncomment/activate all `pcl_message` calls (should be four), then run `catkin_make` again?
So it says that the includes are in `/lib/x86_64-linux-gnu/cmake/pcl/include`. Did you put them there or did apt do that? Usually they would be in `/usr/include/pcl-1.10`. What does `ls -lah /usr/include/pcl-1.10/pcl/pcl_config.h` return?

[2022-10-05 14:23] bigfacecat553 commented on #5451
About this, you can get more details from https://github.com/ouster-lidar/ouster_example/issues/314.
I used to get the problem:
[code]
And I solved it by:

[2022-10-05 14:36] bigfacecat553 commented on #5451
here are results:
[code]

[2022-10-05 14:50] bigfacecat553 commented on #5451
I uncomment/activate the four` pcl_message `calls
[code]

then:

[code]

[2022-10-05 15:18] bigfacecat553 commented on #5451
I‘m sorry about that, so how can I fix it by making a new link, and sometimes the hacky way is the most effective.

[2022-10-05 18:08] SunBlack opened #5454 "[surface] Update poisson library/Use it as external library"
Currently we have a version of the poisson library within the code. As the directory is named `poission4` I think the code could be based on Poisson V4 - but the current version is 13.74 (see [here](www.cs.jhu.edu/~misha/Code/PoissonRecon/)). Currently they are working on a CMake integration (see https://github.com/mkazhdan/PoissonRecon/pull/231), so maybe we could integrate this as external depen

[2022-10-05 18:39] SunBlack opened #5455 "[CMake] warning LNK4199: /DELAYLOAD:VCOMP140.dll ignored; no imports found from VCOMP140.dll"
I'm getting `LINK : warning LNK4199: /DELAYLOAD:VCOMP140.dll ignored; no imports found from VCOMP140.dll` with MSVC 2019/22 (not sure if also with 2017)

I'm not really sure, if we still need this code:
https://github.com/PointCloudLibrary/pcl/blob/2db91255366ae3120256070b1dd913aedec74d89/CMakeLists.txt#L300-L314

The lines for the newer VS versions were added here, sadly no comment if it is reall

[2022-10-05 18:41] mvieth commented on #5451
Similar to how you did the link for the includes, this could work (might be necessary to create one or two empty directories in the second path):
`sudo ln -s /usr/lib/x86_64-linux-gnu /lib/x86_64-linux-gnu/cmake/pcl/lib/x86_64-linux-gnu`

[2022-10-05 23:49] EngDanielAraujo opened #5457 "[segmentation] SupervoxelClustering extract generates "double free or corruption (out)" in PCL 1.12.X"
**Describe the bug**

When using an [`extract`](https://pointclouds.org/documentation/classpcl_1_1_supervoxel_clustering.html#a596335ad01c705d692462e1109363466) function from `SupervoxelClustering` the following error is presented `double free or corruption (out)`

**Context**

I'm trying to run the example code [_Clustering of Pointclouds into Supervoxels_](https://pcl.readthedocs.io/en/latest/su

[2022-10-06 01:03] bigfacecat553 commented on #5451
Thanks, but I tried this, and it still reports the same error:
[code]

[2022-10-06 01:20] bigfacecat553 commented on #5451
I do some extra work according to your advice, and my code snippet begins from 417 to 430 (not 385 - 395) in PCLConfig.cmake:

[code]

and :
[code]

[2022-10-06 01:28] bigfacecat553 commented on #5451
Well, finally this problem is solved. I think the process is representative and it contains several other questions (https://github.com/PointCloudLibrary/pcl/issues/4472 , https://github.com/ouster-lidar/ouster_example/issues/314, https://github.com/kunaltyagi/pcl-cmake-minimum/blob/master/CMakeLists.txt, https://github.com/kunaltyagi/pcl-cmake-minimum/blob/master/CMakeLists.txt).
I believe this p

[2022-10-06 01:41] #5451 closed

[2022-10-06 08:38] mvieth commented on #5457
So far, I can't reproduce your problem. Can you run the program with valgrind, like this: `valgrind ./supervoxel_clustering milk_cartoon_all_small_clorox.pcd --NT`

[2022-10-06 08:52] larshg commented on #5455
Also seen in our build servers:
https://dev.azure.com/PointCloudLibrary/pcl/_build/results?buildId=22013&view=logs&j=b7dd6ba8-1ad9-5018-2280-3f36c72607c9&t=2fd7de77-c8c6-5479-ec09-1c18859bcc95&l=84

[2022-10-06 08:53] mvieth commented on #5455
@UnaNancyOwen

[2022-10-06 09:14] ZhangZh3ng opened #5458 "Is there any way to use voxel grid filter on custom point type?"
Hi, I'm using PCL processing lidar point clouds. The source data contains some special fields such as "ring" and "time", and I also want to add some fields that I need such as "column". So I created a new point type:
[code]
However, when I use VoxelGrid filter to downsample a point cloud with "PointXYZIRC" points, I got  a compile error.
The question is: Is there any way to "make" VoxelGrid filter

[2022-10-06 09:41] mvieth commented on #5458
See here: https://pcl.readthedocs.io/projects/tutorials/en/master/adding_custom_ptype.html

[2022-10-06 10:27] ZhangZh3ng commented on #5458
I have tried adding `PCL_INSTANTIATE(VoxelGrid PointXYZIRC);` , but I still meet compile error:
[code]

[2022-10-06 10:30] SunBlack commented on #5455
Sadly I don't have MSVC 2015 anymore anywhere installed to compare the results. Was already thinking about creating a dummy OpenMP-Demo and check if there is a difference, when the DLL is available and not.

[2022-10-06 10:49] ZhangZh3ng commented on #5458
Sorry, I may not express clearly enough before, actually I had successfully defined a new point type(PointXYZIRC), and create a point cloud(pcl::PointCloud<PointXYZIRC>), but I can't create a pcl::VoxelGrid<PointXYZIRC>.

[2022-10-06 18:09] EngDanielAraujo commented on #5457
Hi, thanks for replying. Here is the output of running with valgrind:
[code]

**Some observations**: The 3D Viewer is initialized briefly showing the point cloud and then it is closed keeping the program running, it was necessary to end the execution (CTRL+C).

[2022-10-06 18:28] EngDanielAraujo commented on #5457
Hi, thanks for replying. Here is the output of running with valgrind:

[code]

**Some observations**: The 3D Viewer starts showing the point cloud, however this is only displayed using valgrind..

[2022-10-06 19:38] mvieth commented on #5457
Looks like this is caused (at least partially) by alignment issues. I assume you compiled PCL from source? Did you use any non-default options while doing that? Especially SIMD (SSE/AVX) or architecture specific options? Same for the compilation of supervoxel_clustering.cpp: do you modify the CMakeLists.txt in any way or supply additional options?

[2022-10-06 19:48] EngDanielAraujo commented on #5457
Correct, I had to compile from source because of the issue with the ubuntu 22.04 package reported in #5237.

Here are the files I'm using for testing:
`supervoxel_clustering.ccp`
[code]
`CMakeLists.txt`
[code]
The configuration for compilation was as follows:
[code]

[2022-10-07 08:52] mvieth commented on #5458
![Screenshot from 2022-10-07 10-44-18](https://user-images.githubusercontent.com/39675748/194513732-7a59d26d-0182-4802-b256-68540336779c.png)

[2022-10-07 09:24] mvieth commented on #3774
@MallikharjunaTeja Are you still planning to open a pull request?

[2022-10-07 13:47] tpham3783 commented on #3959
any news?

is there a way to hide the window then?

[2022-10-07 14:21] mvieth commented on #5457
Ok, now I was partially able to reproduce the problem, and I may have found a solution. When you compile supervoxel_clustering.cpp, you use gcc 11 and don't explicitly specify the used C++ standard, correct? The thing is, gcc 11 and gcc 12 default to C++17 if the standard is not specified, all earlier gcc versions default to C++14. PCL is always built with C++14. When the standards differ between

[2022-10-07 14:34] EngDanielAraujo commented on #5457
Perfect, thank you very much, this worked for me!

Here's the `CmakeLists.txt` for anyone interested:

[code]

[2022-10-07 14:44] mvieth commented on #5457
That's great to hear. I wonder if we should somehow force the C++ standard of downstream project to be the one used when PCL was compiled, or at least make that the default standard of downstream projects

[2022-10-08 02:10] chibai opened #5461 "[python version] "Missing python 3.10 version""
The default python version for ubuntu 22.04 is python 3.10~~
Are we gonno support it in the next open3d release??

Thanks a lot!

[2022-10-08 02:52] UnaNancyOwen commented on #5461
This repository is Point Cloud Library, not Open3D.
https://github.com/isl-org/Open3D

[2022-10-08 02:52] #5461 closed

[2022-10-08 16:26] theoniko commented on #4155
Hello @kunaltyagi,
Where can i find the report/log for the 16 instances?
The coday of fork link is broken.

[2022-10-08 18:11] mvieth commented on #4155
Hi @theoniko !
I recently fixed some of these instances in my pull request https://github.com/PointCloudLibrary/pcl/pull/5448
I used cppcheck to detect these, which I assume codacy used as well. Here is a list of remaining instances (note: in-class initialization could be an alternative to initialization in the initialization list. I would also disregard issues in 3rd-party code for now)

[code]

[2022-10-09 07:25] chibai commented on #5237
I'm sorry, I don't get it~~Is this problem solved???
I apt install every thing~~~
pcl 1.12.1 and vtk 9.1
I got the same problem~~
How can I solved it??

[2022-10-09 08:15] ZhangZh3ng commented on #5458
Thanks to your patient help, I finally solved the problem.  Voxel grid with my customized point type can compile and work properly! By the way, I found that after voxel grid downsampling, only x, y, z, intensity fields has meaningful value, while my custom fields will always be 0, is that normal? (The following is my test code's output, and the first 3 data is x, y, z)
[code]

[2022-10-09 12:11] yasamoka commented on #5237
You have to build from master.

[2022-10-09 13:53] mvieth commented on #5458
Yes, that is to be expected. The VoxelGrid will compute a "centroid" of all points in each voxel, using `CentroidPoint` (see here: https://pointclouds.org/documentation/classpcl_1_1_centroid_point.html). I don't know what `ring` and `column` represent, but a simple mean computation would probably not make sense for them, right?

[2022-10-09 13:53] #5458 closed

[2022-10-09 13:56] Mariusmssj opened #5462 "pcl::io::OrganizedConversion<>::convert replacement?"
I used to use `pcl::io::OrganizedConversion<>::convert` to turn a depth and colour image pairs into point clouds, it appears that this is no longer available. I tried searching for an alternative but sadly found nothing.

Is a recommended method of turning depth and colour image pairs into a pointcloud?

[2022-10-09 15:05] mvieth commented on #5462
I have never used this class, but I searched for it and it is still available:
https://pointclouds.org/documentation/structpcl_1_1io_1_1_organized_conversion.html
https://pointclouds.org/documentation/structpcl_1_1io_1_1_organized_conversion_3_01_point_t_00_01false_01_4.html
https://pointclouds.org/documentation/structpcl_1_1io_1_1_organized_conversion_3_01_point_t_00_01true_01_4.html
What makes y

[2022-10-09 16:19] Mariusmssj commented on #5462
I am using PCL 1.12.1 AllInOne-msvc2019-win64 and the `#include <pcl/compression/organized_pointcloud_conversion.h>` no longer works, the file does not exist. I used to use it in 1.9.0 if I remember that correctly.

I looked through the include directory and no files under organized_pointcloud_conversion exist.

[2022-10-09 18:13] mvieth commented on #5462
Have you always used the All-In-One installer?
That header file is only installed if libpng is available and found (https://github.com/PointCloudLibrary/pcl/blob/master/io/CMakeLists.txt#L309). I am not sure if that is the case with the All-In-One installer.
However, you should be able to use that header even without libpng if you manually copy it to the appropriate directory

[2022-10-09 19:32] Mariusmssj commented on #5462
@mvieth Thank you, all's working now just had to manually add it to the include directory.

[2022-10-09 19:32] #5462 closed

[2022-10-10 00:49] ZhangZh3ng commented on #5458
Yes, that behavior is very reasonable. Thanks again for your help mvieth!

[2022-10-10 08:08] chibai commented on #5237
OK, It worked!! Nice!!

[2022-10-10 08:09] chibai commented on #5237
OK, It worked!! Nice!!

[2022-10-10 13:05] ram-bhaskara commented on #2968
In my case, adding did not help as there was another command setting CXX to 11 prior. I just had to change 11 to 14.
But first I had openCV errors. I had to edit my include file:
Replaced #include <opencv/cv.h> with #include <opencv2/core/core.hpp>

[2022-10-11 09:32] nathan-mxr opened #5465 "[KdTree] Signed integer overflow of index for 2.5B point cloud"
KdTree implementation cannot handle a pointcloud with more than 2,147,483,647 items due to signed integer overflow in vind_

**Context**

Building and Querying a very large KdTree (2.5B points) for nearest neighbours.

**Expected behavior**

No errors and correct nearest neighbours are returned

**Current Behavior**

Call Stack:

Runtime error is eventually thrown at:
kdtree_single_index.h Line 25

[2022-10-11 09:50] mvieth commented on #5465
Hi! You can actually select size and signedness of indices in PCL at build time. Use the cmake options `PCL_INDEX_SIZE` and `PCL_INDEX_SIGNED` (https://github.com/PointCloudLibrary/pcl/blob/master/cmake/pcl_options.cmake#L95-L105). These default to 32 bit signed, but you could try 32 bit unsigned or 64 bit unsigned

[2022-10-11 11:35] nathan-mxr commented on #5465
Thanks for the quick reply @mvieth, we are including pcl via vcpkg, do you know if it is possible to apply your suggested configuration in this case?

[2022-10-11 12:45] mvieth commented on #5465
Pretty sure it is not possible to configure this when installing via vcpkg. You will have to build PCL yourself if you want to use this

[2022-10-11 20:07] larshg commented on #5465
Seems to be a limitation in flann:
https://github.com/flann-lib/flann/blob/1d04523268c388dabf1c0865d69e1b638c8c7d9d/src/cpp/flann/algorithms/kdtree_single_index.h#L669

[2022-10-12 07:58] goksanisil23 commented on #4337
I had the same problem as @mmartin4972, on Ubuntu 20.04 with PCL 1.10 and Eigen 3.4

The "-march=native" flag was causing the issue and removing it solves the problem.

[2022-10-12 11:54] fyjbts opened #5466 "Target "pcl_openni_grabber_example" links to target "Qt5::X11Extras" but the target was not found."
Ubuntu20.04+pcl1.12+vtk7.1.1
pcl cmake problem：CMake Error at cmake/pcl_targets.cmake:306 (add_executable):
  Target "pcl_openni_grabber_example" links to target "Qt5::X11Extras" but
  the target was not found.  Perhaps a find_package() call is missing for an
  IMPORTED target, or an ALIAS target is missing?
Call Stack (most recent call first):
  io/tools/CMakeLists.txt:4 (PCL_ADD_EXECUTABLE)

[2022-10-13 04:05] dongchenyu163 opened #5467 "[visualization] Interactor->GetKeyCode() returns 0 when some key event occurred."
**Environment**

 - OS: Ubuntu 20.04
 - Compiler: GCC 8.1
 - PCL Version: HEAD at commit 6420445c0eba32ec41b8be63804a1b0acf6efc53
 - **VTK: 9.2.2 release**

**Describe the bug**
- The **point size could not  be changed by pressing numpad plus and minus key**, with above environment mentioned.
- Then i found `Interactor->GetKeyCode()` function in pcl::visualization::PCLVisualizerInteractorStyle::On

[2022-10-13 09:58] mvieth commented on #5467
Hi, thanks for reporting this and suggesting a fix.
However, I don't think that the commit from the VTK repo you linked causes the issue. I tested with VTK 9.1.0 (which doesn't contain the commit yet) and pressing the `+` and `-` keys on the numpad also doesn't do anything (`GetKeyCode` doesn't return `+` and `-` respectively). So I believe the `+` and `-` keys on the numpad never worked. But it w

[2022-10-13 12:09] mvieth commented on #5455
The commit that first introduced this delayload is https://github.com/PointCloudLibrary/pcl/commit/8ebd66d62b50e45b369bad487a74c13a0066f0e5 It mentions compatibility with VS Express as the reason. To my understanding, the final release of VS Express was in 2017. So my suggestion would be to not add this delayload flag for all MSVC versions where we see the warning (2019 and 2022), and remove the C

[2022-10-13 12:13] dongchenyu163 commented on #5467
Emmm... I can use the + and - keys on the numpad to change the point size when I use PCL1.12.1 + VTK 8.2.....

But anyway, I'll create a pull request.

[2022-10-13 13:17] MonsterQhz opened #5469 "It reports "segment fault(core dump)", when I use RANSAC module."
Dear author:
I tried to learn RANSAC algorithm. But it reportd "segment fault(core dump)" on my new computer(computer A). And then I tried this project on another computer(computer B), it worked well. I wonder whether the PCL version leads to the different results?The following is my computer environment, attaching my cpp and CmakeLists file.
Environment:
computer A: Ubuntn 20.04, PCL 1.12.1(or 1.

[2022-10-13 18:44] mvieth commented on #5469
On your computer A, you compile PCL from source, is that correct? Do you use any non-default options or compiler flags?
Can you run your program with valgrind, e.g. like `valgrind ./ransac`?
If you compile PCL yourself and want to use pcl_ros, you typically also have to compile pcl_ros yourself.
And another note: In your CMakeLists.txt, you call `find_package` twice for PCL and twice for catkin. I

[2022-10-13 19:04] #5467 closed

[2022-10-14 02:51] MonsterQhz commented on #5469
Thank you. According to your advice, I try to use valgrind to run the program. Could you help me analyze the result? And I change the CMakeLists.txt. I will try to change older PCL vision.
![valgrind](https://user-images.githubusercontent.com/53841077/195750993-203f2784-b709-4684-9d6c-e29a305d6894.png)
[CMakeLists.txt](https://github.com/PointCloudLibrary/pcl/files/9782048/CMakeLists.txt)

[2022-10-14 06:43] munitioner opened #5470 "[compile error] "Cannot open include file: "flann/util/params. h": No such file or directory""
**Operating environment**
qt5.15.2+pcl1.12.1+vtk9.1
vtk9.1 Compile with cmake+vs2022

**QT CMakeLists.txt**
find_package(PCL 1.12.1 REQUIRED COMPONENTS common io)
include_directories(${PCL_INCLUDE_DIRS})
link_directories(${PCL_LIBRARY_DIRS})
add_definitions(${PCL_DEFINITIONS})
link_directories(${PCL_LIBRARY_DIRS})

**Compilation Error**
D:\Program Files (x86)\PCL 1.12.1\include\pcl-1.12\pcl\kdtree

[2022-10-14 07:29] mvieth commented on #5469
You have to call valgrind with the name of the executable, not with the name of the source code file (not ./ransac.cpp)

[2022-10-14 07:49] mvieth commented on #5470
Seems to be the same problem as in this issue: https://github.com/PointCloudLibrary/pcl/issues/4620
Please see there for suggestions

[2022-10-14 09:11] #5469 closed

[2022-10-14 09:27] mvieth commented on #5469
@MonsterQhz Have you found a solution? If yes, please describe it here so that other people with the same problem can find it

[2022-10-14 18:17] jsnapz opened #5471 "[Surface]Using MovingLeastSquares results in a segfault within performUpsampling function"
**Environment Current - Not Working**
OS: Ubuntu 20.04.4 LTS
Compiler: GCC 9.4.0
PCL Version: 1.10.0
Architecture: aarch64

**Environment Past - Worked**
OS: Ubuntu 18.04.6 LTS
Compiler: GCC 7.5.0
PCL Version: 1.8.1
Architecture: aarch64

Hello,

I'm having an issue where I have ported my project over to a new environment. My project used to work before with my past environment but now it is not w

[2022-10-14 23:59] MonsterQhz commented on #5469
I reinstall PCL 1.12, and it works. Maybe I broke some files by accident.

[2022-10-15 02:35] munitioner commented on #4620
Hello, how do you solve your problem? I have encountered the same problem

[2022-10-15 02:40] munitioner commented on #5470
Hello, thank you for reminding me, but my pcl was not installed through vcpkg. I downloaded PCL-1.12.1-AllInOne-msvc2019-win64.exe directly to install it

[2022-10-15 08:14] mvieth commented on #5471
Thanks for the detailed issue report! It seems like this segfault happens when dereferencing `normals_`, which wasn't set because `setComputeNormals` was set to `false`. Try setting it to `true` instead.
This behaviour changed with this pull request: https://github.com/PointCloudLibrary/pcl/pull/1960 (since PCL 1.9.0). Let me check whether this is a bug and how to fix this in the PCL code

[2022-10-15 08:46] mvieth commented on #5471
I would say the fix is to simply move the `normals_.reset` out of the if-statement here: https://github.com/PointCloudLibrary/pcl/blob/master/surface/include/pcl/surface/impl/mls.hpp#L69
If you like, you could create a pull request to fix this. Otherwise I or someone else will do that sometime

[2022-10-15 13:09] mvieth commented on #5470
The person who opened that issue also used the all-in-one installer. I quote:

So please, check that issue page again, especially [the comment from larshg](https://github.com/PointCloudLibrary/pcl/issues/4620#issuecomment-877332064).
Also, if you can't make it work with the all-in-one installer, have you tried removing that and using vcpkg instead?

[2022-10-16 09:31] FabianSchuetze opened #5472 "(Another) attempt at Python bindings?"
Shall we do another attempt at providing Python bindings? I believe some work was started on this during a GSoC? I thought that this was the case, but I cannot find the relevant PR or issue. If so , Should we maybe try to finish this? I'd be willing to put in work and follow the guidance we have on this. I really enjoy working with PCL and prototyping would be substantially easier (for me at least

[2022-10-16 13:16] #3715 closed

[2022-10-17 00:40] BrentHuang opened #5473 "[module_name] Provide a general summary of the issue"
**Describe the bug**

A clear and concise description of what the bug is.

**Context**

#0  __GI___libc_free (mem=0x21) at malloc.c:3113
#1  0x00007fd840f49410 in Eigen::internal::handmade_aligned_free (ptr=<optimized out>) at /home/photo/new_disk/workspace/photoscan/install/eigen/include/eigen3/Eigen/src/Core/util/Memory.h:118
#2  Eigen::internal::aligned_free (ptr=<optimized out>) at /home/photo

[2022-10-17 06:13] munitioner commented on #5470
Thanks for reminding me, but it didn't solve my problem

[2022-10-17 07:53] mvieth commented on #5470
So what exactly did you try? Did you try using vcpkg instead of the all-in-one installer? Or did you try the guide linked in larshg's comment:

Please describe more precisely what you tried and what the result was. If you are so vague, I don't know what solution I should recommend to you.

[2022-10-17 08:20] mvieth commented on #5473
Hi, first of all, thanks for directly providing the backtrace. Please also set a good issue title.
Do you use `PCL_NO_PRECOMPILE` in your project? Do you use any flags or compiler options that influence alignment or SIMD instructions (SSE, AVX)? Typically, this kind of error appears when PCL is compiled with different flags than your own project.

[2022-10-17 09:06] JamieRossiter opened #5474 "[Correspondence Grouping] "The local reference frame is not valid!""
**Describe the error**

When attempting to run the [correspondence grouping tutorial](https://pcl.readthedocs.io/projects/tutorials/en/latest/correspondence_grouping.html) with two of my own generated .pcd files (1 model, 1 scene), I receive the following output:

[code]
I am using point cloud data generated by a ZED 2 camera for both the model and the scene. The model data is an isolated cluster

[2022-10-17 09:31] mvieth commented on #5474
If you look at the `master` version instead of the `latest` version of the tutorial (https://pcl.readthedocs.io/projects/tutorials/en/master/correspondence_grouping.html#compiling-and-running-the-program), the following note was added:

So you should try to find parameters that work for your own model/scene.

[2022-10-17 11:09] JamieRossiter commented on #5474
Thank you for your response. In what situation does a _"keypoint not have enough points in its neighborhood"_? What parameters are typically tweaked in cases like this... the reference frame radius, perhaps? Or the model and scene uniform sampling radius?

Any light that you can shed on this would be greatly appreciated!

[2022-10-17 11:56] mvieth commented on #5474
Yes, exactly. Changing the model/scene uniform sampling radius may make the processing slower, so I would recommend to first try adapting the reference frame radius. And you could try the `-r` option if you haven't done that already

[2022-10-17 18:35] mvieth opened #5475 "[apps] Read device id from command line args in openni apps"
From [a discussion](https://github.com/PointCloudLibrary/pcl/pull/5460#discussion_r991625473):

One example is this file: https://github.com/PointCloudLibrary/pcl/blob/master/apps/src/openni_3d_concave_hull.cpp (but there are more files)

[2022-10-17 23:02] sfbirdf commented on #5475
Hi! I'm looking to start contributing to open source and feel that this would be an ideal place to start for me, could I please have a try at it? :D

If I understand the problem correctly, the main idea is that we should , for the following file https://github.com/PointCloudLibrary/pcl/blob/master/apps/src/openni_3d_concave_hull.cpp#L198

add something along the lines of
[code]

and do that for ot

[2022-10-18 00:01] larshg commented on #5475
Probably also in the first

`pcl::OpenNIGrabber grabber("");`

As that is the device you actaully query if it has RGB or not.

But else yes, something along those lines.

Start by making the PR for one example. Then we can add the others afterwards!

Thanks for contributing!

[2022-10-18 08:24] mvieth opened #5478 "Check if the boost library date_time can be replaced"
I think date_time is mostly needed for `to_iso_string` and `local_time`, to create a string representing the current time (for filenames etc), right? Maybe `std::strftime` or `std::put_time` can replace that?

_Originally posted by @mvieth in https://github.com/PointCloudLibrary/pcl/issues/5204#issuecomment-1152302089_

We are using some functions from boost's date_time library. It would be great

[2022-10-18 08:33] mvieth commented on #5465
@nathan-mxr Any update from your side? Have you tried `PCL_INDEX_SIZE` and `PCL_INDEX_SIGNED`? If it is indeed a limitation on the FLANN side, we can't do much on the PCL side

[2022-10-18 08:50] ssstwo commented on #2619
![image](https://user-images.githubusercontent.com/92913087/196383470-344e29cb-e266-4d9a-9065-629ae5bc5ba4.png)

[2022-10-18 08:55] lingerer commented on #2619
It has nothing to do with this issue

[2022-10-18 10:39] nathan-mxr commented on #5465
@mvieth I haven't tried those cmake options, but I agree with @larshg that the offending code seems to be in libflann rather than PCL.
Will close this issue.

[2022-10-18 10:39] #5465 closed

[2022-10-18 12:36] mvieth commented on #5466
@fyjbts Any update?

[2022-10-18 12:38] fyjbts commented on #5466
thank you

[2022-10-18 12:38] fyjbts commented on #5466
@mvieth It has been solved. The problem is the configuration of vtk，thank you

[2022-10-18 19:34] SunBlack opened #5479 "[openni] Deprecate OpenNI in favor of OpenNI2"
Currently almost all components still use OpenNI, although OpenNI2 support has been implemented for years. Somehow I am not able to run a Kinect with OpenNI on Win10, but it works with OpenNI2 (no idea why). Since both versions of the library are very old (OpenNI 2.2.0.33 was released on 2013-11-12, and OpenNI 1.5.7.10 a day before that) there won't be anything new, so I'm not sure if anyone still

[2022-10-19 10:46] Roger-Sh commented on #3501
Hi, in my case, the problem of compiling `pcl_gpu_octree_generated_knn_search.cu.o` is caused by the version of `__cuda_arch_bin` (sm_30 too low and sm_70 too high), after modifying `cmake/pcl_find_cuda.cmake` line 46 as follows, the error is gone.
[code]

My Env:
GPU: RTX 3060
CUDA: 11.1
PCL: 1.9.1

[2022-10-19 13:07] HuaTsai opened #5482 "[registration] Distribution-to-Distribution NDT (D2D-NDT)"
Hello developers,

I want to ask your opinions on implementing Distribution-to-Distribution NDT (D2D-NDT).

The current NDT version in PCL is P2D-NDT proposed by Magnusson in [Ph.D. thesis](https://www.semanticscholar.org/paper/The-three-dimensional-normal-distributions-%3A-an-for-Magnusson/bcd3e1f94a76a8789b6a2ec1395e9a316864b484).
The concept of D2D-NDT was introduced ten years ago in 2012 by St

[2022-10-20 10:03] munitioner commented on #5470
I tried to install pcl with vcpkg. The installation was successful, but the following error was prompted when referencing pcl in cmakelists.txt
G:\Project\zxtx_autocar\src\CMakeLists.txt:47: error: By not providing "FindPCL.cmake" in CMAKE_MODULE_PATH this project has asked CMake to find a package configuration file provided by "PCL", but CMake did not find one. Could not find a package configurat

[2022-10-20 10:03] munitioner commented on #5470
I tried to install pcl with vcpkg. The installation was successful, but the following error was prompted when referencing pcl in cmakelists.txt
CMakeLists.txt:47: error: By not providing "FindPCL.cmake" in CMAKE_MODULE_PATH this project has asked CMake to find a package configuration file provided by "PCL", but CMake did not find one. Could not find a package configuration file provided by "PCL" w

[2022-10-20 10:24] #5471 closed

[2022-10-20 12:29] larshg commented on #5470
Have you suppliee this to cmake when calling it: DCMAKE_TOOLCHAIN_FILE=[path to vcpkg]/scripts/buildsystems/vcpkg.cmake ?

[2022-10-20 15:32] munitioner commented on #5470
no,

[2022-10-20 16:09] Pran-Seven opened #5485 "[organized_neighbor_search] "Being able to set/provide the projection matrix""
**Is your feature request related to a problem? Please describe.**

So I am using Organized neighbour search as the trer search for calculation of normals in my script.
Organized neighbour allows the user to set the projection matrix, but there's no parameter as such to pass it, so I was wondering how would one go about it?

File for reference - https://pointclouds.org/documentation/organized_8h_s

[2022-10-20 20:15] larshg commented on #5472
The latest work that has been done also in GSOC is available [here](https://github.com/PointCloudLibrary/clang-bind). I was subtle involved last time, but I have really no idea whats going on there 😁
So I'm not really able to tell you what the state is. But maybe @divmadan could give a quick recap 😄

[2022-10-21 01:09] BrentHuang commented on #5473
no, I don't use PCL_NO_PRECOMPILE and any other SSE\AVX flags. All are the default.

[2022-10-21 02:04] munitioner commented on #5470
My project is QT and the compilation method is camke. How do I configure DCMAKE in camkelists.txt_ TOOLCHAIN_ FILE？

[2022-10-21 02:14] munitioner commented on #5470
This is the code referencing PCL library in my CMakeLists.txt
set(CMAKE_TOOLCHAIN_FILE D:/vcpkg/vcpkg/scripts/buildsystems/vcpkg.cmake)
find_package(PCL 1.12 REQUIRED COMPONENTS common io)
include_directories(${PCL_INCLUDE_DIRS})
link_directories(${PCL_LIBRARY_DIRS})
add_definitions(${PCL_DEFINITIONS})
link_directories(test ${PCL_LIBRARY_DIRS})

But the same error will be reported
G:\Project\zxtx_

[2022-10-21 07:58] #5455 closed

[2022-10-21 08:24] mvieth commented on #5473
Can you try this tutorial to see whether it also produces any error:
https://pcl.readthedocs.io/projects/tutorials/en/master/planar_segmentation.html

[2022-10-21 08:55] mvieth commented on #5485
@Pran-Seven And you are sure that you can use the organized search for your point cloud?
I can't find the error message `INPUT NOT FROM PROJECTED DEVICE` in the PCL source code. Is that the exact message that you see? Which PCL version are you using?
There doesn't seem to be a way to set the projection matrix explicitly, only to influence the internal estimation via `eps` and `pyramid_level`. But

[2022-10-21 09:20] Pran-Seven commented on #5485
@mvieth yes,fairly sure. Other functions that does not involve projecting on to a 2D plane but requiring an organized pointcloud seem to work fine.
The organized.h links to a organized.hpp, which is where the error is being throw from. [You can find it at line 364](https://pointclouds.org/documentation/organized_8hpp_source.html#:~:text=PCL_ERROR%20(%22%5Bpcl%3A%3A%25s%3A%3AestimateProjectionMatri

[2022-10-21 12:11] mvieth commented on #5485
@Pran-Seven Ah okay, you mean _that_ error message. What does it say is the residual (MSE), and how many "valid points"  does it use?
What are width and height of your point cloud? What is the projection matrix you would want to set?
Can you share the point cloud, e.g. as a zipped PCD file?

[2022-10-21 12:28] Pran-Seven commented on #5485
Residual (MSE) 0.055300, using 1024 valid points
Width - 1280; Height - 480
Projection matrix published by the sensor I am using - Realsense D415 - [615.7805786132812, 0.0, 314.04083251953125, 0.0, 0.0, 615.3659057617188, 229.0540771484375, 0.0, 0.0, 0.0, 1.0, 0.0]
Currently not saving the pointclouds and the system is not accessible, will share it at the earliest though.

[2022-10-21 13:14] mvieth commented on #5485
That would be very helpful, then I can run my own tests

[2022-10-21 19:59] mvieth commented on #5482
Hi, thanks for the idea. I hadn't heard of D2D-NDT before, but I quickly read over the paper.
The paper mentions that an open-source ROS package is available. Do you know anything about that? Especially how well it is maintained?
Are you planning to only add the D2D-NDT, or both D2D-NDT and the global descriptor for initial alignment?
Also: can you give an estimate whether this can be merged with

[2022-10-22 11:53] HuaTsai commented on #5482
mvieth, thank you for your kind reply

1. The author's ros package is not under maintenance since a long time ago.
You can check the D2D-NDT source code [here](https://github.com/OrebroUniversity/perception_oru/blob/port-kinetic/ndt_registration/src/ndt_matcher_d2d.cpp).
Honestly, the source code is not friendly for reading and modifying and is more likely for academic purposes.
I have tried it a

[2022-10-22 12:41] mvieth commented on #5474
I am closing this issue, assuming your questions are answered

[2022-10-22 12:41] #5474 closed

[2022-10-22 14:01] munitioner opened #5487 "[compile error] link error"
Operating environment in windows11
qt5.15.2+pcl1.12.1+vtk9.1
vtk9.1 Compile with cmake+vs2022
Qt compiles using cmake
PCL is installed using PCL-1.12.1-AllInOne-msvc2019-win64.exe

QT CMakeLists.txt
set(PCL_DIR "D:/Program Files (x86)/PCL 1.12.1/cmake")
find_package(PCL 1.12 REQUIRED)
include_directories(${PCL_INCLUDE_DIRS})
link_directories(${PCL_LIBRARY_DIRS})
add_definitions(${PCL_DEFINITIONS})

[2022-10-23 07:43] mvieth commented on #5487
Try adding `#define PCL_NO_PRECOMPILE` at the top of your source code. The all-in-one installer contains template instantiations only for the most commonly used point types, but not for `PointXYZINormal` (see also here: https://pcl.readthedocs.io/projects/tutorials/en/master/adding_custom_ptype.html#how-to-add-a-new-pointt-type)

[2022-10-23 11:30] munitioner commented on #5487
This is my source code. I added # define PCL at the top of the code_ NO_ PRECOMPILE, but other errors occurred
D:\Program Files (x86)\PCL 1.12.1\3rdParty\FLANN\include\flann\util\heap.h:108: error: C2143: 语法错误: 缺少“,”(在“<”的前面)
D:\Program Files (x86)\PCL 1.12.1\3rdParty\FLANN\include\flann/util/heap.h(108): error C2143: 语法错误: 缺少“,”(在“<”的前面)
D:\Program Files (x86)\PCL 1.12.1\3rdParty\FLANN\include\fl

[2022-10-23 15:00] nemeshnorbert opened #5488 "[pcl] Mathematical error in GeneralizedIterativeClosestPoint::applyState method"
**Describe the bug**

[Current implemetation](https://github.com/PointCloudLibrary/pcl/blob/41e83323b6d04f7db711d6f3e94e2ffafa36dc7a/registration/include/pcl/registration/impl/gicp.hpp#L560) uses wrong formula for the composition of two transforms.

**Context**

The method applyState is used internally in the optimization process of GeneralizedIterativeClosestPoint algorithm

**Expected behavior**

[2022-10-24 09:27] mvieth commented on #5487
These errors come from the FLANN library, a dependency of PCL. The all-in-one installer includes the latest version of FLANN.
Are you compiling your project as C++17 or C++20? `random_shuffle` was removed in C++17. PCL currently uses/is compiled as C++14, and I would recommend to use the same for your project.

Also, it might be better to use `PCL_NO_PRECOMPILE` only for those headers where you ac

[2022-10-24 10:10] JamieRossiter commented on #5474
Hi @mvieth, apologies for not closing this myself as I am still working through this problem.

Your suggestion has helped me progress, to the point where the algorithm finds correspondences.

The issue now is that when the program is about to present the visualisation showing said correspondences, I receive a "Segmentation fault". There program does not provide any other context with this error me

[2022-10-24 12:19] mvieth commented on #5474
Do you use VTK 9.0.2, 9.0.3, or 9.1.0? Then this might be the problem: https://github.com/PointCloudLibrary/pcl/issues/5237
Otherwise you would have to post the output from valgrind or the backtrace of a debugger like gdb.

[2022-10-24 12:30] mvieth commented on #5488
Hi, thanks for reporting this. I checked and it seems like currently this error does not matter since `applyState` is always called with `t`, the first transformation, set to identity (`base_transformation_` is set to identity [here](https://github.com/PointCloudLibrary/pcl/blob/master/registration/include/pcl/registration/impl/gicp.hpp#L425)). Still it would be nice to fix this. Are you intereste

[2022-10-24 14:55] nemeshnorbert commented on #5488
Here is my pull request
https://github.com/PointCloudLibrary/pcl/pull/5489

[2022-10-25 08:32] munitioner commented on #5487
These settings have been generated in qt cmakelists.txt，set(CMAKE_CXX_STANDARD 17)，It should be based on the C++17 standard，But my problem still exists

cmake_minimum_required(VERSION 3.5)

project(zxtx_autocar VERSION 0.1 LANGUAGES CXX)

set(CMAKE_INCLUDE_CURRENT_DIR ON)

set(CMAKE_AUTOUIC ON)
set(CMAKE_AUTOMOC ON)
set(CMAKE_AUTORCC ON)

set(CMAKE_CXX_STANDARD 17)
set(CMAKE_CXX_STANDARD_REQUIRED

[2022-10-25 15:31] #5475 closed, assigned to filbert14

[2022-10-25 15:35] mvieth commented on #5487
Okay, so would it be an option to change it to `set(CMAKE_CXX_STANDARD 14)`?
If not, have you tried my suggestion with the more selective use of `PCL_NO_PRECOMPILE`?

[2022-10-25 17:39] #5488 closed

[2022-10-25 18:44] larshg commented on #3959
@tpham3783 What OS / PCL version do you use?

[2022-10-25 18:51] sfilbertf opened #5491 "[apps/src, openni files] Inconsistencies in the command line args"
Now that #5475 is closed, I hope to able able to make following changes:

As several maintainers pointed out, currently,
1. Several files require you to input `-h` to be able to get the output of usage(), some allow `-h` and `--help`
(compare `openni_3d_convex_hull.cpp` and `openni_voxel_grid.cpp`)
2. The variable name arg is used for both `device_id` and `-h` or `--help`
(see `openni_3d_convex_hu

[2022-10-26 01:30] munitioner commented on #5487
Change the set (CMAKE_CXX_STANDARD 17) in CMakeLists.txt in QT to set (CMAKE_CXX_STANDARD 14), and then add it to the source file

#undef PCL_ NO_ PRECOMPILE
#include <pcl/kdtree/kdtree_ flann.h>
#define PCL_ NO_ PRECOMPILE

There are no compilation errors, but there are cmake errors

D:\Program Files (x86)\PCL 1.12.1\cmake\PCLConfig.cmake:59: error: visualization is required but vtk was not found

[2022-10-26 07:50] mvieth commented on #5491
Sounds good, feel free to open a pull request :+1:

[2022-10-26 13:23] #5328 closed

[2022-10-26 14:57] Philip035 opened #5493 "[ConditionalRemoval,OMP] Bug about using omp to extract specific labeled points from origin cloud"
**Describe the bug**

In my data, every cluster was labeled by a specific intger. I tried to extract all the clusters that the number of points larger than a threshold. To accelerate the process, omp was used. The code is below:
[code]
However, it always points to an exception in  _**xmemory.h**_  line 849. The line is:
[code]

**Your Environment (please complete the following information):**

 -

[2022-10-26 18:33] larshg commented on #5493
With my limitee knowledge of omp, I think you need to set the result cloud as shared between the threads and when you do the actual accumulation that should be wrapped in #pragma critical - so only on thread as access at a time.

Alternatively they should have their own result cloud each and do the accumulation afterwards?

[2022-10-26 18:34] larshg commented on #5493
A stack trace from debug build would be good as well. And perhaps a small demo cloud.

[2022-10-27 04:08] Philip035 commented on #5493
It seems that "critical" really works, thanks a lot for your help! The bug may be caused by threads conflict.

[2022-10-27 04:08] #5493 closed

[2022-10-28 11:18] waebbl opened #5496 "[configuration and complication] Using GNUInstallDirs to determin installation locations?"
**Is your feature request related to a problem? Please describe.**

We received a bug report on Gentoo Linux for files not installed to FHS compliant directories[1], related to documentation files. During my research, I noticed that the cmake config files are installed under `/usr/share/pcl-1.12` which is also an unusual directory for this, which could lead to issues, see for example https://githu

[2022-10-28 20:46] divmadan commented on #5472
It's been some time since we worked on it, but iirc we had the parsing logic in place and were working on the pybind code-generation.
I'll get back to you with the details if you wish, and will be happy to collaborate.

[2022-10-29 04:07] ZhangZh3ng opened #5498 "How to downsample a point cloud in a large area"
I need to merge a series of point clouds into one and perform downsampling by VoxelGrid filter. Because these point clouds are distributed in a wide space, I always meet this error when downsampling: "Leaf size is too small for the input dataset. Integer indices would overflow".
However, I don't want to increase the leaf size for accuracy reason, and even if I increase leaf size, it just delay the

[2022-10-29 08:46] mvieth commented on #5473
@BrentHuang Any update? Have you tried the tutorial?

[2022-10-29 08:52] mvieth commented on #5485
@Pran-Seven Any update? Do you have a saved point cloud now that you can share?

[2022-10-29 09:01] mvieth commented on #5498
@ZhangZh3ng Can you post the point cloud you pass to the VoxelGrid as a zipped .pcd file? Then I will try to suggest a solution.

[2022-10-29 15:10] unclesammy opened #5499 "[compile error] "Linking errors While compling on Ubuntu22.04.1""
So I try to compile the pcl-master on my VMware's Ubuntu system.While I'm using the command line `make -j2`.It show me this.

[code]

**To Reproduce**

- I got the VTK8.2 source code from [] (https://vtk.org/download/#earlier),   compile and install it on my vm.and the output follows
[code]
I also choose these two moudle.
vtklOMPIImage
vtklOMPlParallel
![3-01-12](https://user-images.githubusercont

[2022-10-30 02:54] ZhangZh3ng commented on #5498
I have upload the pcd files to google drive:
https://drive.google.com/file/d/11LdendV2wRNdMYsXGX8nqh0jGCrYZKa3/view?usp=sharing

I have uploaded the point clouds to google drive:
https://drive.google.com/file/d/11LdendV2wRNdMYsXGX8nqh0jGCrYZKa3/view?usp=sharing

[2022-10-30 08:46] mvieth commented on #5499
PCL's support for VTK 8 is somewhat limited since it was never available via `apt`, and now we rather concentrate on VTK 9. Is there a reason why you use VTK 8, or would VTK 9 be an option for you?

[2022-10-30 13:25] mvieth commented on #5498
Ok, so I checked whether there are outliers that make the bounding box unnecessarily large (with `RadiusOutlierRemoval`). This wasn't the case, at least not for gate_01.pcd.
Using an octree to split the large point cloud into smaller clouds that the VoxelGrid can process sounds feasible. You could try `OctreePointCloud`, and set the octree leaf resolution (`setResolution`) to 1250 times the leaf r

[2022-10-30 14:19] unclesammy commented on #5499
Thanks dude,I'll try install the latest VTK.I'll see if it work.

[2022-10-30 15:31] viisautta opened #5500 "[pcl_openni2_viewer] There is no change but an initial image for realsense D405."
**Describe the bug**

A clear and concise description of what the bug is.

**Context**
Fedora 36
PCL 1.12.1
![Screenshot from 2022-10-30 23-20-34](https://user-images.githubusercontent.com/52561332/198887127-60eca1b8-b700-4f34-a058-85c55b1de8ab.png)

realsense [D405]([url](url))

What are you trying to accomplish? Providing context helps us come up with a solution that is most useful in the real w

[2022-10-30 16:44] mvieth commented on #5500
I am not sure I understand the issue. The screenshot you posted looks weird obviously. But what do you mean with "There is no change but an initial image for realsense D405"? Apart from the cloud viewer, is there also another window with an image viewer? Can your device record colour (RGB) information?

[2022-10-31 01:43] viisautta commented on #5500
@mvieth
As far as I am concerned，the internal transactions of D405 are different from the others D415, D435. Now realsense is fixing it with https://github.com/IntelRealSense/librealsense/issues/11044

[2022-10-31 02:35] ZhangZh3ng commented on #5498
I tried to iterate through the octree(by leaf_depth_begin), but when I dereference the iterator, I found the result type is pcl::octree::OctreeNode and I can only find two member methods on this type(deepCopy and getNodeType). In my thought, I have to get a part of the input cloud of  the octree and the pass it to a VoxelGrid filter, but apparently, pcl::octree::OctreeNode is not a point cloud, ca

[2022-10-31 05:54] larshg opened #5501 "Do something useful with the indices in area callback, for example writing the points to PCD files."
How about doing something useful with the indices, for example writing the points to PCD files?

_Originally posted by @mvieth in https://github.com/PointCloudLibrary/pcl/pull/5476#discussion_r1003400408_

[2022-10-31 10:04] mvieth commented on #5498
Dereferencing the iterator gives you an `OctreeNode*`, which you can cast to an `OctreePointCloud::LeafNode` (https://pointclouds.org/documentation/classpcl_1_1octree_1_1_octree_leaf_node.html). The container is an `OctreeContainerPointIndices` (https://pointclouds.org/documentation/classpcl_1_1octree_1_1_octree_container_point_indices.html)

[2022-10-31 12:52] Pran-Seven commented on #3921
@duongbaoquy were you able to achieve your desired output?

[2022-10-31 13:17] ZhangZh3ng commented on #5498
I have solved the problem with your help, thank you mvieth!

In order to help people who may have the same problem, I post my implementation, and if there
is anything that can be improved, please point out.
[code]

[2022-10-31 13:18] #5498 closed

[2022-10-31 16:11] mvieth commented on #2346
I tried to reproduce this but was unable to. The range image viewer always showed the image.
My best guess is that this was a problem with older VTK versions (I use VTK 9.1.0).
If anyone still has this problem, please comment here or open a new issue (with a reference to this issue).

[2022-10-31 16:11] #2346 closed

[2022-11-01 01:48] unclesammy commented on #5499
@mvieth pcl-master + VTK 9.2.2 is working on my Ubuntu.Thanks the heads-up.

[2022-11-01 01:48] #5499 closed

[2022-11-01 16:00] #1153 closed

[2022-11-01 16:00] #2565 closed

[2022-11-01 17:14] Nandite opened #5503 "[Visualization] Potential access to a null pointer (or a redundant pointer test) [pcl-1.12.1]"
Within the [PCLVisualizerInteractorStyle](https://github.com/PointCloudLibrary/pcl/blob/pcl-1.12.1/visualization/src/interactor_style.cpp#L1068) class, i found this snippet of code (Line 1067):

[code]
If the CurrentRenderer is nullptr (hence the if test), the call to CurrentRenderer->Render() is unsafe. Otherwise, its means that CurrentRenderer is never null, so the if is redundant.
I am wrong ?

[2022-11-01 17:40] larshg commented on #5503
Does indeed look odd. And have done that for about 12 years 😀

[2022-11-02 07:14] Nandite commented on #5503
Good, thought i was crazy for a minute 😉
I will submit a merge request with a suggestion of correction.

[2022-11-03 16:48] mvieth commented on #5482
Please make sure you don't do anything that violates their copyright. If you, for example, copy large portions of their code, we likely can't merge that into PCL.

Alright, that's fine.

Please note that we can't easily change names of functions or variable that are accessible to PCL users.
Feel free to open a pull request with your proposed changes at any time. However please understand that I mi

[2022-11-04 03:18] unclesammy opened #5505 "[Segfault]Exception thrown at 0x00007FFC01F20E9C (ucrtbased.dll) after returning CHULL_vertices"
So I was runnig this old project about filter that involve convexHull、fade2D.

[code]

But somehow it just throw this segfault after returning CHULL_vertices at debug_heap.cpp line 194.
![image](https://user-images.githubusercontent.com/56534652/199873568-54baaf84-c977-4dc7-b06c-978d9ed2e243.png)
I debug it and find it just keep looping till the error show up.
This my call stack.
![image](https://

[2022-11-04 08:55] mvieth commented on #5505
Which line is line 237 in `RasterProcessor::ConvexHull()`? That is where a point cloud is destroyed and the error happens

[2022-11-04 09:02] Pran-Seven commented on #5485
Hey sorry for the delayed response, I am facing issues saving my PC as a pcd file and sharing it, I think this can be marked as stale until I get an output. But I would like some help regarding the whole task I am doing, is there any other medium that I can reach you?

[2022-11-04 09:55] mvieth commented on #5485
@Pran-Seven  Saving point clouds as pcd files is usually as easy as calling [`savePCDFile`](https://pointclouds.org/documentation/group__io.html#ga5e406a5854fa8ad026cad85158fef266) (or `savePCDFileBinary` or `savePCDFileBinaryCompressed`).

I usually don't answer questions or give recommendations for application-specific things due to lack of time (at most I give a very quick hint). You can try as

[2022-11-04 10:04] Pran-Seven commented on #5485
Yup, I did do that, but since I am running the code on a remote PC, it is being saved somewhere there and I am not able to locate where exactly it is. That is the difficulty I ma facing, but other than that the file is being saved.

Oh, that is completely understandable, even a hint would be great, actually I am trying to stitch/merge/register real time two point clouds coming from two different c

[2022-11-04 12:52] unclesammy commented on #5505
I think it happen during or after `return CHULL_vertices;`
![e2](https://user-images.githubusercontent.com/56534652/199976571-2f7118e2-7c16-4917-99c1-7bbb522d5993.png)

[2022-11-04 13:00] mvieth commented on #5485
Why? What classes/algorithms are you using? To my knowledge, there is always a class/algorithm that works with unordered clouds, and sometimes an additional class/algorithm that only works with ordered clouds.
The cloud you pass to the organized neighbour search (where you get the message about it not being from a projective device): is this cloud from one sensor only or is it already a combinatio

[2022-11-04 13:14] Pran-Seven commented on #5485
Hey! Thanks a lot for the response, highly appreciate it.

The final goal is to use Human RGBD detection and the pre processors for that are normal computation, plane segmentation, getting connected planes and RANSAC refinement. So for this I would be requiring ordered pointcloud for normal computation.

Yes, there are other methods available, but they are very very slow (Normal Estimation OMP) co

[2022-11-05 12:10] Pran-Seven commented on #5485
Hey, just had a quick question. How can I get the variable values printed of some variables in the included header files. Like for example if i I want ot see the value of the projection matrix, how do I print it on the console when my ros node is running?

[2022-11-06 06:55] HuaTsai commented on #5482
I tried to implement D2D-NDT to be compatible with PCL, but the result failed.
My current code cannot converge to the correct transformation.
Because of this behavior issue, I tend not to create the PR now.
My previous successful experience is using ceres-solver, and assigning the gradient expression.

If you could help, please check my forked codes [ndt.h](https://github.com/HuaTsai/pcl/blob/mast

[2022-11-06 09:44] mvieth commented on #5505
Can you try again with the latest PCL (PCL 1.12.1)?

[2022-11-08 08:14] #5505 closed

[2022-11-08 08:50] mvieth commented on #5505
PCL switched to `std::shared_ptr`, beginning with PCL 1.11.0

[2022-11-08 08:55] mvieth commented on #5473
Since you didn't respond, I am going to assume that the issue resolved itself.

[2022-11-08 08:55] #5473 closed

[2022-11-08 12:48] mvieth commented on #5503
@Nandite For your information: we plan to release a new version of PCL soon. If you want your fix to be included in this release (would be great) you would have to submit the merge request within the next few days. Otherwise we will include it in the next release

[2022-11-08 14:48] mvieth commented on #5485
Yes, there are other methods available, but they are very very slow (Normal Estimation OMP) compared to Integrated Image Normal Search, which is where the Organized Neighbour search comes into picture.

To repeat my earlier hint/recommendation: I would compute normals separately on each of the two (organized) point clouds, then merge the two clouds (including the computed normals). RANSAC doesn't

[2022-11-08 14:48] #5485 closed

[2022-11-08 14:58] Nandite commented on #5503
@mvieth Thanks for the information. I made a pull request [(#5507)](https://github.com/PointCloudLibrary/pcl/pull/5507).

[2022-11-09 08:55] mvieth commented on #5503
Fixed by #5507

[2022-11-09 08:55] #5503 closed

[2022-11-09 10:51] joerowelll opened #5509 "missing {} in for loop in docs"
https://github.com/PointCloudLibrary/pcl/blob/pcl-1.11.1/doc/tutorials/content/sources/octree_change_detection/octree_change_detection.cpp

the final for loop in the octree_change_detection is missing brackets {}.

[2022-11-09 13:29] #5509 closed

[2022-11-09 21:33] madvn commented on #2870
Just ran into this issue..

The removeNaNFromPointCloud should remove the nans irrespective of how it is created.

If this is indeed the case, then would it make sense to reopen this as a bug?

cc: @lmaddirala @SuragBalajepalli

[2022-11-10 09:12] mvieth commented on #5487
Have you tried setting `VTK_DIR` or `VTK_ROOT` to the correct directory?

[2022-11-10 09:23] mvieth commented on #5472
@FabianSchuetze @divmadan Would be fantastic if you continue the work on Python bindings! I know many people would be very happy if PCL offered a Python interface. I can't tell or help you much unfortunately, since I wasn't involved in this so far ...

[2022-11-10 09:58] tust13018211 opened #5511 "vtk compile error"
Hi, I use pcl12.1，when I use it, but it seems soom error, like this:
“vtkSmartPointerBase &vtkSmartPointerBase::operator =(vtkObjectBase *)”: 无法将参数 1 从“T *”转换为“vtkObjectBase *”

what shoule I do, thanks

[2022-11-10 11:23] #5511 closed

[2022-11-11 17:20] theoniko commented on #1692
I thought adding an assert or [[deprecated("reason")]] for property but it is already handled with corresponding pcl::console::print_error. I think updating the documentation of setPointCloudRenderingProperties and maybe turning RenderingProperties to enum class are enough.

Also, viewport is never used in any setPointCloudRenderingProperties and the setters in my eyes shall return [[nodiscard]] b

[2022-11-12 16:51] mvieth commented on #1692
Feel free to create a pull request with your proposed changes, then we can discuss them in detail :+1:

[2022-11-13 18:57] FabianSchuetze commented on #5472
Thanks for the nice words from all three of you!

I have tried to run step 5 of the description of the [repo](https://github.com/PointCloudLibrary/clang-bind), `python ../../../clang_bind/parse.py --com ./ ../src/simple.cpp`, but this didn't work because the module `clang_bind` wasn't found. I tried installing clang_bind but to no avail. Can it be that the install desriptions in the repo are not e

[2022-11-16 03:47] ychwang opened #5514 "[compile error] PCLVisualizer::addPointCloud cause error in xstring _Large_string_engaged"
when i use sample ,my env is win10 + VS2019 + pcl 1.12.1
pcl::visualization::PCLVisualizer::Ptr simpleVis(pcl::PointCloud<pcl::PointXYZ>::ConstPtr cloud)
{
    // --------------------------------------------
    // -----Open 3D viewer and add point cloud-----
    // --------------------------------------------
    pcl::visualization::PCLVisualizer::Ptr viewer(new pcl::visualization::PCLVisualizer(

[2022-11-16 08:40] mvieth commented on #5514
How did you install PCL?
What is the exact error message?
Can you provide a call stack (from a debugger or similar), so I can see how the error happens?

[2022-11-16 14:04] mnobrecastro commented on #5431
Dear @mvieth, thank you for accepting and merging my PR. I will update you with another PR regarding the 2D version, asap.

[2022-11-17 03:02] ychwang commented on #5514
Thanks for your help.I install PCL-1.12.1-AllInOne-msvc2019-win64.exe,i choose add path to all user selection,at last it append  warining the path is too long and not add into system path,i ignore this  warning, and use vs2019 to built sample i add include/lib to this project, it can built  but when it runs it cause the problem. I can not deal this error,so i uninstall PCL ,I try install it again,

[2022-11-17 08:21] mvieth commented on #5514
So your problem is solved now and I can close this issue?

[2022-11-21 08:47] mnobrecastro commented on #5431
You made a good point. A 2D ellipse fitting can be accomplished using the existing 3D ellipse (in the end it would be just a matter of adding a z=0 coordinate to the 2D points, thus converting it to a 3D problem). There won't be much overhead in terms of computation beyond the simple calculation of the plane normal. If you recall, the 3D ellipse fitting procedure works at the level of local coordi

[2022-11-21 13:14] viisautta opened #5518 "[compile error] point_cloud_editor does not support Qt6"
**Describe the error**

Please paste the compilation results/errors.
[ 99%] Building CXX object apps/point_cloud_editor/CMakeFiles/pcl_point_cloud_editor.dir/src/select2DTool.cpp.o
In file included from /home/o/Public/pcl-1.13.0-rc1/apps/point_cloud_editor/src/select2DTool.cpp:40:
/home/o/Public/pcl-1.13.0-rc1/apps/point_cloud_editor/include/pcl/apps/point_cloud_editor/select2DTool.h:43:10: fatal

[2022-11-21 15:08] SunBlack opened #5521 "Remove or revise OpenCV integration"
During some experiments, I found that some components require OpenCV. As this is currently not integrated within the CI I created #5519. During further local research I found the usage of `HAVE_OPENCV` within 26 source files - but the constant is never defined in `pcl_config.h.in`. Adding `#cmakedefine HAVE_OPENCV 1` didn't help either. All `HAVE_` defines seems to be defined by calling `PCL_ADD_G

[2022-11-22 18:22] #1257 closed

[2022-11-25 06:10] zhangzscn opened #5527 "PCLVisualizer updatePointCloud too slow"
use the master tree pcl，vtk 9.2。it update the pointcloud too slow，but click the window with the mouse, everything is fine 。code like this：

for .....
        if (viewer.contains("cloud"))
        {
            viewer.updatePointCloud(cloud_temp.makeShared());
        }
        else
        {
            viewer.addPointCloud(cloud_temp.makeShared());
        }

        viewer.resetCamera();

[2022-11-25 07:04] larshg commented on #5527
Please describe better why you think updatePointCloud is too slow?

Have you measured the time it takes to do updatePointCloud?

Updating the point cloud is not necessarily the same as re-rendering, which would be required if you pan with the camera.

Please show more info if we are to help.

[2022-11-25 07:28] zhangzscn commented on #5527
Since 1000 depth maps are read and converted into a point cloud for display, the rendering point cloud needs to be updated all the time。
When I comment out the following code, it runs fine, but uncommented, it runs slowly。

ubuntu20.04 i9 13900k rtx4090

if (viewer.contains("cloud"))
{
viewer.updatePointCloud(cloud_temp.makeShared());
}
else
{
viewer.addPointCloud(cloud_temp.makeShared());
}

[2022-11-25 07:47] zhangzscn commented on #5527
cmake set SSE AVX MARCHNATIVE to OFF
![2022-11-25 15-34-06屏幕截图](https://user-images.githubusercontent.com/13817275/203926726-7d5844a5-a74e-4f62-929b-2a2845cca9fa.png)

[2022-11-25 07:52] zhangzscn commented on #5527
when i use this code， the close function also crash。
// while (!viewer.wasStopped())
// {
       //     viewer.spinOnce();
// }
// viewer.removeAllPointClouds();
// viewer.removeAllShapes();

viewer.close();

[2022-11-25 11:33] SunBlack commented on #5521
If people want to do combined work I would suggest to do it in 3. party repos.

_Originally posted by @larshg in https://github.com/PointCloudLibrary/pcl/issues/5519#issuecomment-1322716603_

Just did some research via `git log -S"find_package(OpenCV"`:
3ec75a4054319f6886cf47bf53dae53f96ae551b is the first commit (I found), where the last active `find_package(OpenCV...` was disabled (except in som

[2022-11-27 18:04] themightyoarfish opened #5531 "[registration] Assert not triggered in release mode, continues with nonsensical computation"
I noticed that the `tools/icp` program prints NaN matrices for me on a data set. After some digging, I can see that when built in debug mode, this assert here is triggered:

https://github.com/PointCloudLibrary/pcl/blob/58f9cfb41115b1f2453dfe0ec75915243969fb66/kdtree/include/pcl/kdtree/impl/kdtree_flann.hpp#L241

Is it intended to just continue in release mode? It seems to me this should be a fata

[2022-11-27 18:10] themightyoarfish opened #5532 "[tools] radius_filter tool segfaults when run without arguments"
https://github.com/PointCloudLibrary/pcl/blob/58f9cfb41115b1f2453dfe0ec75915243969fb66/tools/radius_filter.cpp#L60

This is on macos 12.5.1 with a current master build. When run without arguments, this crashes here, although its not clear to me why.

[code]

[2022-11-29 01:57] ZhangZh3ng opened #5534 "Whether there is a website providing benchmark dataset"
The tutorial on the PCL website usually chooses to generate a point cloud in the program rather than read an actual point cloud, but I think there must exist some websites that provide some benchmark point clouds. If you know similar websites, can you share them? Thank you very much!

[2022-11-29 05:41] zhangzscn commented on #5237
Can anyone help me？I am used pcl master，vtk 9.2.2
#5527

[2022-11-29 05:41] zhangzscn commented on #5237
#5527

[2022-11-30 10:31] mvieth commented on #5532
Thanks for reporting! I think the problem is actually in line 61: `default_radius` is a float, but `%s` tells `print_value` to expect a string. So `%f` or `%g` should be used instead. Are you interested in opening a pull request?

[2022-11-30 10:48] mvieth commented on #5534
You can find some point clouds here: https://github.com/PointCloudLibrary/pcl/tree/master/test
And here: https://github.com/PointCloudLibrary/data

Please use [Stackoverflow or the Discord community chat](https://github.com/PointCloudLibrary/pcl#community) for such questions in the future. The GitHub issues are intended for bug reports and compile errors.

[2022-11-30 10:48] #5534 closed

[2022-11-30 10:58] mvieth commented on #5527
@zhangzscn How many points are in your point cloud?
Also note that `makeShared()` (as in `cloud_temp.makeShared()`) makes a copy of the cloud, so this also takes some time. Try to avoid using `makeShared()` if your clouds are large and performance is critical.

[2022-11-30 19:45] mvieth commented on #5518
Hi, I am looking into this, but one question: Have you made any changes to the PCL source code, because there is no include for `QOpenGLWidget` in `cloudEditorWidget.h` line 53